[server]
bind-address=0.0.0.0
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
query_cache_size=0
query_cache_type=0

{{if exists "/extendedmind/ha"}}
{{$servers := getvs "/extendedmind/servers/*"}}
innodb_buffer_pool_size={{getv "/extendedmind/db/buffersize"}}
[galera]
wsrep_on=ON
wsrep_provider="/usr/lib/galera/libgalera_smm.so"
wsrep_cluster_address="gcomm://{{join $servers ","}}"
wsrep-sst-method="rsync"
wsrep_node_address="{{getenv "HOST_IP"}}"
wsrep_node_name="node{{getenv "HOST_ID"}}"
{{end}}
