# MongoDB Configuration
storage:
  dbPath: "/var/extendedmind/mongodb"
  engine: "wiredTiger"
systemLog:
  destination: syslog
{{if exists "/extendedmind/ha"}}
replication:
  replSetName: "extendedmind"
{{end}}
