<div class="container-content--outer" ng-if="isFeatureActive('list')" list-container drawer-handle="left">
  <section class="container-content" list>
    <h2 class="group-heading row">tasks</h2>
    <div class="row animate-list-item-leave"
    ng-repeat="task in listTasks =
    (tasks | itemsFilter:{name:'byListUUID', filterBy: list.uuid} | filter:isTaskVisible)
    | limitTo: currentListLimitTo"
    list-item="listTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
    <div list-item-add="{transientProperties: {completed: false, list: list.uuid}}"
    list-item-add-save="saveTask(newItem)"
    ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('list')"></footer>
</div>
