<form role="form" class="group-mixed swiper-no-swiping" ng-submit="callAndExit(saveList, newItem)"
data-snap-ignore="true" autocapitalize="none" autocorrect="off" editable-field-container
editable-field-container-clicked-elsewhere="clickedElsewhere()">
  <div class="group-mixed--left">
    <a href ng-hide="onboardingInProgress" ng-click="callAndExit(saveListAndChangeFeature, newItem)">
      <span class="text-navigation-back large"></span>
    </a>
    <div href ng-show="onboardingInProgress"><span class="text-navigation-back large"></span></div>
  </div>
  <div class="group-mixed--middle">
    <textarea ng-model="newItem.title" msd-elastic ng-keydown="textareaKeyDown($event)"
    editable-field placeholder="add list&#8230;"
    editable-field-register-callbacks="registerAddItemCallbacks(focus, blur)" maxlength="128">
    </textarea>
  </div>
  <div class="group-mixed--right">
    <a href ng-hide="onboardingInProgress" editable-field-deactivate ng-click="openEditor('list', newItem)">
      <span class="text-navigation-forward"></span>
    </a>
  </div>
</form>
<div ng-if="!isOnboarded('lists') && checkListOnboardingLock('lists', 'on')" class="group-instruction-input">
  <div ng-if="!newItem.title || newItem.title.length === 0" class="text-details row">e.g. groceries, studies, company retreat</div>
  <div ng-if="newItem.title.length" class="text-details row">when done, hit return</div>
</div>
