<div class="container-fluid" ng-controller="ListEditorController"
  ng-class="list.trans.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top" swiper-prevent>

        <a href class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endListEdit()">
          <span class="text-navigation-back" ng-class="!isFirstSlide('listEditor') && 'not-swipeable'"
            ng-bind="isListEdited() && !list.trans.deleted ? 'save' : 'back'"></span>
        </a>

        <div ng-show="descriptionFocused || !isFirstSlide('listEditor')"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" ng-class="!list.trans.title && 'text-downplayed'"
              ng-bind="list.trans.title && list.trans.title.length ? list.trans.title : 'new list'" clamp=2>
            </span>
          </div>
        </div>

        <div ng-if="showEditorType" class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">list</span>
        </div>

        <a href ng-if="!list.trans.deleted" ng-hide="descriptionFocused" class="group-symmetrical--right"
          swiper-click="deleteListInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="list.trans.deleted" ng-hide="descriptionFocused"
          class="group-symmetrical--right link-navigation highlighted active" swiper-click="undeleteList(list)">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="descriptionFocused" class="group-symmetrical--right">
          <div class="text-field--label-multi-row">
            <span ng-bind="'de' + (columns === 1 ? '-\n' : '') + 'scription'"
              class="text-field--label-bold">
            </span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="listEditor" swiper-type="main"
    expected-slides="2" swiper-container-toggle-drawer-sliding-events="hasSwipeToClose('list')"
    swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="listEditor/basic" slide-index="0">
        <div ng-style="{'padding-bottom': EDITOR_FOOTER_HEIGHT}" class="container-content"
          drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

          <!-- LIST TITLE -->
          <div ng-hide="descriptionFocused" class="row-vertically-centered with-textarea">
            <textarea class="text-heading-primary large" ng-model="list.trans.title"
              input-model-validator ng-trim="false" msd-elastic ng-keydown="listTitlebarTextKeyDown($event)"
              editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
              placeholder="enter list title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>

          <textarea ng-if="drawerAisleInitialized" id="ignoreSnap" ng-model="list.trans.description"
            input-model-validator ng-trim="false" ng-focus="setDescriptionFocus(true, 'listEditor')"
            ng-blur="setDescriptionFocus(false, 'listEditor')" editable-field msd-elastic
            placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
         </textarea>

        </div>
        <footer ng-hide="descriptionFocused" class="container-content--after editor-footer">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href swiper-click="clickFavorite()" class="group-symmetrical--left">
              <span class="icon-star" ng-class="!isFavoriteList(list) && 'inactive'"></span>
            </a>
            <a href swiper-click="swipeToAdvanced('listEditor')" ng-hide="isFooterNavigationHidden()"
              class="group-symmetrical--right link-navigation">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="listEditor/advanced" slide-index="1" ng-init="advancedSlideInfo = {}">
        <div ng-style="{'padding-bottom': advancedSlideInfo.footerHeight}" class="container-content">

          <div class="row-vertically-centered with-textarea">
            <textarea ng-model="list.trans.link" input-model-validator ng-trim="false" msd-elastic
              maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>
        </div>

        <footer class="container-content--after editor-footer" editor-footer="advancedSlideInfo">

          <!-- CONVERT -->
          <div class="group-symmetrical">
            <a href class="group-symmetrical--left link" swiper-click="convertToTask(list)">
              <span class="text-convert small">task</span>
            </a>
            <a href ng-class="(features.notes.getStatus() === 'disabled') && 'invisible'"
            class="group-symmetrical--middle group-centered link" swiper-click="convertToNote(list)">
              <span class="text-convert small">note</span>
            </a>
            <div class="group-symmetrical--right">
              <span class="text-field--label">convert</span>
            </div>
          </div>

          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href swiper-click="swipeToBasic('listEditor')" ng-hide="isFooterNavigationHidden()"
              class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">basic</span>
            </a>
            <a ng-if="showArchive()" href swiper-click="archiveListInEdit(list)"
              class="group-symmetrical--right link-navigation highlighted">
              <span class="text-navigation">archive</span>
            </a>
            <a ng-if="showUnarchive()" href swiper-click="unarchiveListInEdit(list)"
              class="group-symmetrical--right link-navigation highlighted">
              <span class="text-navigation">unarchive</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
