<div class="container-content--outer" ng-if="isFeatureActive('lists')" list-container drawer-handle="left">
  <section class="container-content" list="lists" list-locked="disableDragging()" swiper-prevent>

    <div ng-show="!onboardingInProgress || isOnboardingListItemAddActive()">
      <h2 class="group-heading justified row">active lists</h2>
      <div list-item-add="getNewList()" list-item-add-save="saveList(newItem)"
        ng-include="urlBase + 'app/lists/listListItemAdd.html'"></div>
      <div class="animate-list-item-leave"
        ng-repeat="list in listInfos.array = (getFullArray()) | orderBy:'trans.created':true
        | limitTo: currentListLimitTo"
        list-item ng-include="urlBase + 'app/lists/listListItem.html'"></div>
      <div list-prompt="lists" list-prompt-infos="listInfos"
        list-prompt-hide="[listItemAddActive, onboardingInProgress]"></div>
    </div>

    <!-- ONBOARDING -->
    <div ng-if="onboardingInProgress && !isOnboarded('lists') && !isOnboardingListItemAddActive()"
      class="group-instruction">
      <h2 class="group-heading instruction row">use
        <span class="highlighted">lists</span> to group tasks and notes
      </h2>
      <div class="textgroup-ingress row">add a list &ndash; i.e.
      <span class="text-highlighted">project</span> or
      <span class="text-highlighted">responsibility</span> &ndash; by hitting the plus sign</div>
    </div>

    <div ng-if="onboardingInProgress && isOnboarded('lists') && !isOnboardingListItemAddActive()"
      class="group-instruction">
      <h2 class="group-heading instruction row">
        tutorial <span class="highlighted">complete</span>!
      </h2>
      <div class="textgroup-ingress row">play, search and explore,
        <span class="text-highlighted">extended mind</span> is yours
      </div>
    </div>

  </section>

  <footer ng-if="!onboardingInProgress || (!isOnboarded('lists') && !isOnboardingListItemAddActive())"
    class="container-content--after" list-footer="getFeatureMap('lists')"></footer>

  <footer ng-if="onboardingInProgress && isOnboarded('lists') && !isOnboardingListItemAddActive()"
    class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-click="completeOnboarding()">
      <span class="text-btn">got it</span>
    </button>
  </footer>
</div>
