<div class="container-content--outer" ng-if="isFeatureActive('list')" list-container>
  <section class="container-content" list list-open="openEditor('note', {transientProperties: {list:list.uuid}})">
    <div list>
      <h2 class="group-heading row">notes</h2>
      <div class="animate-list-item-leave"
      ng-repeat="note in listNotes = (allNotes | itemsFilter:{name:'byListUUID', filterBy: list.uuid})
      | limitTo: currentListLimitTo"
      list-item="listNotes.length" ng-include="'static/app/notes/noteListItem.html'"
      ng-style="{maxHeight: getNoteListItemHeight(note)}"></div>
    </div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('list')"></footer>
</div>
