<div class="container-fluid" ng-controller="ListEditorController"
  ng-class="list.trans.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top height-large--bottom" swiper-prevent>

        <a href ng-show="showEditorAction('saveBack')"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endListEdit()">
          <span class="text-navigation-back"
            ng-class="getEditorNavigationBackClasses()"
            ng-bind="isListEdited() && !list.trans.deleted ? 'save' : 'back'">
          </span>
        </a>

        <a href ng-if="showEditorAction('saveDone')" class="group-symmetrical--left highlighted"
           ng-click="subEditorDone()" editable-field-container="{{listPickerOpen && 'auto'}}">
          <span class="text-edit" ng-bind="isPropertyEdited() ? 'save' : 'done'"></span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" ng-class="!list.trans.title && 'text-downplayed'"
              ng-bind="list.trans.title && list.trans.title.length ? list.trans.title : 'new list'" clamp=2>
            </span>
          </div>
        </div>

        <div ng-if="showEditorComponent('editorType')" class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">list</span>
        </div>

        <a href ng-if="showListAction('delete', list)" class="group-symmetrical--right"
           swiper-click="deleteListInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="showListAction('restore', list)"
          class="group-symmetrical--right link-navigation highlighted active"
          swiper-click="undeleteList(list)">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="showEditorComponent('label')" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span class="text-field--label-bold"
              ng-bind="getListPropertyNameInEdit()">
            </span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="listEditor" swiper-type="main"
    expected-slides="2" swiper-container-toggle-drawer-sliding-events="hasSwipeToClose('list')"
    swiper-container-slide-changed="editorSwiperSlideChanged()"
    swiper-click="containerClick($event.target.disabled, 'list')">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="listEditor/basic" slide-index="0">
        <div ng-style="{'padding-bottom': isPropertyInDedicatedEdit() ? 0 : EDITOR_FOOTER_HEIGHT}"
          class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

          <!-- LIST TITLE -->
          <div ng-show="showEditorProperty('title')" class="row-top-parent">
            <div class="group-mixed large">
              <div class="group-mixed--middle">
                <textarea class="text-heading-primary large" ng-model="list.trans.title"
                  input-model-validator ng-trim="false" msd-elastic ng-keydown="listTitlebarTextKeyDown($event)"
                  editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                  ng-disabled="readOnly"
                  placeholder="enter list title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
                </textarea>
              </div>

              <div ng-if="showListAction('favorite')" class="group-mixed--right">
                <a href class="link-navigation" swiper-click="clickFavorite()">
                  <span class="icon-star large" ng-class="!isFavoriteList(list) && 'inactive'"></span>
                </a>
              </div>
            </div>
          </div>

          <!-- URL -->
          <div ng-if="drawerAisleInitialized && showEditorProperty('url')"
               class="row-vertically-centered with-textarea">
            <textarea class="text-metadata" ng-model="list.trans.link" input-model-validator
              ng-trim="false"
              ng-focus="setTextPropertyFocus('url', true)" ng-blur="setTextPropertyFocus('url', false)"
              ng-disabled="readOnly" msd-elastic
              maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>

          <!-- LIST -->
          <div ng-if="showListProperty('list')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" ng-class="!list.trans.list && 'downplayed'"
              swiper-click="openListPicker()">
              <span class="text-field--title"
                ng-bind="(list.trans.list && !list.trans.list.trans.deleted) ? list.trans.list.trans.title : 'select parent list\u2026'">
              </span>
            </a>
            <div ng-if="list.trans.list" class="group-mixed--right">
              <span class="text-field--label">list</span>
            </div>
          </div>

          <!-- LIST PICKER -->
          <div ng-if="showEditorSubEditor('list')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            ng-init="thisList = list"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="getListsArray(list.trans.archived ? 'archivedParentless' : 'activeParentless')"
              list-picker-new-item="getNewList()"
              list-picker-save="closeListPickerAndSetListToItem(thisList, list)"
              list-picker-clear="closeListPickerAndClearListFromItem(thisList, list)"
              list-picker-get-selected="list.trans.list"
              list-picker-get-this-list="list"
              list-picker-register-save-new-list-callback="registerSubEditorDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterSubEditorDoneCallback()"
              list-picker-register-is-edited-callback="registerHasSubEditorEditedCallback(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterHasSubEditorEditedCallback()">
            </div>
          </div>

          <!-- DESCRIPTION -->
          <textarea ng-if="drawerAisleInitialized && showEditorProperty('description')" id="ignoreSnap"
            ng-model="list.trans.description" input-model-validator ng-trim="false"
            ng-focus="setTextPropertyFocus('description', true)"
            ng-blur="setTextPropertyFocus('description', false)"
            ng-disabled="readOnly"
            msd-elastic placeholder="enter description&#8230;" maxlength="1024"
            autocapitalize="none" autocorrect="off">
          </textarea>

        </div>
        <footer ng-if="showListEditorComponent('basicFooter')" class="container-content--after editor-footer">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">

            <a ng-if="showListAction('archive')" href swiper-click="archiveListInEdit(list)"
              class="group-symmetrical--left link-navigation highlighted"
              ng-class="hasChildLists(list) && 'downplayed'">
              <span class="text-navigation">archive</span>
            </a>
            <a ng-if="showListAction('activate')" href swiper-click="unarchiveListInEdit(list)"
              class="group-symmetrical--left link-navigation highlighted"
              ng-class="hasChildLists(list) && 'downplayed'">
              <span class="text-navigation">activate</span>
            </a>

            <a ng-if="showListEditorComponent('basicFooter', 'navigation')" href
              swiper-click="swipeToAdvanced('listEditor')"
              class="group-symmetrical--right link-navigation active">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="listEditor/advanced" slide-index="1"
        ng-init="slideInfo = {footerId: 'advancedFooter'}">
        <div ng-style="{'padding-bottom': slideInfo.footerHeight}" class="container-content">

          <!-- SHARE -->
          <div ng-if="showListAction('share')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result downplayed"
              swiper-click="openListShareEditor()">
              <span class="text-field--title">share list&hellip;</span>
            </a>
          </div>

          <div ng-if="showListProperty('sharedTo')" ng-repeat="sharedTo in sharedToList"
            class="group-mixed">
            <a href class="group-mixed--middle link-search-result"
              swiper-click="openListShareEditor(sharedTo)">
              <span class="text-field--title"
                ng-bind="sharedTo.email + ', ' + sharedTo.accessText + ', ' + sharedTo.acceptStatus">
              </span>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">share</span>
            </div>
          </div>

          <div ng-if="showListProperty('sharedBy')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" swiper-click="openListShareEditor(sharedByList)">
              <span class="text-field--title" ng-bind="sharedByList.email + ', ' + sharedByList.accessText"></span>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">owner</span>
            </div>
          </div>

          <!-- LIST SHARE EDITOR -->
          <div ng-if="showListSubEditor('share')"
            class="container-sub-editor swiper-no-swiping animate-fade-in">

            <div ng-if="fullEditor" class="group-mixed vertically-centered">
              <div class="group-mixed--middle">
                <input style="display: block; height: 22px; line-height: 22px;"
                  type="email" ng-model="shareEditor.data.email" placeholder="enter email&#8230;"
                  maxlength="254" clear-email-validator ng-disabled="shareEditor.existing" />
              </div>
              <div ng-if="!shareEditor.existing && shareEditor.data.email.length" class="group-mixed--right">
                <button type="button" class="btn-clear" ng-click="clearSharedToEmail()"></button>
              </div>
            </div>

            <div class="group-error comfortable row-form">
              <span ng-if="shareEditor.previouslyFailedEmail" class="text-error">invalid email</span>
            </div>

            <div ng-if="fullEditor" class="group-mixed">
              <div class="group-mixed--left">
                <input type="checkbox" ng-model="shareEditor.data.access" ng-true-value="2" ng-false-value="1"
                  icon-checkbox="'sharedToAccess'"/>
              </div>
              <div class="group-mixed--middle">
                <span class="text-link">allow write</span>
              </div>
            </div>

            <div ng-if="shareEditor.existing" class="group-symmetrical">
              <a href ng-if="fullEditor && !shareEditor.data.accepted" class="group-symmetrical--left"
                ng-class="(!shareEditor.resendPending && !shareEditor.resendResolved) ? 'highlighted' : 'link-disable downplayed'"
                swiper-click="resendListShare(shareEditor.data.uuid)">
                <span ng-bind="getListShareResendStatusText()"></span>
              </a>
              <a href class="group-symmetrical--right" swiper-click="removeListShare()">
                <span class="text-remove" ng-bind="fullEditor ? 'remove' : 'unshare'"></span>
              </a>
            </div>
          </div>

          <div ng-if="showEditorProperty('created', list)" class="group-mixed text-field">
            <div class="group-mixed--middle">
              <span class="text-field--title">
                {{::list.trans.created | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">created</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('modified', list)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{list.trans.modified | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">modified</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('deleted', list)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{::list.trans.deleted | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">deleted</span>
            </div>
          </div>
        </div>

        <footer class="container-content--after editor-footer" editor-footer="slideInfo">

          <!-- CONVERT -->
          <div ng-if="showListEditorComponent('advancedFooter', 'convert')" class="group-symmetrical">
            <a href ng-class="!showEditorAction('convertToTask') && 'invisible'"
               class="group-symmetrical--left link" swiper-click="convertToTask(list)">
              <span class="text-convert small">task</span>
            </a>
            <a href ng-class="!showEditorAction('convertToNote') && 'invisible'"
            class="group-symmetrical--middle group-centered link" swiper-click="convertToNote(list)">
              <span class="text-convert small">note</span>
            </a>
            <div class="group-symmetrical--right">
              <span class="text-field--label">convert</span>
            </div>
          </div>

          <nav ng-if="showListEditorComponent('advancedFooter', 'navigation')" role="navigation"
               class="swiper-no-swiping group-symmetrical">
            <a href swiper-click="swipeToBasic('listEditor')"
               class="group-symmetrical--left link-navigation active">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
