<div class="container-fluid" ng-controller="UserEditorController">
  <header ng-if="mode !== 'signUp'" class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">
        <a href class="group-symmetrical--left link-navigation highlighted" ng-click="closeEditor()"
          swiper-prevent>
          <span class="text-navigation-back">back</span>
        </a>
      </div>
     </div>
  </header>

  <div ng-if="mode === 'agendaCalendar'" ng-style="{'padding-bottom': getEditorFooterHeight()}"
    class="container-fluid--inner">

    <div class="container-content" drawer-override-aisle="right">
      <h2 class="group-heading row">agenda calendars</h2>

      <div ng-if="calendars">
        <div class="group-mixed" ng-repeat="calendar in calendars">
          <div class="group-mixed--left">
            <input type="checkbox" ng-model="calendar.enabled" icon-checkbox="calendar.id"
              ng-click="toggleCalendarEnabled(calendar.id, calendar.name, calendar.enabled)">
          </div>
          <div href class="group-mixed--middle">
            <span class="text-link" clamp=2 ng-bind="calendar.name"></span>
          </div>
        </div>
      </div>

      <div ng-if="calendarsLoaded && (!calendars || !calendars.length)" class="row">
        <span class="text-details">have you allowed access to your calendar?</span>
      </div>

    </div>
  </div>

  <form name="userForm" class="container-fluid--inner"
        ng-if="mode === 'password' || mode === 'email' || mode === 'delete'">
    <div ng-if="mode === 'password'" class="container-content" drawer-override-aisle="right">
      <h2 class="group-heading row-form">change password</h2>
      <div class="row-form">
        <input type="password" name="password" id="password" ng-model="user.passwordOld"
        ng-minlength="7" ng-maxlength="100" placeholder="enter old password&#8230;" required />
      </div>
      <div class="row-form">
        <input type="password" name="passwordNew" id="passwordNew" ng-model="user.passwordNew"
        ng-minlength="7" ng-maxlength="100" placeholder="enter new password&#8230;" required />
      </div>
      <div class="group-error row-form">
        <div ng-if="userForm.passwordNew.$touched" ng-messages="signUpForm.password.$error">
          <span class="text-error" ng-message="minlength">password must be 7 characters or more</span>
        </div>
        <span ng-if="userEditOffline" class="text-error">can't connect to server. are you online?</span>
        <span ng-if="changePasswordFailed" class="text-error">invalid old password</span>
      </div>
    </div>
    <div ng-if="mode === 'email'" class="container-content" drawer-override-aisle="right">
      <h2 class="group-heading row-form">change email</h2>
      <div class="row-form">
        <input type="email" name="emailNew" ng-model="user.emailNew"
        placeholder="enter new email&#8230;" maxlength="254" editable-field required />
      </div>
      <div class="row-form">
        <input type="password" name="password" id="password" ng-model="user.password"
        ng-minlength="7" ng-maxlength="100" placeholder="enter password&#8230;" required />
      </div>
      <div class="group-error row-form">
        <span ng-if="userEditOffline" class="text-error">can't connect to server. are you online?</span>
        <div ng-if="signUpForm.emailNew.$touched" ng-messages="signUpForm.emailNew.$error">
          <span class="text-error" ng-message="emailNew">invalid email address</span>
        </div>
        <span ng-if="changeEmailFailed" class="text-error">invalid password</span>
        <span ng-if="changeEmailLoginFailed" class="text-error">could not log in using new email</span>
      </div>
    </div>
    <div ng-if="mode === 'delete'" class="container-content" drawer-override-aisle="right">
      <h2 class="group-heading row-form">delete account</h2>
      <p class="row"><b>warning:</b> by entering your password and pressing delete below, you will be logged out of
      every device and your account will be marked for immediate deletion</p>
      <div class="row-form">
        <input type="password" name="password" id="password" ng-model="user.password"
        ng-minlength="7" ng-maxlength="100" placeholder="enter password&#8230;" required />
      </div>
      <div class="group-error row-form">
        <span ng-if="userEditOffline" class="text-error">can't connect to server. are you online?</span>
        <span ng-if="deleteAccountFailed" class="text-error">invalid password</span>
      </div>
    </div>
    <footer class="container-content--after group-btn editor-footer">
      <button ng-if="mode === 'password'" type="submit" class="btn-action" ng-disabled="!userForm.$valid"
      ng-click="changePassword(user.passwordOld, user.passwordNew)">
        <span class="text-btn">done</span>
      </button>
      <button ng-if="mode === 'email'" type="submit" class="btn-action"
      ng-disabled="!userForm.$valid || changeEmailLoginFailed"
      ng-click="changeEmail(user.emailNew, user.password)">
        <span class="text-btn">done</span>
      </button>
      <button ng-if="mode === 'delete'" type="submit" class="btn-action"
      ng-disabled="!userForm.$valid"
      ng-click="deleteAccount(user.password)">
        <span class="text-btn danger">delete</span>
      </button>
    </footer>
  </form>

  <div class="container-fluid--inner" ng-if="mode === 'terms' || mode === 'privacy'">
    <div ng-if="mode === 'terms'" class="container-content" drawer-override-aisle="right">
      <div class="group-html-external row" ng-bind-html="user.terms"></div>
    </div>
    <div ng-if="mode === 'privacy'" class="container-content" drawer-override-aisle="right">
      <div class="group-html-external row" ng-bind-html="user.privacy"></div>
    </div>
  </div>

  <div ng-if="mode === 'signUp'" class="swiper-container container-fluid--inner" swiper-container="signUp" swiper-type="main"
    expected-slides="2" swiper-container-slide-changed="signUpSwiperSlideChanged(path, activeIndex)">
    <div class="swiper-wrapper">
      <form name="signUpForm" class="swiper-slide" swiper-slide="signUp/main" slide-index="0">
        <section class="container-content">
          <header ng-hide="smallDeviceHeight && softKeyboard.height" class="group-symmetrical">
            <a href ng-click="closeEditor()" class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">back</span>
            </a>
          </header>
          <h2 class="group-heading row-form">sign up</h2>
          <div class="row-form">
            <input type="email" name="email" ng-model="user.username"
            placeholder="enter email&#8230;" maxlength="254" editable-field
            editable-field-register-callbacks="registerUserEditorEmailInputCallbacks(focus, blur)" required />
          </div>
          <div class="group-error row-form">
            <div ng-if="signUpForm.email.$touched" ng-messages="signUpForm.email.$error">
              <span class="text-error" ng-message="email">invalid email address</span>
            </div>
          </div>
          <div class="row-form">
            <input type="password" name="password" id="password" ng-model="user.password"
            ng-minlength="7" ng-maxlength="100" placeholder="enter password&#8230;" required />
          </div>
          <div class="group-error row-form">
            <div ng-if="signUpForm.password.$touched" ng-messages="signUpForm.password.$error">
              <span class="text-error" ng-message="minlength">password must be 7 characters or more</span>
            </div>
          </div>
          <div class="group-mixed details height-large">
            <div class="group-mixed--left">
              <input type="checkbox" ng-model="user.agree" ng-true-value="true" icon-checkbox="'signUpFormAgree'" />
            </div>
            <div class="group-mixed--middle">
              <span class="text-details">i have read and agree to the</span>
              <a href class="highlighted link-inline" ng-click="swipeToDetails('terms')">
                <span class="text-details">terms of service</span>
              </a>
              <span class="text-details">and</span>
              <a href class="highlighted link-inline" ng-click="swipeToDetails('privacy')">
                <span class="text-details">privacy policy</span>
              </a>
            </div>
          </div>
          <div class="group-error height-large row-form">
            <span ng-if="signupFailed" class="text-error">user with given email already registered</span>
            <span ng-if="userEditOffline" class="text-error">can't connect to server. are you online?</span>
            <span ng-if="loginFailed" class="text-error">could not login with new credentials</span>
          </div>
        </section>
        <footer class="container-content--after editor-footer group-btn">
          <button type="submit" class="btn-action"
          ng-disabled="!signUpForm.$valid || !user.agree || signingUp" ng-click="signUp()">
            <span class="text-btn" ng-bind="signingUp && 'signing up' || 'done'"></span>
          </button>
        </footer>
      </form>
      <div class="swiper-slide" swiper-slide="signUp/details" slide-index="1">
        <section class="container-content">
          <header class="group-symmetrical">
            <a href class="group-symmetrical--left link-navigation" ng-click="swipeToMain()">
              <span class="text-navigation-back downplayed">back</span>
            </a>
          </header>
          <div ng-if="details.html" class="container-content">
            <div class="group-html-external row" ng-bind-html="details.html"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <form ng-if="mode === 'logIn'" class="container-fluid--inner" name="loginForm">
    <section class="container-content">
      <h2 class="group-heading row-form">log in</h2>
      <div class="row-form">
        <input type="email" name="email" ng-model="user.username"
        placeholder="enter email&#8230;" maxlength="254" editable-field
        editable-field-register-callbacks="registerUserEditorEmailInputCallbacks(focus, blur)" required />
      </div>
      <div class="group-error row-form">
        <div ng-if="loginForm.email.$touched" ng-messages="loginForm.email.$error">
          <span class="text-error" ng-message="email">invalid email address</span>
        </div>
      </div>
      <div class="row-form">
        <input type="password" name="password" id="password" ng-model="user.password" ng-minlength="7"
        placeholder="enter password&#8230;" editable-field ng-maxlength="100" required>
      </div>
      <div class="group-error height-large row-form">
        <span ng-if="loginFailed" class="text-error">invalid email or password</span>
        <span ng-if="userEditOffline" class="text-error">can't connect to server. are you online?</span>
      </div>
    </section>
    <footer class="container-content--after editor-footer group-btn">
      <button type="submit" class="btn-action" ng-disabled="!loginForm.$valid || loggingIn" ng-click="logIn()">
        <span class="text-btn" ng-bind="loggingIn && 'logging in' || 'done'"></span>
      </button>
    </footer>
  </form>
</div>
