<div class="container-content--outer" ng-if="isFeatureActive('user')" drawer-handle="left">
  <section ng-if="!isFakeUser()" class="container-content">
    <h2 class="group-heading justified row" ng-bind="online ? 'online' : 'offline'"></h2>

    <div class="group-details">
      <div class="row" >
        <a href ng-click="toggleStats()">
          <span class="text-details" ng-bind="getLastSyncedText()"></span>
        </a>
      </div>
      <div ng-if="getSyncAttemptedText()" class="row">
        <span class="text-details" ng-bind="getSyncAttemptedText()"></span>
      </div>
      <div ng-if="getOfflineModified('item')" class="row">
        <a href ng-click="toggleModifiedItems('item')">
          <span class="text-details">unsynced items: </span>
          <span class="text-details" ng-bind="modifiedItems['item'].length"></span>
        </a>
      </div>
      <div ng-if="getOfflineModified('task')" class="row">
        <a href ng-click="toggleModifiedItems('task')">
          <span class="text-details">unsynced tasks: </span>
          <span class="text-details" ng-bind="modifiedItems['task'].length"></span>
        </a>
      </div>
      <div ng-if="getOfflineModified('note')" class="row">
        <a href ng-click="toggleModifiedItems('note')">
          <span class="text-details">unsynced notes: </span>
          <span class="text-details" ng-bind="modifiedItems['note'].length"></span>
        </a>
      </div>
      <div ng-if="getOfflineModified('list')" class="row">
        <a href ng-click="toggleModifiedItems('list')">
          <span class="text-details">unsynced lists: </span>
          <span class="text-details" ng-bind="modifiedItems['list'].length"></span>
        </a>
      </div>
      <div ng-if="getOfflineModified('tag')" class="row">
        <a href ng-click="toggleModifiedItems('tag')">
          <span class="text-details">unsynced tags: </span>
          <span class="text-details" ng-bind="modifiedItems['tag'].length"></span>
        </a>
      </div>
      <div ng-if="showStats" class="row">
        <a href ng-click="toggleStats()">
          <br/><span class="text-details">actions in queue: </span>
          <span class="text-details" ng-bind="getQueueLength()"></span><br/>
          <span class="text-details">total items: </span>
          <span class="text-details" ng-bind="getCount('item')"></span><br/>
          <span class="text-details">total tasks: </span>
          <span class="text-details" ng-bind="getCount('task')"></span><br/>
          <span class="text-details">total notes: </span>
          <span class="text-details" ng-bind="getCount('note')"></span><br/>
          <span class="text-details">total lists: </span>
          <span class="text-details" ng-bind="getCount('list')"></span><br/>
          <span class="text-details">total tags: </span>
          <span class="text-details" ng-bind="getCount('tag')"></span><br/>
          <span class="text-details">total deleted: </span>
          <span class="text-details" ng-bind="getCount('deleted')"></span>
        </a>
      </div>
      <div ng-if="visibleModifiedItemsType" class="row">
        <a href ng-click="toggleModifiedItems()">
          <br/>
          <div ng-repeat="modifiedItem in modifiedItems[visibleModifiedItemsType]">
            <span class="text-details" ng-bind="modifiedItem.trans.title"></span><br/>
          </div>
        </a>
      </div>
    </div>

    <!-- ACTIVE USER -->
    <div ng-if="useCollectives()">
      <h3 class="row-form">switch to</h3>
      <div ng-repeat="(key, value) in collectives">
        <div ng-if="(value[2] === false || isAdmin()) && !isCollectiveActive(key)">
          <a href class="row-form link" ng-click="setCollectiveActive(key)">
            <span ng-bind="value[0]"></span>
          </a>
        </div>
      </div>
      <a href class="row-form link" ng-if="!isMyActive()"  ng-click="setMyActive()" class="row-form">
        <span ng-bind="getUserEmail()"></span>
      </a>
    </div>

    <!-- ACCOUNT -->
    <div class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('account')">
        <span class="text-link">account</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="swipeToDetails('account')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>

    <!-- ABOUT -->
    <div class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('about')">
        <span class="text-link">about</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="swipeToDetails('about')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>

    <!-- ADMIN -->
    <div ng-if="isAdmin()" class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="changeFeature('admin')">
        <span class="text-link">admin</span>
      </a>
    </div>

    <!-- PREMIUM -->
    <div ng-if="isAdmin()" class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('premium')">
        <span class="text-link">get premium</span>
      </a>
      <div class="group-mixed--right">
        <a href swiper-click="swipeToDetails('premium')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>

    <div class="group-error height-large row-form">
      <span ng-if="logoutFailed" class="text-error">log out failed</span>
      <span ng-if="logoutOffline" class="text-error">can't connect to server. are you online?</span>
    </div>

  </section>
  <section ng-if="isFakeUser()" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">synchronize your
        <span class="highlighted">mind</span>
      </h2>
      <div class="textgroup-ingress row">your information is stored only locally</div>
      <div class="textgroup-ingress last row">protect your data by signing up for an
      <span class="text-highlighted">extended mind</span> account</div>
    </div>
  </section>

  <footer class="container-content--after group-btn">
    <button ng-if="!isFakeUser()" class="btn-action" ng-disabled="loggingOut" ng-click="logOut()">
      <span class="text-btn" ng-bind="loggingOut && 'logging out' || 'log out'"></span>
    </button>

    <button ng-if="isFakeUser()" class="btn-action" ng-click="openEditor('user', undefined, 'signUp')">
      <span class="text-btn">sign up</span>
    </button>
  </footer>
</div>
