<div ng-if="entryState !== 'unsupported' && !isWeb()">
  <section class="container-content">
    <div class="group-instruction-jumbotron row">
      <h2 class="group-heading instruction row" style="padding-top: 15vh;" ng-bind="commonCollectiveName">
      </h2>
    </div>
  </section>
  <footer class="container-content--after group-btn em-animation-background">
    <button class="btn-action" ng-click="startTutorial()">
      <span class="text-btn">new user</span>
    </button>
    <button class="btn-action" ng-click="swipeToLogin()">
      <span class="text-btn">log in</span>
    </button>
  </footer>
</div>
<div ng-if="entryState === 'unsupported'">
  <section class="container-content" style="padding-bottom: 122px;">
    <h2 class="group-heading instruction row" style="padding-top: 15vh;">
      unsupported
    </h2>
    <div ng-if="!mobilePlatform" class="textgroup-ingress row">currently only the
      <span class="text-highlighted">google chrome</span> browser is supported
    </div>
  </section>
</div>
