<div class="no-slides-container" ng-controller="LaunchController">
  <section id="launch" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo_with_text"></span>
      </div>
      <div class="content">
        <form role="form" id="launch-form" name="launchForm" novalidate>
          <div id="email" class="form-group">
            <label for="email" class="sr-only">email</label>
            <input type="email" name="email" class="simple-input" id="input-email" ng-model="user.email" placeholder="enter email..." ng-blur="emailAttempted=true" required />
            <p ng-show="launchForm.email.$invalid && !launchForm.email.$pristine && emailAttempted" class="validation-error">not a valid email address</p>
          </div>
          <div class="form-group button-container">
            <button type="submit" id="launch-button" class="wide-button normal-button" ng-disabled="!launchForm.$valid" ng-click="launchUser()">
              <span class="button-text">done</span>
            </button>
            <p ng-show="launchFailed" class="validation-error">invalid email</p>
            <p ng-show="launchOffline" class="validation-error">can't connect to server. are you online?</p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
