<div class="no-slides-container" ng-controller="LoginController">
  <section id="login" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo_with_text"></span>
      </div>
      <div class="content">
        <form role="form" id="login-form" name="loginForm" novalidate>
          <div id="email" class="form-group">
            <label for="email" class="sr-only">email</label>
            <input type="email" name="email" class="simple-input" id="input-email" ng-model="user.username" placeholder="enter email..." ng-blur="emailAttempted=true" required />
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine && emailAttempted" class="validation-error">Not a valid email address</p>
          </div>
          <div id="password" class="form-group">
            <label for="input-password" class="sr-only">password</label>
            <input type="password" name="password" class="simple-input" id="input-password" ng-model="user.password" placeholder="enter password..." ng-minlength="7" ng-blur="passwordAttempted=true" required />
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine && passwordAttempted" class="validation-error">Password must be 7 characters or more</p>
          </div>
          <div ng-hide="rememberByDefault()" class="form-group">
            <input class="input-checkbox" type="checkbox" name="checkbox" id="remember" ng-model="user.remember" checked="checked" />
            <label class="default-element" id="remember" for="remember">remember</label>
          </div>
          <div class="form-group button-container">
            <button type="submit" id="login-button" class="wide-button normal-button" ng-disabled="!loginForm.$valid" ng-click="userLogin()">
              <span class="button-text">login</span>
            </button>
            <p ng-show="loginFailed" class="validation-error">Invalid username or password</p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>