<div id="menu-content" class="swiper-no-swiping" ng-controller="MenuController">
  <div ng-if="isMobile" class="banner">
    <span class="icon-logo-only"></span>
  </div>
  <ul>
    <li>
      <a href class="feature-link" ng-click="gotoTasks()" ng-class="getFeatureClass('tasks')">tasks</a>
    </li>
    <li>
      <a href class="feature-link" ng-click="gotoNotes()" ng-class="getFeatureClass('notes')">notes</a>
    </li>
    <li id="last-feature">
      <a href class="feature-link" ng-click="gotoInbox()" ng-class="getFeatureClass('inbox')">inbox</a>
    </li>
    <li id="my" ng-show="useCollectives()">
      <a href ng-class="getMyClass()" ng-click="setMyActive()">my information</a>
    </li>
    <li id="collectives" ng-show="useCollectives()">
      <span>collectives</span>
      <ul>
        <li ng-repeat="(key, value) in collectives">
          <div ng-if="value[2] === false">
            <a class="collective" href ng-class="getCollectiveClass(key)" ng-click="setCollectiveActive(key)">{{value[0]}}</a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a href ng-click="gotoAccount()" ng-class="getFeatureClass('account')">account</a>
    </li>
    <li>
      <a href ng-click="gotoAbout()" ng-class="getFeatureClass('about')">about</a>
    </li>
    <li ng-if="isAdmin()">
      <a href ng-click="gotoAdmin()" ng-class="getFeatureClass('admin')">admin</a>
    </li>

    <li>
      <a href ng-click="logout()">logout</a>
    </li>
  </ul>
</div>
