<div id="menu-content" class="swiper-no-swiping" ng-controller="MenuController">
  <ul>
    <li>
      <a href class="feature-link" ng-click="gotoInbox()" ng-class="getFeatureClass('inbox')">inbox</a>
    </li>
    <li>
      <a href class="feature-link" ng-click="gotoTasks()" ng-class="getFeatureClass('tasks')">tasks</a>
    </li>
    <li>
      <a href class="feature-link" ng-click="gotoNotes()" ng-class="getFeatureClass('notes')">notes</a>
    </li>
    <li id="my" ng-show="useCollectives()">
      <a href ng-click="setMyActive()">my information</a>
    </li>
    <li id="collectives" ng-show="useCollectives()">
      <span>collectives</span>
      <ul>
        <li ng-repeat="(key, value) in collectives">
          <div ng-if="value[2] === false">
            <a class="collective" href ng-click="setCollectiveActive(key)">{{value[0]}}</a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a href="#/my/account">account</a>
    </li>
    <li>
      <a href ng-click="logout()">logout</a>
    </li>
  </ul>
</div>
