<div class="no-slides-container" ng-controller="WaitingController">
  <div ng-if="user.email">
    <span>
      we have sent you an email to join extended mind.</br>
      please click on the link in the email to sign up to the service.</br>
      if you have not received an email, click on the button below.
    </span>
    <button ng-click="resendInviteEmail()">resend email</button>
  </div>
  <div ng-if="user.uuid">
    <span>
    there are currently</br>
    {{user.inviteQueueNumber}}</br>
    people before you on the extendedmind waiting list
    </span>
    <button ng-click="visitBlog()">visit blog</button>
  </div>
</div>
