<div class="no-slides-container" ng-controller="WaitingController">
  <section id="waiting" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo_with_text"></span>
      </div>
      <div class="content">
        <div ng-if="user.email">
          <span class="waiting-text">
            we have sent you an email to join extended mind.</br>
            please click on the link in the email to sign up to the service.
          </span>
        </div>
        <div ng-if="user.uuid">
          <span class="waiting-text">
            there are currently</br>
            <h1>{{user.inviteQueueNumber}}</h1>
            people before you on the extendedmind waiting list
          </span>
        </div>
        <div class="button-container">
          <button type="submit" id="waiting-button" class="wide-button normal-button" ng-click="openEMBlogInNewWindow()">
            <span class="button-text">visit blog</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
