<div class="container-fluid--inner" list-container drawer-handle="left" ng-controller="AdminController"
ng-switch on="adminMode">
  <section ng-switch-default class="container-content">
    <h2 class="group-heading row justified">stats</h2>
    <div class="row-form">
      <h3>users</h3>
      <a href class="highlighted" ng-click="gotoUsers()"><span ng-bind="userCount"></span></a>
    </div>
    <div class="row-form">
      <h3>items</h3>
      <span ng-bind="itemCount"></span>
    </div>
  </section>
  <section ng-switch-when="users" class="container-content">
    <h2 class="group-heading row justified">users</h2>
    <div class="row-form">
      <a href class="highlighted" ng-click="gotoStatistics()"><span>back</span></a>
    </div>
    <div class="row-form" ng-repeat="user in users | orderBy:'created':true">
      <a ng-href="mailto:{{user.email}}" ng-bind="user.email"></a>
      <span class="text-details">since: {{getDateString(user.created)}}</span>
      <form role="form" ng-submit="destroyUser(user)" autocapitalize="none" autocorrect="off">
        <input type="text" class="text-details" ng-model="user.destroy"
          placeholder="write 'destroy [email]' to destroy the user&#8230;"/>
      </form>
    </div>
  </section>
</div>
