# Ignore Eclipse files
.project
.classpath
.cache
.settings/
.externalToolBuilders

# Ignore Maven builds
target/
frontend/core/src/main/webapp/test/json/

# Ignore PhantomJS logs
phantomjsdriver.log

# Ignore Logback logs
logs/
