<div class="span12">
  <!-- Page Content -->
  <div class="em-core">
    <h3>extended mind <a href="/" class="em-subtitle">about</a></h3>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <section id="general" class="em-anchor">
        <div class="page-header">
          <h5>What is the extended mind?</h5>
        </div>
        <p>
          The Extended Mind is a platform for creating open knowledge. The vision of the Extended Mind
          is to become the home for high quality open, signed and peer reviewed knowledge.
        </p>
        <p>
          Today <a href="http://www.wikipedia.org" target="_blank">Wikipedia</a> is the obvious place where open knowledge creation happens, but Wikipedia
          allows only anonymous encyclopedic knowledge. If a given piece of knowledge does not
          fit the format provided by Wikipedia &ndash; the knowledge is for example valued, personal or
          does not fit under one encyclopedic heading &ndash; there are currently two valid alternatives:
          a scientific journal or a blog. However where scientific peer review can often takes months of
          work, which greatly limits the number of articles, you can set blog in a matter of minutes,
          but there is no quality assurance for the content you create.
        </p>
        <p>
          The Extended Mind provides an alternative for blogs, scientific journals and Wikipedia: a user can store
          and share her notes under dynamic and supervised keywords as easily as possible using any of her devices.
        </p>
      </section>
      <section id="how" class="em-anchor">
        <div class="page-header">
          <h5>How do I use it?</h5>
        </div>
        <p>
          The author can decide if the note she wants to store is:
          <ol>
            <li>
              private,
            </li>
            <li>
              shared to a group,
            </li>
            <li>
              public or
            </li>
            <li>
              peer reviewed.
            </li>
          </ol>
        </p>
        <p>
          A private note is part of the user's personal notebook. A note shared to a group provides means for
          easy and fast co-writing. A public text resembles a blog post, and a peer reviewed note is
          a part of the shared extended mind.
        </p>
      </section>
      <section id="verification" class="em-anchor">
        <div class="page-header">
          <h5>How does verification work?</h5>
        </div>
        <p>
          If the user wants to submit her work as a part of the shared extended mind, she can first select a
          category and a list of public keywords for her note, and then with one click submit her note for
          verification. The people who supervise the first, most important keyword get a notification of a
          new submitted note to their verification queue, and can then either accept or reject the note.
          Extended mind users can also adopt other people's public notes as part of their own notebook, or
          recommend any public note they read to other users, which ensures that the peer review process can
          never stop quality content from spreading.
        </p>
      </section>

    </div>
  </div>
</div>
