<div class="slides-container">
  <div class="swiper-container" em-swiper-slider="horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" inbox></div>
      <div class="swiper-slide" my></div>
      <div class="swiper-slide" dates></div>
      <!-- lists -->
      <div class="swiper-slide" em-projects></div>
      <!-- areas -->
      <!-- contexts -->
      <div class="swiper-slide" tasks></div>
      <!-- single tasks -->
    </div>
  </div>
  <div class="footer-container" em-footer mainlinksfilter="newItem.title"></div>
</div>