<div class="swiper-container" em-swiper>
  <div class="swiper-wrapper">
    <div class="swiper-slide em-scrollable-middle" inbox></div>
    <div class="swiper-slide em-scrollable-top" my></div>
    <div class="swiper-slide em-scrollable-middle" tasks></div>
    <div class="swiper-slide em-scrollable-middle" today></div>
  </div>
</div>

<div ng-switch="slideIndex">

  <div ng-switch-default>
    <div class="row em-feature-header" em-feature-header></div>
    <div class="row em-menu-footer" em-footer mainlinksfilter="newItem.title"></div>
  </div>

  <div ng-switch-when=1>
    <div em-main-header></div>
    <div class="row em-menu-footer" em-footer mainlinksfilter="newItem.title"></div>
  </div>

</div>
