<div class="span12">
  <!-- Page Content -->
  <div class="masthead">
    <h3>extended mind</h3>
    <p>
      <a href="/about">about</a> | <a href="/people">people</a> | <a href="/search">search</a> | <a href="/login">login</a>
    </p>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div id="em-verified-accordion" class="accordion">
          <div class="accoardion-group">
            <div class="accordion-heading">
              <div class="accordion-toggle">
                <a href="">
                  <h5>featured verified content</h5>
                </a>
                <h6>most interesting verified content this week</h6>
              </div>
            </div>
            <div class="accordion-body collapse in" id="em-verified-collapse">
              <div class="accordion-inner">
                <ul class="em-headers">
                  <li class="em-header">
                    <a href="/people/timo-tiuraniemi/on-philosophy-of-technology">On the philosophy of technology</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/about#verification" title="verified on 2013-02-01 by Lauri Jarvilehto">verified</a>
                                      <a href="/categories#essay">essay</a> by <a href="/people/timo-tiuraniemi">Timo Tiuraniemi</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/search/technology">technology</a>, <a href="/search/philosophy">philosophy</a>
                  </li>
                  <li class="em-header">
                    <a href="/people/henri-ylikotila/essential-firefox-keyboard-shortcuts">Essential Firefox keyboard shortcuts</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/about#verification" title="verified on 2013-02-03 Timo Tiuraniemi">verified</a>
                                      <a href="/categories#instruction">instruction</a> by <a href="/people/henri-ylikotila">Henri Ylikotila</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/search/software">software</a>, <a href="/search/shortcut">shortcut</a>, <a href="/search/firefox">firefox</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div id="em-useful-accordion" class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="accordion-toggle">
                <a href="">
                  <h5>most useful content</h5>
                </a>
                <h6>content adopted the most this week</h6>
              </div>
            </div>
            <div class="accordion-body" id="em-useful-collapse">
              <div class="accordion-inner">
                <ul class="em-headers">
                  <li class="em-header">
                    <a href="/people/antti-takalahti/avocado-pasta">Avocado pasta</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/categories#instruction">instruction</a> by <a href="/people/antti-takalahti">Antti Takalahti</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/search/recipe">recipe</a>, <a href="/search/italian-cuisine">italian cuisine</a>, <a href="/search/vegetarian">vegetarian</a>
                  </li>
                  <li class="em-header">
                    <a href="/people/timo-tiuraniemi/notes-on-productivity">Notes on productivity</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/about#verification" title="verified on 2013-02-08 Lauri Jarvilehto">verified</a>
                                      <a href="/categories#essay">essay</a> by <a href="/people/timo-tiuraniemi">Timo Tiuraniemi</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/search/productivity">productivity</a>, <a href="/search/gtd">gtd</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div id="em-recommended-accordion" class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="accordion-toggle">
                <a href="">
                  <h5>most recommended content</h5>
                </a>
                <h6>content recommended the most this week</h6>
              </div>
            </div>
            <div class="accordion-body" id="em-popular-collapse">
              <div class="accordion-inner">
                <ul class="em-headers">
                  <li class="em-header">
                    <a href="/people/lauri-jarvilehto/why-its-great-to-be-a-nerd">Why it's great to be a nerd</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/people/lauri-jarvilehto">Lauri J&auml;rvilehto</a>
                  </li>
                  <li class="em-header">
                    <a href="/people/timo-tiuraniemi/how-to-break-out-of-facebook">How to break out of Facebook</a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;<a href="/categories#instruction">instruction</a> by <a href="/people/timo-tiuraniemi">Timo Tiuraniemi</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>