<div class="em-core">

  <h3 class="text-primary">login</h3>

  <form class="form-horizontal" role="form" name="loginForm">
    <div class="form-group">
    <label class="sr-only" for="input-email" class="col-lg-2 control-label">email</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" id="input-email" ng-model="user.username" placeholder="email" autofocus="autofocus" required>
      </div>
    </div>
    <div class="form-group">
    <label class="sr-only" for="input-password" class="col-lg-2 control-label">password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="input-password" ng-model="user.password" placeholder="password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.remember">
            remember </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="userLogin()">
          log in
        </button>
      </div>
    </div>
  </form>

  <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>

</div>
