<div class="span12">
  <!-- Page Content -->
  <div class="em-core">

    <h3>extended mind <a href="/" class="em-subtitle">login</a></h3>

    <form name="login">
      <fieldset>

        <fieldset>
          <input class="formContent" id="username" name="username" type="email" ng-model="user.username" placeholder="Email" autofocus="autofocus" required>
        </fieldset>

        <fieldset>
          <input class="formContent" id="password" name="password" type="password" ng-model="user.password" placeholder="Password" required>
        </fieldset>

        <fieldset>
          <button class="formAction" id="loginbutton" name="loginbutton" type="submit" ng-disabled="!login.$valid" ng-click="userLogin()">
            login
          </button>
          <input type="checkbox" id="remember" name="checkbox" ng-model="user.remember">
          <label for="checkbox" class="checkboxLabel">remember</label>
        </fieldset>

      </fieldset>
    </form>

    <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>

  </div>
</div>
