<div class="em-slide" ng-controller="MyController">

  <div class="em-front">

    <div ng-hide="omniFocus">
      <h1 class="text-primary">extended mind</h1>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newItem.title" placeholder="search / add" ng-blur="omniFocus = false" ng-focus="omniFocus = true" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-disabled="!newItem.title" ng-click="addNewItem()">
              +
            </button> </span>
        </div>
      </div>
    </div>

  </div>

  <div items-list itemsfilter="newItem.title">
    <h2><a ng-show="items != 0" class="text-muted" href="" ng-click="toggleItemsList()">unsorted</a><span class="pull-right"><small>{{completed}}</small></span></h2>
  </div>

  <div notes-list notesfilter="newItem.title">
    <h2><a class="text-muted" href="my/notes">notes</a></h2>
  </div>

  <div tasks-list tasksfilter="newItem.title">
    <h2><a class="text-muted" href="my/tasks">tasks</a></h2>
  </div>

  <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>

</div>
