<div class="em-animate" ng-animate="{{pageAnimation}}" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
  <h3 class="text-primary">extended mind</h3>

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="newItem.title" placeholder="search / add" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-disabled="!newItem.title" ng-click="addNewItem()">
            <span class="glyphicon glyphicon-plus"></span>
          </button> </span>
      </div>
    </div>
  </div>

  <div>
    <h4><a class="text-muted" href="" ng-click="toggleItemsList()">inbox ({{items.length}})</a></h4>
    <div ng-show="showMe" items-list itemsfilter="newItem.title"></div>
  </div>

  <div>
    <div notes-list notesfilter="newItem.title">
      <h4><a class="text-muted" href="my/notes">notes</a></h4>
    </div>
  </div>

  <div>
    <div tasks-list tasksfilter="newItem.title">
      <h4><a class="text-muted" href="my/tasks">tasks</a></h4>
    </div>
  </div>

  <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>
</div>
