<div class="row em-scrollable">
  <div class="row center-block em-logo">
    <img class="center-block" src="static/img/extmd_logo_final_234x114.png"/>
    <h1 class="text-primary"><span>extended mind</span></h1>
  </div>

  <div class="row col-xs-offset-1 em-signup">
    <form role="form" name="signupForm">

      <div class="form-group">
        <label for="input-email" class="sr-only">email</label>
        <input type="email" class="form-control em-simple-input" id="input-email" ng-model="user.email" placeholder="enter email..." required readonly="readonly" />
      </div>
      
      <div class="form-group">
        <label for="input-password" class="sr-only">password</label>
        <input type="password" class="form-control em-simple-input" id="input-password" ng-model="user.password" placeholder="enter password..." required em-password equals="{{user.reEnteredPassword}}"/>
      </div>
      
      <div class="form-group">
        <label for="input-password" class="sr-only">password</label>
        <input type="password" class="form-control em-simple-input" id="input-password" ng-model="user.reEnteredPassword" placeholder="re-enter password..." required em-password equals="{{user.password}}" />
      </div>

      <span class="em-prompt">match passwords. 8 characters or more</span>

      <div class="form-group">

        <button type="submit" class="em-big-button btn em-simple-input" id="signup-button" ng-disabled="!signupForm.$valid" ng-click="signUp()">
          sign up
        </button>
      </div>
      
    </form>

    <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>

  </div>

</div>
