<div class="container-fluid" ng-class="note.trans.deleted && 'container-disabled'"
  ng-controller="NoteEditorController">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top height-large--bottom" swiper-prevent>

        <a href ng-show="showNoteAction('saveBack')"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endNoteEdit()">
          <span class="text-navigation-back" ng-class="getEditorNavigationBackClasses()"
            ng-bind="isAutoSavingPrevented() ? (isNoteEdited() && !note.trans.deleted ? 'save' : 'back') : noteStatus">
          </span>
        </a>

        <a href ng-show="showNoteAction('saveDone')"
          class="group-symmetrical--left highlighted override-disabled" ng-click="subEditorDone()">
          <span class="text-edit" ng-bind="isPropertyEdited() ? 'save' : 'done'"></span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')" id="noteEditorTitlebarTitle"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="scroll-then-toggle group-symmetrical--middle width-large primary">
          <a href class="link" swiper-click="gotoNoteTitle()">
            <div>
              <span class="text-heading-primary" ng-class="!note.trans.title && 'text-downplayed'"
                ng-bind="note.trans.title && note.trans.title.length ? note.trans.title : 'new note'" clamp=2>
              </span>
            </div>
          </a>
        </div>

        <div ng-if="showEditorComponent('editorType')"
          class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">note</span>
        </div>

        <div ng-if="!showEditorComponent('side-by-side-links')">
          <a href ng-if="showNoteAction('delete')" class="group-symmetrical--right"
            swiper-click="deleteNoteInEdit()">
            <span class="icon-trash"></span>
          </a>
          <a href ng-if="showNoteAction('restore')"
            class="group-symmetrical--right link-navigation highlighted active" swiper-click="undeleteNote(note)">
            <span class="text-navigation">restore</span>
          </a>
        </div>

        <div ng-if="showEditorComponent('side-by-side-links')" class="group-symmetrical--right side-by-side">
          <a href ng-if="showEditorAction('delete', note)" class="link-side-by-side"
            swiper-click="deleteNoteInEdit()">
            <span class="icon-trash"></span>
          </a>
          <a href ng-if="showEditorAction('restore', note)"
            class="link-navigation highlighted active link-side-by-side" swiper-click="undeleteNote(note)">
            <span class="text-navigation">restore</span>
          </a>
          <a href ng-if="!iterableItem" class="link-navigation active highlighted link-side-by-side"
            swiper-click="endNoteEdit()">
            <span class="text-navigation" ng-class="getEditorNavigationBackClasses()"
              ng-bind="isAutoSavingPrevented() ? (isNoteEdited() && !note.trans.deleted ? 'save' : 'close') : noteStatus">
            </span>
          </a>
        </div>

        <div ng-if="showEditorComponent('label')" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span class="text-field--label-bold" ng-bind="getNotePropertyNameInEdit()"></span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="noteEditor" swiper-type="main"
    expected-slides="2" swiper-container-notify-outer-interaction-state="hasSwipeToClose('note')"
    swiper-container-slide-changed="editorSwiperSlideChanged()"
    swiper-click="containerClick($event.target.disabled, 'note')">
    <div class="swiper-wrapper" ng-class="showNoteInstruction() && 'swiper-no-swiping'">
      <div class="swiper-slide" swiper-slide="noteEditor/basic" slide-index="0">
        <div ng-style="{'padding-bottom': showNoteEditorComponent('basicFooter') ? getEditorFooterHeight() : 0}"
          class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true"
          scroll-then-toggle="noteEditorTitlebarTitle" scroll-then-toggle-top="noteEditorTitleInput"
          scroll-then-toggle-resizeable="noteEditorTitleInput"
          scroll-then-toggle-resizeable-to-bottom="doScrollToBottomOnTextareaResize"
          scroll-then-toggle-resizeable-to-bottom-callback="registerScrollDownIfAtBottomCallback"
          scroll-then-toggle-reset="registerGotoNoteTitleCallback">

          <!-- NOTE TITLE -->
          <div ng-show="showEditorProperty('title')" class="row-top-parent">
            <div class="group-mixed large">
              <div class="group-mixed--middle">
                <textarea id="noteEditorTitleInput" class="text-heading-primary large"
                  ng-model="note.trans.title" input-model-validator ng-trim="false"
                  msd-elastic msd-elastic-inline
                  ng-change="inputChanged()" ng-keydown="noteTitlebarTextKeyDown($event)"
                  editable-field
                  editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                  ng-disabled="readOnly"
                  placeholder="enter title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
                </textarea>
              </div>

              <div ng-if="showNoteProperty('favorite')" class="group-mixed--right">
                <a href class="link-navigation" swiper-click="clickFavorite()">
                  <span class="icon-star large" ng-class="!note.trans.favorited && 'inactive'"></span>
                </a>
              </div>
            </div>

            <div ng-if="showNoteInstruction('title')" class="row">
              <span ng-show="!noteTitlebarHasText()" class="text-details">
                e.g. reading suggestions, budget meeting minutes, summer plans
              </span>
              <span ng-show="noteTitlebarHasText()" class="text-details">
                when done, hit return
              </span>
            </div>

          </div>

          <!-- URL -->
          <div ng-show="showEditorProperty('url')">
            <div ng-if="showEditorComponent('urlLink', note)" class="group-mixed">
              <a class="group-mixed--middle clickable" ng-click="clickUrl(note)"
                 ng-class="showEditorComponent('urlLinkError', note) ? 'link-disabled' : 'highlighted'"
                 external-link="getItemHref(note)">
                <span class="text-metadata" ng-bind="getItemVisibleUrl(note)"></span>
              </a>
              <div class="group-mixed--right">
                <a href ng-click="setUrlFocus()">
                  <span class="icon-pencil"></span>
                </a>
              </div>
            </div>
            <div ng-show="showEditorProperty('url') && focusedTextProperty === 'url'">
              <div ng-show="showEditorComponent('urlTextArea', note)"
                   class="row-vertically-centered with-textarea" >
                <textarea class="text-metadata" ng-model="note.trans.link" input-model-validator ng-trim="false"
                  editable-field
                  editable-field-register-callbacks="registerUrlInputCallbacks(focus, blur)"
                  editable-field-focus="setTextPropertyFocus('url', true)"
                  editable-field-blur="setTextPropertyFocus('url', false, note)"
                  ng-keydown="urlTextKeyDown($event, note)"
                  ng-disabled="readOnly" msd-elastic
                  maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
                </textarea>
              </div>
            </div>
            <div ng-if="showEditorComponent('urlLinkError', note)" class="group-error row-form">
              <span class="text-error">invalid url</span>
            </div>
          </div>

          <!-- LIST -->
          <div ng-if="showNoteProperty('list')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" swiper-click="openListPicker()">
              <span class="text-field--title"  clamp=1 ng-bind="note.trans.list.trans.title"></span>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">list</span>
            </div>
          </div>

          <!-- KEYWORDS -->
          <div ng-if="showNoteProperty('keywords')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" swiper-click="openKeywordsPicker()">
              <div ng-repeat="keyword in getActiveKeywords(note) | orderBy:'trans.title' track by keyword.trans.uuid"
              class="keyword-list-wrapper">
                <span class="text-keyword" ng-bind="getKeywordFirstPart(keyword)"
                  ng-class="hasKeywordSecondPart(keyword) && 'text-keyword-parent'"></span><span class="text-keyword" ng-if="hasKeywordSecondPart(keyword)" ng-bind="getKeywordSecondPart(keyword)"></span><span ng-if="!$last">,&nbsp;</span>
              </div>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">keywords</span>
            </div>
          </div>

          <!-- COLLAPSIBLE-->
          <div ng-if="showNoteEditorComponent('collapsible')">

            <!-- URL -->
            <div ng-if="showNoteEditorComponent('collapsible', 'url')" class="group-mixed">
              <a href class="group-mixed--middle link-search-result downplayed" swiper-click="setUrlFocus()">
                <span class="text-field--title">enter url&#8230;</span>
              </a>
            </div>
            <!-- LIST -->
            <div ng-if="showNoteEditorComponent('collapsible', 'list')" class="group-mixed">
              <a href class="group-mixed--middle link-search-result downplayed" swiper-click="openListPicker()">
                <span class="text-field--title">select list&#8230;</span>
              </a>
            </div>

            <!-- KEYWORDS -->
            <div ng-if="showNoteEditorComponent('collapsible', 'keywords')" class="group-mixed">
              <a href class="group-mixed--middle link-search-result downplayed"
                swiper-click="openKeywordsPicker()">
                <span class="text-field--title">add keywords&#8230;</span>
              </a>
            </div>
          </div>
          <div ng-if="showNoteEditorComponent('lessMore')" class="row collapsible">
            <a href class="downplayed" swiper-click="toggleCollapsible()">
              <span ng-class="collapsibleOpen ? 'text-expand-up' : 'text-expand-down'"
                ng-bind="collapsibleOpen ? 'less' : 'more'"></span>
            </a>
          </div>

          <!-- CONTENT -->
          <textarea ng-if="showNoteProperty('content')" id="ignoreSnap"
            ng-class="{'disable-full-height': showNoteInstruction(), 'input-separate': !contentFocused}"
            ng-model="note.trans.content" input-model-validator ng-trim="false" msd-elastic
            editable-field
            editable-field-register-callbacks="registerNoteContentInputCallbacks(focus, blur)"
            editable-field-focus="setTextPropertyFocus('content', true)"
            editable-field-blur="setTextPropertyFocus('content', false)"
            ng-disabled="readOnly" ng-keydown="mainTextPropertyKeyDown($event)"
            placeholder="enter content&#8230;" maxlength="1000000" autocapitalize="none" autocorrect="off">
          </textarea>

          <div ng-if="showNoteInstruction('content')" class="row">
            <span class="text-details" ng-bind="getNoteContentInstructionText()"></span>
          </div>

          <!-- LIST PICKER -->
          <div ng-if="showEditorSubEditor('list')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="{upperHeading: 'active lists', upperArray: getListsArray('active'),
                               lowerHeading: 'archived lists', lowerArray: getListsArray('archived')}"
              list-picker-type="active list"
              list-picker-new-item="getNewList()"
              list-picker-save="closeListPickerAndSetListToItem(note, list, autoSaveNote)"
              list-picker-close="closeListPicker()"
              list-picker-clear="closeListPickerAndClearListFromItem(note, list, autoSaveNote)"
              list-picker-get-selected="note.trans.list"
              list-picker-has-children="hasChildLists"
              list-picker-register-save-new-list-callback="registerSubEditorDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterSubEditorDoneCallback()"
              list-picker-register-is-edited-callback="registerHasSubEditorEditedCallback(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterHasSubEditorEditedCallback()">
            </div>
          </div>

          <!-- KEYWORDS PICKER -->
          <div ng-if="showNoteSubEditor('keywords')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeKeywordsPicker()" data-snap-ignore="true">

            <div class="row-top-parent">

              <form role="form" class="row-form" ng-submit="addNewKeywordToNote(note, newKeyword)"
                autocapitalize="none" autocorrect="off">
                <input type="text" ng-model="newKeyword.trans.title" placeholder="add keyword&#8230;"
                  maxlength="128">
              </form>
              <span class="text-details row" ng-if="newKeyword.trans.title"
                ng-bind="'hit return or press save to create #' + newKeyword.trans.title" clamp=2>
              </span>

              <div ng-if="noteHasKeywords(note)" class="keywords-container row">
                <div class="keyword-wrapper"
                  ng-repeat="keyword in getActiveKeywords(note) | orderBy:'trans.title' track by keyword.trans.uuid">
                  <a href class="keyword highlighted" swiper-click="removeKeywordFromNote(note, keyword)" clamp=1>
                    <span class="text-keyword" ng-bind="getKeywordFirstPart(keyword)"
                      ng-class="hasKeywordSecondPart(keyword) && 'text-keyword-parent'"></span><span class="text-keyword" ng-if="hasKeywordSecondPart(keyword)" ng-bind="getKeywordSecondPart(keyword)"></span>
                  </a>
                </div>
              </div>

              <div ng-if="getTagsArray('keywords').length" class="keywords-container row">
                <div class="keyword-wrapper"
                  ng-repeat="keyword in getTagsArray('keywords')
                  | keywordsFilter:{name:'byOtherThanNoteKeywords', item: note}
                  | filter:newKeyword.trans.title
                  | orderBy:'trans.title' track by keyword.trans.uuid">
                  <a href class="keyword link" swiper-click="addKeywordToNote(note, keyword)" clamp=1>
                    <span class="text-keyword" ng-bind="getKeywordFirstPart(keyword)"
                      ng-class="hasKeywordSecondPart(keyword) && 'text-keyword-parent'"></span><span class="text-keyword" ng-if="hasKeywordSecondPart(keyword)" ng-bind="getKeywordSecondPart(keyword)"></span>
                  </a>
                </div>
              </div>
              <div ng-if="usePremiumFeatures()">
                <p class="row"><span class="text-heading-primary">suggested keywords</span><br/></p>
                <div class="keywords-container row">
                  <div class="keyword-wrapper"
                    ng-repeat="keyword in getUnselectedCommonCollectiveKeywords(note)
                    | keywordsFilter:{name:'byOtherThanNoteKeywords', item: note}
                    | filter:newKeyword.trans.title
                    | orderBy:'trans.title' track by keyword.trans.uuid">
                    <a href class="keyword link" swiper-click="addKeywordToNote(note, keyword)" clamp=1>
                      <span class="text-keyword" ng-bind="getKeywordFirstPart(keyword)"
                        ng-class="hasKeywordSecondPart(keyword) && 'text-keyword-parent'"></span><span class="text-keyword" ng-if="hasKeywordSecondPart(keyword)" ng-bind="getKeywordSecondPart(keyword)"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <footer ng-if="showNoteEditorComponent('basicFooter')" class="container-content--after editor-footer">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">

            <a href ng-if="showNoteEditorComponent('basicFooter', 'expandible')"
              class="group-symmetrical--left downplayed" ng-click="toggleExpand()">
              <span class="text-expand" ng-bind="isExpanded() ? 'minimize' : 'expand'"></span>
            </a>

            <a href ng-if="showNoteEditorComponent('basicFooter', 'navigation')"
              class="group-symmetrical--right link-navigation active"
              swiper-click="swipeToAdvanced('noteEditor')">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="noteEditor/advanced" slide-index="1"
        ng-init="slideInfo = {footerId: 'advancedFooter'}">
        <div ng-style="{'padding-bottom': slideInfo.footerHeight}" class="container-content">
          <div ng-if="showEditorProperty('revisions', note)" class="group-mixed text-field">
            <div class="group-mixed--middle">
              <a href swiper-click="openRevisionPicker(note)">
                <span class="text-field--title" ng-bind="note.revision"></span>
              </a>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">revisions</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('created', note)" class="group-mixed text-field">
            <div class="group-mixed--middle">
              <span class="text-field--title">
                {{::formatToLocaleDateWithTime(note.trans.created)}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">created</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('modified', note)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title" ng-bind="formatToLocaleDateWithTime(note.trans.modified)"></span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">modified</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('deleted', note)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{::formatToLocaleDateWithTime(note.trans.deleted)}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">deleted</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('archived', note)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{::formatToLocaleDateWithTime(note.trans.archived)}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">archived</span>
            </div>
          </div>
        </div>

        <footer ng-if="showNoteEditorComponent('advancedFooter')"
          class="container-content--after editor-footer" editor-footer="slideInfo">
          <!-- CONVERT -->
          <div ng-if="showNoteEditorComponent('advancedFooter', 'convert')" class="group-symmetrical">
            <a href ng-class="!showEditorAction('convertToTask', note) && 'invisible'"
               class="group-symmetrical--left link" swiper-click="convertToTask(note)">
              <span class="text-convert small">task</span>
            </a>
            <a href ng-class="!showEditorAction('convertToList', note) && 'invisible'"
              class="group-symmetrical--middle group-centered link"
              swiper-click="convertToList(note)">
              <span class="text-convert small">list</span>
            </a>
            <div class="group-symmetrical--right">
              <span class="text-field--label">convert</span>
            </div>
          </div>

          <nav ng-if="showNoteEditorComponent('advancedFooter', 'navigation')" role="navigation"
          class="swiper-no-swiping group-symmetrical">
            <a href class="group-symmetrical--left link-navigation active" swiper-click="swipeToBasic('noteEditor')">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
