<div class="container-content--outer" list-container list-container-override-vertical-resize="true"
  drawer-handle="left"
  drawer-handle-register-activate="registerFeatureActivateCallback(activate, 'focus', 'focusTasks')">
  <section ng-show="isOnboarded('focusTasks')" class="container-content" ng-controller="DatesController">

    <div ng-if="datepickerVisible && columns > 1" editable-field-container="auto">
      <a href class="datepicker-back" ng-click="swipeDatepickerLeft()" editable-field>
        <span class="icon-arrow-left"></span>
      </a>
    </div>
    <div ng-if="datepickerVisible" class="swiper-container datepicker" swiper-container="datepicker" swiper-type="main" expected-slides="5" data-snap-ignore="true">
      <!-- Set editable-field-container to child to circumvent AngularJS error https://docs.angularjs.org/error/$compile/multidir -->
      <div class="swiper-wrapper" editable-field-container="auto" editable-field-container-clicked-elsewhere="closeDatepicker()">
        <div class="swiper-slide" swiper-slide="datepicker/right" slide-index="0" swiper-slide-duplicate="true">
          <div class="datepicker-week row">
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][0].yyyymmdd), datepickerWeeks[2][0].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][0].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][0].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][0].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][1].yyyymmdd), datepickerWeeks[2][1].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][1].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][1].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][1].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][2].yyyymmdd), datepickerWeeks[2][2].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][2].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][2].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][2].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][3].yyyymmdd), datepickerWeeks[2][3].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][3].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][3].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][3].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][4].yyyymmdd), datepickerWeeks[2][4].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][4].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][4].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][4].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][5].yyyymmdd), datepickerWeeks[2][5].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][5].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][5].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][5].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][6].yyyymmdd), datepickerWeeks[2][6].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][6].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][6].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][6].displayDate"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide" swiper-slide="datepicker/first" slide-index="1" swiper-slide-loop-start="true">
          <div class="datepicker-week row">
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][0].yyyymmdd), datepickerWeeks[0][0].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][0].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][0].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][0].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][1].yyyymmdd), datepickerWeeks[0][1].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][1].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][1].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][1].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][2].yyyymmdd), datepickerWeeks[0][2].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][2].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][2].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][2].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][3].yyyymmdd), datepickerWeeks[0][3].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][3].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][3].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][3].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][4].yyyymmdd), datepickerWeeks[0][4].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][4].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][4].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][4].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][5].yyyymmdd), datepickerWeeks[0][5].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][5].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][5].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][5].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][6].yyyymmdd), datepickerWeeks[0][6].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][6].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][6].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][6].displayDate"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide" swiper-slide="datepicker/middle" slide-index="2">
          <div class="datepicker-week row">
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][0].yyyymmdd), datepickerWeeks[1][0].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][0].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][0].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][0].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][1].yyyymmdd), datepickerWeeks[1][1].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][1].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][1].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][1].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][2].yyyymmdd), datepickerWeeks[1][2].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][2].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][2].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][2].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][3].yyyymmdd), datepickerWeeks[1][3].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][3].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][3].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][3].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][4].yyyymmdd), datepickerWeeks[1][4].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][4].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][4].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][4].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][5].yyyymmdd), datepickerWeeks[1][5].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][5].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][5].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][5].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[1][6].yyyymmdd), datepickerWeeks[1][6].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[1][6].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[1][6].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[1][6].displayDate"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide" swiper-slide="datepicker/right" slide-index="3">
          <div class="datepicker-week row">
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][0].yyyymmdd), datepickerWeeks[2][0].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][0].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][0].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][0].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][1].yyyymmdd), datepickerWeeks[2][1].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][1].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][1].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][1].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][2].yyyymmdd), datepickerWeeks[2][2].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][2].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][2].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][2].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][3].yyyymmdd), datepickerWeeks[2][3].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][3].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][3].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][3].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][4].yyyymmdd), datepickerWeeks[2][4].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][4].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][4].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][4].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][5].yyyymmdd), datepickerWeeks[2][5].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][5].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][5].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][5].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[2][6].yyyymmdd), datepickerWeeks[2][6].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[2][6].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[2][6].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[2][6].displayDate"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide" swiper-slide="datepicker/first" slide-index="4" swiper-slide-duplicate="true">
          <div class="datepicker-week row">
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][0].yyyymmdd), datepickerWeeks[0][0].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][0].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][0].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][0].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][1].yyyymmdd), datepickerWeeks[0][1].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][1].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][1].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][1].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][2].yyyymmdd), datepickerWeeks[0][2].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][2].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][2].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][2].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][3].yyyymmdd), datepickerWeeks[0][3].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][3].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][3].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][3].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][4].yyyymmdd), datepickerWeeks[0][4].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][4].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][4].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][4].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][5].yyyymmdd), datepickerWeeks[0][5].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][5].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][5].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][5].displayDate"></span>
                </div>
              </a>
            </div>
            <div class="datepicker-day-container" ng-class="[getIsDayActiveClass(datepickerWeeks[0][6].yyyymmdd), datepickerWeeks[0][6].type]">
              <a href class="datepicker-day-wrapper" swiper-click="changeDaySlide(datepickerWeeks[0][6].yyyymmdd)">
                <div class="datepicker-day">
                  <span class="text-details datepicker-weekday" ng-bind="datepickerWeeks[0][6].weekday"></span>
                  <span class="datepicker-date" ng-bind="datepickerWeeks[0][6].displayDate"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="datepickerVisible && columns > 1" editable-field-container="auto">
      <a href class="datepicker-forward" ng-click="swipeDatepickerRight()" editable-field>
        <span class="icon-arrow-right"></span>
      </a>
    </div>

    <div class="swiper-container" swiper-container="focus/tasks" swiper-type="page" expected-slides="5">
      <div class="swiper-wrapper">

        <div class="swiper-slide" swiper-slide="focus/tasks/rightDuplicate" slide-index="0"
        swiper-slide-duplicate="true">
          <div class="container-content" ng-class="daySlides[2].pastDate && 'past-date'"
            list="getTasksArray('date', {date: daySlides[2].info, pastDate: daySlides[2].pastDate})">

            <div ng-hide="datepickerVisible" class="group-mixed heading">
              <div class="group-mixed--middle" swiper-click="openDatepicker(daySlides[2].info)">
                <h2 class="group-heading justified" ng-bind="daySlides[2].heading"></h2>
              </div>
              <div class="group-mixed--right" task-list-completed="{{daySlides[2].pastDate}}"></div>
            </div>

            <div list-item-add="getNewDayTask(2)" list-item-add-save="saveTask(newItem)"
              ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
            <div class="animate-list-item-leave"
              ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
              list-item ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
            <div list-prompt="tasks" list-prompt-infos="listInfos"
              list-prompt-hide="[listItemAddActive, onboardingInProgress, daySlidesInfosCleared]"></div>

            <a href ng-if="showAgenda && eventInstancesLoaded" class="link"
              ng-click="openCalendar(daySlides[2].info)">
              <h3 ng-if="agendaEvents && agendaEvents.length" class="row">agenda</h3>
              <div ng-repeat="agendaEvent in getEventInstances(daySlides[2].info) as agendaEvents track by agendaEvent.event_id">
                <div class="group-mixed">
                  <span style="white-space:pre-wrap; line-height: normal; padding-left: 28px;" class="group-mixed--left"
                    ng-bind="agendaEvent.allDay ? 'all day' : agendaEvent.begin + '\n' + agendaEvent.end">
                  </span>
                  <div style="vertical-align: top;" class="group-mixed--middle">
                    <span ng-bind="agendaEvent.title" clamp=2></span>
                  </div>
                </div>
                <div style="height: 22px;" class="row">
                  <span ng-if="agendaEvent.eventLocation" class="text-details" ng-bind="agendaEvent.eventLocation"></span>
                  <span style="float: right;" class="text-details" ng-bind="agendaEvent.calendarName"></span>
                </div>
                <!-- <span ng-if="agendaEvent.rrule" class="icon-sort"></span> -->
              </div>
              <span ng-if="!agendaEvents || !agendaEvents.length" class="row text-details">no events</span>
            </a>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/left" slide-index="1" swiper-slide-loop-start="true">
          <div class="container-content" ng-class="daySlides[0].pastDate && 'past-date'"
            list="getTasksArray('date', {date: daySlides[0].info, pastDate: daySlides[0].pastDate})">

            <div ng-hide="datepickerVisible" class="group-mixed heading">
              <div class="group-mixed--middle" swiper-click="openDatepicker(daySlides[0].info)">
                <h2 class="group-heading justified" ng-bind="daySlides[0].heading"></h2>
              </div>
              <div class="group-mixed--right" task-list-completed="{{daySlides[0].pastDate}}"></div>
            </div>

            <div list-item-add="getNewDayTask(0)" list-item-add-save="saveTask(newItem)"
              ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
            <div class="animate-list-item-leave"
              ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
              list-item ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
            <div list-prompt="tasks" list-prompt-infos="listInfos"
              list-prompt-hide="[listItemAddActive, onboardingInProgress, daySlidesInfosCleared]"></div>

            <a href ng-if="showAgenda && eventInstancesLoaded" class="link"
              ng-click="openCalendar(daySlides[0].info)">
              <h3 ng-if="agendaEvents && agendaEvents.length" class="row">agenda</h3>
              <div ng-repeat="agendaEvent in getEventInstances(daySlides[0].info) as agendaEvents track by agendaEvent.event_id">
                <div class="group-mixed">
                  <span style="white-space:pre-wrap; line-height: normal; padding-left: 28px;" class="group-mixed--left"
                    ng-bind="agendaEvent.allDay ? 'all day' : agendaEvent.begin + '\n' + agendaEvent.end">
                  </span>
                  <div style="vertical-align: top;" class="group-mixed--middle">
                    <span ng-bind="agendaEvent.title" clamp=2></span>
                  </div>
                </div>
                <div style="height: 22px;" class="row">
                  <span ng-if="agendaEvent.eventLocation" class="text-details" ng-bind="agendaEvent.eventLocation"></span>
                  <span style="float: right;" class="text-details" ng-bind="agendaEvent.calendarName"></span>
                </div>
                <!-- <span ng-if="agendaEvent.rrule" class="icon-sort"></span> -->
              </div>
              <span ng-if="!agendaEvents || !agendaEvents.length" class="row text-details">no events</span>
            </a>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/middle" slide-index="2">
          <div class="container-content" ng-class="daySlides[1].pastDate && 'past-date'"
            list="getTasksArray('date', {date: daySlides[1].info, pastDate: daySlides[1].pastDate}, daySlides[1].info)">

            <div ng-hide="datepickerVisible" class="group-mixed heading">
              <div class="group-mixed--middle" swiper-click="openDatepicker(daySlides[1].info)">
                <h2 class="group-heading justified" ng-bind="daySlides[1].heading"></h2>
              </div>
              <div class="group-mixed--right" task-list-completed="{{daySlides[1].pastDate}}"></div>
            </div>

            <div list-item-add="getNewDayTask(1)" list-item-add-save="saveTask(newItem)"
              ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
            <div class="animate-list-item-leave"
              ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
              list-item ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
            <div list-prompt="tasks" list-prompt-infos="listInfos"
              list-prompt-hide="[listItemAddActive, onboardingInProgress, daySlidesInfosCleared]"></div>

            <a href ng-if="showAgenda && eventInstancesLoaded" class="link"
              ng-click="openCalendar(daySlides[1].info)">
              <h3 ng-if="agendaEvents && agendaEvents.length" class="row">agenda</h3>
              <div ng-repeat="agendaEvent in getEventInstances(daySlides[1].info) as agendaEvents track by agendaEvent.event_id">
                <div class="group-mixed">
                  <span style="white-space:pre-wrap; line-height: normal; padding-left: 28px;" class="group-mixed--left"
                    ng-bind="agendaEvent.allDay ? 'all day' : agendaEvent.begin + '\n' + agendaEvent.end">
                  </span>
                  <div style="vertical-align: top;" class="group-mixed--middle">
                    <span ng-bind="agendaEvent.title" clamp=2></span>
                  </div>
                </div>
                <div style="height: 22px;" class="row">
                  <span ng-if="agendaEvent.eventLocation" class="text-details" ng-bind="agendaEvent.eventLocation"></span>
                  <span style="float: right;" class="text-details" ng-bind="agendaEvent.calendarName"></span>
                </div>
                <!-- <span ng-if="agendaEvent.rrule" class="icon-sort"></span> -->
              </div>
              <span ng-if="!agendaEvents || !agendaEvents.length" class="row text-details">no events</span>
            </a>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/right" slide-index="3">
          <div class="container-content" ng-class="daySlides[2].pastDate && 'past-date'"
            list="getTasksArray('date', {date: daySlides[2].info, pastDate: daySlides[2].pastDate})">

            <div ng-hide="datepickerVisible" class="group-mixed heading">
              <div class="group-mixed--middle" swiper-click="openDatepicker(daySlides[2].info)">
                <h2 class="group-heading justified" ng-bind="daySlides[2].heading"></h2>
              </div>
              <div class="group-mixed--right" task-list-completed="{{daySlides[2].pastDate}}"></div>
            </div>

            <div list-item-add="getNewDayTask(2)" list-item-add-save="saveTask(newItem)"
              ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
            <div class="animate-list-item-leave"
              ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
              list-item ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
            <div list-prompt="tasks" list-prompt-infos="listInfos"
              list-prompt-hide="[listItemAddActive, onboardingInProgress, daySlidesInfosCleared]"></div>

            <a href ng-if="showAgenda && eventInstancesLoaded" class="link"
              ng-click="openCalendar(daySlides[2].info)">
              <h3 ng-if="agendaEvents && agendaEvents.length" class="row">agenda</h3>
              <div ng-repeat="agendaEvent in getEventInstances(daySlides[2].info) as agendaEvents track by agendaEvent.event_id">
                <div class="group-mixed">
                  <span style="white-space:pre-wrap; line-height: normal; padding-left: 28px;" class="group-mixed--left"
                    ng-bind="agendaEvent.allDay ? 'all day' : agendaEvent.begin + '\n' + agendaEvent.end">
                  </span>
                  <div style="vertical-align: top;" class="group-mixed--middle">
                    <span ng-bind="agendaEvent.title" clamp=2></span>
                  </div>
                </div>
                <div style="height: 22px;" class="row">
                  <span ng-if="agendaEvent.eventLocation" class="text-details" ng-bind="agendaEvent.eventLocation"></span>
                  <span style="float: right;" class="text-details" ng-bind="agendaEvent.calendarName"></span>
                </div>
                <!-- <span ng-if="agendaEvent.rrule" class="icon-sort"></span> -->
              </div>
              <span ng-if="!agendaEvents || !agendaEvents.length" class="row text-details">no events</span>
            </a>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/leftDuplicate" slide-index="4" swiper-slide-duplicate="true">
          <div class="container-content" ng-class="daySlides[0].pastDate && 'past-date'"
            list="getTasksArray('date', {date: daySlides[0].info, pastDate: daySlides[0].pastDate})">

            <div ng-hide="datepickerVisible" class="group-mixed heading">
              <div class="group-mixed--middle" swiper-click="openDatepicker(daySlides[0].info)">
                <h2 class="group-heading justified" ng-bind="daySlides[0].heading"></h2>
              </div>
              <div class="group-mixed--right" task-list-completed="{{daySlides[0].pastDate}}"></div>
            </div>

            <div list-item-add="getNewDayTask(0)" list-item-add-save="saveTask(newItem)"
              ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
            <div class="animate-list-item-leave"
              ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
              list-item ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
            <div list-prompt="tasks" list-prompt-infos="listInfos"
              list-prompt-hide="[listItemAddActive, onboardingInProgress, daySlidesInfosCleared]"></div>

            <a href ng-if="showAgenda && eventInstancesLoaded" class="link"
              ng-click="openCalendar(daySlides[0].info)">
              <h3 ng-if="agendaEvents && agendaEvents.length" class="row">agenda</h3>
              <div ng-repeat="agendaEvent in getEventInstances(daySlides[0].info) as agendaEvents track by agendaEvent.event_id">
                <div class="group-mixed">
                  <span style="white-space:pre-wrap; line-height: normal; padding-left: 28px;" class="group-mixed--left"
                    ng-bind="agendaEvent.allDay ? 'all day' : agendaEvent.begin + '\n' + agendaEvent.end">
                  </span>
                  <div style="vertical-align: top;" class="group-mixed--middle">
                    <span ng-bind="agendaEvent.title" clamp=2></span>
                  </div>
                </div>
                <div style="height: 22px;" class="row">
                  <span ng-if="agendaEvent.eventLocation" class="text-details" ng-bind="agendaEvent.eventLocation"></span>
                  <span style="float: right;" class="text-details" ng-bind="agendaEvent.calendarName"></span>
                </div>
                <!-- <span ng-if="agendaEvent.rrule" class="icon-sort"></span> -->
              </div>
              <span ng-if="!agendaEvents || !agendaEvents.length" class="row text-details">no events</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer ng-show="isOnboarded('focusTasks')" class="container-content--after" list-footer="getFeatureMap('focus')"></footer>

  <!-- ONBOARDING -->
  <section ng-if="!isOnboarded('focusTasks')" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">what to do right
        <span class="highlighted">now</span>?
      </h2>
      <div class="textgroup-ingress row">on this focus view you can see tasks  sorted by
        <span class="text-highlighted">date</span>
      </div>
      <div class="textgroup-ingress last row">to change dates, click the today heading or swipe down</div>
    </div>
  </section>
  <footer ng-if="!isOnboarded('focusTasks')" class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('focusTasks')">
      <span class="text-btn">got it</span>
    </button>
  </footer>

</div>
