<div class="container-content--outer" list-container drawer-handle="left" drawer-handle-register-activate="registerFocusActivateCallback(activate)" list-container-override-vertical-resize="true">
  <section class="container-content" ng-controller="DatesController">

    <div ng-if="datepickerVisible" class="swiper-container datepicker" swiper-container="datepicker" swiper-type="main" expected-slides="5" data-snap-ignore="true">
      <!-- Set editable-field-container to child to circumvent AngularJS error https://docs.angularjs.org/error/$compile/multidir -->
      <div class="swiper-wrapper" editable-field-container="auto" editable-field-container-clicked-elsewhere="closeDatepicker()">
        <div class="swiper-slide group-link" swiper-slide="datepicker/right" slide-index="0" swiper-slide-duplicate="true">
          <div class="row">
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][0].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][0].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][0].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][0].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][1].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][1].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][1].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][1].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][2].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][2].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][2].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][2].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][3].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][3].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][3].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][3].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][4].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][4].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][4].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][4].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][5].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][5].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][5].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][5].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][6].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][6].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][6].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][6].displayDateShort"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide group-link" swiper-slide="datepicker/first" slide-index="1" swiper-slide-loop-start="true">
          <div class="row">
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][0].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][0].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][0].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][0].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][1].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][1].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][1].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][1].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][2].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][2].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][2].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][2].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][3].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][3].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][3].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][3].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][4].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][4].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][4].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][4].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][5].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][5].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][5].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][5].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][6].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][6].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][6].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][6].displayDateShort"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide group-link" swiper-slide="datepicker/middle" slide-index="2">
          <div class="row">
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][0].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][0].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][0].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][0].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][1].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][1].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][1].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][1].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][2].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][2].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][2].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][2].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][3].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][3].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][3].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][3].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][4].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][4].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][4].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][4].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][5].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][5].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][5].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][5].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[1][6].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[1][6].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[1][6].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[1][6].displayDateShort"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide group-link" swiper-slide="datepicker/right" slide-index="3">
          <div class="row">
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][0].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][0].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][0].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][0].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][1].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][1].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][1].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][1].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][2].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][2].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][2].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][2].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][3].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][3].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][3].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][3].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][4].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][4].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][4].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][4].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][5].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][5].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][5].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][5].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[2][6].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[2][6].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[2][6].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[2][6].displayDateShort"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide group-link" swiper-slide="datepicker/first" slide-index="4" swiper-slide-duplicate="true">
          <div class="row">
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][0].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][0].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][0].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][0].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][1].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][1].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][1].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][1].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][2].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][2].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][2].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][2].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][3].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][3].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][3].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][3].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][4].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][4].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][4].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][4].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][5].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][5].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][5].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][5].displayDateShort"></span>
              </div>
            </a>
            <a href class="datepicker-day" ng-click="changeDaySlide(datepickerWeeks[0][6].yyyymmdd)">
              <div>
                <span class="text-details" ng-bind="datepickerWeeks[0][6].weekday"></span>
                <span ng-class="isDayActive(datepickerWeeks[0][6].yyyymmdd) && 'datepicker-active-day'" ng-bind="datepickerWeeks[0][6].displayDateShort"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container" swiper-container="focus/tasks" swiper-type="page" expected-slides="5">
      <div class="swiper-wrapper">

        <div class="swiper-slide" swiper-slide="focus/tasks/rightDuplicate" slide-index="0" swiper-slide-duplicate="true">
          <div class="container-content" ng-class="daySlides[2].pastDate && 'past-date'"
          list="tasks | tasksByDate:daySlides[2].info:daySlides[2].pastDate" list-order="top">
            <div ng-if="isFeatureActive('focus')">

              <div ng-hide="datepickerVisible" class="group-mixed heading">
                <div class="group-mixed--middle" ng-click="openDatepicker(daySlides[2].info)">
                  <h2 class="group-heading justified" ng-bind="daySlides[2].heading"></h2>
                </div>
                <div class="group-mixed--right" task-list-completed="rightDuplicateTasksDate"></div>
              </div>

              <div list-item-add="getNewDayTask(2)" list-item-add-save="saveTask(newItem)"
              ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
              <div class="animate-list-item-leave"
              ng-repeat="task in rightDuplicateTasks = (getList()
              | paramFilter:isListItemVisible:daySlides[2].pastDate)
              | orderBy:'created':true
              | limitTo: currentListLimitTo"
              list-item="rightDuplicateTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
              <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/left" slide-index="1" swiper-slide-loop-start="true">
          <div class="container-content" ng-class="daySlides[0].pastDate && 'past-date'"
          list="tasks | tasksByDate:daySlides[0].info:daySlides[0].pastDate" list-order="top">
            <div ng-if="isFeatureActive('focus')">

              <div ng-hide="datepickerVisible" class="group-mixed heading">
                <div class="group-mixed--middle" ng-click="openDatepicker(daySlides[0].info)">
                  <h2 class="group-heading justified" ng-bind="daySlides[0].heading"></h2>
                </div>
                <div class="group-mixed--right" task-list-completed></div>
              </div>

              <div list-item-add="getNewDayTask(0)" list-item-add-save="saveTask(newItem)"
              ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
              <div class="animate-list-item-leave"
              ng-repeat="task in leftTasks = (getList()
              | paramFilter:isListItemVisible:daySlides[0].pastDate)
              | orderBy:'created':true
              | limitTo: currentListLimitTo"
              list-item="leftTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
              <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/middle" slide-index="2">
          <div class="container-content" ng-class="daySlides[1].pastDate && 'past-date'"
          list="tasks | tasksByDate:daySlides[1].info:daySlides[1].pastDate" list-order="top">
            <div ng-if="isFeatureActive('focus')">

              <div ng-hide="datepickerVisible" class="group-mixed heading">
                <div class="group-mixed--middle" ng-click="openDatepicker(daySlides[1].info)">
                  <h2 class="group-heading justified" ng-bind="daySlides[1].heading"></h2>
                </div>
                <div class="group-mixed--right" task-list-completed></div>
              </div>

              <div list-item-add="getNewDayTask(1)" list-item-add-save="saveTask(newItem)"
              ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
              <div class="animate-list-item-leave"
              ng-repeat="task in middleTasks = (getList()
              | paramFilter:isListItemVisible:daySlides[1].pastDate)
              | orderBy:'created':true
              | limitTo: currentListLimitTo"
              list-item="middleTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
              <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/right" slide-index="3">
          <div class="container-content" ng-class="daySlides[2].pastDate && 'past-date'"
          list="tasks | tasksByDate:daySlides[2].info:daySlides[2].pastDate" list-order="top">
            <div ng-if="isFeatureActive('focus')">

              <div ng-hide="datepickerVisible" class="group-mixed heading">
                <div class="group-mixed--middle" ng-click="openDatepicker(daySlides[2].info)">
                  <h2 class="group-heading justified" ng-bind="daySlides[2].heading"></h2>
                </div>
                <div class="group-mixed--right" task-list-completed></div>
              </div>

              <div list-item-add="getNewDayTask(2)" list-item-add-save="saveTask(newItem)"
              ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
              <div class="animate-list-item-leave"
              ng-repeat="task in rightTasks = (getList()
              | paramFilter:isListItemVisible:daySlides[2].pastDate)
              | orderBy:'created':true
              | limitTo: currentListLimitTo"
              list-item="rightTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
              <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" swiper-slide="focus/tasks/leftDuplicate" slide-index="4" swiper-slide-duplicate="true">
          <div class="container-content" ng-class="daySlides[0].pastDate && 'past-date'"
          list="tasks | tasksByDate:daySlides[0].info:daySlides[0].pastDate" list-order="top">
            <div ng-if="isFeatureActive('focus')">

              <div ng-hide="datepickerVisible" class="group-mixed heading">
                <div class="group-mixed--middle" ng-click="openDatepicker(daySlides[0].info)">
                  <h2 class="group-heading justified" ng-bind="daySlides[0].heading"></h2>
                </div>
                <div class="group-mixed--right" task-list-completed></div>
              </div>

              <div list-item-add="getNewDayTask(0)" list-item-add-save="saveTask(newItem)"
              ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
              <div class="animate-list-item-leave"
              ng-repeat="task in leftDuplicateTasks = (getList()
              | paramFilter:isListItemVisible:daySlides[0].pastDate)
              | orderBy:'created':true
              | limitTo: currentListLimitTo"
              list-item="leftDuplicateTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
              <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('focus')"></footer>
</div>
