<div ng-if="isFeatureActive('focus')" class="container-content--outer" list-container>
  <section ng-show="isOnboarded('focusNotes')" class="container-content"
    list="allNotes | itemsFilter:{name:'favorited'}"
    list-open="openEditor('note', getNewFavoriteNote())" swiper-prevent>
    <h2 class="group-heading justified row">
      <span class="text-heading" ng-class="smallDeviceWidth && 'long'">starred notes</span>
    </h2>
    <div class="animate-list-item-leave tall"
      ng-repeat="note in listInfos.array = (getFullArray()) | orderBy:'trans.favorited':true
      | limitTo: currentListLimitTo track by note.trans.uuid"
      list-item ng-include="urlBase + 'app/notes/noteListItem.html'"></div>
    <div list-prompt="notes" list-prompt-infos="listInfos" list-prompt-hide="[onboardingInProgress]"></div>
  </section>
  <footer ng-show="isOnboarded('focusNotes')" class="container-content--after"
    list-footer="getFeatureMap('focus')"></footer>

  <!-- ONBOARDING -->
  <section ng-if="!isOnboarded('focusNotes')" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">what notes are
        <span class="highlighted">in use</span>?
      </h2>
      <div class="textgroup-ingress row">on this focus view you can see your
        <span class="text-highlighted">starred</span> notes
      </div>
      <div class="textgroup-ingress last row">add starred notes here or by clicking star in note editor</div>
    </div>
  </section>
  <footer ng-if="!isOnboarded('focusNotes')" class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('focusNotes')">
      <span class="text-btn">got it</span>
    </button>
  </footer>

</div>
