/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 880px;
  }
}

.page-header {
  padding-top: 22px;
	text-align: center;
}

.lean-right {
	text-align: right;
}

.lean-center {
	text-align: center;
}

body {
	line-height: 2em;
  -webkit-overflow-scrolling: touch;
}

p {
	font-size: 1.1em;
}

.phone img {
  width: 225px;
}

.slogan {
  font-size: 18px;
  padding-bottom: 22px;
}

.first-paragraph {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
}

.last-paragraph {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

/* Small devices */
@media (max-width: 991px) {
  * {
    text-align: center;
  }
  .hide-mobile {
    display:none;
  }
}

.links a {
  color: #0f82fe;
}

a.button {
  height: 44px;
  max-width: 300px;
  width: 100%;
  display: inline-block;
  color: white;
  background-color: #0f82fe;
  outline: none;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  font-size: 18px;
}

a.button span {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

a.button:active {
  background-color: #0171ea;
}

a.button:hover {
  text-decoration: none;
}

.separator {
  min-height: 132px;
}

.separator-small {
  min-height: 44px;
}

.details {
  font-size: 12px;
  font-style:italic;
  color: gray;
}

.column-right {
  padding-left: 60px;
}