.embed-container {
    position: relative;
    padding-bottom: 56.25%;  /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-margin {
	max-width: 90%;
	margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
}

.stich-top {
  background-image:
         -webkit-linear-gradient(0deg, #5c5c5c 60%, transparent 60%, transparent 100%),
         -webkit-linear-gradient(0deg, #5c5c5c 60%, transparent 60%, transparent 100%);
  background-image:
         -moz-linear-gradient(0deg, #5c5c5c 60%, transparent 60%, transparent 100%),
         -moz-linear-gradient(0deg, #5c5c5c 60%, transparent 60%, transparent 100%);
  left: 0px;
  right: 0px;
  height: 1px;
  background-repeat: repeat-x;
  background-size: 40px 1px;
  background-position: 0px 0px, 0px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-shadow: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  top: 10px;
}

html, body {
  height: 100%;
}

body {
  background-color: #333333;
  text-align: center;
  color: white;
}

#wrap {
  min-height: 100%;
}

#waiting {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#resultUpper {
  height: 10em;
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
}

a:link {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

.em-page{
  margin-left: auto;
  margin-right: auto;
}

.em-topmargin{
  height: 20px;
}

.em-heading {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  color: #d6d6d6;
  font-size: 70px;
  font-weight: bold;
}

h3 {
  color: #c9c9c9;
  font-size: 40px;
}

.em-ingress {
  margin-bottom: 4%;
}

.em-ingress ul {
  text-align: left;
}

.em-ingress p {
  padding-bottom: 10%;
}

.em-please {
  text-align:justify;
  margin-bottom: 8%;
}

.em-ingress, .em-please {
  padding-left:2%;
  padding-right:2%;
  text-align:justify;
}

h4 {
  color: #c9c9c9;
  font-size: 30px;
}

h5{
  color: #676767;
  font-size: 25px;
}

input, button {
  background-color: #d6d6d6 !important;
}

@media (min-width: 767px) {
  .form-group {
    width: 490px;
  }
}

.em-logo {
  margin-top: 7%;
  margin-bottom: 170px;
}

.footer a{
  color: #d6d6d6 !important;
}

