<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container>
  <section ng-show="isContentVisible('tasks', 'contexts')" class="container-content"
    list="getTagsArray('contexts')">
    <h2 class="group-heading justified row">contexts</h2>
    <div list-item-add="getNewContext()" list-item-add-save="saveContext(newItem)">
      <form role="form" class="group-mixed vertically-centered swiper-no-swiping"
        data-snap-ignore="true" editable-field-container
        editable-field-container-clicked-elsewhere="onListItemAddExit()"
        autocapitalize="none" autocorrect="off">
        <div class="group-mixed--middle">
          <textarea ng-model="newItem.trans.title" msd-elastic ng-keydown="textareaKeyDown($event)"
            editable-field editable-field-register-callbacks="registerAddItemCallbacks(focus, blur)"
            placeholder="add context&#8230;" maxlength="128">
          </textarea>
        </div>
        <div class="group-mixed--right">
          <a href editable-field-deactivate swiper-click="openEditor('tag', newItem)">
            <span class="text-navigation-forward without-text"></span>
          </a>
        </div>
      </form>
    </div>
    <div class="animate-list-item-leave"
      ng-repeat="context in getVisibleArray(getFullArray, currentListLimitTo) track by context.trans.uuid"
      list-item>
      <div class="group-mixed vertically-centered" ng-class="getTagItemClasses(context)">
        <a href class="group-mixed--middle link-list-item" swiper-click="swipeToContext(context)">
          <span class="text-link" clamp=2 ng-bind="'@' + context.trans.title"></span>
        </a>
        <div class="group-mixed--right">
          <a href swiper-click="swipeToContext(context)">
            <span class="text-navigation-forward large"></span>
          </a>
        </div>
      </div>
    </div>
    <div list-prompt list-prompt-infos="listInfos" list-prompt-hide="[listItemAddActive]"></div>
    <div class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="swipeToContext()">
        <span class="text-link">no context</span>
      </a>
      <a class="group-mixed--right" href swiper-click="swipeToContext()">
        <span class="text-navigation-forward large"></span>
      </a>
    </div>
  </section>

  <!-- ONBOARDING -->
  <section ng-if="isOnboarding('tasks', 'contexts')" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">group tasks with
        <span class="highlighted">contexts</span>
      </h2>
      <div class="textgroup-ingress row">good contexts are task
      <span class="text-highlighted">environments</span> &ndash; for example @home and @phone</div>
    </div>
  </section>

  <footer ng-if="isFeatureActive('tasks') && isContentVisible('tasks', 'contexts')"
  class="container-content--after" list-footer="getFeatureMap('tasks')" list-footer-subfeature="contexts">
  </footer>
  <footer ng-if="isOnboarding('tasks', 'contexts')"
    class="container-content--after group-btn onboarding">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('tasks', 'contexts')">
      <span class="text-btn">got it</span>
    </button>
  </footer>
</div>
