<div class="container-content--outer" list-container>
  <section class="container-content">
    <div list="DEBUGgetContextTasks(context)"
    list-options="{hideItemDefault: true, scrollParent: true}">
      <div class="group-mixed heading vertically-centered">
        <div class="group-mixed--middle">
          <h2 class="group-heading justified">
            <a href ng-if="context" class="link" swiper-click="openContextEditor(context)"
            ng-class="isOnboarding('tasks', 'context') && 'onboarding'">
              <span class="text-heading" ng-bind="'@' + context.trans.title"
                ng-class="context.trans.title.length > 6 && 'long'" clamp=2></span>
            </a>
            <div ng-if="!context">
              <span class="text-heading long" clamp=2>no context</span>
            </div>
          </h2>
        </div>
        <div class="group-mixed--right" task-list-completed></div>
      </div>
      <div list-item-add="getNewTaskWithContext(context)" list-item-add-save="saveTask(newItem)"
        ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
      <div ng-attr-id="{{ task.trans.uuid }}" class="animate-list-item-leave"
        ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
        list-item="getContextId()" ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
      <div ng-if="contextSlideActive" list-prompt="tasks" list-prompt-infos="listInfos" list-prompt-hide="[listItemAddActive]"
           list-prompt-disable-loading="childContexts"></div>
    </div>
    <div ng-if="childContexts" ng-repeat="childContext in childContexts track by childContext.trans.uuid"
    list="getTasksArray('context', {id: childContext.trans.uuid})"
    list-options="{hideItemDefault: true, slidePollingDisabled: true}">
      <div class="group-mixed height-large">
        <div class="group-mixed--middle">
          <span class="text-heading-primary" ng-bind="'@' + childContext.trans.title"></span>
        </div>
        <div class="group-mixed--right" task-list-completed></div>
      </div>
      <div ng-attr-id="{{ task.trans.uuid }}" class="animate-list-item-leave"
        ng-repeat="task in getVisibleArray(getFullArray, currentListLimitTo) track by task.trans.uuid"
        list-item="getContextId(childContext)" ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
      <div list-prompt="tasks" list-prompt-infos="listInfos" list-prompt-hide="[listItemAddActive]"
           list-prompt-disable-loading="true"></div>
    </div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
