<div class="container-fluid--inner" list-container drawer-handle="left" ng-controller="AdminController"
ng-switch on="adminMode">
  <section ng-switch-default class="container-content">
    <h2 class="group-heading row justified">stats</h2>
    <div class="row-form">
      <h3>users</h3>
      <a href class="highlighted" ng-click="gotoUsers()"><span ng-bind="userCount"></span></a>
    </div>
    <div class="row-form">
      <h3>invites</h3>
      <a href class="highlighted" ng-click="gotoInvites()"><span ng-bind="inviteCount"></span></a>
    </div>
    <div class="row-form">
      <h3>invite requests</h3>
      <a href class="highlighted" ng-click="gotoInviteRequests()">
        <span ng-bind="inviteRequestCount"></span>
      </a>
    </div>
    <div class="row-form">
      <h3>items</h3>
      <span ng-bind="itemCount"></span>
    </div>
  </section>
  <section ng-switch-when="users" class="container-content">
    <h2 class="group-heading row justified">users</h2>
    <div class="row-form">
      <a href class="highlighted" ng-click="gotoStatistics()"><span>back</span></a>
    </div>
    <div class="row-form" ng-repeat="user in users | orderBy:'created':true">
      <a ng-href="mailto:{{user.email}}" ng-bind="user.email"></a>
      <span class="text-details">since: {{getDateString(user.created)}}</span>
      <form role="form" ng-submit="destroyUser(user)" autocapitalize="none" autocorrect="off">
        <input type="text" class="text-details" ng-model="user.destroy"
          placeholder="write 'destroy [email]' to destroy the user&#8230;"/>
      </form>
    </div>
  </section>
  <section ng-switch-when="invites" class="container-content">
    <h2 class="group-heading row justified">invites</h2>
    <div class="row-form">
      <a href class="highlighted" ng-click="gotoStatistics()"><span>back</span></a>
    </div>
    <div class="row-form" ng-repeat="invite in invites | orderBy:'accepted':true">
      <a ng-href="mailto:{{invite.email}}" ng-bind="invite.email"></a>
      <span class="text-details">modified: {{getDateString(invite.modified)}}</span><br/>
      <span ng-if="invite.accepted" class="text-details">accepted: {{getDateString(invite.accepted)}}</span>
      <div ng-if="!invite.accepted && !invite.resent">
        <a href class="highlighted" ng-click="resendInvite(invite)">
          <span class="text-details">resend</span>
        </a>
        <a href ng-click="deleteInvite(invite)"><span class="text-error">delete</span></a>
      </div>
      <div ng-if="!invite.accepted && invite.resent">resent</div>
    </div>
  </section>
  <section ng-switch-when="inviteRequests" class="container-content">
    <h2 class="group-heading row justified">invite requests</h2>
    <div class="row-form">
      <a href class="highlighted" ng-click="gotoStatistics()"><span>back</span></a>
    </div>
    <div class="row-form" ng-repeat="inviteRequest in inviteRequests">
      <a ng-href="mailto:{{inviteRequest.email}}" ng-bind="inviteRequest.email"></a>
      <span class="text-details">modified: {{getDateString(inviteRequest.modified)}}</span><br/>
      <a href class="highlighted" ng-click="acceptInviteRequest(inviteRequest)">
        <span class="text-details">accept</span>
      </a>
      <a href ng-click="deleteInviteRequest(inviteRequest)"><span class="text-error">delete</span></a>
    </div>
  </section>
</div>
