<div id="about-container" ng-controller="AboutController">
  <section id="about" class="one-column-grid page" snap-drawer-drag="about">
    <div class="column">
      <div class="content-container simple-content-container">
        <ul>
          <li class="simple-content">
            <h3>version</h3>
            <span ng-bind="extendedMindVersion"></span>
          </li>
          <li class="simple-content">
            <a class="highlighted-link" href ng-click="openTermsOfServiceModal()">terms of service</a><br/>
            <a class="highlighted-link" href ng-click="openPrivacyPolicyModal()">privacy policy</a>
          </li>
          <li id="about-help" class="simple-content">
            <small>in case you need any help, email
              <a class="highlighted-link" href="mailto:support@ext.md"> support@ext.md</a>
            </small>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
