<div ng-if="isMobile" ng-include="'static/app/auth/menu.html'" id="mobile-menu" class="snap-drawer snap-drawer-left" scrollable></div>
<div id="about-container" class="no-slides-container" ng-init="feature='about'" snap-drawer>
  <header class="static-page-header" ng-include="'static/app/main/staticPageHeader.html'"></header>
  <section ng-hide="isDesktop && isMenuOpen" id="about" class="one-column-grid page" snap-drawer-drag>
    <div class="column">
      <div class="content-container simple-content-container">
        <h3>version</h3>
        <span ng-bind="extendedMindVersion"></span>
        <button type="submit" id="about-button" class="wide-button normal-button" ng-click="gotoPreviousPage()">
          <span class="button-text">done</span>
        </button>
      </div>
    </div>
  </section>
  <div id="desktop-menu" ng-if="isDesktop && isMenuOpen" ng-include="'static/app/auth/menu.html'"></div>
</div>
