<div class="accordion-title" ng-switch="isOpen">
  <div ng-switch-when="false" id="closedAccordionTitleWrapper">
    <div ng-if="hasComplete" class="table-wrapper" >
      <input type="checkbox" class="left-checkbox-wrapper" id="{{item.uuid}}" name="checkbox" class="input-checkbox" ng-checked="item.completed" swiper-click="itemChecked()" />
      <label class="checkbox swiper-no-swiping" for="{{item.uuid}}"></label>
      <a id="accordionTitleLink" ng-class="getTitleClasses()" class="accordion-toggle" href swiper-click="clickTitle()">
        <span accordion-title-link="item.title.length" accordion-title-link-bold="boldTitle" id="accordionTitleLinkContent">
          {{getItemTitle()}}
        </span>
      </a>
    </div>
    <div ng-if="!hasComplete" id="soloAccordionTitleLinkWrapper" class="table-wrapper">
      <div id="accordionTitleHeightFix"><br/></div>
      <a id="accordionTitleLink" ng-class="getTitleClasses()" class="accordion-toggle" href swiper-click="clickTitle()">
        <span accordion-title-link="item.title.length" accordion-title-link-bold="boldTitle" id="accordionTitleLinkContent">{{getItemTitle()}}</span>
      </a>
    </div>
  </div>
  <form ng-switch-when="true" role="form" name="itemTitleEdit" class="table-wrapper accordion-title-open" ng-class="!hasComplete && 'no-checkbox'" editable-field-container="auto" data-snap-ignore="true">
    <div ng-if="hasComplete" class="left-checkbox-wrapper">
      <input type="checkbox" id="{{item.uuid}}" name="checkbox" class="input-checkbox" ng-checked="item.completed" ng-click="itemChecked()" editable-field />
      <label class="checkbox swiper-no-swiping" for="{{item.uuid}}"></label>
    </div>
    <div ng-class="getTitleClasses()">
      <label class="sr-only" for="accordionTitleInput">title</label>
      <textarea id="accordionTitleInput" type="text" ng-focus="startTitleEdit($event)" ng-keypress="evaluateKeyPress($event)" class="simple-input swiper-no-swiping" ng-model="item.title" placeholder="title..." maxlength="128" required expanding-textarea editable-field /></textarea>
    </div>
    <div class="right-button-wrapper swiper-no-swiping">
      <button class="button" type="button" swiper-click="pressItemEdit()"><span class="icon-i"></span>
      </button>
    </div>
  </form>
  <div ng-transclude ng-class="isOpen && 'editable-field-container active'"></div>
</div>
