<div ng-switch="titleOpen">
  <div ng-switch-when="false" id="closedAccordionTitleWrapper">
    <div ng-if="hasComplete" class="table-wrapper">
      <input type="checkbox" name="checkbox" id="{{item.uuid}}" class="left-checkbox-wrapper" ng-checked="item.completed" swiper-click="itemChecked()" />
      <label for="{{item.uuid}}" class="swiper-no-swiping"></label>
      <a href id="accordionTitleLink" ng-class="getTitleClasses()" swiper-click="clickTitle()">
        <span id="accordionTitleLinkContent" accordion-title-link="item.title.length" accordion-title-link-bold="boldTitle">
          {{getItemTitle()}}
        </span>
      </a>
    </div>
    <div ng-if="!hasComplete" class="table-wrapper">
      <div id="accordionTitleHeightFix"><br/></div>
      <a href id="accordionTitleLink" ng-class="getTitleClasses()" swiper-click="clickTitle()">
        <span id="accordionTitleLinkContent" accordion-title-link="item.title.length" accordion-title-link-bold="boldTitle">{{getItemTitle()}}</span>
      </a>
    </div>
  </div>
  <form ng-switch-when="true" role="form" name="itemTitleEdit" class="table-wrapper accordion-title-open" ng-class="!hasComplete && 'no-checkbox'" editable-field-container="auto" data-snap-ignore="true">
    <div ng-if="hasComplete" class="left-checkbox-wrapper">
      <input type="checkbox" name="checkbox" id="{{item.uuid}}" ng-checked="item.completed" ng-click="itemChecked()" editable-field />
      <label for="{{item.uuid}}" class="swiper-no-swiping"></label>
    </div>
    <div ng-class="getTitleClasses()">
      <label for="accordionTitleInput" class="sr-only">title</label>
      <textarea type="text" id="accordionTitleInput" class="simple-input swiper-no-swiping" ng-model="item.title" ng-focus="startTitleEdit($event)" ng-keypress="evaluateKeyPress($event)"  msd-elastic editable-field placeholder="title..." maxlength="128" required/></textarea>
    </div>
    <div class="right-button-wrapper swiper-no-swiping">
      <button type="button" class="button" swiper-click="pressItemEdit()"><span class="icon-i"></span>
      </button>
    </div>
  </form>
  <div ng-transclude ng-class="titleOpen && 'editable-field-container active'"></div>
</div>
