<div class="no-slides-container" ng-controller="MainController">
  <div id="edit-page" ng-controller="ListsController">
    <header class="edit-header" edit-header="list" item-edit-form="listEdit" save-item="saveList(list)" cancel-edit="cancelEdit()"></header>
    <section id="edit-list" class="one-column-grid page">
      <div class="column">
        <div class="content-container simple-content-container">
          <form role="form" name="listEdit">
            <div class="form-group">
              <label class="sr-only" for="listTitle">title</label>
              <input type="text" class="simple-input" id="listTitle" ng-model="list.title" placeholder="title..." required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="listDescription">description</label>
              <textarea class="simple-input" id="listDescription" ng-model="list.description" placeholder="description..." expanding-textarea></textarea>
            </div>
            <div class="form-group">
              <label class="sr-only" for="listLink">url</label>
              <input type="text" class="simple-input" id="listLink" ng-model="list.link" placeholder="url...">
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
