<div class="no-slides-container" ng-controller="MainController">
  <div id="edit-page" ng-controller="ContextsController">
    <header class="edit-header" edit-header="context" item-edit-form="contextEdit" save-item="saveContext(context)" cancel-edit="cancelEdit()"></header>
    <section id="edit-context" class="one-column-grid page">
      <div class="column">
        <div class="content-container simple-content-container">
          <form role="form" name="contextEdit">
            <div class="form-group">
              <label class="sr-only" for="contextTitle">title</label>
              <input type="text" class="simple-input" id="contextTitle" ng-model="context.title" placeholder="title..." required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="contextDescription">description</label>
              <textarea class="simple-input" id="contextDescription" ng-model="context.description" placeholder="description..." expanding-textarea></textarea>
            </div>
            <div class="form-group">
              <label class="sr-only" for="contextLink">url</label>
              <input type="text" class="simple-input" id="contextLink" ng-model="context.link" placeholder="url...">
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
