<div ng-show="showCoreFields()" id="itemCoreFields" class="swiper-no-swiping inline-form-fields" data-snap-ignore="true">
  <div ng-show="showUrl()" class="form-group">
    <label class="sr-only" for="itemLink">url</label>
    <input type="text" id="itemLink" class="simple-input" ng-model="item.link" placeholder="url..." editable-field>
  </div>
  <div ng-show="showDescription()" class="form-group">
    <label class="sr-only" for="itemDescription">description</label>
    <textarea id="itemDescription" class="simple-input" ng-model="item.description" placeholder="description..." maxlength="1024" msd-elastic editable-field></textarea>
  </div>
</div>
