<div ng-show="showCoreFields()" class="swiper-no-swiping inline-form-fields" data-snap-ignore="true">
  <div ng-show="showUrl()" class="form-group">
    <input type="text" id="itemLink" class="simple-input" ng-model="item.link" editable-field placeholder="url...">
  </div>
  <div ng-show="showDescription()" class="form-group">
    <textarea id="itemDescription" class="simple-input" ng-model="item.description" msd-elastic editable-field placeholder="description..." maxlength="1024"></textarea>
  </div>
</div>
