<div class="table">

  <div class="table-row">
    <a href class="table-cell" ng-click="setDateFirstDayOfNextMonth()">next month</a>
    <a href class="table-cell" ng-click="setDateFirstDayOfNextWeek()">next week</a>
  </div>

  <div class="table-row">
    <a href class="table-cell" ng-click="setDateNextWeekend()">next weekend</a>
    <a href class="table-cell" ng-click="setDateDayAfterTomorrow()">day after tomorrow</a>

  </div>

  <div class="table-row">
    <a href class="table-cell" ng-click="setDateTomorrow()">tomorrow</a>
    <a href class="table-cell" ng-click="setDateToday()">today</a>
  </div>

</div>
