<div class="later">

  <div class="later-row">
    <a href class="later-row--left" ng-click="setDateFirstDayOfNextMonth()">next month</a>
    <a href class="later-row--right" ng-click="setDateToSecondMonday()">two weeks</a>
  </div>

  <div class="later-row">
    <a href class="later-row--left" ng-click="setDateFirstDayOfNextWeek()">next week</a>
    <a href class="later-row--right" ng-click="setDateNextWeekend()">next weekend</a>
  </div>

  <div class="later-row">
    <a href class="later-row--left" ng-click="setDateDayAfterTomorrow()">day after tomorrow</a>
    <a href class="later-row--right" ng-click="setDateTomorrow()">tomorrow</a>
  </div>

</div>
