<div class="row list-prompt">
  <a href ng-if="isNoItemsPromptVisible()" swiper-click="activateAddNew()" class="text-downplayed text-details">no {{::promptType}}</a>
  <div class="loading-prompt text-downplayed text-details">
    <div ng-if="!loadMore">
      <span>loading</span><span class="one">.</span><span class="two">.</span><span class="three">.</span>
    </div>
    <a href ng-if="loadMore" style="display: block;" class="downplayed" swiper-click="loadMoreFn()">
      <span class="text-expand-down">more</span>
    </a>
  </div>
</div>
