<ul class="button-row">
  <li class="button-container left-of-three border-right">
    <button class="default-button" type="button" ng-click="editList(list)">
      more
    </button>
  </li>
  <li class="button-container center-of-three">
    <button class="default-button" type="button" ng-click="archiveList(list)">
      archive
    </button>
  </li>
  <li class="button-container right-of-three">
    <button class="delete-button" type="button" ng-click="deleteList(list)">
      delete
    </button>
  </li>
</ul>
