<div class="group-mixed">

  <div ng-if="leftAction" class="group-mixed--left">
    <input ng-if="leftActionType === 'checkbox'" type="checkbox" ng-checked="leftActionChecked" swiper-click="leftAction()" ng-class="leftActionClass" icon-checkbox="{{item.uuid}}">
  </div>

  <a href class="group-mixed--middle" swiper-click="itemAction()">
    <span class="text-link" ng-bind="item.title"></span>
  </a>

  <div ng-if="rightAction" class="group-mixed--right">
    <span ng-if="rightIndicatorClass" ng-class="rightIndicatorClass"></span>
  </div>
</div>
