<div class="single-page-container">
  <section class="one-column-grid single-page page" register-element-to-feature="lists" register-element-to-feature-snap="left" ng-init="newList = {};">
    <div class="column">
      <div class="page-content-container">
        <div class="inner-page-content-container" scroll-to swiper-prevent>
          <ul>
            <li ng-repeat="list in lists">
              <a href class="click-to-slide" swiper-click="gotoList(list)">
                <span class="link-title">{{list.title}}</span><span class="icon-arrow-right"></span>
              </a>
            </li>
            <li>
              <form role="form" class="add-element" ng-submit="callAndRefresh(addList, newList)" add-item autocapitalize="none" autocorrect="off">
                <div class="form-group" editable-field-container="disable">
                  <label for="listTitle" class="sr-only">title</label>
                  <input type="text" id="listTitle" class="simple-input" ng-model="newList.title" ng-blur="blurredAddItemElement()" ng-focus="focusedAddItemElement()" editable-field placeholder="add list..."/>
                </div>
              </form>
            </li>
            <li ng-if="lists.length === 0">
              <div class="instruction-text">
                <p class="instruction-text-chapter">lists are <b>collections of</b><br/><b>tasks and notes</b><br/><br/>
                  <span class="instruction-text-chapter-details">(e.g. holiday trip, birthday party,<br/>work, studies etc.)</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
