<div>

  <div ng-if="selectedList" class="group-mixed vertically-centered">
    <a href class="group-mixed--middle" ng-click="listSelected(selectedList)">
      <span class="text-link emphasis" clamp=2>{{::prefix}}{{selectedList.title}}</span>
    </a>

    <div class="group-mixed--right">
      <button type="button" class="btn-clear" ng-click="listCleared(selectedList)"></button>
    </div>
  </div>

  <div ng-if="newList" class="row-vertically-centered with-textarea">
    <textarea ng-model="newList.title" msd-elastic
      ng-click="watchForTitleChange()" ng-keydown="textareaKeyDown($event)" placeholder="{{placeholder}}"
      maxlength="128" autocapitalize="none" autocorrect="off">
    </textarea>
  </div>

  <div class="row-vertically-centered" ng-repeat="list in lists | filter:notSelectedList | orderBy:'title'" ng-click="listSelected(list)">
    <a href>
      <span class="text-link" clamp=2>{{::prefix}}{{list.title}}</span>
    </a>
  </div>

  <div class="row-vertically-centered" ng-repeat="archivedList in archivedLists | filter:notSelectedList" ng-click="listSelected(archivedList)">
    <a href>
      <span class="text-link" ng-bind="archivedList.title" clamp=2></span>
    </a>
  </div>

</div>
