<section ng-init="newList={title:undefined}" ng-controller="ListsController">
  <h3><a href class="page-header" swiper-click="gotoLists()">lists</a></h3>
  <ul class="list-arrow-right">
    <li ng-if="lists && lists.length" ng-class="selected" ng-repeat="list in lists">
      <a class="text-muted click-to-slide" href swiper-click="gotoDetails(list.uuid)">
        <span class="link-title">{{list.title}}</span>
        <span class="icon-arrow-right"></span>
      </a>
    </li>
    <li>
      <form class="swiper-no-swiping add-element" role="form" name="addListForm" ng-submit="addList(newList)" autocapitalize="none" autocorrect="off">
        <div class="form-group" editable-field-container>
          <label class="sr-only" for="listTitle">title</label>
          <input type="text" class="simple-input" id="listTitle" ng-model="newList.title" placeholder="add list..." editable-field></input>
        </div>
      </form>
    </li>
  </ul>
</section>