<div class="single-page-container">
  <section id="lists" class="one-column-grid single-page page" snap-drawer-drag="lists" ng-init="newList = {};">
    <div class="column">
      <div ng-hide="omnibarVisible" class="content-container page-content-container">
        <div class="inner-page-content-container" scroll-to swiper-prevent>
          <section>
            <ul>
              <li ng-repeat="list in lists">
                <a href class="click-to-slide" ng-click="gotoList(list)">
                  <span class="link-title">{{list.title}}</span><span class="icon-arrow-right"></span>
                </a>
              </li>
              <li>
                <form class="add-element" role="form" name="addListForm" ng-submit="callAndRefresh(addList, newList)" autocapitalize="none" autocorrect="off" add-item>
                  <div class="form-group" editable-field-container="disable">
                    <label class="sr-only" for="listTitle">title</label>
                    <input type="text" id="listTitle" class="simple-input" ng-model="newList.title" ng-blur="blurredAddItemElement()" ng-focus="focusedAddItemElement()" placeholder="add list..." editable-field/>
                  </div>
                </form>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
