<section class="container-content">
  <header class="group-symmetrical">
    <a href class="group-symmetrical--right link-navigation" ng-click="hideModal()">
      <span class="text-navigation">cancel</span>
    </a>
  </header>
  <div class="group-instruction">
    <h2 class="group-heading row">mo' dal</h2>
  </div>
</section>

<footer class="container-content--after group-btn">
  <button type="submit" class="btn-action" ng-click="hideModal()">
    <span class="text-btn">fin</span>
  </button>
</footer>
