<div class="container-fluid">

  <!-- TOOLBAR -->
  <header class="modal-toolbar group-symmetrical">
    <a href ng-if="!hideCloseText && !closeText" class="group-symmetrical--right icon-downplayed"
      ng-click="closeModal()">
      <span class="icon-x"></span>
    </a>

    <a href ng-if="!hideCloseText && closeText" class="group-symmetrical--right link-navigation"
      ng-click="closeModal()">
      <span class="text-navigation" ng-bind="closeText"></span>
    </a>
  </header>

  <div class="container-fluid--inner">
    <section class="container-content">

      <div class="group-instruction">

        <!-- HEADING -->
        <h2 class="group-heading shrinked row" ng-class="messageHeading.length > 6 && 'long';">
          <span class="text-heading" ng-bind="messageHeading"></span>
        </h2>

        <!-- CONTENT -->
        <div class="textgroup-ingress first last row" ng-bind="messageIngress"></div>
        <div class="row">
          <pre class="text-preformatted" ng-bind="messageText"></pre>
        </div>
      </div>

    </section>

    <!-- FOOTER -->
    <footer class="container-content--after group-btn">
      <button type="submit" ng-disabled="confirmDisabled" class="btn-action" ng-click="confirmAction()">
        <span class="text-btn" ng-bind="confirmText"></span>
      </button>
    </footer>
  </div>
</div>
