<div class="container-fluid" ng-controller="TagEditorController"
  ng-class="tag.trans.deleted && 'container-disabled'" swiper-prevent>
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">

        <a href class="group-symmetrical--left link-navigation highlighted active" swiper-click="endTagEdit()">
          <span class="text-navigation-back"
          ng-class="getEditorNavigationBackClasses()"
          ng-bind="isTagEdited() && !tag.trans.deleted ? 'save' : 'back'"></span>
        </a>

        <div ng-show="descriptionFocused" ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" data-prefix="{{getPrefix(tag)}}"
              ng-class="{'text-downplayed': !tag.trans.title, 'text-prefix': tag.trans.title}"
              ng-bind="tag.trans.title && tag.trans.title.length ? tag.trans.title : 'new tag'" clamp=2>
            </span>
          </div>
        </div>

        <a href ng-if="!tag.trans.deleted" ng-hide="descriptionFocused" class="group-symmetrical--right" swiper-click="deleteTagInEdit()" >
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="tag.trans.deleted" ng-hide="descriptionFocused" class="group-symmetrical--right link-navigation highlighted active"
          swiper-click="undeleteTagInEdit()">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="descriptionFocused" class="group-symmetrical--right">
          <div class="text-field--label-multi-row">
            <span ng-bind="'descrip' + (columns === 1 ? '-\n' : '') + 'tion'"
              class="text-field--label-bold">
            </span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

      <!-- TITLE -->
      <div ng-hide="descriptionFocused">
        <label for="tagEditorTitlebarTitle" class="text-prefixed--label large"
          ng-bind="tag.trans.tagType === 'context' ? '@' : '#'"></label>
        <div class="text-prefixed--outer">
          <textarea id="tagEditorTitlebarTitle" class="text-heading-primary large text-prefixed"
            ng-model="tag.trans.title" input-model-validator ng-trim="false"
            ng-keydown="tagTitlebarTextKeyDown($event)" msd-elastic editable-field
            editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
            placeholder="enter title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
          </textarea>
        </div>
      </div>

      <!-- DESCRIPTION -->
      <textarea ng-if="drawerAisleInitialized" id="ignoreSnap" ng-model="tag.trans.description"
        input-model-validator ng-trim="false" ng-focus="setDescriptionFocus(true, 'tagEditor')"
        ng-blur="setDescriptionFocus(false, 'tagEditor')" msd-elastic
        placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
      </textarea>

      <div class="row-vertically-centered with-textarea">
        <textarea ng-model="tag.trans.link" input-model-validator ng-trim="false" msd-elastic
          maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>

    </div>
    <footer class="container-content--after editor-footer">
    </footer>
  </div>
</div>
