<div class="container-fluid" ng-controller="TagEditorController"
  ng-class="tag.trans.deleted && 'container-disabled'" swiper-prevent>
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">

        <a href ng-show="showEditorAction('saveBack')"
          class="group-symmetrical--left link-navigation highlighted active" swiper-click="endTagEdit()">
          <span class="text-navigation-back"
          ng-class="getEditorNavigationBackClasses()"
          ng-bind="isTagEdited() && !tag.trans.deleted ? 'save' : 'back'"></span>
        </a>

        <a href ng-if="showEditorAction('saveDone')" class="group-symmetrical--left highlighted">
          <span class="text-edit">done</span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')" ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" data-prefix="{{getPrefix(tag)}}"
              ng-class="{'text-downplayed': !tag.trans.title, 'text-prefix': tag.trans.title}"
              ng-bind="tag.trans.title && tag.trans.title.length ? tag.trans.title : 'new tag'" clamp=2>
            </span>
          </div>
        </div>

        <a href ng-if="showEditorAction('delete', tag)"
           class="group-symmetrical--right" swiper-click="deleteTagInEdit()" >
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="showEditorAction('restore', tag)"
           class="group-symmetrical--right link-navigation highlighted active"
           swiper-click="undeleteTagInEdit()">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="focusedTextProperty === 'description'" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span ng-bind="'descrip' + (columns === 1 ? '-\n' : '') + 'tion'"
              class="text-field--label-bold">
            </span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

      <!-- TITLE -->
      <div ng-show="showEditorProperty('title')">
        <label for="tagEditorTitlebarTitle" class="text-prefixed--label large"
          ng-bind="tag.trans.tagType === 'context' ? '@' : '#'"></label>
        <div class="text-prefixed--outer">
          <textarea id="tagEditorTitlebarTitle" class="text-heading-primary large text-prefixed"
            ng-model="tag.trans.title" input-model-validator ng-trim="false"
            ng-keydown="tagTitlebarTextKeyDown($event)" msd-elastic editable-field
            editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
            placeholder="enter title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
          </textarea>
        </div>
      </div>

      <!-- URL -->
      <div ng-if="drawerAisleInitialized && showEditorProperty('url')">
        <textarea class="text-metadata" ng-model="tag.trans.link" input-model-validator ng-trim="false"
          ng-focus="setTextPropertyFocus('url', true)" ng-blur="setTextPropertyFocus('url', false)"
          ng-disabled="readOnly" msd-elastic
          maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>

      <!-- DESCRIPTION -->
      <textarea ng-if="drawerAisleInitialized && showEditorProperty('description')" id="ignoreSnap"
        ng-model="tag.trans.description" input-model-validator ng-trim="false"
        ng-focus="setTextPropertyFocus('description', true)"
        ng-blur="setTextPropertyFocus('description', false)" msd-elastic
        placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
      </textarea>

    </div>
    <footer class="container-content--after editor-footer">
    </footer>
  </div>
</div>
