<div class="container-fluid" ng-controller="TagEditorController" ng-class="tag.trans.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">
        <a href class="group-symmetrical--left link-navigation highlighted active" ng-click="endTagEdit()">
          <span class="text-navigation-back" ng-bind="isTagEdited() && !tag.deleted ? 'save' : 'back'"></span>
        </a>
        <a href ng-if="!tag.deleted" class="group-symmetrical--right" ng-click="deleteTagInEdit()" >
          <span class="icon-trash"></span>
        </a>
        <a ng-if="tag.deleted" href class="group-symmetrical--right link-navigation highlighted active"
        ng-click="undeleteTagInEdit()"><span class="text-navigation">restore</span></a>
      </div>

      <div class="row-vertically-centered with-textarea">
        <!-- TODO: @ or # symbol! -->
        <textarea ng-model="tag.trans.title" input-model-validator ng-trim="false"
          ng-keydown="tagTitlebarTextKeyDown($event)" msd-elastic
          editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
          dynamic-placeholder="enter {{tag.trans.tagType}} title&#8230;"
          maxlength="128" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>
    </div>
  </header>

  <div class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right">

      <div class="row-vertically-centered with-textarea">
        <textarea ng-model="tag.trans.link" input-model-validator ng-trim="false" msd-elastic
          maxlength="128" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>

      <div class="row-vertically-centered with-textarea">
        <textarea ng-model="tag.trans.description" input-model-validator ng-trim="false" msd-elastic
          placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>

    </div>
    <footer class="container-content--after editor-footer">
    </footer>
  </div>
</div>
