<div ng-if="toasterNotifications" ng-switch on="notification.type" class="container-toaster animate-toaster group-mixed">

  <!-- DELETED -->
  <div class="group-mixed--middle textgroup-toaster" ng-switch-when="deleted">
    <span ng-bind="notification.itemType + ' deleted,'"></span>
    <a href ng-click="closeNotificationAndCall(notification, notification.item, notification.undoFn)">
      <span class="text-highlighted">undo</span><span>?</span>
    </a>
  </div>

  <!-- FYI -->
  <div class="group-mixed--middle" ng-switch-when="fyi">
    <span class="textgroup-toaster" ng-bind="notification.text"></span>
  </div>

  <!-- INBOX -->
  <div class="group-mixed--middle textgroup-toaster" ng-switch-when="inbox">
    <a href ng-click="closeNotificationAndCall(notification, notification.item, notification.openFn)">
      <span class="text-highlighted">item</span>
    </a>
    <span>saved to</span>
    <a href ng-click="closeNotificationAndCall(notification, notification.item, notification.gotoFn)">
      <span class="text-highlighted">inbox</span>
    </a>
  </div>

  <a href class="group-mixed--right" ng-click="closeNotificationAndCall(notification)">
    <span class="icon-x"></span>
  </a>
</div>
