{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="{{ url_for('troikas') }}">Home</a>
{% endblock %} 

{% block body %}
{% call macros.heading() %} {% endcall %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span4 tg-group">
      <ul class="nav nav-list" data-spy="scroll" data-target=".nav">
        <li class="nav-header">Contents</li>
        <li><a href="#general">What is Troika Game?</a></li>
        <li><a href="#use">How does Troika Game work?</a></li>
      </ul>
    </div>
    <div class="span8">
      <section id="general" class="tg-anchor">
        <div class="page-header">
          <h3>What is Troika Game?</h3>
        </div>
        <p>Do you know what the person next to you wants to teach? If you knew, 
           would you be able to arrange a session where the person could pass their 
           knowledge? And if that happened, would you meet the person alone or could 
           the knowledge be useful to more people? The biggest question to answer 
           is the question of taking the first step. These are the questions that are 
           preventing us from learning small things from each other: how to mend a 
           bicycle, how to use a spreadsheet program, how to juggle etc. Small things 
           that could make life easier and take very little time.</p>
        <p>Troika is a method and a tool to answer these questions and overcome the 
           simple - but demanding - obstacles in peer-to-peer learning and knowledge 
           creation. Troika offers a platform where people can arrange a learning session
           and a way to communicate this session forward to other people interested in the 
           matter. The purpose of Troika is make these things possible with the minimum
           level of organization. A troika will happen and will be considered a great
           success when three people gather.</p>
        <p>Integral part of Troika is the recognition of effort. This happens through small 
           and non-intrusive elements of game: badges and rewards. Hence the name Troika 
           the Game!</p>
      </section>
      <section id="use" class="tg-anchor">
        <div class="page-header">
          <h3>How does Troika Game work?</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
        <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. </p>
        <p>Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. </p>
        <p>Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. </p>
      </section>
    </div>
  </div>
</div>

{% endblock %}