{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">Home</a>
{% endblock %} 
{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span8 offset4">  
      <h2>Troika</h2>
      {% if troikaerrors %}
      {% for troikaerror in troikaerrors %}
      <div class="alert alert-error tg-message">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Error:</strong> {{ troikaerror }}
      </div>
      {% endfor %}
      {% endif %}
      <form id="tg-troika" action="" method="POST">
        {% if access == 'create' %}
            When you fill up this form you will become a
            creator for a new pending troika. The troika will
            become active once two other participants have
            confirmed their attendance and you have agreed
            on time and place of the troika.
        {% endif %}  
        <dl>
          <dt>{{ troikaform.hidden_tag() }}</dt>
          <dt>{{ troikaform.title.label }} {{ troikaform.title(class="tg-text-medium") }}</dt>
          <dt>{{ troikaform.description.label }} {{ troikaform.description(class="tg-text-large") }}</dt>
          <dt>{{ troikaform.address.label }} {{ troikaform.address(class="tg-text-medium") }}</dt>
          <dt>{{ troikaform.address_addendum.label }} {{ troikaform.address_addendum(class="tg-text-medium") }}</dt>
          <dt>{{ troikaform.start_date.label }} {{ troikaform.start_date(class="tg-date") }}</dt>
          <dt>{{ troikaform.start_time_hours.label }} {{ troikaform.start_time_hours(class="tg-integer") }} {{ troikaform.start_time_minutes(class="tg-integer") }}</dt>
          <dt>{{ troikaform.duration.label }} {{ troikaform.duration(class="tg-integer") }}</dt>
          <dt>{{ troikaform.max_participants.label }} {{ troikaform.max_participants(class="tg-integer") }}</dt>
          {% if access == 'create' %}
          <dt>{{ troikaform.creator_is_teacher.label }} {{ troikaform.creator_is_teacher(class="tg-checkbox") }}</dt>
          <h6 class="tg-input-description">Check this box if you will lead this troika. If you need someone 
		else to lead, leave this box unchecked.</h6>
          <dt>
            <input type="submit" name="action" value="Create Troika">
          </dt>
          {% else %}  
          <dt>
            <input type="submit" name="action" value="Save Troika">
            {% if access == 'delete' %}
            <input type="submit" name="action" value="Delete Troika">
            {% endif %}
          </dt>
          {% endif %}  
        </dl>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static',filename='bootstrap/ext/datepicker/bootstrap-datepicker.js') }}"></script>
<script type=text/javascript>
  $('#troika-start_date').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1
});
</script>
{% endblock %}
