{% macro heading(caller) %}
<div class="tg-heading">
  <img class="tg-logo" src="{{ url_for('static', filename='img/logo.png') }}"></img>
  <p>Do you know what you could learn from the person next to you?</p>
</div>
{% endmacro %}

{% macro login_form(caller, form) %}
<form id="tg-login" action="{{ url_for('login') }}" method="POST">
  <dl>
    <dt>{{ form.hidden_tag() }}</dt>
    <dt>{{ form.email.label }} {{ form.email() }}</dt>
    <dt>{{ form.password.label }} {{ form.password() }}</dt>
    <dt>
      <input type="submit" value="Login">
    </dt>
  </dl>
</form>
{% endmacro %}

{% macro handle_description(caller) %}
<h6 class="tg-input-description">Alias to use instead of your real name. Set an alias only 
        if you do not want your real name to be public on this web site.</h6>
{% endmacro %}

{% macro register_form(caller, form) %}
<form id="tg-register" action="{{ url_for('login') }}" method="POST">
  <dl>
    <dt>{{ form.hidden_tag() }}</dt>
    <dt>{{ form.first_name.label }} {{ form.first_name() }}</dt>
    <dt>{{ form.last_name.label }} {{ form.last_name() }}</dt>
    <dt>{{ form.alias.label }} {{ form.alias() }}
        {% call handle_description() %} {% endcall %}
    </dt>
    <dt>{{ form.email.label }} {{ form.email() }}</dt>
    <dt>{{ form.password.label }} {{ form.password() }}</dt>
    <dt>{{ form.confirm.label }} {{ form.confirm() }}</dt>
    <dt>
      <input type="submit" value="Register">
    </dt>
  </dl>
</form>
{% endmacro %}

{% macro user_form(caller, form) %}
<form id="tg-user" action="{{ url_for('user') }}" method="POST">
  <dl>
    <dt>{{ form.hidden_tag() }}</dt>
    <dt>{{ form.first_name.label }} {{ form.first_name() }}</dt>
    <dt>{{ form.last_name.label }} {{ form.last_name() }}</dt>
    <dt>{{ form.alias.label }} {{ form.alias() }}</dt>
        {% call handle_description() %} {% endcall %}
    <dt>{{ form.email.label }} {{ form.email() }}</dt>
    <dt>{{ form.new_password.label }} {{ form.new_password() }}</dt>
    <dt>{{ form.new_confirm.label }} {{ form.new_confirm() }}</dt>
    <dt>{{ form.password.label }} {{ form.password() }}</dt>
    <dt>
      <input type="submit" value="Update">
    </dt>
  </dl>
</form>
{% endmacro %}
