{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a class="navbar-link" href="about">About</a>
{% endblock %}
{% block body %}

{% call macros.heading() %} {% endcall %}
{% if session.logged_in %}
<div class="pagination-centered">
  <a href="{{ url_for('create_troika') }}"><h4>Create a new troika event</h4></a>
</div>
{% endif %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="accordion" id="tg-active-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a href="#tg-active-collapse" data-toggle="collapse" data-parent="#tg-active-accordion">
              <h3>Active Troikas</h3>
              </a>
              <h6>Upcoming troikas you can join:</h6> 
            </div>
          </div>
          <div id="tg-active-collapse" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="tg-troika-headers">
                {% for active_entry in active_entries %}
                  <li class="tg-troika-header">
                    <a href="{{ url_for('troika', troika_id=active_entry.id) }}">
                    {{ active_entry.title }}</a>
                    <br/><span class="tg-start-date">
                    {{ active_entry.start_time }}
                    </span>
                  </li>
                {% else %}
                  <li><em>Unbelievable. No entries.</em></li> 
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="accordion" id="tg-pending-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a data-toggle="collapse" data-parent="#tg-pending-accordion" href="#tg-pending-collapse">
              <h3>Pending Troikas</h3>
              </a>
              <h6>Suggested troikas not yet activated. It might be
                  because they don't yet have the minimum of
                  three participants or the troika details have not
                  been agreed on, so check if you can help!</h6> 
            </div>
          </div>
          <div id="tg-pending-collapse" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="tg-troika-headers">
                {% for pending_entry in pending_entries %}
                  <li class="tg-troika-header"><a
                    href="{{ url_for('troika', troika_id=pending_entry.id) }}">
                      {{ pending_entry.title }} </a>
                    {% if pending_entry.start_time != None %}
                    <br/><span class="tg-start-date">
                    {{ pending_entry.start_time }}
                    </span>
                    {% endif %}
                  </li> 
                {% else %}
                  <li><em>Unbelievable. No entries here so far</em></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="accordion" id="tg-completed-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a data-toggle="collapse" data-parent="#tg-completed-accordion" href="#tg-completed-collapse">
                <h3>Completed Troikas</h3>
              </a>
              <h6>Succesfully held troikas.</h6> 
            </div>
          </div>
          <div id="tg-completed-collapse" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="tg-troika-headers">
                {% for completed_entry in completed_entries %}
                  <li class="tg-troika-header"><a href="{{ url_for('troika', troika_id=completed_entry.id) }}">
                    {{ completed_entry.title }} </a>
                    <br/><span class="tg-start-date">
                    {{ completed_entry.start_time }}
                    </span>
                  </li>
                {% else %}
                <li><em>Unbelievable. No entries here so far</em></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}