<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <div class="row em-mainlinks">
      <ul class="nav navbar-nav nav-justified">
        <li id="em-taskslink" ng-hide="mainlinksFilter">
          <a class="em-feature" href ng-click="gotoTasks()">
            <span class="em-icon">t</span>tasks
          </a>
        </li>
        <li id="em-noteslink" ng-hide="mainlinksFilter">
          <a href class="em-feature-disabled"><span id="em-letter-n" class="em-icon">n</span>notes</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
