<nav class="{{feature}}-footer" role="navigation">
  <ul class="horizontally-justified">
    <li id="inbox-link" class="justified-element">
      <a href ng-click="gotoInbox()">
        <span id="inbox-icon" class="icon">i</span>
      </a>
    </li>
    
    <li id="home-link" class="justified-element">
      <a href ng-click="gotoHome()">
        <span id="home-icon" class="icon">h</span>
      </a>
    </li>
    
    <li id="tasks-link" class="justified-element">
      <a href ng-click="gotoTasks()">
        <span id="tasks-icon" class="icon">t</span>
      </a>
    </li>
    
    <li id="notes-link" class="justified-element">
      <a class="disabled" href>
        <span id="notes-icon" class="icon">n</span>
      </a>
    </li>
    <li id="stretch"></li>
  </ul>
</nav>
