<div>
  <div ng-transclude></div>
  <ul>
    <li ng-repeat="item in items | filter:newItem" ng-model="activeItem">
      <div>

        <span>{{item.title}}</span>

        <button type="button" class="editItem" ng-click="editNewTag()">
          tag
        </button>

        <button type="button"class="editItem">
          note
        </button>

        <button type="button" class="editItem" ng-click="setActiveItem(item)">
          task
        </button>

      </div>
      <div ng-show="showEditNewTag" new-tag></div>

    </li>
  </ul>
</div>
