<div id="em-feature-header-tasks" class="row em-feature-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <button id="em-triangle" type="button" class="em-simple-input" ng-click="collapseNavbar()">
        &#x25B2;
      </button>

      <div class="row" ng-show="collapse">
        <ul>
          <li>
            <a href="#/my" ng-click="setActiveUuid(user)">home</a>
          </li>
          <li>
            <span>collectives</span>
            <ul>
              <li ng-repeat="(key, value) in collectives">
                <div>
                  <a class="text-muted" ng-click="setActiveUuid(key, true)">{{value[0]}}</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="#/my/account">account</a>
          </li>
          <li>
            <a href="" ng-click="logout()">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
