<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="collapseNavbar()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="navbar-collapse" ng-show="collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="my" ng-click="setActiveUuid(user)">home</a>
      </li>
      <li>
        <span>collectives</span>

        <ul>

          <li ng-repeat="(key, value) in collectives">

            <div>
              <a class="text-muted" ng-click="setActiveUuid(key, true)">{{value[0]}}</a>
            </div>

          </li>

        </ul>
      </li>
      <li>
        <a href="my/account">account</a>
      </li>
      <li>
        <a href="logout">logout</a>
      </li>
    </ul>

  </div>
</nav>
