<div ng-controller="NavigationController">

  <nav class="navbar" role="navigation">
    <div class="navbar-left">
      <button type="button" class="btn btn-default navbar-btn" ng-click="swipeRight()">
        &larr;
      </button>
    </div>

    <div class="navbar-header">
      <h1>{{pageTitle}} <small>{{subtitle}}</small></h1>
    </div>
    <div class="navbar-right">
      <button type="button" class="btn btn-default navbar-btn" ng-click="swipeLeft()">
        &rarr;
      </button>
    </div>
  </nav>
</div>