<form name="addTask" class="newItem">
  <fieldset>

    <fieldset>
      <input id="input-id" class="formContent" type="text" ng-model="newTask.title" autofocus="autofocus" placeholder="title...">
    </fieldset>

    <fieldset>
      <input type="date" class="formContent" ng-model="newTask.due">
    </fieldset>

    <fieldset>
      <textarea class="formContent" ng-model="newTask.description" placeholder="description..."></textarea>
    </fieldset>

    <fieldset>
      <button class="formAction" type="submit" ng-click="addNewTask()">
        Add
      </button>
      <button class="formAction" type="submit" ng-click="cancelNewTask()">
        Cancel
      </button>
    </fieldset>

  </fieldset>
</form>
