<div class="container-fluid note-editor" ng-class="note.trans.deleted && 'container-disabled'"
  ng-controller="NoteEditorController">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top height-large--bottom" swiper-prevent>

        <a href ng-hide="isEndNoteEditActionHidden()"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endNoteEdit()">
          <span class="text-navigation-back"
            ng-class="(!isFirstSlide('noteEditor') || mode === 'search') && 'not-swipeable'"
            ng-bind="isAutoSavingPrevented() ? (isNoteEdited() && !note.trans.deleted ? 'save' : 'back') : noteStatus">
          </span>
        </a>

        <a href ng-if="isPickerOpen()" ng-click="propertyEditDone()" class="group-symmetrical--left highlighted"
          editable-field-container="auto">
          <span class="text-edit" ng-bind="isPropertyEdited() ? 'save' : 'done'"></span>
        </a>

        <div ng-hide="!isNotePropertyInEdit() && isFirstSlide('noteEditor')" id="noteEditorTitlebarTitle"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="scroll-then-toggle group-symmetrical--middle width-large primary">
          <a href class="link" swiper-click="gotoTitle()">
            <div>
              <span class="text-heading-primary" ng-class="!note.trans.title && 'text-downplayed'"
                ng-bind="note.trans.title && note.trans.title.length ? note.trans.title : 'new note'" clamp=2>
              </span>
            </div>
          </a>
        </div>

        <div ng-if="showEditorType" class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">note</span>
        </div>
        <a href ng-if="!note.trans.deleted && !isOnboarding('notes')" ng-hide="isNotePropertyInEdit()"
          class="group-symmetrical--right" swiper-click="deleteNoteInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="note.trans.deleted && !isOnboarding('notes')" ng-hide="isNotePropertyInEdit()"
          class="group-symmetrical--right link-navigation highlighted active" swiper-click="undeleteNote(note)">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="contentFocused || listPickerOpen " class="group-symmetrical--right">
          <span class="text-field--label-bold" ng-bind="contentFocused ? 'content' : 'list'"></span>
        </div>
        <div ng-if="keywordsPickerOpen" class="group-symmetrical--right">
          <div class="text-field--label-multi-row">
            <span ng-bind="'key' + (columns === 1 ? '-\n' : '') + 'words'" class="text-field--label-bold"></span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="noteEditor" swiper-type="main"
    expected-slides="2" swiper-container-toggle-drawer-sliding-events="hasSwipeToClose('note')"
    swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper" ng-class="isOnboarding('notes') && 'swiper-no-swiping'">
      <div class="swiper-slide" swiper-slide="noteEditor/basic" slide-index="0">
        <div ng-style="{'padding-bottom': isNotePropertyInEdit() ? 0 : EDITOR_FOOTER_HEIGHT}"
          class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true"
          scroll-then-toggle="noteEditorTitlebarTitle" scroll-then-toggle-top="noteEditorTitleInput"
          scroll-then-toggle-resizeable="noteEditorTitleInput"
          scroll-then-toggle-reset="registerGotoTitleCallback">

          <!-- NOTE TITLE -->
          <div ng-hide="isNotePropertyInEdit()" class="row-top-parent">
            <div class="group-mixed large">
              <div class="group-mixed--middle">
                <textarea id="noteEditorTitleInput" class="text-heading-primary large"
                  ng-model="note.trans.title" input-model-validator ng-trim="false"
                  ng-change="inputChanged()" ng-keydown="noteTitlebarTextKeyDown($event)" editable-field
                  editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                  msd-elastic placeholder="enter title&#8230;" maxlength="128" autocapitalize="none"
                  autocorrect="off">
                </textarea>
              </div>

              <div class="group-mixed--right" ng-if="!isOnboarding('notes')">
                <a href class="link-navigation" swiper-click="clickFavorite()">
                  <span class="icon-star large" ng-class="!note.trans.favorited && 'inactive'"></span>
                </a>
              </div>
            </div>

            <div ng-if="isOnboarding('notes')" class="row">
              <span ng-show="!noteTitlebarHasText()" class="text-details">
                e.g. reading suggestions, budget meeting minutes, summer plans
              </span>
              <span ng-show="noteTitlebarHasText()" class="text-details">
                when done, hit return
              </span>
            </div>

          </div>

          <!-- LIST -->
          <div ng-if="(note.trans.list && !note.trans.list.trans.deleted) && (features.lists.getStatus('active') !== 'disabled')"
          ng-hide="isNotePropertyInEdit()" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" swiper-click="openListPicker()">
              <span class="text-field--title" ng-bind="note.trans.list.trans.title"></span>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">list</span>
            </div>
          </div>

          <!-- KEYWORDS -->
          <div ng-if="hasActiveKeywords(note)" ng-hide="isNotePropertyInEdit()"
            class="group-mixed">
            <a href class="group-mixed--middle link-search-result" swiper-click="openKeywordsPicker()">
              <span class="text-field--title" ng-bind="getKeywordsListString(note)"></span>
            </a>
            <div class="group-mixed--right">
              <span class="text-field--label">keywords</span>
            </div>
          </div>

          <!-- COLLAPSIBLE-->
          <div ng-if="collapsibleOpen" ng-hide="isNotePropertyInEdit()">

            <!-- LIST -->
            <div ng-if="(!note.trans.list || note.trans.list.trans.deleted) && (features.lists.getStatus('active') !== 'disabled')"
                 class="group-mixed">
              <a href class="group-mixed--middle link-search-result downplayed" swiper-click="openListPicker()">
                <span class="text-field--title">select list&#8230;</span>
              </a>
            </div>

            <!-- KEYWORDS -->
            <div ng-if="!hasActiveKeywords(note)" class="group-mixed">
              <a href class="group-mixed--middle link-search-result downplayed"
                swiper-click="openKeywordsPicker()">
                <span class="text-field--title">add keywords&#8230;</span>
              </a>
            </div>
          </div>
          <div ng-if="!isOnboarding('notes') && hasUnsetCollapsableProperty()" ng-hide="isNotePropertyInEdit()"
            class="row collapsible">
            <a href class="downplayed" swiper-click="toggleCollapsible()">
              <span ng-class="collapsibleOpen ? 'text-expand-up' : 'text-expand-down'"
                ng-bind="collapsibleOpen ? 'less' : 'more'"></span>
            </a>
          </div>

          <!-- CONTENT -->
          <textarea ng-if="drawerAisleInitialized" ng-hide="listPickerOpen || keywordsPickerOpen"
            id="ignoreSnap"
            ng-class="{'disable-full-height': isOnboarding('notes'), 'input-separate': !contentFocused}"
            ng-model="note.trans.content" input-model-validator ng-trim="false" msd-elastic editable-field
            editable-field-register-callbacks="registerNoteContentInputCallbacks(focus, blur)"
            editable-field-focus="setNoteContentFocus(true)" editable-field-blur="setNoteContentFocus(false)"
            placeholder="enter content&#8230;" maxlength="1000000" autocapitalize="none" autocorrect="off">
          </textarea>

          <div ng-if="isOnboarding('notes')" ng-show="note.trans.content.length" class="row">
            <span class="text-details">
              when done, save your note by clicking 'save' in the top-left corner or swipe left
            </span>
          </div>

          <!-- LIST PICKER -->
          <div ng-if="listPickerOpen" class="swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="getListsArray('all')" list-picker-new-item="getNewList()"
              list-picker-save="closeListPickerAndSetListToItem(note, list, autoSaveNote)"
              list-picker-clear="closeListPickerAndClearListFromItem(note, list, autoSaveNote)"
              list-picker-get-selected="note.trans.list"
              list-picker-register-save-new-list-callback="registerPropertyEditDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterPropertyEditDoneCallback()"
              list-picker-register-is-edited-callback="registerIsPropertyEdited(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterIsPropertyEdited()">
            </div>
          </div>

          <!-- KEYWORDS PICKER -->
          <div ng-if="keywordsPickerOpen" class="swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeKeywordsPicker()" data-snap-ignore="true">

            <div class="row-top-parent">

              <form role="form" class="row-form" ng-submit="addNewKeywordToNote(note, newKeyword)"
                autocapitalize="none" autocorrect="off">
                <input type="text" ng-model="newKeyword.trans.title" placeholder="add keyword&#8230;"
                  maxlength="128">
              </form>
              <span class="text-details row" ng-if="newKeyword.trans.title"
                ng-bind="'hit return or press save to create #' + newKeyword.trans.title" clamp=2>
              </span>

              <div ng-if="noteHasKeywords(note)" class="keywords-container row">
                <div class="keyword-wrapper"
                  ng-repeat="keyword in getActiveKeywords(note) | orderBy:'trans.title' track by keyword.trans.uuid">
                  <a href class="keyword highlighted" swiper-click="removeKeywordFromNote(note, keyword)">
                    <span class="text-keyword" ng-bind="'#' + keyword.trans.title" clamp=1></span>
                  </a>
                </div>
              </div>

              <div ng-if="keywords" class="keywords-container row">
                <div class="keyword-wrapper"
                  ng-repeat="keyword in keywords
                  | keywordsFilter:{name:'byOtherThanNoteKeywords', item: note}
                  | filter:newKeyword.trans.title
                  | orderBy:'trans.title' track by keyword.trans.uuid">
                  <a href class="keyword link" swiper-click="addKeywordToNote(note, keyword)">
                    <span class="text-keyword" ng-bind="'#' + keyword.trans.title" clamp=1></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <footer ng-hide="isNotePropertyInEdit()" class="container-content--after editor-footer">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href swiper-click="swipeToAdvanced('noteEditor')" ng-hide="isFooterNavigationHidden()"
              class="group-symmetrical--right link-navigation">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="noteEditor/advanced" slide-index="1"
        ng-init="advancedSlideInfo = {}">
        <div ng-style="{'padding-bottom': advancedSlideInfo.footerHeight}" class="container-content">

          <!-- URL -->
          <div class="row-vertically-centered with-textarea row-top-parent">
            <textarea ng-model="note.trans.link" input-model-validator ng-trim="false"
              ng-change="inputChanged()" msd-elastic
              maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>

          <div ng-if="note.trans.uuid" class="group-mixed"
            style="color: #919191; font-size: 13px; line-height: 22px;">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">{{::note.trans.created | date:'EEE d MMMM y' | lowercase}}</span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">created</span>
            </div>
          </div>

          <div ng-if="note.trans.uuid && note.trans.created !== note.trans.modified"
            class="group-mixed" style="color: #919191; font-size: 13px; line-height: 22px;">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">{{note.trans.modified | date:'EEE d MMMM y' | lowercase}}</span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">modified</span>
            </div>
          </div>

        </div>

        <footer ng-hide="isNotePropertyInEdit()" class="container-content--after editor-footer"
          editor-footer="advancedSlideInfo">

          <div class="group-symmetrical">
            <a href class="group-symmetrical--left" swiper-click="convertToTask(note)">
              <span style="font-size: 13px;" class="text-convert">task</span>
            </a>
            <a href style="text-align:center;" class="group-symmetrical--middle"
              ng-class="(features.lists.getStatus('active') === 'disabled') && 'invisible'"
              swiper-click="convertToList(note)">
              <span style="font-size: 13px;" class="text-convert">list</span>
            </a>
            <div class="group-symmetrical--right">
              <span style="font-weight: 300;" class="text-search-type">convert</span>
            </div>
          </div>

          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href swiper-click="swipeToBasic('noteEditor')" ng-hide="isFooterNavigationHidden()"
              class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
