<div class="container-fluid--inner" list-container drawer-handle="left" swiper-prevent>
  <section class="container-content" list="allNotes" list-recent list-open="openEditor('note', getNewNote(), 'new')">

    <div ng-show="isContentVisible('notes')">
      <h2 class="group-heading justified row">all notes</h2>
      <div class="animate-list-item-leave tall"
        ng-repeat="note in listInfos.array = (getFullArray()) | orderBy:'trans.modified':true
        | limitTo: currentListLimitTo track by note.trans.uuid"
        list-item ng-include="urlBase + 'app/notes/noteListItem.html'"></div>
      <div list-prompt="notes" list-prompt-infos="listInfos" list-prompt-hide="[onboardingInProgress]"></div>
    </div>

    <!-- ONBOARDING -->
    <div ng-if="getOnboardingPhase('notes') === 1" class="group-instruction">
      <h2 class="group-heading instruction long row">what do you want to
        <span class="highlighted">remember</span>?
      </h2>
      <div class="textgroup-ingress row">add your first <span class="text-highlighted">note</span>
        by clicking the plus sign below
      </div>
    </div>

    <div ng-if="getOnboardingPhase('notes') === 2" class="group-instruction">
      <h2 class="group-heading instruction row">
        <span class="highlighted">note</span> created!
      </h2>
      <div class="textgroup-ingress row">click on the title to view and edit your note</div>
    </div>
  </section>
  <footer ng-if="isContentVisible('notes') || getOnboardingPhase('notes') === 1"
          class="container-content--after" list-footer="getFeatureMap('notes')"
          ng-class="getOnboardingPhase('notes') === 1 && 'onboarding'"></footer>
  <footer ng-if="getOnboardingPhase('notes') === 2"
    class="container-content--after group-btn onboarding">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('notes')">
      <span class="text-btn">got it</span>
    </button>
  </footer>

</div>
