<div class="container-fluid--inner" list-container drawer-handle="left">
  <section class="container-content" list="allNotes" list-order="top" list-recent
  list-open="openEditor('note', {transientProperties: {favorited: false, itemType: 'note'}})">
    <h2 class="group-heading justified row">recent</h2>

    <div class="animate-list-item-leave tall"
    ng-repeat="note in getList() | orderBy:'modified':true | limitTo: currentListLimitTo"
    list-item="getList().length" ng-include="'static/app/notes/noteListItem.html'"></div>
    <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('notes')"></footer>
</div>
