<div class="swiper-no-swiping" data-snap-ignore="true">
  <div ng-include="'static/app/notes/noteCoreFields.html'"></div>
  <div class="item-actions">
    <ul class="button-row">
      <li class="button-container left-of-two">
        <button type="button" class="normal-button" ng-click="closeAndCall(note, noteQuickEditDone)">
          done
        </button>
      </li>
      <li class="button-container right-of-two">
        <button type="button" class="delete-button" ng-click="closeAndCall(note, deleteNote)">
          delete
        </button>
      </li>
    </ul>
  </div>
</div>
