<div class="container-fluid--inner" list-container drawer-handle="left">
  <section class="container-content" list="allNotes" list-recent
    list-open="openEditor('note', {trans: {favorited: false, itemType: 'note'}})"
    ng-init="setListOnboarding('notes', listOnboarding)">
    <div ng-show="isOnboarded('notes')">
      <h2 class="group-heading justified row">all notes</h2>
      <div class="animate-list-item-leave tall"
        ng-repeat="note in listInfos.array = (getFullArray()) | orderBy:'modified':true
        | limitTo: currentListLimitTo" list-item ng-include="urlBase + 'app/notes/noteListItem.html'"></div>
      <div list-prompt="notes" list-prompt-infos="listInfos" list-prompt-hide="[onboardingInProgress]"></div>
    </div>

    <!-- ONBOARDING -->
    <div ng-if="!isOnboarded('notes') && (checkListOnboardingLock('notes', undefined) ||
      checkListOnboardingLock('notes', 'on'))" class="group-instruction">
      <h2 class="group-heading instruction long row">what do you want to
        <span class="highlighted">remember</span>?
      </h2>
      <div class="textgroup-ingress row">add your first <span class="text-highlighted">note</span>
        by clicking the plus sign below
      </div>
    </div>
    <div ng-if="!isOnboarded('notes') && checkListOnboardingLock('notes', 'off')" class="group-instruction">
      <h2 class="group-heading instruction row">
        <span class="highlighted">note</span> created!
      </h2>
      <div class="textgroup-ingress row">make your way to
      <a href class="highlighted" ng-click="changeFeature('lists', undefined, true)">
        <span>lists</span>
      </a> by using the menu</div>
    </div>

  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('notes')"></footer>
</div>
