<div class="container-fluid" ng-controller="NoteEditorController" ng-class="note.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large">
        <a href class="group-symmetrical--left link-navigation highlighted active" ng-click="endNoteEdit()" >
          <span class="text-navigation-back" ng-class="!isFirstSlide() && 'not-swipeable'" ng-bind="titlebarHasText() && !note.deleted ? 'save' : 'back'"></span>
        </a>
        <div ng-hide="onboardingInProgress" ng-if="mode === 'fullScreen'" class="group-symmetrical--middle width-large animate-fade-in-out">
          <a href ng-class="link-navigation" ng-click="toggleNoteEditMode()">
            <span class="text-navigation downplayed">note settings</span>
          </a>
        </div>
        <a ng-if="!note.deleted && !onboardingInProgress" class="group-symmetrical--right" href ng-click="deleteNoteInEdit()"><span class="text-trash"></span></a>
        <a ng-if="note.deleted && !onboardingInProgress" class="group-symmetrical--right link-navigation highlighted active" href ng-click="undeleteNote(note)"><span class="text-navigation">restore</span></a>
      </div>

      <!-- NOTE TITLE -->
      <div ng-hide="hideNoteTitle && isOnboarded('notes')" class="row-vertically-centered with-textarea">
        <textarea ng-hide="isTitleClamped()" type="text" class="text-heading-primary" ng-model="titlebar.text" ng-keydown="noteTitlebarTextKeyDown($event)"
        editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
        msd-elastic dynamic-placeholder="enter note title&#8230;" maxlength="128" required autocapitalize="none" autocorrect="off"
        ng-focus="noteTitleFocused()"></textarea>

        <div ng-if="isTitleClamped()">
          <span class="text-heading-primary" ng-class="{'text-downplayed': !titlebar.text}" ng-bind="titlebar.text ? titlebar.text : 'enter note title&#8230;'" clamp=2></span>
        </div>
      </div>

      <div ng-if="!isOnboarded('notes') && checkListOnboardingLock('notes', 'on')" class="group-instruction-input">
        <div ng-if="!titlebar.text || titlebar.text.length === 0" class="text-details row">e.g. reading suggestions, budget meeting minutes, summer plans</div>
         <div ng-if="titlebar.text.length && !hideNoteTitle" class="text-details row">when done, hit return</div>
       </div>
     </div>
   </header>

   <div class="swiper-container container-fluid--inner" swiper-container="noteEditor" swiper-type="main" expected-slides="2" swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper" ng-class="onboardingInProgress && 'swiper-no-swiping'">
      <div class="swiper-slide" swiper-slide="noteEditor/basic" slide-index="0">
        <div ng-style="{'padding-bottom': mode === 'fullScreen' ? 0 : EDITOR_FOOTER_HEIGHT}"
        class="container-content" drawer-override-aisle="right" swiper-prevent>

          <!-- LIST PICKER -->
          <div ng-if="listPickerOpen" ng-hide="onboardingInProgress" class="swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-scrollable="true" editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="lists" list-picker-new-item="{}" list-picker-archived-lists="archivedLists" list-picker-save="closeListPickerAndSetListToItem(note, list)" list-picker-clear="closeListPickerAndClearListFromItem(note, list)" list-picker-get-selected="getListFromUUID(note.transientProperties.list)"></div>
          </div>

          <div ng-if="!listPickerOpen">
            <div ng-hide="mode === 'fullScreen'" class="row-vertically-centered">
              <a href ng-class="{downplayed: !note.transientProperties.list}" ng-click="openListPicker()">
                <span class="text-link" ng-bind="note.transientProperties.list ? getListTitleFromUUID(note.transientProperties.list) : 'select list\u2026'"></span>
              </a>
            </div>

            <!-- URL -->
            <div ng-hide="mode === 'fullScreen'" class="row-vertically-centered with-textarea">
              <textarea type="text" ng-model="note.link" msd-elastic maxlength="128" placeholder="enter url&#8230;">
              </textarea>
            </div>

            <!-- CONTENT -->
            <div class="row-vertically-centered with-textarea">
              <textarea ng-class="(!isOnboarded('notes') && checkListOnboardingLock('notes', 'on') && !hideNoteTitle) && 'input-separate'" ng-model="note.content" msd-elastic placeholder="enter content&#8230;"
              ng-focus="noteContentFocused()"
              editable-field editable-field-register-callbacks="registerNoteContentInputCallbacks(focus, blur)"></textarea>
            </div>

            <div ng-if="!isOnboarded('notes') && checkListOnboardingLock('notes', 'on')" class="group-instruction-input">
              <div ng-if="note.content.length" class="text-details row">when done, save your note by
                clicking 'save' in the top-left corner or swipe left
              </div>
            </div>
          </div>
        </div>

        <footer ng-hide="isNoteFooterHidden()" class="container-content--after editor-footer animate-fade-in-out">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href ng-hide="onboardingInProgress" ng-click="clickFavorite()" class="group-symmetrical--left">
              <span class="text-star" ng-class="!note.transientProperties.favorited && 'inactive'"></span>
            </a>
            <a href ng-click="swipeToAdvanced()" ng-hide="isFooterNavigationHidden()" class="group-symmetrical--right link-navigation">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="noteEditor/advanced" slide-index="1" ng-init="advancedSlideInfo = {}">
        <div ng-style="{'padding-bottom': advancedSlideInfo.footerHeight}" class="container-content"
        swiper-prevent>

          <!-- KEYWORDS -->
          <form role="form" class="row-form" autocapitalize="none" autocorrect="off" ng-submit="addNewKeywordToNote(note, newKeyword)">
            <input type="text" ng-model="newKeyword.title" placeholder="add keyword&#8230;" maxlength="128">
          </form>
          <span class="text-details row" ng-if="newKeyword.title" class="row" clamp=2>hit enter to create #{{newKeyword.title}}</span>

          <div ng-if="noteHasKeywords(note)" class="keywords-container row">
            <div class="keyword-wrapper" ng-repeat="keyword in note.transientProperties.keywords | orderBy:'title'">
              <a href class="keyword highlighted" ng-click="removeKeywordFromNote(note, keyword)">
                <span class="text-keyword" ng-bind="'#' + keyword.title" clamp=1></span>
              </a>
            </div>
          </div>

          <div ng-if="keywords" class="keywords-container row">
            <div class="keyword-wrapper" ng-repeat="keyword in keywords | keywordsFilter:{name:'byOtherThanNoteKeywords', item: note} | filter:newKeyword.title | orderBy:'title'">
              <a href class="keyword" ng-click="addKeywordToNote(note, keyword)">
                <span class="text-keyword" ng-bind="'#' + keyword.title" clamp=1></span>
              </a>
            </div>
          </div>

        </div>
        <footer ng-hide="isNoteFooterHidden()" class="container-content--after editor-footer" editor-footer="advancedSlideInfo">

          <div class="table">
            <div class="table-row">
              <a href class="table-cell" ng-click="convertToTask(note)">
                <span class="text-convert">task</span>
              </a>
              <a href class="table-cell" ng-click="convertToList(note)">
                <span class="text-convert">list</span>
              </a>
            </div>
          </div>

          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href ng-click="swipeToBasic()" ng-hide="isFooterNavigationHidden()" class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
