<div class="container-fluid" ng-controller="NoteEditorController" ng-class="note.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large">
        <a href class="group-symmetrical--left link-navigation highlighted active" ng-click="endNoteEdit()" >
          <span class="text-navigation-back" ng-class="!isFirstSlide() && 'not-swipeable'" ng-bind="titlebarHasText() && !note.deleted ? 'save' : 'back'"></span>
        </a>
        <div ng-if="mode === 'fullScreen'" class="group-symmetrical--middle width-large">
          <a href ng-class="link-navigation" ng-click="toggleNoteEditMode()">
            <span class="text-navigation downplayed">note settings</span>
          </a>
        </div>
        <a ng-if="!note.deleted" class="group-symmetrical--right" href ng-click="deleteNoteInEdit()"><span class="text-trash"></span></a>
        <a ng-if="note.deleted" class="group-symmetrical--right link-navigation highlighted active" href ng-click="undeleteNote(note)"><span class="text-navigation">restore</span></a>
      </div>

      <form ng-hide="hideNoteTitle" role="form" class="group-mixed" autocapitalize="none" autocorrect="off">
        <div class="group-mixed--middle">
          <textarea type="text" ng-model="titlebar.text" ng-keydown="noteTitlebarTextKeyDown($event)"
          editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
          msd-elastic dynamic-placeholder="enter note title&#8230;" maxlength="128" required
          ng-focus="noteTitleFocused()"></textarea>
        </div>
      </form>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" ng-style="{'padding-bottom': mode === 'fullScreen' ? 0 : EDITOR_FOOTER_HEIGHT}" swiper-container="noteEditor" swiper-type="main" expected-slides="2" swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="noteEditor/basic" slide-index="0">
        <div class="container-content" drawer-override-aisle="right">

          <div ng-if="listPickerOpen" class="swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-scrollable="true" editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="lists" list-picker-archived-lists="archivedLists" list-picker-save="closeListPickerAndSetListToItem(note, list)" list-picker-clear="closeListPickerAndClearListFromItem(note, list)" list-picker-get-selected="getListFromUUID(note.transientProperties.list)"></div>
          </div>

          <div ng-if="!listPickerOpen">
            <div ng-hide="mode === 'fullScreen'" class="row-form" ng-click="openListPicker()">
              <span class="text-link" ng-bind="note.transientProperties.list ? getListTitleFromUUID(note.transientProperties.list) : 'select list...'"></span>
            </div>

            <textarea class="row" ng-model="note.content" msd-elastic placeholder="enter content&#8230;"
            ng-focus="noteContentFocused()"
            editable-field editable-field-register-callbacks="registerNoteContentInputCallbacks(focus, blur)"></textarea>
          </div>
        </div>

        <footer ng-hide="mode === 'fullScreen'" class="container-content--after" ng-style="{height: EDITOR_FOOTER_HEIGHT, bottom: -EDITOR_FOOTER_HEIGHT}">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href ng-click="clickFavorite()" class="group-symmetrical--left">
              <span class="text-star" ng-class="!note.transientProperties.favorited && 'inactive'"></span>
            </a>
            <a href ng-click="swipeToAdvanced()" class="group-symmetrical--right link-navigation">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="noteEditor/advanced" slide-index="1">
        <div class="container-content">
          <select ng-show="keywords.length" ng-model="note.transientProperties.keywords" ng-options="keyword.uuid as keyword.title for keyword in keywords">
            <option value="">select keywords&#8230;</option>
          </select>
          <input type="text" ng-model="note.link" placeholder="url&#8230;">
        </div>
        <footer class="container-content--after" ng-style="{height: EDITOR_FOOTER_HEIGHT, bottom: -EDITOR_FOOTER_HEIGHT}">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href ng-click="swipeToBasic()" class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
