<section class="two-column-grid page">
  <div class="column">
    <div ng-hide="omnibarVisible && isActiveSlide('home')" class="page-content-container">
      <div class="inner-page-content-container" scroll-to swiper-prevent>
        <div infinite-scroll="addMoreRecent()" infinite-scroll-parent accordion>
          <h3>recent</h3>
          <button class="add-button" ng-click="addNote({})">add note...</button>
          <div ng-repeat="note in allNotes | orderBy:'modified':true | limitTo: getRecentNotesLimit()" ng-init="newNote = {}">
            <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete>
              <div ng-if="note.content" class="teaser">
                <a href ng-bind="getNoteContentTeaser(note)" ng-click="editNote(note)"></a>
              </div>
            </div>
            <div ng-if="isOpen(note)" editable-field-container="auto">
              <div ng-include="'static/app/notes/noteActions.html'"></div>
            </div>
            <div ng-if="!note.content" class="teaser-empty"></div>
          </div>
          <div ng-if="notes.length === 0">
            <div class="instruction-text">
              <p class="instruction-text-chapter">notes are things you<br/>want to <b>remember</b><br/><br/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
