<section id="notes-unsorted" class="two-column-grid page" ng-controller="NotesController">
  <div class="column">
    <div class="page-heading swiper-no-swiping" ng-init="heading = 'unsorted'; omnibarFeature = 'notes'" ng-include="'static/app/main/omnibar.html'"></div>
    <div ng-hide="omnibarVisible" class="content-container page-content-container no-heading-content-container">
      <div class="inner-page-content-container">
        <div>
          <div class="inner-page-content-container" accordion>
            <div ng-if="showContent('notes')" ng-repeat="note in notes | itemsFilter:{name:'unsorted'}" ng-init="newNote = {}">
              <div accordion-title="note" edit-item="editNote(note)" edit-item-title="editNoteTitle(note)" has-complete="false" toggle-complete>
                <div ng-if="note.content" class="teaser">
                  <a href id="note-teaser" ng-bind="getNoteContentTeaser(note)" ng-click="editNote(note)"></a>
                </div>
              </div>
              <div ng-if="isOpen(note)" class="accordion-body">
                <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
              </div>
              <div ng-if="!note.content" class="teaser-empty"></div>
            </div>
            <div ng-include="'static/app/notes/addNote.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
