<section class="two-column-grid page">
  <div class="column">
    <div class="page-content-container">
      <div class="inner-page-content-container" scroll-to swiper-prevent>
        <div ng-if="archivedList" accordion>
          <div accordion-title="archivedList" edit-item="editList(archivedList)" edit-item-inline="true" edit-item-fields="editListFields(archivedList)" bold-title="true" has-complete="false" toggle-complete></div>
          <div ng-if="isOpen(archivedList)" editable-field-container="auto">
            <div>
              <div item-core-fields="list" item-core-fields-details="listDetails"></div>
              <ul class="button-row swiper-no-swiping" data-snap-ignore="true">
                <li class="button-container left-of-two">
                  <button type="button" class="normal-button" ng-click="closeAndCall(archivedList, listQuickEditDone)">
                    done
                  </button>
                </li>
                <li class="button-container right-of-two">
                  <button type="button" class="delete-button" ng-click="closeAndCall(archivedList, deleteListAndShowArchivedLists)">
                    delete
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="(filteredArchivedTasks && filteredArchivedTasks.length)" class="tasks-notes-container">
            <h4>tasks</h4>
            <div ng-repeat="task in filteredArchivedTasks = (archivedTasks | itemsFilter:{name:'byListUUID', filterBy: archivedList.uuid} | orderBy:'created')">
              <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
              <div ng-if="isOpen(task)" editable-field-container="auto">
                <div item-core-fields="task" item-core-fields-details="itemDetails"></div>
                <div ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
              </div>
            </div>
          </div>
          <div ng-show="filteredArchivedNotes && filteredArchivedNotes.length" class="tasks-notes-container">
            <h4>notes</h4>
            <div ng-repeat="note in filteredArchivedNotes = (archivedNotes | itemsFilter:{name:'byListUUID', filterBy: archivedList.uuid} | orderBy:'created')">
              <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete>
                <div ng-if="note.content" class="excerpt">
                  <a href ng-bind="getNoteContentTeaser(note)" ng-click="editNote(note)"></a>
                </div>
                <div ng-if="isOpen(note)" editable-field-container="auto">
                  <div ng-include="'static/app/notes/noteActions.html'"></div>
                </div>
                <div ng-if="!note.content" class="excerpt-empty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
