<section id="archive-completed" class="two-column-grid page">
  <div class="column">
    <div class="page-heading swiper-no-swiping" ng-init="heading = 'completed'; omnibarFeature = 'archive'" ng-include="'static/app/main/omnibar.html'"></div>
    <div ng-if="!isCompletedLoading" ng-hide="omnibarVisible && isActiveSlide({{'completed'}})" class="content-container page-content-container no-heading-content-container" >
      <div class="inner-page-content-container" swiper-prevent>
        <div infinite-scroll="addMoreCompleted()" infinite-scroll-parent scroll-to accordion>
          <div ng-if="showContent('archive')" ng-repeat="task in fullCompletedTasks | limitTo: getCompletedTasksLimit()">
            <div accordion-title="task" edit-item="editTask(task)" edit-item-title="editTaskTitle(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
            <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
              <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="isCompletedLoading" class="loading-animation" loading-animation></div>
  </div>
</div>
<aside class="column">
  TODO
</aside>
</section>
