<section id="archive-completed" class="two-column-grid page">
  <div class="column">
    <div ng-if="!isCompletedLoading" ng-hide="omnibarVisible && isActiveSlide({{'completed'}})" class="content-container page-content-container no-heading-content-container" >
      <div class="inner-page-content-container" swiper-prevent>
        <div infinite-scroll="addMoreCompleted()" infinite-scroll-parent scroll-to accordion>
          <div ng-if="showContent('archive')" ng-repeat="task in fullCompletedTasks | limitTo: getCompletedTasksLimit()">
            <div ng-if="showToday(task, $first)" ng-class="getFirstShown() !== 'today' && 'subheading'"><h3>today</h3></div>
            <div ng-if="showYesterday(task, $first)" ng-class="getFirstShown() !== 'yesterday' && 'subheading'"><h3>yesterday</h3></div>
            <div ng-if="showThisWeek(task, $first)" ng-class="getFirstShown() !== 'thisWeek' && 'subheading'"><h3>this week</h3></div>
            <div ng-if="showThisMonth(task, $first)" ng-class="getFirstShown() !== 'thisMonth' && 'subheading'"><h3>this month</h3></div>
            <div ng-if="showLastMonth(task, $first)" ng-class="getFirstShown() !== 'lastMonth' && 'subheading'"><h3>last month</h3></div>
            <div ng-if="showThisYear(task, $first)" ng-class="getFirstShown() !== 'thisYear' && 'subheading'"><h3>this year</h3></div>
            <div ng-if="showLastYear(task, $first)" ng-class="getFirstShown() !== 'lastYear' && 'subheading'"><h3>last year or before</h3></div>

            <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
            <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
              <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="isCompletedLoading" class="loading-animation" loading-animation></div>
  </div>
</div>
<aside class="column">
  TODO
</aside>
</section>
