<section id="archive-details" class="two-column-grid page">
  <div class="column">
    <div ng-if="!isArchivedLoading" ng-hide="omnibarVisible && isActiveSlide({{'details'}})" class="content-container page-content-container no-heading-content-container">
      <div class="inner-page-content-container">
        <div class="swiper-container vertical-slides" swiper-container="archive/details" swiper-type="page" expected-slides="archivedLists.length">
          <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="list in archivedLists | orderBy:'archived':true" swiper-slide="archive/details/{{list.uuid}}" slide-index="$index">
              <div class="inner-slide-content-container">
                <section class="list" scroll-to>
                  <div>
                    <div class="inner-page-content-container" accordion>
                      <div accordion-title="list" edit-item="editList(list)" edit-item-inline="true" edit-item-fields="editListFields(list)" bold-title="true" has-complete="false" toggle-complete></div>
                      <div ng-if="isOpen(list)" class="accordion-body" editable-field-container="auto">
                        <div class="accordion-inner">
                          <div item-core-fields="list" item-core-fields-details="listDetails"></div>
                          <div ng-include="'static/app/base/listActions.html'"></div>
                        </div>
                      </div>
                      <div ng-show="(filteredArchivedTasks && filteredArchivedTasks.length)">
                        <h4>tasks</h4>
                        <div ng-repeat="task in filteredArchivedTasks = (archivedTasks | itemsFilter:{name:'byListUUID', filterBy: list.uuid} | orderBy:'created')">
                          <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
                          <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
                            <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
                          </div>
                        </div>
                      </div>
                      <div ng-show="filteredArchivedNotes && filteredArchivedNotes.length">
                        <h4>notes</h4>
                        <div ng-repeat="note in filteredArchivedNotes = (archivedNotes | itemsFilter:{name:'byListUUID', filterBy: list.uuid} | orderBy:'created')">
                          <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete>
                            <div ng-if="note.content" class="teaser">
                              <a href id="note-teaser" ng-bind="getNoteContentTeaser(note)" ng-click="editNote(note)"></a>
                            </div>
                            <div ng-if="isOpen(note)" class="accordion-body" editable-field-container="auto">
                              <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
                            </div>
                            <div ng-if="!note.content" class="teaser-empty"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="isArchivedLoading" class="loading-animation" loading-animation></div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
