<section id="archive-overview" class="two-column-grid page">
  <div class="column">
    <div class="page-heading swiper-no-swiping" ng-init="heading = 'overview'; omnibarFeature = 'archive'" ng-include="'static/app/main/omnibar.html'"></div>
    <div ng-hide="omnibarVisible && isActiveSlide({{'overview'}})" class="content-container page-content-container no-heading-content-container">
      <div class="inner-page-content-container">
        <section>
          <h3><a href class="page-header" ng-click="gotoLists()">archived lists</a></h3>
          <ul class="list-arrow-right">
            <li ng-class="selected" ng-repeat="list in archivedLists">
              <a class="text-muted click-to-slide" href ng-click="gotoDetails(list.uuid)">
                <span class="link-title">{{list.title}}</span>
                <span class="icon-arrow-right"></span>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
