<nav id="{{feature}}-footer" class="swiper-no-swiping" role="navigation" ng-controller="NavbarController">
  <ul class="horizontally-justified">
    <li id="home-link" class="justified-element">
      <a href ng-click="gotoHome()" ng-class="isActiveSlide('home') && 'active-slide'">
        <span ng-bind="homeHeading"></span>
      </a>
    </li>

    <li id="menu-link" class="justified-element">
      <a href ng-click="gotoOverview()" ng-class="isActiveSlide('overview') && 'active-slide'">
        <span>overview</span>
      </a>
    </li>

    <li id="lists-link" class="justified-element">
      <a href ng-click="gotoDetails()" ng-class="isActiveSlide('details') && 'active-slide'">
        <span ng-bind="feature"></span>
      </a>
    </li>
    <li id="stretch"></li>
  </ul>
</nav>
