<nav role="navigation" class="swiper-no-swiping" ng-controller="FooterController">

  <ul ng-if="hasVisibleToasterNotification()" class="horizontally-justified toaster-notification" ng-mouseover="pauseToasterTimer()" ng-mouseleave="resumeToasterTimer()">
    <li class="justified-element left-slide-link">
      <span>saved to </span>
      <a href ng-click="gotoToasterLocationAndCall(toasterNotification.location, hideToasterNotification)">{{toasterNotification.location}}</a>
    </li>

    <li class="justified-element right-slide-link">
      <a href class="toaster-x-mark" ng-click="hideToasterNotification()">&#x2716</a>
    </li>
    <li id="stretch"></li>
  </ul>

  <ul ng-if="hasFeatureFooter()" class="horizontally-justified feature-footer">
    <li class="justified-element left-slide-link">
      <a href ng-class="isActiveSlide(getLeftSlideName()) && 'active-slide'" ng-click="gotoLeftSlide()">
        <span ng-bind="getLeftSlideHeading()"></span>
      </a>
    </li>

    <li ng-if="hasCenterSlide()" class="justified-element">
      <a href ng-class="isActiveSlide(getCenterSlideName()) && 'active-slide'" ng-click="gotoCenterSlide()">
        <span ng-bind="getCenterSlideHeading()"></span>
      </a>
    </li>

    <li class="justified-element right-slide-link">
      <a href ng-class="isActiveSlide(getRightSlideName()) && 'active-slide'" ng-click="gotoRightSlide()">
        <span ng-bind="getRightSlideHeading()"></span>
      </a>
    </li>
    <li id="stretch"></li>
  </ul>
</nav>
