<section id="home" class="one-column-grid page" ng-controller="HomeController">
  <div class="column">
    <header ng-hide="omniBarActive" id="main-header">
      <nav class="swiper-no-swiping" role="navigation">
        <div id="menu-icon">
          <button id="menu-button" type="button" ng-click="toggleMenu()" alt="menu">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div id="menu-content" ng-if="menuActive">
          <ul>
            <li>
              <a href ng-click="setMyActive()" class="active">home</a>
            </li>
            <li ng-show="useCollectives()">
              <span>collectives</span>
              <ul>
                <li ng-repeat="(key, value) in collectives">
                  <div ng-if="value[2] === false">
                    <a class="collective" href ng-click="setCollectiveActive(key)">{{value[0]}}</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#/my/account">account</a>
            </li>
            <li>
              <a href="" ng-click="logout()">logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main-content-container" class="content-container">
      <div ng-hide="omniBarActive" class="banner">
        <span class="icon-logo_only"></span>
      </div>
      <div class="content">
        <div class="swiper-no-swiping">
          <form id="omnibar" role="form" name="addOmniItem" ng-submit="addNewItem(omnibarText)">
            <div class="form-group">
              <div class="left-input-wrapper">
                <label class="sr-only" for="omniItem">omniItem</label>
                <input type="text" ng-focus="omniBarFocus(true)" class="simple-input form-control" id="omniItem" ng-model="omnibarText.title" placeholder="store / recall..." required>
              </div>
              <div class="right-button-wrapper">
                <button id="omnibarPlus" class="button" type="button" ng-click="addNewItem(omnibarText)"><span class="icon-plus"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div ng-if="items.length === 0 && tasks.length === 0">
          <div class="onboarding-bubble">
            type here what you<br>want to remember<br><br>
            we'll take care of the rest
          </div>
        </div>
        <div ng-if="omnibarText.title" id="filtered-items-container">          
          <div class="filtered-items" ng-show="filteredItems.length" ng-controller="ItemsController">
            <h3><a href ng-click="gotoInbox()">inbox</a></h3>
            <div class="inner-page-content-container" accordion>
              <div ng-repeat="item in filteredItems = (items | filter:{title:omnibarText.title})">
                <div accordion-title="item" edit-item="editItem(item)" edit-item-title="editItemTitle(item)" toggle-complete="false"></div>
                <div class="accordion-body" ng-if="isOpen(item)">
                  <div ng-include="'static/app/main/itemActions.html'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="filtered-items" ng-show="filteredTasks.length" ng-controller="TasksController">
            <h3><a href ng-click="gotoTasks()">tasks</a></h3>
            <div class="inner-page-content-container" accordion>
              <div ng-repeat="task in filteredTasks = (tasks | filter:{title:omnibarText.title})">
                <div accordion-title="task" edit-item="editTask(task)" edit-item-title="editTaskTitle(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
                <div class="accordion-body" ng-if="isOpen(task)">
                  <div class="accordion-inner" ng-include="'static/app/tasks/taskActions.html'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>
      </div>
    </div>
  </div>
</section>
