<section id="home" class="one-column-grid page" ng-controller="HomeController">
  <div class="column">
    <header ng-hide="omniBarActive" id="main-header">
      <nav role="navigation" ng-controller="NavbarController">
        <div id="menu-icon">
          <button id="menu-button" type="button" ng-click="collapseNavbar()" alt="menu">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div id="menu-content" ng-show="collapse">
          <ul>
            <li>
              <a href ng-click="setMyActive()">home</a>
            </li>
            <li ng-show="useCollectives()">
              <span>collectives</span>
              <ul>
                <li ng-repeat="(key, value) in collectives">
                  <div ng-if="value[2] === false">
                    <a class="collective" href ng-click="setCollectiveActive(key)">{{value[0]}}</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a href="#/my/account">account</a>
            </li>
            <li>
              <a href="" ng-click="logout()">logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main-content-container" class="content-container">
      <div ng-hide="omniBarActive" class="banner">
        <span class="icon-logo_only" />
      </div>
      <div class="content">
        <div class="swiper-no-swiping">
          <form id="omnibar" role="form" name="addOmniItem" ng-submit="addNewItem(newItem)">
            <div class="form-group">
              <div id="omni-input-wrapper">
                <label class="sr-only" for="omniItem">omniItem</label>
                <input type="search" class="simple-input form-control" id="omniItem" ng-model="newItem.title" ng-focus="omniBarFocus(true)" ng-blur="omniBarFocus(false)" placeholder="store / recall" required>
              </div>
              <div id="plus-wrapper">
                <button class="button" type="button" ng-disabled="!newItem.title" ng-click="addNewItem(newItem)"><span class="icon-plus" />
                </button>
              </div>
            </div>
          </form>                
        </div>
        <div id="filtered-items-container">
          <div class="filtered-items" filtered-items-list="items" items-filter="newItem.title"></div>
          <div class="filtered-items" filtered-tasks-list="tasks" tasks-filter="newItem.title"></div>
        </div>
        <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>
      </div>
    </div>
  </div>
</section>
