<div class="container-fluid--inner" list-container drawer-handle="left">
  <section ng-show="isOnboarded('inbox')" class="container-content" list="items">
    <h2 class="group-heading justified row" ng-bind="items.length + ' items'"></h2>

    <div list-item-add="getNewItem()" list-item-add-save="saveItem(newItem)">
      <form role="form" class="group-mixed with-checkbox swiper-no-swiping"
        ng-submit="callAndExit(saveItem, newItem)" data-snap-ignore="true" editable-field-container
        editable-field-container-clicked-elsewhere="clickedElsewhere()"
        autocapitalize="none" autocorrect="off">
        <div class="group-mixed--middle">
          <textarea ng-model="newItem.trans.title" msd-elastic ng-keydown="textareaKeyDown($event)"
            editable-field editable-field-register-callbacks="registerAddItemCallbacks(focus, blur)"
            placeholder="add item&#8230;" maxlength="128">
          </textarea>
        </div>
        <div class="group-mixed--right">
          <a href editable-field-deactivate ng-click="openEditor('item', newItem)">
            <span class="text-navigation-forward"></span>
          </a>
        </div>
      </form>
    </div>

    <div class="animate-list-item-leave row-vertically-centered"
      ng-repeat="item in listInfos.array = (getFullArray()) | orderBy:'trans.created':true
      | limitTo: currentListLimitTo track by item.trans.uuid" list-item>
      <a href class="link-list-item" swiper-click="openItemEditor(item)">
        <span class="text-link" clamp=2 ng-bind="item.trans.title"></span>
      </a>
    </div>
    <div list-prompt list-prompt-infos="listInfos"
      list-prompt-hide="[listItemAddActive, onboardingInProgress]"></div>
  </section>
  <footer ng-show="isOnboarded('inbox')" class="container-content--after" list-footer="getFeatureMap('inbox')"></footer>

  <!-- ONBOARDING -->
  <section ng-if="!isOnboarded('inbox')" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">never lose an
        <span class="highlighted">idea</span>
      </h2>
      <div class="textgroup-ingress row">use the
        <span class="text-highlighted">inbox</span> to store ideas and tasks as they pop into your head
      </div>
      <div class="textgroup-ingress last row">add items by hitting the logo that's always in the top-right corner</div>
    </div>
  </section>
  <footer ng-if="!isOnboarded('inbox')" class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('inbox')">
      <span class="text-btn">got it</span>
    </button>
  </footer>

</div>
