<div ng-switch="itemType" ng-controller="ItemsController">
  <div class="item-actions" ng-switch-default>
    <ul class="button-row">
      <li class="button-container left-of-three border-right">
        <button class="normal-button inactive-button" type="button" ng-disabled="true">
          <span class="button-text">note</span>
        </button>
      </li>
      <li class="button-container center-of-three">
        <button class="enabled-button" type="button" ng-click="itemToTask(item)">
          <span class="button-text">task</span>
        </button>
      </li>
      <li class="button-container right-of-three">
        <button class="delete-button" type="button" ng-click="deleteItem(item)">
          <span class="button-text">delete</span>
        </button>
      </li>
    </ul>
  </div>

  <div ng-switch-when="task" ng-controller="TasksController">
    <div class="form-group">
      <label class="sr-only" for="taskParent">parent</label>
      <select class="simple-input swiper-no-swiping" id="taskParent" ng-model="task.relationships.parent" ng-options="list.uuid as list.title for list in lists">
        <option value="">select list...</option>
      </select>
    </div>
    <div class="form-group" ng-if="contexts.length">
      <label class="sr-only" for="taskContext">context</label>
      <select class="simple-input swiper-no-swiping" id="taskContext" ng-model="task.relationships.context" ng-options="context.uuid as context.title for context in contexts">
        <option value="">select context...</option>
      </select>
    </div>

    <div class="item-actions">
      <button class="wide-button normal-button" type="button" ng-click="taskEditDone(task)">
        <span class="button-text">done</span>
      </button>
    </div>
  </div>

</div>
