<div class="container-fluid" ng-controller="ItemEditorController" ng-class="item.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large">
        <a href class="group-symmetrical--left link-navigation highlighted" ng-click="endItemEdit()">
          <span class="text-navigation-back" ng-bind="itemTitlebarHasText() && !item.deleted ? 'save' : 'back'"></span>
        </a>
        <a ng-if="!item.deleted" href class="group-symmetrical--right" ng-click="deleteItemInEdit()" >
          <span class="icon-trash"></span>
        </a>
        <a ng-if="item.deleted" href class="group-symmetrical--right link-navigation highlighted active"
          ng-click="undeleteItem(item)"><span class="text-navigation">restore</span></a>
      </div>

      <div class="row-vertically-centered with-textarea">
        <textarea ng-model="item.trans.title" ng-keydown="itemTitlebarTextKeyDown($event)" editable-field
          editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
          msd-elastic dynamic-placeholder="enter item title&#8230;" maxlength="128"
          autocapitalize="none" autocorrect="off">
        </textarea>
      </div>
    </div>
  </header>

  <div ng-style="{'padding-bottom': EDITOR_FOOTER_HEIGHT}" class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right">
      <div class="row-vertically-centered with-textarea">
        <textarea ng-model="item.trans.description" msd-elastic placeholder="enter description&#8230;"
          maxlength="1024" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>
    </div>
    <footer class="container-content--after editor-footer">
      <div class="group-symmetrical">
        <a href class="group-symmetrical--left link" ng-click="convertToTask(item)">
          <span class="text-convert">task</span>
        </a>
        <div class="group-symmetrical--middle width-large">
          <a href class="link" ng-click="convertToNote(item)">
            <span class="text-convert">note</span>
          </a>
        </div>
        <a href class="group-symmetrical--right link" ng-click="convertToList(item)">
          <span class="text-convert">list</span>
        </a>
      </div>
    </footer>
  </div>
</div>
