<div ng-switch="itemType">
  <div class="item-actions" ng-switch-default>
    <ul class="button-row">
      <li class="button-container left-of-four">
        <button class="default-button" type="button" ng-click="itemToTask(item)">
          <span class="button-text">task</span>
        </button>
      </li>
      <li class="button-container center-of-four">
        <button class="default-button" type="button" ng-click="itemToNote(item)">
          <span class="button-text">note</span>
        </button>
      </li>
      <li class="button-container center-of-four">
        <button class="default-button" type="button" ng-click="itemToList(item)">
          <span class="button-text">list</span>
        </button>
      </li>
      <li class="button-container right-of-four">
        <button class="delete-button" type="button" ng-click="deleteItem(item)">
          <span class="button-text">delete</span>
        </button>
      </li>
    </ul>
  </div>

  <div ng-switch-when="task">
    <div ng-include="'static/app/tasks/taskCoreFields.html'"></div>
    <div class="item-actions">
      <button class="wide-button normal-button" type="button" ng-click="closeAndCall(task, taskEditDone)">
        <span class="button-text">done</span>
      </button>
    </div>
  </div>

  <div ng-switch-when="note">
    <div ng-include="'static/app/notes/noteCoreFields.html'"></div>
    <div class="item-actions">
      <button class="wide-button normal-button" type="button" ng-click="closeAndCall(note, noteEditDone)">
        <span class="button-text">done</span>
      </button>
    </div>
  </div>

</div>
