<section class="two-column-grid page">
  <div class="column">
    <div class="page-content-container">
      <h3>properties</h3>
      <div editable-field-container>
        <div class="form-group">
          <label for="listTitle" class="sr-only">title</label>
          <textarea type="text" id="listTitle" class="simple-input swiper-no-swiping" ng-model="list.title" ng-keypress="evaluateKeyPress($event)" required msd-elastic editable-field placeholder="title..." maxlength="128"/></textarea>
        </div>
        <div class="form-group">
          <label for="listLink" class="sr-only">url</label>
          <input type="text" id="listLink" class="simple-input" ng-model="list.link" editable-field placeholder="url...">
        </div>
        <div class="form-group">
          <label for="listDescription" class="sr-only">description</label>
          <textarea id="listDescription" class="simple-input" ng-model="list.description" msd-elastic editable-field placeholder="description..." maxlength="1024"></textarea>
        </div>

        <ul class="button-row swiper-no-swiping" data-snap-ignore="true">
          <li class="button-container left-of-three">
            <button type="button" class="normal-button" ng-click="saveListAndMoveToLists(list)">
              save
            </button>
          </li>
          <li class="button-container center-of-three">
            <button type="button" class="default-button" ng-click="archiveListAndMoveToLists(list)">
              archive
            </button>
          </li>
          <li class="button-container right-of-three">
            <button type="button" class="delete-button" ng-click="deleteListAndMoveToLists(list)">
              delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
