<section id="list-notes" class="two-column-grid page">
  <div class="column">
    <div ng-hide="omnibarVisible" class="content-container page-content-container">
      <div class="inner-page-content-container" scroll-to swiper-prevent>
        <div accordion>
          <h3>notes</h3>
          <div ng-repeat="note in notes | itemsFilter:{name:'byListUUID', filterBy: list.uuid}">
            <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete>
              <div ng-if="note.content" class="teaser">
                <a href id="note-teaser" ng-bind="getNoteContentTeaser(note)" ng-click="editNote(note)"></a>
              </div>
            </div>
            <div ng-if="isOpen(note)" class="accordion-body" editable-field-container="auto">
              <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
            </div>
            <div ng-if="!note.content" class="teaser-empty"></div>
          </div>
          <button class="add-button" ng-click="addNote(newNote)">add note...</button>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
