<section id="list-properties" class="two-column-grid page">
  <div class="column">
    <div ng-hide="omnibarVisible && isActiveSlide('properties')" class="page-content-container">
      <h3>properties</h3>
      <div editable-field-container>
        <div class="form-group">
          <label class="sr-only" for="listTitle">title</label>
          <textarea id="listTitle" type="text" ng-keypress="evaluateKeyPress($event)" class="simple-input swiper-no-swiping" ng-model="list.title" placeholder="title..." maxlength="128" required msd-elastic editable-field /></textarea>
        </div>
        <div class="form-group">
          <label class="sr-only" for="listLink">url</label>
          <input type="text" id="listLink" class="simple-input" ng-model="list.link" placeholder="url..." editable-field>
        </div>
        <div class="form-group">
          <label class="sr-only" for="listDescription">description</label>
          <textarea id="listDescription" class="simple-input" ng-model="list.description" placeholder="description..." maxlength="1024" msd-elastic editable-field></textarea>
        </div>

        <ul class="button-row swiper-no-swiping" data-snap-ignore="true">
          <li class="button-container left-of-three">
            <button class="normal-button" type="button" ng-click="saveListAndMoveToLists(list)">
              save
            </button>
          </li>
          <li class="button-container center-of-three">
            <button class="default-button" type="button" ng-click="archiveListAndMoveToLists(list)">
              archive
            </button>
          </li>
          <li class="button-container right-of-three">
            <button class="delete-button" type="button" ng-click="deleteListAndMoveToLists(list)">
              delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
