<nav role="navigation" data-tpl="mainHeader">
  <div id="menu-icon">
    <button id="menu-button" type="button" ng-click="collapseNavbar()" alt="menu">
      <span class="icon-menu"></span>
    </button>
  </div>
  <div id="menu-content" ng-show="collapse">
    <ul>
      <li>
        <a href ng-click="setMyActive()">home</a>
      </li>
      <li ng-show="useCollectives()">
        <span>collectives</span>
        <ul>
          <li ng-repeat="(key, value) in collectives">
            <div ng-if="value[2] === false">
              <a class="collective" href ng-click="setCollectiveActive(key)">{{value[0]}}</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href="#/my/account">account</a>
      </li>
      <li>
        <a href="" ng-click="logout()">logout</a>
      </li>
    </ul>
  </div>
</nav>

