<div class="container-main" ng-controller="MainController" ng-class="[isEditorVisible() ? 'editor-visible' : 'editor-hidden', isMenuVisible() ? 'menu-visible' : 'menu-hidden']">
  <div ng-include="'static/app/main/menu.html'" include-replace></div>
  <div ng-include="'static/app/main/editor.html'" include-replace></div>
  <div drawer-aisle class="container-drawer-aisle">
    <div class="container-master" vertical-resize="master">
      <div class="container-fluid" ng-class="getFooterVisibilityClass()">
        <div ng-include="'static/app/main/toolbar.html'" include-replace></div>
        <div ng-if="isFeatureLoaded('user')" ng-include="'static/app/user/userSlides.html'" include-replace></div>
        <div ng-if="isFeatureLoaded('focus')" ng-include="'static/app/focus/focusSlides.html'" include-replace></div>
        <div ng-if="isFeatureActive('inbox')" class="container-fluid--inner" ng-include="'static/app/main/inbox.html'"></div>
        <div ng-if="isFeatureLoaded('tasks')" ng-include="'static/app/tasks/tasksSlides.html'" include-replace></div>
        <div ng-if="isFeatureActive('notes')" class="container-fluid--inner" ng-include="'static/app/notes/notesRecent.html'"></div>
        <div ng-if="isFeatureLoaded('lists')" ng-include="'static/app/lists/listsSlides.html'" include-replace></div>
        <div ng-if="isFeatureLoaded('list')" ng-include="'static/app/lists/listSlides.html'" include-replace></div>
        <div ng-if="isFeatureLoaded('admin')" ng-include="'static/app/admin/admin.html'" include-replace></div>
      </div>
      <div toaster="primary"></div>
    </div>
  </div>

</div>
