<div class="container-menu" ng-controller="MenuController" drawer="left">
  <div id="menu-content" class="swiper-no-swiping">
    <ul>
      <li class="account-link">
        <a href ng-class="getFeatureClass('user')" ng-click="gotoFeature('user')" ng-bind="getActiveOwnerName()"></a>
      </li>
      <li>
        <a href class="feature-link" ng-class="getFeatureClass('focus')" ng-click="gotoFeature('focus')">focus</a>
      </li>
      <li>
        <a href class="feature-link" ng-class="getFeatureClass('inbox')" ng-click="gotoFeature('inbox')">inbox</a>
      </li>
      <li>
        <a href class="feature-link" ng-class="getFeatureClass('tasks')" ng-click="gotoFeature('tasks')">tasks</a>
      </li>
      <li>
        <a href class="feature-link" ng-class="getFeatureClass('notes')" ng-click="gotoFeature('notes')">notes</a>
      </li>
      <li>
        <div class="lists-heading-container">
          <a href class="lists-link" ng-class="getFeatureClass('lists')" ng-click="gotoFeature('lists')">lists</a>
        </div>
        <ul ng-if="lists.length > 0">
          <li class="list" ng-repeat="list in lists" ng-class="$last && 'list-last'">
            <a href class="list-link" ng-class="getListClass(list)" ng-click="gotoFeature('list', list)" ng-bind="getListTitleText(list)"></a>
          </li>
        </ul>
      </li>
      <li ng-if="isAdmin()">
        <a href ng-class="getFeatureClass('admin')" ng-click="gotoFeature('admin')">admin</a>
      </li>
      <li class="menu-last">
        <a href ng-class="getFeatureClass('trash')" ng-click="gotoFeature('trash')">trash</a>
      </li>
    </ul>
  </div>
</div>
