<div class="container-menu swiper-no-swiping" ng-controller="MenuController" drawer="left">
  <div class="container-menu--top">

    <a href ng-if="!onboardingInProgress" class="link-menu row" ng-click="gotoFeature('user')"
      ng-class="{'highlighted': isFeatureActive('user')}">
      <span class="text-navigation-menu-small" clamp=1 ng-bind="getActiveDisplayName()"></span>
    </a>

    <a href ng-if="!onboardingInProgress" class="link-menu separate row" ng-click="gotoFeature('focus')"
      ng-class="{'highlighted': isFeatureActive('focus')}">
      <span class="text-navigation-menu">focus</span>
    </a>
    <a href ng-if="!onboardingInProgress" class="link-menu row" ng-click="gotoFeature('inbox')"
      ng-class="{'highlighted': isFeatureActive('inbox')}">
      <span class="text-navigation-menu">inbox</span>
    </a>
    <a href class="link-menu row" ng-click="gotoFeature('tasks')"
      ng-class="{'highlighted': isFeatureActive('tasks')}">
      <span class="text-navigation-menu">tasks</span>
    </a>
    <a href ng-if="!isOnboardingNotReady('tasks')" class="link-menu row" ng-click="gotoFeature('notes')"
      ng-class="{'highlighted': isFeatureActive('notes')}">
      <span class="text-navigation-menu">notes</span>
    </a>
    <a href ng-if="!isOnboardingNotReady('notes')" class="link-menu row" ng-click="gotoFeature('lists')"
      ng-class="{'highlighted': isFeatureActive('lists')}">
      <span class="text-navigation-menu">lists</span>
    </a>

    <div ng-if="isFeatureActive('list')" class="group-mixed small with-checkbox">
      <div class="group-mixed--middle">
        <a href class="link-menu-small highlighted" ng-click="gotoFeature('list', getActiveList())">
          <span class="text-navigation-menu-small" clamp=2 ng-bind="getActiveList().title"></span>
        </a>
      </div>
      <div class="group-mixed--right">
        <a href ng-if="isFavoriteList(getActiveList())" ng-click="unfavoriteList(getActiveList())">
          <span class="icon-star small inverse"></span>
        </a>
      </div>
    </div>
    <div ng-if="favoriteLists.length > 0" class="group-mixed small with-checkbox" ng-repeat="favoriteList in favoriteLists"
    ng-hide="favoriteList === getActiveList()">
      <div class="group-mixed--middle">
        <a href class="link-menu-small" ng-click="gotoFeature('list', favoriteList)">
          <span class="text-navigation-menu-small" clamp=2 ng-bind="favoriteList.title"></span>
        </a>
      </div>
      <div class="group-mixed--right">
        <a href ng-click="unfavoriteList(list)">
          <span class="icon-star small inverse"></span>
        </a>
      </div>
    </div>
    <div class="container-menu--push"></div>
  </div>
  <div class="container-menu--bottom">
    <a href ng-if="!onboardingInProgress" class="link-menu height-large row" ng-click="gotoFeature('trash')"
      ng-class="isFeatureActive('trash') ? 'highlighted' : 'downplayed'">
      <span class="text-navigation-menu-small">trash</h4>
    </a>
  </div>
</div>
