<div class="container-menu swiper-no-swiping" ng-controller="MenuController" drawer="left">
  <div class="container-menu--top">
    <a href class="link-menu row" ng-click="gotoFeature('user')" ng-class="isFeatureActive('user') && 'highlighted'">
      <span class="text-navigation-menu-small" ng-bind="getActiveDisplayName()"></span>
    </a>

    <a href class="link-menu separate row" ng-click="gotoFeature('focus')" ng-class="isFeatureActive('focus') && 'highlighted'">
      <span class="text-navigation-menu">focus</span>
    </a>
    <a href class="link-menu row" ng-click="gotoFeature('inbox')" ng-class="isFeatureActive('inbox') && 'highlighted'">
      <span class="text-navigation-menu">inbox</span>
    </a>
    <a href class="link-menu row" ng-click="gotoFeature('tasks')" ng-class="isFeatureActive('tasks') && 'highlighted'">
      <span class="text-navigation-menu">tasks</span>
    </a>
    <a href class="link-menu row" ng-click="gotoFeature('notes')" ng-class="isFeatureActive('notes') && 'highlighted'">
      <span class="text-navigation-menu">notes</span>
    </a>
    <a href class="link-menu row" ng-click="gotoFeature('lists')" ng-class="isFeatureActive('lists') && 'highlighted'">
      <span class="text-navigation-menu">lists</span>
    </a>

    <div ng-if="isFeatureActive('list')" class="group-mixed">
      <div class="group-mixed--middle">
        <a href class="link-menu highlighted" ng-click="gotoFeature('list', getActiveList())">
          <span class="text-navigation-menu-small" clamp=2 ng-bind="getActiveList().title"></span>
        </a>
      </div>
      <div class="group-mixed--right">
        <a href ng-if="isFavoriteList(getActiveList())" ng-click="unfavoriteList(getActiveList())">
          <span class="text-star small inverse"></span>
        </a>
      </div>
    </div>
    <div ng-if="favoriteLists.length > 0" class="group-mixed" ng-repeat="favoriteList in favoriteLists"
    ng-hide="favoriteList === getActiveList()">
      <div class="group-mixed--middle">
        <a href class="link-menu" ng-click="gotoFeature('list', favoriteList)">
          <span class="text-navigation-menu-small" clamp=2 ng-bind="favoriteList.title"></span>
        </a>
      </div>
      <div class="group-mixed--right">
        <a href ng-click="unfavoriteList(list)">
          <span class="text-star small inverse"></span>
        </a>
      </div>
    </div>
    <div class="container-menu--push"></div>
  </div>
  <div class="container-menu--bottom">
    <a href class="link-menu height-large downplayed row" ng-click="gotoFeature('trash')"
    ng-class="isFeatureActive('trash') && 'active'">
      <span class="text-navigation-menu-small">trash</h4>
    </a>
  </div>
</div>
