<div class="omnibar-container swiper-no-swiping" data-snap-ignore="true">

  <form id="omnibar" role="form" name="addOmniItem" ng-submit="saveOmnibarText()" autocapitalize="none" autocorrect="off">
    <div class="form-group">
      <div ng-class="{'left-input-wrapper' : omnibarHasText() && !isItemEditMode && !isItemAddMode}">
        <textarea type="text" id="omnibar-input" class="simple-input form-control omnibar-input" ng-model="omnibarText.title" ng-keydown="omnibarKeyDown($event)" omnibar-input dynamic-placeholder="{{getOmnibarInputPlaceholder()}}" maxlength="128" required msd-elastic ng-class="getOmnibarClass()"></textarea>
      </div>
      <div ng-show="omnibarHasText() && !isItemEditMode && !isItemAddMode" class="right-button-wrapper">
        <button class="button omnibar-x-icon" type="button" ng-click="clearOmnibar()"><span class="icon-x"></span>
        </button>
      </div>
    </div>
  </form>

  <div ng-if="!isItemEditMode && !isItemAddMode" class="omnibar-actions">
    <ul class="button-row">
      <li class="button-container left-of-three border-right">
        <button type="button" class="tab-button" ng-click="setOmnibarFeatureActive('search')" ng-disabled="isOmnibarFeatureActive('search')">
          <span class="button-text">search</span>
        </button>
      </li>
      <li class="button-container center-of-three">
        <button type="button" class="tab-button" ng-click="setOmnibarFeatureActive('task')" ng-disabled="isOmnibarFeatureActive('task')">
          <span class="button-text">task</span>
        </button>
      </li>
      <li class="button-container right-of-three">
        <button type="button" class="tab-button" ng-click="setOmnibarFeatureActive('note')" ng-disabled="isOmnibarFeatureActive('note')">
          <span class="button-text">note</span>
        </button>
      </li>
    </ul>

  </div>

  <div ng-switch="getActiveOmnibarFeature()" ng-style="{height: getOmnibarFeatureHeight()}" class="omnibar-feature" scroll-to>

    <div ng-switch-when="search" class="omnibar-search">

      <button ng-if="keywords.length" class="small-font button" ng-class="omnibarKeywords.isVisible ? 'selected-keyword' : 'keyword'" ng-click="toggleOmnibarKeywordsVisible()">
        keywords <strong ng-bind="omnibarKeywords.isVisible ? 'x' : '+'"></strong>
      </button>

      <div ng-if="omnibarKeywords.isVisible" class="keywords-container">
        <button ng-init="isKeywordSelected = false" ng-repeat="keyword in getSelectedAndFilterUnselectedKeywords()" ng-click="isKeywordSelected = !isKeywordSelected; toggleKeywordSelected(keyword);" class="button small-font keyword" ng-class="isKeywordSelected ? 'selected-keyword' : 'keyword'">
          {{keyword.title}} <strong ng-bind="isKeywordSelected ? 'x' : '+'"></strong>
        </button>
      </div>

      <div ng-if="omnibarKeywords.isVisible && !isLoading">
        <div ng-show="filteredNotes.length" class="filtered-items">
          <h3><a href ng-click="gotoNotes()">notes</a></h3>
          <div class="inner-page-content-container" accordion>
            <div ng-repeat="note in filteredNotes = getFilteredOmnibarNotes()">
              <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete></div>
              <div ng-if="isOpen(note)" class="accordion-body" editable-field-container="auto">
                <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="!isSearchActive() && !omnibarKeywords.isVisible" class="omnibar-empty-search-placeholder" ng-click="hideEmptyOmnibar()" ng-style="{maxHeight: getSearchPlaceholderMaxHeight()}"></div>

      <div ng-if="isSearchActive() && !omnibarKeywords.isVisible && !isLoading">
        <div ng-show="filteredItems.length" class="filtered-items">
          <h3 ><a href ng-click="gotoInbox()">inbox</a></h3>
          <div class="inner-page-content-container" accordion>
            <div ng-repeat="item in filteredItems = (items | filter:{title:searchText.delayed} | limitTo:10)">
              <div accordion-title="item" edit-item="editItem(item)" edit-item-inline="true" edit-item-fields="editItemFields(item)" toggle-complete="false"></div>
              <div ng-if="isOpen(item)" class="accordion-body" editable-field-container="auto">
                <div item-core-fields="item" item-core-fields-details="itemDetails"></div>
                <div ng-include="'static/app/main/itemActions.html'"></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="filteredTasks.length" class="filtered-items">
          <h3><a href ng-click="gotoTasks()">tasks</a></h3>
          <div class="inner-page-content-container" accordion>
            <div ng-repeat="task in filteredTasks = (allActiveTasks | filter:{title:searchText.delayed} | limitTo:10)">
              <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
              <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
                <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="filteredNotes.length" class="filtered-items">
          <h3><a href ng-click="gotoNotes()">notes</a></h3>
          <div class="inner-page-content-container" accordion>
            <div ng-repeat="note in filteredNotes = (allNotes | filter:{title:searchText.delayed} | limitTo:10)">
              <div accordion-title="note" edit-item="editNote(note)" edit-item-fields="editNoteFields(note)" has-complete="false" toggle-complete></div>
              <div ng-if="isOpen(note)" class="accordion-body" editable-field-container="auto">
                <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div ng-switch-when="task" class="omnibar-task">
      <span ng-if="hideTaskProperties()" class="show-more">more</span>

      <form role="form" name="taskEdit" editable-field-container>
        <div ng-hide="hideTaskProperties()">
          <div class="form-group">
            <div ng-if="showDateInput">
              <label for="taskDue" class="sr-only">select date...</label>
              <input type="date" id="taskDue" class="simple-input" date-input-blur="hideDate" ng-model="task.date" date-input="task" date-input-set-focus="focusDateInput">
            </div>
            <div ng-if="!showDateInput" class="item-actions">
              <span class="simple-input default-element date-input-placeholder" ng-click="focusDate()">select date...</span>
            </div>
          </div>
          <div ng-include="'static/app/tasks/taskCoreFields.html'"></div>
          <div ng-if="task.date" class="form-group">
            <label class="sr-only" for="taskRepeat">repeating</label>
            <select id="taskRepeat" class="simple-input" ng-model="task.repeating" ng-options="repeatType as repeatType for repeatType in repeatTypes" editable-field>
              <option value="">select repeating...</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="taskLink">url</label>
            <input type="text" id="taskLink" class="simple-input" ng-model="task.link" placeholder="url..." editable-field>
          </div>
        </div>
        <div id="task-description-container" class="form-group omnibar-scroll-container" ng-style="{maxHeight: getEditTaskDescriptionMaxHeight()}" >
          <label class="sr-only" for="taskDescription">description</label>
          <textarea id="taskDescription" class="simple-input" ng-model="task.description" placeholder="description..." maxlength="1024" msd-elastic editable-field ng-focus="taskDescriptionFocus()" ng-blur="taskDescriptionBlur()"></textarea>
        </div>
      </form>
    </div>

    <div ng-switch-when="note" class="omnibar-note">

      <span ng-if="hideNoteProperties()" class="show-more">more</span>

      <form role="form" name="noteEdit" editable-field-container>

        <div ng-hide="hideNoteProperties()">
          <div class="form-group">
            <label class="sr-only" for="noteKeywords">keywords</label>
            <input type="text" class="simple-input" id="noteKeywords" ng-model="newKeyword.title" placeholder="keywords..." maxlength="128" editable-field autocapitalize="none"/>
          </div>
          <div class="keywords-container">
            <span ng-if="showKeywords()" id="new-keyword">
              <button class="small-font button keyword" ng-disabled="isSelectedKeyword()" ng-click="selectNewKeyword()">
                {{newKeyword.title}} <strong>+</strong>
              </button>
            </span>

            <span ng-if="noteHasKeywords()">
              <button type="button" class="button small-font selected-keyword" ng-repeat="keyword in noteKeywords()" ng-click="unSelectKeyword(keyword)">{{keyword.title}} <strong>x</strong></button>
            </span>
          </div>

          <div ng-if="showKeywords()" class="keywords-container">
            <button ng-hide="isNewKeyword(keyword)" ng-repeat="keyword in otherThanNoteKeywords() | filter: {title: newKeyword.title}" ng-click="selectExistingKeyword(keyword)" class="button small-font keyword">
              {{keyword.title}} <strong>+</strong>
            </button>
          </div>

          <div class="form-group">
            <label class="sr-only" for="noteList">list</label>
            <select id="noteList" class="simple-input swiper-no-swiping" ng-model="note.relationships.list" ng-options="list.uuid as list.title for list in listsSelectOptions" options-disabled="list.delimiter for list in listsSelectOptions" editable-field>
              <option value="">select list...</option>
            </select>
          </div>
        </div>
        <div ng-if="!showKeywords()" id="note-content-container" class="form-group omnibar-scroll-container" ng-style="{maxHeight: getEditNoteContentMaxHeight()}">
          <label class="sr-only" for="noteContent">content</label>
          <textarea class="simple-input" id="noteContent" ng-model="note.content" placeholder="content..." msd-elastic editable-field ng-focus="noteContentFocus()" ng-blur="noteContentBlur()"></textarea>
        </div>
      </form>
    </div>
  </div>

  <div class="omnibar-footer small-font">
    <button type="button" class="button transparent-button omnibar-footer-button-left" ng-click="cancelOmnibarEdit()">cancel</button>
    <button type="submit" class="button transparent-button omnibar-footer-button-right" ng-click="saveOmnibarText()" ng-disabled="!addOmniItem.$valid" ng-bind="getOmnibarFooterSaveText()"></button>
  </div>

</div>
