<div id="omnibar-wrapper" class="swiper-no-swiping">
  <form id="{{heading}}-omnibar" ng-init="setOmnibarPlaceholder(omnibarFeature, heading)" role="form" name="{{heading}}-addOmniItem" ng-submit="saveOmnibarText(omnibarText)" autocapitalize="none" autocorrect="off">
    <div class="form-group">
      <div ng-class="(omnibarVisible && 'omnibar-visible') || (!omnibarVisible && 'omnibar-hidden')">
        <input type="text" id="{{omnibarFeature + heading}}OmnibarInput" class="simple-input form-control omnibar-input" ng-model="omnibarText.title" dynamic-placeholder="{{omnibarPlaceholders[omnibarFeature + heading].text}}" ng-click="clickOmnibar(omnibarFeature, heading)" ng-keydown="omnibarKeyDown($event)" maxlength="128" required>
      </div>
      <div ng-show="omnibarHasText()" class="right-button-wrapper">
        <button id="omnibarX" class="button" type="button" ng-click="omnibarText.title=''"><span class="icon-x"></span>
        </button>
      </div>
    </div>
  </form>
  <div ng-if="omnibarVisible === heading" class="omnibar-actions omnibar-animation">
    <ul class="button-row">
      <li class="button-container left-of-four border-right">
        <button type="button" class="normal-button" ng-click="saveOmnibarText(omnibarText)" ng-disabled="!omnibarHasText() || isLoading">
          <span class="button-text">inbox</span>
        </button>
      </li>
      <li class="button-container center-of-four">
        <button type="button" class="default-button" ng-click="editAsTask(omnibarText)" ng-disabled="!omnibarHasText() || isLoading">
          <span class="button-text">task</span>
        </button>
      </li>
      <li class="button-container center-of-four">
        <button type="button" class="default-button" ng-click="editAsNote(omnibarText)" ng-disabled="!omnibarHasText() || isLoading">
          <span class="button-text">note</span>
        </button>
      </li>
      <li class="button-container right-of-four">
        <button type="button" class="default-button" ng-click="clearOmnibar()">
          <span class="button-text">cancel</span>
        </button>
      </li>
    </ul>
  </div>
  <div ng-if="omnibarVisible === heading" id="omnibar-results" class="swiper-no-swiping" ng-style="{height: getOmnibarSearchResultsHeight()}" data-snap-ignore="true" scroll-to>
    <div ng-if="!isSearchActive() || isLoading" id="filtered-items-placeholder" ng-style="{width: getColumnWidth()}" ng-click="clearOmnibar(heading)">&nbsp;</div>
    <div ng-if="isSearchActive() && !isLoading" id="filtered-items-container">
      <div ng-show="filteredItems.length" class="filtered-items">
        <h3 ><a href ng-click="gotoInbox()">inbox</a></h3>
        <div class="inner-page-content-container" accordion>
          <div ng-repeat="item in filteredItems = (items | filter:{title:searchText.delayed} | limitTo:10)">
            <div accordion-title="item" edit-item="editItem(item)" edit-item-title="editItemTitle(item)" toggle-complete="false"></div>
            <div ng-if="isOpen(item)" class="accordion-body" editable-field-container="auto">
              <div ng-include="'static/app/main/itemActions.html'"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="filteredTasks.length" class="filtered-items">
        <h3><a href ng-click="gotoTasks()">tasks</a></h3>
        <div class="inner-page-content-container" accordion>
          <div ng-repeat="task in filteredTasks = (allActiveTasks | filter:{title:searchText.delayed} | limitTo:10)">
            <div accordion-title="task" edit-item="editTask(task)" edit-item-title="editTaskTitle(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
            <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
              <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="filteredNotes.length" class="filtered-items">
        <h3><a href ng-click="gotoNotes()">notes</a></h3>
        <div class="inner-page-content-container" accordion>
          <div ng-repeat="note in filteredNotes = (allNotes | filter:{title:searchText.delayed} | limitTo:10)">
            <div accordion-title="note" edit-item="editNote(note)" edit-item-title="editNoteTitle(note)" has-complete="false" toggle-complete></div>
            <div ng-if="isOpen(note)" class="accordion-body" editable-field-container="auto">
              <div class="accordion-inner" ng-include="'static/app/notes/noteActions.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
