<form id="omnibar" role="form" name="addOmniItem" ng-submit="addNewItem(newItem)" data-tpl="omniBar">

  <div class="form-group">

    <div id="omni-input-wrapper">
      <label class="sr-only" for="omniItem">omniItem</label>
      <input type="search" class="simple-input form-control" id="omniItem" ng-model="newItem.title" ng-focus="omniBarFocus(true)" ng-blur="omniBarFocus(false)" placeholder="store / recall" required>
    </div>
    <div id="plus-wrapper">
      <button class="button" type="button" ng-disabled="!newItem.title" ng-click="addNewItem(newItem)"><span class="icon-plus" />
      </button>
    </div>
  </div>

</form>
