<div class="container-fluid" ng-controller="OmnibarEditorController" swiper-prevent>
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">
        <a href class="group-symmetrical--left link-navigation highlighted" swiper-click="closeEditor()">
          <span class="text-navigation-back">back</span>
        </a>
      </div>

      <div class="group-mixed vertically-centered">
        <div class="group-mixed--middle">
          <textarea ng-model="titlebar.text" ng-keydown="omnibarTitlebarTextKeyDown($event)" msd-elastic
            editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
            editable-field-focus="inputFocus(true, 'title', titlebar.text)"
            editable-field-blur="inputFocus(false, 'title', titlebar.text)"
            dynamic-placeholder="{{getOmnibarPlaceholderText()}}&#8230;"
            maxlength="128" autocapitalize="none" autocorrect="off">
          </textarea>
        </div>
        <div ng-if="titlebar.text.length" class="group-mixed--right">
          <button type="button" class="btn-clear" ng-click="clearOmnibarTitlebar()"></button>
        </div>
      </div>
    </div>
  </header>

  <div ng-if="syncState !== 'active'" class="container-fluid--inner" ng-init="containerInfo = {}">
    <div ng-style="{'padding-bottom': containerInfo.footerHeight}"
      class="container-content with-expandable-footer" drawer-override-aisle="right">

      <!-- SEARCH / FILTERED RESULTS -->
      <div ng-repeat="searchResult in filteredItems.searchResults = (searchItems | filter: itemsFilter)
        track by searchResult.trans.uuid"
        class="group-mixed">
        <a href class="group-mixed--middle link-search-result"
          swiper-click="initializeEditor(searchResult.trans.itemType, searchResult)">
          <span class="text-search-result" clamp=2 ng-bind="searchResult.trans.title"></span>
        </a>
        <div class="group-mixed--right">
          <span class="text-search-type" ng-bind="searchResult.trans.itemType"></span>
        </div>
      </div>

    </div>

    <!-- FOOTER -->
    <footer class="container-content--after editor-footer" editor-footer="containerInfo"
      editor-footer-toggled-callback="setKeywordsAndItemsFilters"
      editor-footer-expand-height-change="notifyFilteredKeywordsLengthChange"
      editor-footer-register-ok-to-reset="isKeywordsPristineAndOmnibarTextEmpty"
      editor-footer-ios-click-top
      editor-footer-register-reset-callback="registerInputFocusCallback">

      <div class="group-symmetrical">
        <a href ng-hide="footerExpanded" class="group-symmetrical--left link"
          swiper-click="convertToTask()">
          <span class="text-convert">task</span>
        </a>
        <div ng-if="keywords && keywords.length" class="group-symmetrical--middle">
          <a href id="editorFooterExpandLink" class="link" swiper-click="toggleExpand()">
            <span id="editorFooterExpandText" class="icon-tag"></span>
          </a>
        </div>
        <a href ng-hide="footerExpanded" class="group-symmetrical--right link"
          ng-class="(features.notes.getStatus() === 'disabled') && 'invisible'"
          swiper-click="convertToNote()">
          <span class="text-convert">note</span>
        </a>
        <a href ng-if="footerExpanded && (!selectedKeywords || !selectedKeywords.length)"
          class="group-symmetrical--right highlighted" swiper-click="toggleExpandFooterToMaxHeight()">
          <span class="text-edit" ng-bind="footerExpandedToMaxHeight ? 'done' : 'edit'"></span>
        </a>
      </div>

      <!-- EXPANDABLE FOOTER CONTENT -->
      <div id="expandable" ng-if="footerExpanded" class="keywords-footer"
        ng-class="{'keywords-select-active': selectedKeywords && selectedKeywords.length}"
        ng-init="clearSelectedKeywords()">

        <!-- KEYWORDS -->
        <div ng-hide="(selectedKeywords && selectedKeywords.length) || footerExpandedToMaxHeight"
          class="keywords-search row">
          <input type="search" class="text-keyword" ng-model="keywordsSearch.text"
            placeholder="search keywords&#8230;" maxlength="128" autocapitalize="none" autocorrect="off"
            ng-focus="inputFocus(true, 'keywords', keywordsSearch.text)"
            ng-blur="inputFocus(false, 'keywords', keywordsSearch.text)">
        </div>

        <div ng-if="selectedKeywords && selectedKeywords.length" class="keywords-container row">
          <div class="keyword-wrapper" ng-repeat="keyword in selectedKeywords track by keyword.trans.uuid">
            <a href class="keyword highlighted" swiper-click="unselectKeyword(keyword)">
              <span class="text-keyword" ng-bind="'#' + keyword.trans.title" clamp=1></span>
            </a>
          </div>
        </div>

        <!-- SELECT MODE -->
        <div ng-if="!footerExpandedToMaxHeight" class="keywords-container row">
          <div class="keyword-wrapper"
            ng-repeat="keyword in filteredItems.unselectedKeywords = (keywords | filter:keywordsFilter)
            | filter:{trans:{title:keywordsSearch.text}} | orderBy:'trans.title' track by keyword.trans.uuid">
            <a href class="keyword link" swiper-click="selectKeyword(keyword)">
              <span class="text-keyword" ng-bind="'#' + keyword.trans.title" clamp=1></span>
            </a>
          </div>
        </div>

        <!-- EDIT MODE -->
        <div ng-if="footerExpandedToMaxHeight" class="keywords-container row">
          <div class="keyword-wrapper"
            ng-repeat="keyword in keywords | orderBy:'trans.title' track by keyword.trans.uuid">
            <a href class="keyword link" swiper-click="initializeEditor('tag', keyword)">
              <span class="text-keyword" ng-bind="'#' + keyword.trans.title" clamp=1></span>
            </a>
          </div>
        </div>

      </div>

    </footer>

  </div>
  <div ng-if="syncState === 'active'" class="container-fluid--inner">
    <div class="loading-animation" loading-animation></div>
  </div>
</div>
