<div class="container-fluid" ng-controller="OmnibarEditorController">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large">
        <a href class="group-symmetrical--left link-navigation" ng-click="closeEditor()">
          <span class="text-navigation-back">back</span>
        </a>
      </div>

      <form role="form" class="group-mixed" autocapitalize="none" autocorrect="off">
        <div class="group-mixed--middle">
          <textarea type="text" ng-model="titlebar.text" ng-keydown="omnibarTitlebarTextKeyDown($event)" editable-field
          editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)" msd-elastic dynamic-placeholder="search/addTODO&#8230;" maxlength="128" required ></textarea>
        </div>
      </form>
    </div>
  </header>

  <div ng-if="syncState !== 'active'" class="container-fluid--inner" ng-style="{'padding-bottom': EDITOR_FOOTER_HEIGHT}">
    <div class="container-content" drawer-override-aisle="right">
      <div ng-repeat="searchResult in searchItems | filter: searchItemFields" class="group-mixed">
        <div class="group-mixed--middle">
          <a href class="link-search-result"
          ng-click="initializeEditor(searchResult.transientProperties.itemType, searchResult)">
            <span class="text-search-result" ng-bind="searchResult.title"></span>
          </a>
        </div>
        <div class="group-mixed--right">
          <span class="text-search-type" ng-bind="searchResult.transientProperties.itemType"></span>
        </div>
      </div>
    </div>
    <footer class="container-content--after" ng-style="{height: EDITOR_FOOTER_HEIGHT, bottom: -EDITOR_FOOTER_HEIGHT}">footer
    </footer>
  </div>
  <div ng-if="syncState === 'active'" class="container-fluid--inner">
    <div class="loading-animation" loading-animation></div>
  </div>
</div>
