<nav id="{{feature}}-header" class="swiper-no-swiping" role="navigation" ng-if="!omnibarVisible" ng-controller="HeaderController">
  <div id="menu-button-wrapper" ng-style="{width: (currentWidth - getLabelWidth()) * 0.5}">
    <button id="menu-button" type="button" ng-click="toggleMenu()" alt="menu">
      <span class="icon-menu"></span>
    </button>
  </div>
  <div id="omnibar-label-wrapper"><label for="{{getCurrentHeading()}}OmnibarInput" ng-style="{width: getLabelWidth()}">&nbsp;</label></div>
  <div id="plus-button-wrapper" ng-style="{width: (currentWidth - getLabelWidth()) * 0.5}">
    <button id="plus-button" type="button" ng-click="addNew()" alt="add new">
      <span class="icon-plus"></span>
    </button>
  </div>
</nav>

