<div class="container-fluid--inner" drawer-handle="left" ng-controller="SettingsController">
  <section class="container-content" ng-show="isContentVisible('settings')">
    <h2 class="group-heading justified row">settings</h2>

    <!-- VERSION -->
    <p class="row">
      <span class="text-heading-primary">version</span></br>
    </p>
    <p class="row">
      <span class="text-teaser" ng-bind="extendedMindVersion"></span>
    </p>

    <!-- FEATURES -->
    <p class="row">
      <span class="text-heading-primary">features</span></br>
    </p>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" class="downplayed" checked="true" ng-true-value="true" icon-checkbox="'tasks'" disabled/>
      </div>
      <div href class="group-mixed--middle">
        <span class="text-link downplayed">tasks</span>
      </div>
    </div>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.notes" ng-true-value="true"
          icon-checkbox="'notes'" ng-click="featureCheckboxClicked('notes')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link">notes</span>
      </div>
    </div>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-class="isToggleDisabled('lists') && 'downplayed'"
         ng-model="settings.lists" ng-true-value="true"
         icon-checkbox="'lists'" ng-click="featureCheckboxClicked('lists')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link" ng-class="isToggleDisabled('lists') && 'downplayed'">lists</span>
      </div>
    </div>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.inbox" ng-true-value="true"
          icon-checkbox="'inbox'" ng-click="featureCheckboxClicked('inbox')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link">inbox</span>
      </div>
    </div>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.contexts" ng-true-value="true"
          icon-checkbox="'contexts'" ng-click="featureCheckboxClicked('contexts')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link">contexts</span>
      </div>
    </div>

    <div class="group-mixed" ng-if="showArchiveFeature()">
      <div class="group-mixed--left">
        <input type="checkbox" ng-class="isToggleDisabled('archive') && 'downplayed'"
          ng-model="settings.archive" ng-true-value="true"
          icon-checkbox="'archive'" ng-click="featureCheckboxClicked('archive')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link" ng-class="isToggleDisabled('archive') && 'downplayed'">archive</span>
      </div>
    </div>

    <!-- GENERAL -->
    <p class="row">
      <span class="text-heading-primary">general</span></br>
    </p>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.hideFooter" ng-true-value="true" icon-checkbox="'hideFooter'"
          ng-click="settingsCheckboxClicked('hideFooter')"/>
      </div>
      <div href class="group-mixed--middle">
        <span class="text-link">hide footer navigation on mobile devices</span>
      </div>
    </div>

    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.disableVibration" ng-true-value="true"
          icon-checkbox="'disableVibration'" ng-click="settingsCheckboxClicked('disableVibration')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link">disable vibration on complete and uncomplete</span>
      </div>
    </div>

    <p ng-if="agendaCalendarSettingVisible" class="row">
      <span class="text-heading-primary">this device</span></br>
    </p>
    <div ng-if="agendaCalendarSettingVisible" class="group-mixed vertically-centered">
      <a href class="group-mixed--middle link" swiper-click="openEditor('user', undefined, 'agendaCalendar')">
        <span class="text-link">agenda calendar</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="openEditor('user', undefined, 'agendaCalendar')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>

    <div ng-if="keepRunningVisible" class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="settings.keepRunning" ng-true-value="true"
          icon-checkbox="'keepRunning'"
          ng-click="settingsCheckboxClicked('keepRunning')"/>
      </div>
      <div class="group-mixed--middle">
        <span class="text-link">show a persistent quick launch notification</span>
      </div>
    </div>

  </section>

  <!-- ONBOARDING -->
  <section ng-if="isOnboarding('settings')" class="container-content">
    <div class="group-instruction">
      <h2 class="group-heading instruction row">customize your <span class="highlighted">mind</span></h2>
      <div class="textgroup-ingress row">only the core features are currently active</div>
      <div class="textgroup-ingress last row">open new features here as your <span class="text-highlighted">extended mind</span> grows</div>
    </div>
  </section>
  <footer ng-if="isOnboarding('settings')"
    class="container-content--after group-btn onboarding">
    <button type="submit" class="btn-action" ng-click="completeOnboarding('settings')">
      <span class="text-btn">got it</span>
    </button>
  </footer>

</div>
