<div id="drawer" class="snap-drawer snap-drawer-left swiper-no-swiping" ng-show="isSnapVisible">
  <div id="menu-content">
    <ul>
      <li>
        <a href ng-click="setMyActive()" class="active">home</a>
      </li>
      <li ng-show="useCollectives()">
        <span>collectives</span>
        <ul>
          <li ng-repeat="(key, value) in collectives">
            <div ng-if="value[2] === false">
              <a class="collective" href ng-click="setCollectiveActive(key)">{{value[0]}}</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href="#/my/account">account</a>
      </li>
      <li>
        <a href ng-click="logout()">logout</a>
      </li>
    </ul>
  </div>
</div>
<div class="slides-container" ng-init="feature='tasks'" ng-controller="MainController" snap-directive>
  <!-- TODO: use ng-if with expected-slides="tasks.length > 0 && 6 || 2" -->
  <div class="swiper-container main-slides" swiper-container="tasks" swiper-type="main" expected-slides="5">
    <div class="swiper-wrapper" ng-class="noSwiping">
      <div class="swiper-slide" swiper-slide="tasks/inbox" slide-index=0 ng-include="'static/app/main/inbox.html'"></div>
      <div class="swiper-slide priority-slide" swiper-slide="tasks/home" slide-index=1 ng-include="'static/app/main/home.html'"></div>
      <div class="swiper-slide" swiper-slide="tasks/dates" slide-index=2 ng-include="'static/app/tasks/dates.html'"></div>
      <div class="swiper-slide" swiper-slide="tasks/menu" slide-index=3 ng-include="'static/app/tasks/menu.html'"></div>
      <div class="swiper-slide" swiper-slide="tasks/lists" slide-index=4 ng-include="'static/app/tasks/lists.html'"></div>
    </div>
  </div>
  <footer ng-hide="mainlinksFilter" ng-include="'static/app/main/footer.html'"></footer>
</div>
