<div class="container-toolbar--inner swiper-no-swiping group-symmetrical heading" ng-controller="ToolbarController">
  <button class="group-symmetrical--left btn" type="button" ng-click="toggleMenu()" alt="menu">
    <span class="text-menu"></span>
  </button>
  <a href class="group-symmetrical--middle" ng-click="switchFeature()" ng-bind="getCurrentHeading()"></a>
  <button class="group-symmetrical--right btn" ng-click="openEditor('omnibar')">
    <span class="text-logo"></span>
  </button>
</div>
