<div class="container-fluid--inner" drawer-handle="left" ng-controller="TrashController">
  <section class="container-content">
    <h2 class="group-heading justified row" ng-bind="allDeleted.length + ' deleted'"></h2>

    <div class="group-mixed with-checkbox"
      ng-repeat="deletedItem in allDeleted | orderBy: 'deleted': true track by deletedItem.trans.uuid">
      <a href class="group-mixed--middle link-search-result" ng-click="openEditor(deletedItem.tagType ? 'tag' : deletedItem.trans.itemType, deletedItem)">
        <span class="text-search-result" clamp=2 ng-bind="deletedItem.title"></span>
      </a>
      <div class="group-mixed--right">
        <span class="text-search-type" ng-bind="deletedItem.tagType ? deletedItem.tagType : deletedItem.trans.itemType"></span>
      </div>
    </div>
  </section>
  <footer class="container-content--after group-centered">
    <span class="text-details row">items in trash are destroyed after 30 days</span>
  </footer>
</div>
