<div class="span12">
  <!-- Page Content -->
  <div class="row-fluid">
    <div class="span8 em-note">
      <p><h3>Why it's great to be a nerd</h3>
      &nbsp;&nbsp;&nbsp;public note by <a href="#/people/lauri-jarvilehto">Lauri J&auml;rvilehto</a>
      </p>
      <p>
        <img src="http://songsworth.files.wordpress.com/2013/01/sheldon_cooper_dressed_as_spock.jpg?w=625"/>
      </p>
      <p>If you have spent any time with this blog, you can probably pick it up pretty quickly that I am a nerd. 
        I love science fiction, comic books, mathematics, board games, computers, electronics and synthesizer 
        music. But I did not always feel good about it.</p>
      <p>In fact, when I was younger, I found it so difficult to enjoy what I truly loved due to the usual social 
        constraints that I tried hard to learn to be less of a nerd. I hid my Jarre albums and stopped talking 
        about Star Trek. Instead, I started working on listening to cool indie bands and watching sitcoms.</p>
      <p>As a consequence, I spent a great while of my life with things that I did not truly love, but that I 
        thought would earn me street credibility or the respect of my peers. In other words, I spent a tremendous 
        amount of effort to be cool. I learned to talk cool. I learned to wear cool clothes. I taught myself to 
        listen to cool music and to watch cool movies.</p>
      <p>But cool, unless it's Fonzie-cool, is not necessarily good for you. Cool can be numbing. It can be 
        indifferent and disconnected. Sometimes cool is what people have to go back to because they don't have 
        a clue what they really want from their lives.</p>
      <p>To this end it is so bizarre that those of us who have had the gift to know what we loved early on &ndash; 
        the nerds &ndash; have so often such a hard time in the early years in our society. Just because we don't 
        always know the right jokes or watch the right TV shows.</p>
      <p>But if you are a nerd, trust yourself: you are are truly privileged. It is still a tremendously rare thing 
        to see a human being who truly loves what he does, and who truly knows who he is.</p>
      <p>And nerds often do.</p>
      <p>Because if you dare to love science fiction or computer code in a world packed full of Big Brother and 
        tabloids, it can hurt to love. But sometimes hurt is good. It shows you what's worth fighting for.</p>
      <p>When I was fourteen, people would tell me that I thought too much; that listening to Jarre and Vangelis was 
        just wrong; that Star Trek and Babylon 5 were ridiculous; that maths was not cool to like; that reading lots 
        of books was scary.</p>
      <p>But it's not.</p>
      <p>It may not be what the other guys are doing. But if you love what you do, keep at it. No matter what the 
        others think.</p>
      <p>The nerd can be the ultimate outsider, because being a nerd you have something new going for yourself. 
        And being social is, after all, often not about new things. It's about nodding at what the other guy says. 
        It's about laughing at jokes even if they are bad. It's about going to a party because everybody else is
         going. And ultimately, it's about doing whatever everybody else is doing because that's what you are supposed 
         to do.</p>
      <p>But the nerd won't do it.</p>
      <p>If the other guy says something stupid, the nerd will argue back. If the joke is bad, the nerd will analyze 
        it and point out where it could work better. If the party is not really interesting, the nerd will not go,
         but rather solders a circuit board. And if everybody else is doing something that is not interesting, the 
         nerd will do something that is.</p>
      <p>The problem is that if you live like this, you will also sometimes snort at jokes, you will make arguments 
        in a language like Klingon that nobody else can understand (the question is: taH pagh taH be), you will miss 
        chances to interact with people, and some of the things many people do might never make any sense to you.</p>
      <p>But that's okay.</p>
      <p>Because as a nerd, you can change the world. You cannot change the world by getting in line. But you can do 
        so by figuring out what you really love to do, and by throwing yourself all in. As a nerd, you have nothing 
        to lose. And that is what makes you the most powerful creature on Earth.</p>
      <p>Being a nerd is amazing because being a nerd you can really tap into what you love to do, whether it is 
        fixing old radios, tending to horses, playing larp, reading comics, writing computer code or making music
         with synthesizers. (And yes, you can be a nerd by playing ice hockey or driving race cars too, but it's 
         even tougher because people think it's cool.)</p>
      <p>Being a nerd is amazing because you can really be somebody who loves what they do and make the world a better 
        place by doing it.</p>
      <p>It's not necessarily easy. But it *is* great.</p>
      <p>So here's to all the nerds out there &ndash; all of you amazing people who have made this world a better 
        place &ndash;, people like Steve Wozniak, Nikola Tesla, Evangelos Papathanassiou, Christopher Franke, 
        Albert Einstein, Marie Curie, Arthur C. Clarke, Orson Scott Card, Peter Jackson and Steven Spielberg. 
        And Sheldon Cooper. They might have a funny laugh, or snort at jokes. But they make waves.</p>
      <p>Being a nerd takes courage. But trust me, if you've got it, it's worth it.</p>
      <p>Be proud of what you really are.</p>
      <p>It's great to be a nerd.</p>     
       <p>&nbsp;</p>
       <p><a href="#/">extended mind</a> | <a href="#/people/lauri-jarvilehto">author</a> | <a href="#/">share</a></p>
       <p>&nbsp;</p>
    </div>
  </div>
</div>