/************************************************************/
/* CONSTANTS                                             */
/************************************************************/

$color-white-bg: rgba(255,255,255,.9);
$color-faint-line: #eeeeee;
$color-visible-line: #efefef;
$color-text: rgb(51, 51, 61);