/************************************************************/
/* CONSTANTS                                             */
/************************************************************/

$color-white-bg: rgba(255,255,255,.9);
$color-faint-line: #eeeeee;
$color-visible-line: #efefef;
$color-text: rgb(51, 51, 61);
$color-button: #0f82fe;
$color-button-pressed: #0171ea;
$color-very-light-gray: #fdfdfd;

$size-icon-menu: 12px;
$size-icon-menu-large: 17px;
$size-icon-social: 35px;
$size-icon-arrow: 8px;