@import 'constants';

$icon-menu: "\e605";
$icon-arrow-right: "\e60c";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?19wtd8');
  src:  url('../fonts/icomoon.eot?19wtd8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?19wtd8') format('woff2'),
    url('../fonts/icomoon.ttf?19wtd8') format('truetype'),
    url('../fonts/icomoon.woff?19wtd8') format('woff'),
    url('../fonts/icomoon.svg?19wtd8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// 1. Better font rendering.
// 2. Center icons vertically.
//    NOTE: Do not change this, override it locally.
@mixin set-icon-font() {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;  // [1]
  -moz-osx-font-smoothing: grayscale;   // [1]
  vertical-align: middle; // [2]
}

/*
Icon classes
*/
.icon-menu {
  font-size: $size-icon-menu;
  line-height: $size-icon-menu;
  height: $size-icon-menu;
  display: block;
  &:after {
    @include set-icon-font();
    vertical-align: baseline;
    color: $color-text;
    content: $icon-menu;
  }
}

.icon-arrow-right{
  font-size: $size-icon-arrow;
  padding-left: 5px;
  padding-right: 5px;
  &:after {
    @include set-icon-font();
    color: $color-text;
    vertical-align: 10%;
    content: $icon-arrow-right;
  }
}