@import 'constants';

/************************************************************/
/* FOUNDATION IMPORTS                                       */
/* These are located at node_modules/foundation-sites/scss  */
/************************************************************/

// Override Foundation font: set to Source Sans Pro
// everywhere, and color to our text color
$body-font-family: 'Source Sans Pro', sans-serif !default;
$body-font-color: $color-text !default;

@import 'foundation';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-visibility-classes;

// Import icons here

@import "icons";

/************************************************************/
/* MENU                                                     */
/************************************************************/

.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 50;
}
.menu:hover ul {
  display: block;
}

.menu a.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background: $color-white-bg;
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 5;
}

.menu:hover a.toggle {
  border: 1px solid $color-visible-line;
  border-bottom: none;
}

.menu ul {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  margin: 0;
  border: 1px solid $color-faint-line;
  border-bottom: 1px solid $color-visible-line;
  border-radius: 2px;
  padding: 45px;
  background: $color-white-bg;
  box-shadow: 0 1px 3px 0 $color-faint-line;
  li {
    list-style: none;
    a {
      display: block;
      text-decoration: none;
      padding: 3px 0;
    }
  }
}

@include breakpoint(medium up) {
  .menu {
    // For medium and larger screens, move menu a bit more to the center
    top: 35px;
    right: 30px;
  }
  .menu ul {
    // Also because menu icon size is bigger for medium and larger, move ul down a bit
    top: 47px;
  }
}

/************************************************************/
/* GRID                                                     */
/************************************************************/

section.headers-top {
  .heading-main{
    margin-top: 15vh;
    text-align: center;
    width: 100%;
  }
  padding-bottom: 50px;
}

section.headers-main {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px $color-faint-line solid;
}

footer{
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  font-size: 15px;
}

@include breakpoint(medium up) {
  body {
    font-size: 17px;
  }
}

@include breakpoint(large up) {
  body {
    font-size: 20px;
  }
}

button, .button {
  background-color: #0f82fe;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #0171ea;
}
