<section id="dashboard-{{dashboardSlide}}" class="two-column-grid page">
  <div class="column">
    <div ng-if="!isCompletedAndArchivedLoading" class="page-content-container">
      <div class="inner-page-content-container">
        <ul>
          <li class="simple-content dashboard-info" ng-repeat="message in dashboardSlides[slideIndex].messages">
            <span class="font-bold">{{message.comparedItemsNumber}}</span>
            <span>{{message.comparedItemsText}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="isCompletedAndArchivedLoading" class="loading-animation" loading-animation></div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
