<div class="no-slides-container" ng-controller="PasswordController">
  <section class="one-column-grid page">
    <div class="column">
      <header class="heading-header">
        <h3>change password</h3>
      </header>
      <div class="simple-content-container">
        <form role="form" name="change_passwordForm" novalidate>

          <div class="form-group">
            <input type="password" name="currentPassword" id="currentPassword" class="simple-input" ng-model="user.currentPassword" placeholder="enter old password..." ng-minlength="7" ng-blur="currentPasswordAttempted=true" required />
            <p ng-show="change_passwordForm.currentPassword.$invalid && !change_passwordForm.currentPassword.$pristine && currentPasswordAttempted" class="validation-error">password must be 7 characters or more</p>
          </div>

          <div class="form-group">
            <input type="password" name="newPassword" id="newPassword" class="simple-input" ng-model="user.newPassword" placeholder="enter new password..." ng-blur="newPasswordAttempted=true" required ng-minlength="7" />
            <p ng-show="change_passwordForm.newPassword.$invalid && !change_passwordForm.newPassword.$pristine && newPasswordAttempted" class="validation-error">password must be 7 characters or more</p>
          </div>

          <div class="form-group">
            <input type="password" name="newPasswordReEnter" id="newPasswordReEnter" class="simple-input" ng-model="user.reEnteredNewPassword" ng-blur="reEnterNewPasswordAttempted=true" placeholder="re-enter new password..." password-match="user.newPassword" ng-minlength="7" required />
            <p ng-show="change_passwordForm.newPasswordReEnter.$invalid && !change_passwordForm.newPasswordReEnter.$pristine && reEnterNewPasswordAttempted" class="validation-error">passwords don't match</p>
          </div>

          <div class="form-group vertical-buttons">
            <button type="submit" class="wide-button normal-button" ng-disabled="!change_passwordForm.$valid" ng-click="changePassword()">
              <span>done</span>
            </button>
            <p ng-show="changePasswordFailed" class="validation-error">invalid old password</p>
            <p ng-show="changePasswordOffline" class="validation-error">can't connect to server. are you online?</p>
            <p ng-show="loginFailed" class="validation-error">could not login with the new password</p>
            <button type="button" class="wide-button cancel-button" ng-click="gotoAccountPage()">cancel</button>
          </div>

        </form>
      </div>
    </div>
  </section>
</div>
