<!-- LOGIN -->
<form ng-if="entryState === 'login'" name="loginForm">
  <section class="container-content" editable-field-container>
    <header class="group-symmetrical">
      <a href ng-click="swipeToHome()" class="group-symmetrical--left link-navigation" editable-field-deactivate>
        <span class="text-navigation-back">back</span>
      </a>
      <a href ng-click="swipeToDetails()" class="group-symmetrical--right link-navigation" editable-field-deactivate>
        <span class="text-navigation-forward">forgot?</span>
      </a>
    </header>
    <h2 class="group-heading row-form" editable-field-deactivate>log in</h2>
    <div class="row-form">
      <input type="email" name="email" ng-model="user.username"
      placeholder="enter email&#8230;" editable-field="getEditableFieldSticky()"
      editable-field-register-callbacks="registerEntryMainEmailInputCallbacks(focus, blur)" required />
    </div>
    <div class="group-error row-form">
      <div ng-if="loginForm.email.$touched" ng-messages="loginForm.email.$error">
        <span class="text-error" ng-message="email">invalid email address</span>
      </div>
    </div>
    <div class="row-form">
      <input type="password" name="password" id="password" ng-model="user.password" ng-minlength="7" placeholder="enter password&#8230;" editable-field="getEditableFieldSticky()"
      editable-field-register-callbacks="registerEntryMainPasswordInputCallbacks(focus, blur)" required />
    </div>
    <div ng-if="!rememberByDefault()" class="group-mixed details height-large with-checkbox">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="user.remember" ng-true-value="true" icon-checkbox="'loginFormRemember'" />
      </div>
      <span class="group-mixed--middle text-details">remember</span>
    </div>
    <div class="group-error height-large row-form">
      <span ng-if="loginFailed" class="text-error">invalid email or password</span>
      <span ng-if="entryOffline" class="text-error">can't connect to server. are you online?</span>
    </div>
  </section>
  <footer class="container-content--after group-btn" editable-field-container="auto">
    <button type="submit" class="btn-action" ng-disabled="!loginForm.$valid" ng-click="logIn()">
      <span class="text-btn">done</span>
    </button>
  </footer>
</form>
<div ng-if="entryState === 'newUser'">
  <section class="container-content">
    <header class="group-symmetrical">
      <a href ng-click="swipeToHome()" class="group-symmetrical--left link-navigation">
        <span class="text-navigation-back">back</span>
      </a>
      <a href class="group-symmetrical--right link-navigation downplayed" ng-click="skipTutorial()">
        <span class="text-navigation-inline">skip tutorial</span><span class="text-navigation-forward-double"></span>
      </a>
    </header>
    <div class="group-instruction">
      <h2 class="group-heading instruction row">let's get started with
        <span class="highlighted">extended<br />mind</span>
      </h2>
      <div class="textgroup-ingress row">it takes less than three minutes</div>
    </div>
  </section>
  <footer class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-click="startTutorial()">
      <span class="text-btn">start tutorial</span>
    </button>
  </footer>
</div>
