<form name="forgotForm">
  <section class="container-content" editable-field-container>
    <header class="group-symmetrical">
      <a href class="group-symmetrical--left link-navigation" ng-click="swipeToMain()" editable-field-deactivate>
        <span class="text-navigation-back downplayed">back</span>
      </a>
    </header>
    <h2 class="group-heading row-form">forgot password?</h2>
    <div class="row-form">
      <input type="email" name="email" ng-model="user.email"
      placeholder="enter email&#8230;" editable-field="getEditableFieldSticky()"
      editable-field-register-callbacks="registerEntryForgotEmailInputCallbacks(focus, blur)" required />
    </div>
    <div class="group-error row-form">
      <div ng-if="forgotForm.email.$touched" ng-messages="forgotForm.email.$error">
        <span class="text-error" ng-message="email">invalid email address</span>
      </div>
      <span ng-if="sendFailed" class="text-error">you are not an extended mind user</span>
      <span ng-if="entryOffline" class="text-error">can't connect to server. are you online?</span>
    </div>
  </section>
  <footer ng-if="forgotActive" class="container-content--after group-btn" editable-field-container="auto">
    <button type="submit" class="btn-action" ng-disabled="!forgotForm.$valid" ng-click="sendInstructions()">
      <span class="text-btn">send instructions</span>
    </button>
  </footer>
</form>
