<div ng-if="entryState !== 'download'">
  <section class="container-content">
    <div class="group-instruction-jumbotron row">
      <p class="group-instruction--header"><span class="icon-logo"></span></p>
      <p class="group-instruction--main">
        <span class="text-jumbotron">change</span><br/>
        <span class="text-jumbotron">the way</span><br/>
        <span class="text-jumbotron">you</span><br/>
        <span class="text-jumbotron highlighted">think</span>
      </p>
    </div>
  </section>
  <footer class="container-content--after group-btn">
    <button class="btn-action" ng-click="swipeToNewUser()">
      <span class="text-btn">new user</span>
    </button>
    <button class="btn-action" ng-click="swipeToLogin()">
      <span class="text-btn">log in</span>
    </button>
  </footer>
</div>
<div ng-if="entryState === 'download'">
  <section class="container-content" style="padding-bottom: 122px;">
    <ul style="padding-left: 28px;">
      <li style="display:inline; margin-right: 15px;">
        <span class="icon-logo" style="display:inline;"></span>
      </li>
      <li style="display:inline;">
        <a href="http://www.extendedmind.org" target="_blank">
          <span class="text-details" style="padding: 0 3px 0 3px;">blog</span>
        </a>
      </li>
      <li style="display:inline;">
        <a href="https://www.facebook.com/extmd" target="_blank">
          <span class="text-details" style="padding: 0 3px 0 3px;">facebook</span>
        </a>
      </li>
      <li style="display:inline;">
        <a href="https://twitter.com/extmd" target="_blank">
          <span class="text-details" style="padding: 0 3px 0 3px;">twitter</span>
        </a>
      </li>
      <li style="display:inline;">
        <a href="mailto:info@ext.md">
          <span class="text-details" style="padding: 0 3px 0 3px;">contact</span>
        </a>
      </li>
    </ul>
    <h2 class="group-heading instruction row" style="padding-top: 15vh;">
      download<br/>
      the <span class="text-highlighted">app</span>
    </h2>
  </section>
  <footer class="container-content--after" style="height: 122px;">
    <div class="table row">
      <div class="table-row" style="vertical-align: middle;">
        <a class="table-cell" style="text-align: left;" href="itms://itunes.com/apps/extendedmind">
          <img ng-src="/{{urlBase}}img/download-app-store@2x.png" style="width: 120px;"/><br/>
          <span class="text-details" style="padding-left: 10px;">iphone 4s or later</span>
        </a>
        <a class="table-cell" style="text-align: right;" href="market://details?id=org.extendedmind">
          <img ng-src="/{{urlBase}}img/download-google-play@2x.png" style="width: 120px;"/><br/>
          <span class="text-details" style="padding-right: 10px;">4.4 kitkat or later</span>
        </a>
      </div>
    </div>
  </footer>
</div>
