<!-- SIGNUP -->
<form ng-if="entryState === 'signup'" name="loginForm">
  <section class="container-content">
    <header class="group-symmetrical">
      <a href ng-click="swipeToHome()"><span class="link-navigation-back">back</span></a>
    </header>
    <h1>sign up</h1>
    <form role="form" name="entryForms.signupForm">
      <input class="row" type="email" name="email" ng-model="user.username" placeholder="enter email..." required />
      <input class="row" type="password" name="password" id="password" ng-model="user.password" ng-minlength="7" placeholder="enter password..." required />
      <div class="group-mixed">
        <div class="group-mixed--left">
          <input type="checkbox" ng-model="user.agree" ng-true-value="true" icon-checkbox="entryForms.signupFormAgree" />
        </div>
        <div class="group-mixed--middle text-details">I have read and agree to the <a href ng-click="gotoTermsOfService()">terms of service</a> and <a href ng-click="gotoPrivacyPolicy()">privacy policy</a></div>
      </div>
    </form>
    <div class="group-error row">
      <div ng-if="entryForms.signupForm.email.$touched" ng-messages="entryForms.signupForm.email.$error">
        <span class="text-error" ng-message="email">invalid email address</span>
      </div>
      <div ng-if="entryForms.signupForm.password.$touched" ng-messages="entryForms.signupForm.password.$error">
        <span class="text-error" ng-message="minlength">password must be 7 characters or more</span>
      </div>
    </div>
  </section>
  <footer class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-disabled="!entryForms.signupForm.$valid || !user.agree" ng-click="signUp()">
      <span class="text-btn">done</span>
    </button>
  </footer>
</form>
<!-- LOGIN -->
<form ng-if="entryState === 'login'" name="loginForm">
  <section class="container-content">
    <header class="group-symmetrical row" >
      <a href ng-click="swipeToHome()" class="link-navigation-back">back</a>
      <a href ng-click="swipeToForgot()" class="link-navigation-forward group-symmetrical--right">forgot?</a>
    </header>
    <h1>log in</h1>
    <input class="row" type="email" name="email" ng-model="user.username" placeholder="enter email..." required />
    <input class="row" type="password" name="password" id="password" ng-model="user.password" ng-minlength="7" placeholder="enter password..." required />
    <div class="group-mixed">
      <div class="group-mixed--left">
        <input type="checkbox" ng-model="user.remember" ng-true-value="true" icon-checkbox="loginFormRemember" />
      </div>
      <span class="group-mixed--middle">remember</span>
    </div>
    <div class="group-error row">
      <div ng-if="loginForm.email.$touched" ng-messages="loginForm.email.$error">
        <span class="text-error" ng-message="email">invalid email address</span>
      </div>
      <div ng-if="loginForm.password.$touched" ng-messages="loginForm.password.$error">
        <span class="text-error" ng-message="minlength">password must be 7 characters or more</span>
      </div>
      <span ng-if="loginFailed" class="text-error">invalid username or password</span>
      <span ng-if="loginOffline" class="text-error">can't connect to server. are you online?</span>
    </div>
  </section>
  <footer class="container-content--after group-btn">
    <button type="submit" class="btn-action" ng-disabled="!loginForm.$valid" ng-click="logIn()">
      <span class="text-btn">done</span>
    </button>
  </footer>
</form>
