<section id="entry" class="container-page">
  <header class="container-banner row">
    <span class="icon-logo-with-text"></span>
  </header>
  <div class="container-content" ng-switch on="entryState">
    <div ng-switch-default>
      <div class="group-instruction row">
        <p>extended mind helps you<br/>
          manage your <b>tasks</b> and<br/>
          <b>thoughts</b> as easily as if it was an<br/>
          extension to your biological mind</p>
      </div>
      <div class="group-btn row">
        <button class="btn-action" ng-click="launchSignup()">
          <span>sign up</span>
        </button>
        <button class="btn-action" ng-click="launchLogin()">
          <span>log in</span>
        </button>
      </div>
    </div>
  </div>
</section>
