<section class="container-content">
  <div class="group-instruction-jumbotron row">
    <p class="group-instruction--header"><span class="text-logo"></span></p>
    <p class="group-instruction--main"><span class="text-active">extend</span><br/>your<br/>biological<br/>mind</p>
  </div>
</section>
<footer class="container-content--after">
  <div class="group-btn">
    <button class="btn-action" ng-click="swipeToSignup()">
      <span class="text-btn">sign up</span>
    </button>
    <button class="btn-action" ng-click="swipeToLogin()">
      <span class="text-btn">log in</span>
    </button>
  </div>
</footer>
