<div class="no-slides-container" ng-controller="ForgotController">
  <section id="forgot" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo-with-text"></span>
      </div>
      <div ng-if="showResetInstructions()" class="content">
        <span class="instruction-text">
          press send button below and we will send you an email to <p class="content">{{user.email}}</p> with instructions on how to change your password
        </span>
        <form role="form" name="forgotForm" novalidate>
          <div class="form-group button-container vertical-buttons">
            <button type="submit" class="wide-button normal-button" ng-disabled="!forgotForm.$valid" ng-click="sendInstructions()">
              <span>send</span>
            </button>
            <p ng-show="sendFailed" class="validation-error">you are not an extended mind user</p>
            <p ng-show="sendOffline" class="validation-error">can't connect to server. are you online?</p>
            <button type="submit" class="wide-button cancel-button" ng-click="gotoLogin()">
              <span>cancel</span>
            </button>
          </div>
        </form>
      </div>
      <div ng-if="resetCodeExpires" id="instructions-success" class="content">
        <span class="instruction-text">
          instructions sent. when you have changed your password, press the button below to access your extended mind.
        </span>
        <div class="button-container">
          <button type="submit" class="wide-button normal-button" ng-click="gotoLogin()">
            <span>go to login</span>
          </button>
        </div>
      </div>
      <div ng-if="showResetForm()" class="content">
        <span class="instruction-text">
          change password for <p class="content">{{user.email}}</p>
        </span>
        <form role="form" name="resetForm" novalidate>
          <div class="form-group button-container vertical-buttons">
            <div class="form-group">
              <input type="password" name="password" id="password" class="simple-input" ng-model="user.password" ng-blur="passwordAttempted=true" ng-minlength="7" placeholder="enter new password..." required/>
              <p ng-show="resetForm.password.$invalid && !resetForm.password.$pristine && passwordAttempted" class="validation-error">password must be 7 characters or more</p>
            </div>
            <div class="form-group">
              <input type="password" name="passwordReEnter" id="passwordReEnter" class="simple-input" ng-model="user.reEnteredPassword" ng-blur="reEnterAttempted=true" password-match="user.password" ng-minlength="7" placeholder="re-enter new password..." required/>
              <p ng-show="resetForm.passwordReEnter.$invalid && !resetForm.passwordReEnter.$pristine && reEnterAttempted" class="validation-error">passwords don't match</p>
            </div>
            <button type="submit" class="wide-button normal-button" ng-disabled="!resetForm.$valid" ng-click="resetPassword()">
              <span>login</span>
            </button>
            <p ng-show="resetFailed" class="validation-error">reseting password failed</p>
            <p ng-show="resetOffline" class="validation-error">can't connect to server. are you online?</p>
            <p ng-show="loginFailed" class="validation-error">could not login with new password</p>
            <button type="submit" class="wide-button cancel-button" ng-click="gotoLogin()">
              <span>cancel</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
