<div class="no-slides-container" ng-controller="LaunchController">
  <section id="launch" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo-with-text"></span>
      </div>
      <div class="content">
        <form role="form" name="launchForm" novalidate>
          <div id="email" class="form-group">
            <input type="email" name="userEmail" id="user-email" class="simple-input" ng-model="user.email" placeholder="enter email..." ng-blur="emailAttempted=true" required />
            <p ng-show="launchForm.userEmail.$invalid && !launchForm.userEmail.$pristine && emailAttempted" class="validation-error">not a valid email address</p>
          </div>
          <div class="form-group button-container">
            <button type="submit" class="wide-button normal-button" ng-disabled="!launchForm.$valid" ng-click="launchUser()">
              <span>done</span>
            </button>
            <p ng-show="launchFailed" class="validation-error">invalid email</p>
            <p ng-show="launchOffline" class="validation-error">can't connect to server. are you online?</p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
