<div class="no-slides-container" ng-controller="LoginController">
  <section id="login" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo-with-text"></span>
      </div>
      <div class="content">
        <form role="form" name="loginForm" novalidate>
          <div class="form-group">
            <label for="email" class="sr-only">email</label>
            <input type="email" name="email" id="email" class="simple-input" ng-model="user.username" ng-readonly="isUserEmailEditable" ng-blur="emailAttempted=true" placeholder="enter email..." required />
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine && emailAttempted" class="validation-error">not a valid email address</p>
          </div>
          <div class="form-group">
            <label for="input-password" class="sr-only">password</label>
            <input type="password" name="password" id="input-password" class="simple-input" ng-model="user.password" ng-minlength="7" ng-blur="passwordAttempted=true" placeholder="enter password..." required />
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine && passwordAttempted" class="validation-error">password must be 7 characters or more</p>
          </div>
          <div ng-hide="rememberByDefault()" class="form-group">
            <input type="checkbox" id="remember" ng-model="user.remember" checked="checked" />
            <label for="remember" class="default-element">remember</label>
          </div>
          <div class="form-group button-container">
            <button type="submit" class="wide-button normal-button" ng-disabled="!loginForm.$valid" ng-click="userLogin()">
              <span>log in</span>
            </button>
            <p ng-show="loginFailed" class="validation-error">invalid username or password. <a href class="text-link" ng-click="gotoForgot()">forgot</a>?</p>
            <p ng-show="loginOffline" class="validation-error">can't connect to server. are you online?</p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
