<div class="no-slides-container" ng-controller="SignupController">
  <section id="signup" class="one-column-grid fixed-height page">
    <div class="column">
      <div class="banner">
        <span class="icon-logo-with-text"></span>
      </div>
      <div class="content">
        <form role="form" name="signupForm">
          <div class="form-group">
            <label for="email" class="sr-only">email</label>
            <input type="email" name="email" id="email" class="simple-input" ng-model="user.username" readonly ng-blur="emailAttempted=true" placeholder="enter email..." required />
            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine && emailAttempted" class="validation-error">not a valid email address</p>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">password</label>
            <input type="password" name="password" id="password" class="simple-input" ng-model="user.password" ng-blur="passwordAttempted=true" ng-minlength="7" placeholder="enter password..." required />
            <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine && passwordAttempted" class="validation-error">password must be 7 characters or more</p>
          </div>
          <div class="form-group">
            <label for="passwordReEnter" class="sr-only">password again</label>
            <input type="password" name="passwordReEnter" id="passwordReEnter" class="simple-input" ng-model="user.reEnteredPassword" ng-blur="reEnterAttempted=true" password-match="user.password" ng-minlength="7" placeholder="re-enter password..." required />
            <p ng-show="signupForm.passwordReEnter.$invalid && !signupForm.passwordReEnter.$pristine && reEnterAttempted" class="validation-error">passwords don't match</p>
          </div>
          <div class="form-group table-wrapper">
            <input type="checkbox" id="agree" class="left-checkbox-wrapper" ng-model="user.agree" ng-true-value="true" />
            <label for="agree" class="swiper-no-swiping"></label>
            <span id="agreeText" class="center-input-wrapper">I have read and agree to the <a href ng-click="gotoTermsOfService()">terms of service</a> and <a href ng-click="gotoPrivacyPolicy()">privacy policy</a></span>
          </div>
          <div class="form-group button-container">
            <button type="submit" class="wide-button normal-button" ng-disabled="!signupForm.$valid || user.agree !== 'true'" ng-click="signUp()">
              <span>sign up</span>
            </button>
            <p ng-show="signupFailed" class="validation-error">could not sign up, please try again later</p>
            <p ng-show="signupOffline" class="validation-error">can't connect to server. are you online?</p>
            <p ng-show="loginFailed" class="validation-error">could not login with new signup, please try to login later</p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
