<section class="container-content">
  <header class="group-symmetrical">
    <a href class="group-symmetrical--right link-navigation downplayed" ng-click="skipTutorial()">
      <span class="text-navigation">skip tutorial >></span>
    </a>
  </header>
  <div class="group-instruction">
    <h2 class="group-heading instruction row">let's get started with
      <span class="highlighted">extended mind</span>
    </h2>
    <div class="textgroup-ingress row">it takes less than three minutes</div>
  </div>
</section>
<footer class="container-content--after group-btn">
  <button type="submit" class="btn-action" ng-click="startTutorial()">
    <span class="text-btn">start tutorial</span>
  </button>
</footer>
