<div class="no-slides-container" ng-controller="WaitingController">
  <section id="waiting" class="one-column-grid fixed-height page">
    <div class="column" ng-class="coupon && 'waiting-coupon'">
      <div class="banner">
        <span class="icon-logo-with-text"></span>
      </div>
      <div class="content">
        <div ng-if="invite" id="invite">
          <span class="instruction-text">
            we have sent you an email to join extended mind.<br/>
            please click on the link in the email to sign up to the service.<br/>
            if you have not received an invitation email, click on the button below.
          </span>
          <button ng-if="!resent" type="submit" id="resend-button" class="wide-button normal-button" ng-click="resendInvite()">
            <span>resend invitation</span>
          </button>
          <button ng-if="resent" type="submit" id="resend-button" disabled class="wide-button normal-button" ng-click="resendInvite()">
            <span>invitation resent</span>
          </button>
        </div>
        <div ng-if="request" id="request">
          <span class="instruction-text">
            there are currently</br>
            <h1>{{user.inviteQueueNumber}}</h1>
            people before you on the extended mind waiting list
          </span>
          <button type="submit" id="waiting-button" class="wide-button normal-button" ng-click="openEMBlogInNewWindow()">
            <span>visit blog</span>
          </button>
        </div>
        <div ng-if="coupon">
          <span class="instruction-text">
            there are currently</br>
            <h1>{{user.inviteQueueNumber}}</h1>
            people before you on the extended mind waiting list
          </span>
          <form role="form" id="coupon-form" name="couponForm" submit="useCoupon()">
            <div id="email" class="form-group">
              <label for="input-coupon" class="sr-only">coupon</label>
              <input type="text" class="simple-input" id="input-coupon" ng-model="user.coupon" placeholder="enter code..." required maxlength="16" autocapitalize="none"/>
            </div>
            <div class="button-container form-group">
              <button type="submit" id="waiting-button" class="wide-button normal-button" ng-click="useCoupon()" ng-disabled="!couponForm.$valid">
                <span>submit code</span>
              </button>
              <p ng-show="invalidCoupon" class="validation-error">invalid code</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
