<div class="container-content--outer" ng-if="isFeatureActive('user')" drawer-handle="left">
  <section class="container-content">
    <h2 class="group-heading justified row" ng-bind="online ? 'online' : '*offline'"></h2>

    <div class="group-details">
      <div ng-if="getOfflineModifiedCount('item')" class="row">
        <span class="text-details">modified items: </span>
        <span class="text-details" ng-bind="getOfflineModifiedCount('item')"></span>
      </div>
      <div ng-if="getOfflineModifiedCount('task')" class="row">
        <span class="text-details">modified tasks: </span>
        <span class="text-details" ng-bind="getOfflineModifiedCount('task')"></span>
      </div>
      <div ng-if="getOfflineModifiedCount('note')" class="row">
        <span class="text-details">modified notes: </span>
        <span class="text-details" ng-bind="getOfflineModifiedCount('note')"></span>
      </div>
      <div ng-if="getOfflineModifiedCount('list')" class="row">
        <span class="text-details">modified lists: </span>
        <span class="text-details" ng-bind="getOfflineModifiedCount('list')"></span>
      </div>
      <div ng-if="getOfflineModifiedCount('tag')" class="row">
        <span class="text-details">modified tags: </span>
        <span class="text-details" ng-bind="getOfflineModifiedCount('tag')"></span>
      </div>
    </div>

    <div ng-if="useCollectives()">
      <h3 class="row-form">switch to</h3>
      <div ng-repeat="(key, value) in collectives">
        <div ng-if="value[2] === false && !isCollectiveActive(key)">
          <a href class="row-form link" ng-click="setCollectiveActive(key)">
            <span ng-bind="value[0]"></span>
          </a>
        </div>
      </div>
      <a href class="row-form link" ng-if="!isMyActive()"  ng-click="setMyActive()" class="row-form">
        <span ng-bind="getUserEmail()"></span>
      </a>
    </div>

    <div class="group-mixed">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('account')">
        <span class="text-link">account</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="swipeToDetails('account')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>
    <div class="group-mixed">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('settings')">
        <span class="text-link">settings</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="swipeToDetails('settings')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>
    <div class="group-mixed">
      <a href class="group-mixed--middle link" swiper-click="swipeToDetails('about')">
        <span class="text-link">about</span>
      </a>
      <div class="group-mixed--right">
        <a href ng-click="swipeToDetails('about')">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>
    <div ng-if="isAdmin()" class="group-mixed">
      <a href class="group-mixed--middle link" swiper-click="changeFeature('admin')">
        <span class="text-link">admin</span>
      </a>
    </div>

  </section>
  <footer class="container-content--after group-btn">
    <button class="btn-action" ng-click="logOut()">
      <span class="text-btn">log out</span>
    </button>
  </footer>
</div>
