<div class="em-animate em-slide" ng-animate="{{pageAnimation}}">

  <button type="button" class="btn btn-default pull-right" ng-click="undoNoteEdit()">
    undo
  </button>

  <h1 class="text-primary">{{note.title}}</h1>

  <form class="boxsizingBorder" role="form">

    <div class="boxsizingBorder form-group">
      <label class="boxsizingBorder sr-only" for="noteDescription" class="col-lg-2 control-label">description</label>
      <div class="boxsizingBorder col-lg-10">
        <textarea class="form-control boxsizingBorder" id="noteDescription"  placeholder="description..." autofocus ng-model="note.content"></textarea>
      </div>
    </div>
  </form>

</div>
