<div class="container-fluid" ng-controller="TagEditorController"
  ng-class="tag.trans.deleted && 'container-disabled'" swiper-prevent>
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">

        <a href ng-show="showEditorAction('saveBack')"
          class="group-symmetrical--left link-navigation highlighted active" swiper-click="endTagEdit()">
          <span class="text-navigation-back"
          ng-class="getEditorNavigationBackClasses()"
          ng-bind="isTagEdited() && !tag.trans.deleted ? 'save' : 'back'"></span>
        </a>

        <a href ng-show="showEditorAction('saveDone')"
          class="group-symmetrical--left highlighted override-disabled" ng-click="subEditorDone()">
          <span class="text-edit">done</span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')" id="tagEditorTitlebarTitle"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="scroll-then-toggle group-symmetrical--middle width-large primary">
          <a href class="link" swiper-click="gotoTagTitle()">
            <div class="text-heading-primary--inner">
              <span class="text-heading-primary" data-prefix="{{getPrefix(tag)}}"
                ng-class="{'text-downplayed': !tag.trans.title, 'text-prefix': tag.trans.title}"
                ng-bind="tag.trans.title && tag.trans.title.length ? tag.trans.title : 'new tag'" clamp=2>
              </span>
            </div>
          </a>
        </div>

        <div ng-if="!showEditorComponent('side-by-side-links')">
          <a href ng-if="showEditorAction('delete', tag)"
             class="group-symmetrical--right" swiper-click="deleteTagInEdit()" >
            <span class="icon-trash"></span>
          </a>
          <a href ng-if="showEditorAction('restore', tag)"
             class="group-symmetrical--right link-navigation highlighted active"
             swiper-click="undeleteTagInEdit()">
            <span class="text-navigation">restore</span>
          </a>
        </div>

        <div ng-if="showEditorComponent('side-by-side-links')" class="group-symmetrical--right side-by-side">
          <a href ng-if="showEditorAction('delete', tag)" class="link-side-by-side"
            swiper-click="deleteTagInEdit()">
            <span class="icon-trash"></span>
          </a>
          <a href ng-if="showEditorAction('restore', tag)"
            class="link-navigation highlighted active link-side-by-side" swiper-click="undeleteTag(tag)">
            <span class="text-navigation">restore</span>
          </a>
          <a href class="link-navigation active highlighted link-side-by-side"
            swiper-click="endTagEdit()">
            <span class="text-navigation"
              ng-bind="isTagEdited() && !tag.trans.deleted ? 'save' : 'close'">
            </span>
          </a>
        </div>

        <div ng-if="showEditorComponent('label')" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span class="text-field--label-bold" ng-bind="getTagPropertyNameInEdit()"></span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true"
      scroll-then-toggle="tagEditorTitlebarTitle" scroll-then-toggle-top="tagEditorTitlebarTitle"
      scroll-then-toggle-reset="registerGotoTagTitleCallback">

      <!-- TITLE -->
      <div ng-show="showEditorProperty('title')">
        <div class="group-mixed large">
          <div class="group-mixed--middle">
            <label for="tagEditorTitlebarTitle" class="text-prefixed--label large"
              ng-bind="tag.trans.tagType === 'context' ? '@' : '#'"></label>
            <div class="text-prefixed--outer">
              <textarea id="tagEditorTitlebarTitle" class="text-heading-primary large text-prefixed"
                ng-model="tag.trans.title" input-model-validator ng-trim="false"
                ng-keydown="tagTitlebarTextKeyDown($event)" msd-elastic editable-field
                editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                placeholder="enter title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
              </textarea>
            </div>
          </div>
          <div ng-if="showTagAction('favoriteContext')" class="group-mixed--right">
            <a href class="link-navigation" swiper-click="clickFavorite()">
              <span class="icon-star large" ng-class="!isFavoriteContext(tag) && 'inactive'"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- URL -->
      <div ng-if="drawerAisleInitialized && showEditorProperty('url')">
        <div ng-show="showEditorComponent('urlTextArea', tag)"
             class="row-vertically-centered with-textarea" >
          <textarea class="text-metadata" ng-model="tag.trans.link" input-model-validator ng-trim="false"
            editable-field
            editable-field-register-callbacks="registerUrlInputCallbacks(focus, blur)"
            editable-field-focus="setTextPropertyFocus('url', true)"
            editable-field-blur="setTextPropertyFocus('url', false, tag)"
            ng-keydown="urlTextKeyDown($event, tag)"
            ng-disabled="readOnly" msd-elastic
            maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
          </textarea>
        </div>
        <div ng-if="showEditorComponent('urlLink', tag)" class="group-mixed">
          <a class="group-mixed--middle clickable" ng-click="clickUrl(tag)"
             ng-class="showEditorComponent('urlLinkError', tag) ? 'link-disabled' : 'highlighted'"
             external-link="getItemHref(tag)">
            <span class="text-metadata" ng-bind="getItemVisibleUrl(tag)"></span>
          </a>
          <div class="group-mixed--right">
            <a href ng-click="setUrlFocus()">
              <span class="icon-pencil"></span>
            </a>
          </div>
        </div>
        <div ng-if="showEditorComponent('urlLinkError', tag)" class="group-error row-form">
          <span class="text-error">invalid url</span>
        </div>
      </div>

      <!-- PARENT -->
      <div ng-if="showTagProperty('parent')" class="group-mixed">
        <a href class="group-mixed--middle link-search-result" ng-class="!tag.trans.parent && 'downplayed'"
          swiper-click="openParentPicker()">
          <span class="text-field--title" clamp=1 ng-bind="getParentText()"></span>
        </a>
        <div ng-if="tag.trans.parent" class="group-mixed--right">
          <span class="text-field--label">parent</span>
        </div>
      </div>

      <!-- COLLAPSIBLE-->
      <div ng-if="showTagEditorComponent('collapsible')">
        <div ng-if="showEditorProperty('created', tag)" class="group-mixed text-field">
          <div class="group-mixed--middle">
            <span class="text-field--title">
              {{::formatToLocaleDateWithTime(tag.trans.created)}}
            </span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">created</span>
          </div>
        </div>
        <div ng-if="showEditorProperty('modified', tag)" class="group-mixed text-field">
          <div class="group-mixed--middle link-search-result">
            <span class="text-field--title" ng-bind="formatToLocaleDateWithTime(tag.trans.modified)"></span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">modified</span>
          </div>
        </div>
        <div ng-if="showEditorProperty('deleted', tag)" class="group-mixed text-field">
          <div class="group-mixed--middle link-search-result">
            <span class="text-field--title">
              {{::formatToLocaleDateWithTime(tag.trans.deleted)}}
            </span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">deleted</span>
          </div>
        </div>
      </div>
      <div ng-if="showTagEditorComponent('lessMore')" class="row collapsible">
        <a href class="downplayed" swiper-click="toggleCollapsible()">
          <span ng-class="collapsibleOpen ? 'text-expand-up' : 'text-expand-down'"
            ng-bind="collapsibleOpen ? 'less' : 'more'"></span>
        </a>
      </div>

      <!-- KEYWORD PICKER -->
      <div ng-if="showTagEditorComponent('parentPicker')"
        class="container-sub-editor swiper-no-swiping animate-fade-in row-top-parent-disable"
        editable-field-container="auto" editable-field-container-scrollable="true"
        editable-field-container-clicked-elsewhere="closeParentPicker()" data-snap-ignore="true">
        <div list-picker="getParentTagArray()"
          list-picker-new-item="getNewParentTag()"
          list-picker-save="closeParentPickerAndSetParentToTag(tag, list)"
          list-picker-close="closeParentPicker()"
          list-picker-clear="closeParentPickerAndClearParentFromTag(tag, list)"
          list-picker-get-selected="tag.trans.parent"
          list-picker-get-this-list="tag"
          list-picker-type="{{tag.trans.tagType}}"
          list-picker-prefix="{{tag.trans.tagType === 'keyword' ? '#' : '@'}}"
          list-picker-register-save-new-list-callback="registerSubEditorDoneCallback(saveNewList)"
          list-picker-unregister-save-new-list-callback="unregisterSubEditorDoneCallback()"
          list-picker-register-is-edited-callback="registerHasSubEditorEditedCallback(isEdited)"
          list-picker-unregister-is-edited-callback="unregisterHasSubEditorEditedCallback()">
        </div>
      </div>

      <!-- DESCRIPTION -->
      <textarea ng-if="drawerAisleInitialized && showEditorProperty('description')" id="ignoreSnap"
        ng-model="tag.trans.description" input-model-validator ng-trim="false"
        ng-focus="setTextPropertyFocus('description', true)"
        ng-blur="setTextPropertyFocus('description', false)" msd-elastic
        placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
      </textarea>

    </div>
    <footer class="container-content--after editor-footer">
    </footer>
  </div>
</div>
