<div class="container-fluid" ng-controller="ItemEditorController"
  ng-class="item.trans.deleted && 'container-disabled'" swiper-prevent>
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top">

        <a href ng-show="showEditorAction('saveBack')"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endItemEdit()">
          <span class="text-navigation-back" ng-bind="isItemEdited() && !item.trans.deleted ? 'save' : 'back'"
          ng-class="getEditorNavigationBackClasses()"></span>
        </a>

        <a href ng-if="showEditorAction('saveDone')" class="group-symmetrical--left highlighted">
          <span class="text-edit">done</span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')" id="itemEditorTitlebarTitle"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="scroll-then-toggle group-symmetrical--middle width-large primary">
          <a href class="link" swiper-click="gotoItemTitle()">
            <div class="text-heading-primary--inner">
              <span class="text-heading-primary" ng-class="!item.trans.title && 'text-downplayed'"
                ng-bind="item.trans.title && item.trans.title.length ? item.trans.title : 'new item'" clamp=2>
              </span>
            </div>
          </a>
        </div>

        <a href ng-if="showEditorAction('delete', item)" class="group-symmetrical--right"
          swiper-click="deleteItemInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="showEditorAction('restore', item)"
          class="group-symmetrical--right link-navigation highlighted active"
          swiper-click="undeleteItem(item)"><span class="text-navigation">restore</span>
        </a>

        <div ng-if="showEditorComponent('label')" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span class="text-field--label-bold"
              ng-bind="getPropertyNameInEdit()">
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div ng-style="{'padding-bottom': isPropertyInDedicatedEdit() ? 0 : EDITOR_FOOTER_HEIGHT}"
    class="container-fluid--inner">
    <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true"
      scroll-then-toggle="itemEditorTitlebarTitle" scroll-then-toggle-top="itemEditorTitleInput"
      scroll-then-toggle-reset="registerGotoItemTitleCallback">

      <!-- ITEM TITLE -->
      <div ng-show="showEditorProperty('title')" class="row-vertically-centered with-textarea">
        <textarea class="text-heading-primary large" ng-model="item.trans.title" id="itemEditorTitleInput"
          input-model-validator ng-trim="false" msd-elastic ng-keydown="itemTitlebarTextKeyDown($event)"
          editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
          placeholder="enter item title&#8230;" maxlength="128" autocapitalize="none" autocorrect="off">
        </textarea>
      </div>

      <!-- URL -->
      <div ng-if="drawerAisleInitialized && showEditorProperty('url')">
        <div ng-show="showEditorComponent('urlTextArea', item)"
             class="row-vertically-centered with-textarea" >
          <textarea class="text-metadata" ng-model="item.trans.link" input-model-validator ng-trim="false"
            editable-field
            editable-field-register-callbacks="registerUrlInputCallbacks(focus, blur)"
            editable-field-focus="setTextPropertyFocus('url', true)"
            editable-field-blur="setTextPropertyFocus('url', false, item)"
            ng-keydown="urlTextKeyDown($event, item)"
            ng-disabled="readOnly" msd-elastic
            maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
          </textarea>
        </div>
        <div ng-if="showEditorComponent('urlLink', item)" class="group-mixed">
          <a class="group-mixed--middle" ng-click="clickUrl(item)"
             ng-class="showEditorComponent('urlLinkError', item) ? 'link-disabled' : 'highlighted'"
             external-link="getItemHref(item)">
            <span class="text-metadata" ng-bind="getItemVisibleUrl(item)"></span>
          </a>
          <div class="group-mixed--right">
            <a href ng-click="setUrlFocus()">
              <span class="icon-pencil"></span>
            </a>
          </div>
        </div>
        <div ng-if="showEditorComponent('urlLinkError', item)" class="group-error row-form">
          <span class="text-error">invalid url</span>
        </div>
      </div>

      <!-- COLLAPSIBLE-->
      <div ng-if="showItemEditorComponent('collapsible')">
        <div ng-if="showEditorProperty('created', item)" class="group-mixed text-field">
          <div class="group-mixed--middle">
            <span class="text-field--title">
              {{::formatToLocaleDateWithTime(item.trans.created)}}
            </span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">created</span>
          </div>
        </div>
        <div ng-if="showEditorProperty('modified', item)" class="group-mixed text-field">
          <div class="group-mixed--middle link-search-result">
            <span class="text-field--title" ng-bind="formatToLocaleDateWithTime(item.trans.modified)"></span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">modified</span>
          </div>
        </div>
        <div ng-if="showEditorProperty('deleted', item)" class="group-mixed text-field">
          <div class="group-mixed--middle link-search-result">
            <span class="text-field--title">
              {{::formatToLocaleDateWithTime(item.trans.deleted)}}
            </span>
          </div>
          <div class="group-mixed--right">
            <span class="text-field--label">deleted</span>
          </div>
        </div>
      </div>
      <div ng-if="showItemEditorComponent('lessMore')" class="row collapsible">
        <a href class="downplayed" swiper-click="toggleCollapsible()">
          <span ng-class="collapsibleOpen ? 'text-expand-up' : 'text-expand-down'"
            ng-bind="collapsibleOpen ? 'less' : 'more'"></span>
        </a>
      </div>

      <!-- DESCRIPTION -->
      <textarea ng-if="drawerAisleInitialized && showEditorProperty('description')" id="ignoreSnap"
        ng-model="item.trans.description"
        input-model-validator ng-trim="false" msd-elastic maxlength="1024" autocapitalize="none"
        ng-focus="setTextPropertyFocus('description', true)"
        ng-blur="setTextPropertyFocus('description', false)"
        placeholder="enter description&#8230;" autocorrect="off">
      </textarea>

    </div>
    <footer class="container-content--after">
      <div class="group-symmetrical">
        <a href class="group-symmetrical--left link" swiper-click="convertToTask(item)">
          <span class="text-convert">task</span>
        </a>
        <div class="group-symmetrical--middle width-large">
          <a href class="link" swiper-click="convertToNote(item)"
          ng-class="!showEditorAction('convertToNote') && 'invisible'">
            <span class="text-convert">note</span>
          </a>
        </div>
        <a href class="group-symmetrical--right link"
          ng-class="!showEditorAction('convertToList') && 'invisible'"
          swiper-click="convertToList(item)">
          <span class="text-convert">list</span>
        </a>
      </div>
    </footer>
  </div>
</div>
