<div class="span12">
  <!-- Page Content -->
  <div class="em-core">
    <h3>extended mind <a href="#/" class="em-subtitle">categories</a></h3>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <section id="impression" class="em-anchor">
        <div class="page-header">
          <h5>impression</h5>
        </div>
        <p>
          An impression is a text with which a person shares her thoughts on a
          specific matter. A note in the impression category has the lightest peer review
          standards.
        </p>
      </section>
      <section id="instruction" class="em-anchor">
        <div class="page-header">
          <h5>instruction</h5>
        </div>
        <p>
          An instruction is a helpful text which specifies the steps to accomplish.
          Examples of instructions are "howto" posts and recipies.
        </p>
      </section>
      <section id="opinion" class="em-anchor">
        <div class="page-header">
          <h5>opinion piece</h5>
        </div>
        <p>
          A note in the opinion piece category contains some partial view on a given subject
          matter. The text must contain good reasoning.
        </p>
      </section>
      <section id="review" class="em-anchor">
        <div class="page-header">
          <h5>review</h5>
        </div>
        <p>
          A <a href="http://en.wikipedia.org/wiki/Review" target="_blank">review</a> is an 
          evaluation of a work. A review must follow good reasoning and contain insightful
          remarks and knowledge on the subject matter.
        </p>
      </section>
      <section id="essay" class="em-anchor">
        <div class="page-header">
          <h5>essay</h5>
        </div>
        <p>
          An <a href="http://en.wikipedia.org/wiki/Essay">essay</a> is a lengthy systematic discourse
          on a specific subject matter.
        </p>
      </section>
      <section id="term-paper" class="em-anchor">
        <div class="page-header">
          <h5>term paper</h5>
        </div>
        <p>
          The <a href="http://en.wikipedia.org/wiki/Term_paper" target="_blank">term paper</a> 
          category is for argumentative studies that make thorough academic references. 
        </p>
      </section>
      <section id="academic-paper" class="em-anchor">
        <div class="page-header">
          <h5>academic paper</h5>
        </div>
        <p>
          The most rigorous category of is the 
          <a href="http://en.wikipedia.org/wiki/Academic_paper#Scholarly_paper" target="_blank">academic paper</a>. 
          An academic paper follows the norms of the scientific review process.
          Only selected cags with the most scientifically accomplished supervisors have support 
          for academic papers. 
        </p>
      </section>
    </div>
  </div>
</div>
