<div class="span12">
  <!-- Page Content -->
  <div class="em-core">
    <h3>extended mind <a href="#/" class="em-subtitle">login</a></h3>
    <p>&nbsp;</p>
    <p>
      <form name="form">
        <dl>
          <dt>
            <label for="login-email">email address</label>
            <input id="login-email" type="email" value="" name="login-email" ng-model="email">
          </dt>
          <dt>
            <label for="login-password">password</label>
            <input id="login-password" type="password" value="" name="login-password" ng-model="password">
          </dt>
          <dt>
            <a href="#/my" class="btn">login</a>
          </dt>
        </dl>
      </form>
    </p>
  </div>
</div>