{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="{{ url_for('troikas') }}">{{ _('Home') }}</a>
{% endblock %} 
{% block subheading %} | {{ _('About') }} {% endblock %}

{% block body %}
{% call macros.heading() %} {% endcall %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span4 tl-group">
      <ul class="nav nav-list" data-spy="scroll" data-target=".nav">
        <li class="nav-header">{{ _('Contents') }}</li>
        <li><a href="#general">{{ _('What Is Troika?') }}</a></li>
        <li><a href="#how">{{ _('How Does It Work?') }}</a></li>
        <li><a href="#we">{{ _('Who are we?') }}</a></li>
        <li><a href="#contact">{{ _('Contact us') }}</a></li>
      </ul>
    </div>
    <div class="span8">
      <section id="general" class="tl-anchor">
        <div class="page-header">
          <h3>{{ _('What Is Troika?') }}</h3>
        </div>
        <p><b>{{ _('Troika\'s mission is to empower people') }}</b><br/>
        <blockquote>{{ _('to share and create new knowledge with each other. We want to remove common 
        obstacles that usually prohibit this. We want to encourage people to recognize their own abilities, skills and
        knowledge.') }}</blockquote></p>
        <p><b>{{ _('Troika is a hassle-free coordinator and organizer') }}</b><br/>
        <blockquote>{{ _('for peer learning. Whether you want to share knowledge or receive it, Troika offers a platform 
        where people can arrange peer learning events and spread the word of the event to other people interested in the 
        topic.') }}</blockquote></p>
        <p><b>{{ _('Troika\'s focus is on in-person meetings') }}</b><br/>
        <blockquote>{{ _('of three or more people. A "troika" means "of three". When three people get together 
        at a Troika event, the organized Troika is considered a great success!') }}</blockquote></p>
      </section>
      <section id="how" class="tl-anchor">
        <div class="page-header">
          <h3>{{ _('How Does It Work?')}}</h3>
        </div>
        <p>{{ _('Three easy steps:') }} {% call macros.steps() %}{% endcall %}</p>
        <p><ol class="tl-list">
          <li>{{ _('Discover a Topic.') }} <span><a href="{{ url_for('troikas') }}">{{ _('Browse topics') }}</a> 
          {{ _('people have suggested as Troika events. Join a Troika that interests you either as a 
          learner, participant or even lead. You are of course also welcome to') }} 
          <a href="{{ url_for('create_troika') }}">{{_('create your own Troika') }}</a>. 
          {{_('Give your Troika event a title, a description, language and select your role in the Troika. If you want, 
          you can also suggest a time and a place and set the maximum number of participants in the Troika. After the Troika 
          is created, you can invite people to join your Troika on the Troika page, or just 
          take a rest and wait for people to discover your Troika!') }}</span></li>
          <li>{{ _('Meet People.') }} <span>{{ _('When you and two other people have found each other in a Troika event, 
          you will receive email from us containing the email addresses of the three of you. If all the details were given 
          by the Troika creator, the Troika is now activated. If not, this is the time to agree on the remaining details and 
          then add that information to the Troika event by pressing "Edit Troika" on the Troika page. After that other people will be 
          able to join your Troika, limited of course by the maximum number of participants you have specified.') }}</span></li>
          <li>{{ _('Learn Stuff.') }} <span>{{ _('Enjoy your Troika event and learn things from each other! Finally 
          remember to spread the word about your Troika event for others to be encouraged and set 
          up more Troikas to share their knowledge.') }}</span></li>
        </ol>
        </p>
      </section>
      <section id="we" class="tl-anchor">
        <div class="page-header">
          <h3>{{ _('Who are we?') }}</h3>
        </div>
        <p>{{ _('Troika is the brain child of Olli Parviainen, Petro Poutanen, 
        Salla Laaksonen and Timo Tiuraniemi who also developed this site.') }}</p>
        <p>{{ _('Troika website is part of the Extended Mind family of software tools. 
          Troika and Extended Mind are open source software developed under') }}
          <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
          {{ _('Affero GNU Public Licence v3') }}</a>.
          {{ _('Get the source code') }} <a href="https://github.com/ttiurani/extendedmind" target="_blank">
          {{ _('here') }}</a>.
        </p>
        <p>{{ _('Development of Troika is supported by') }} 
           <a href="http://www.verkostoanatomia.fi/" target="_blank">Verkostoanatomia</a> {{ _('and') }}
           <a href="http://www.filosofianakatemia.fi/" target="_blank">Filosofian Akatemia</a>. 
        </p>
      </section>
      <section id="contact" class="tl-anchor">
        <div class="page-header">
          <h3>{{ _('Contact us') }}</h3>
        </div>
        <p><a href="{{ url_for('feedback') }}">{{ _('Give instant feedback about Troika') }}</a>.
        </p>
        <p>{{ _('For general questions about Troika, send email to') }}
          <a href="mailto:info@troikalearning.org">info@troikalearning.org</a>.</p>
        <p>{{ _('For questions about this site, send email to') }} 
          <a href="mailto:webmaster@troikalearning.org">webmaster@troikalearning.org</a>.</p>
        <p>&nbsp;</p>
      </section>
    </div>
  </div>
</div>

{% endblock %}
{% block feedback %}{% endblock %}

