{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">Home</a>
{% endblock %} 
{% block subheading %} | {% if access == 'create' %}Create{% else %}Edit{% endif %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span12">  
      <h2>Troika</h2>
      {% call macros.handle_errors(errors=troikaerrors) %} {% endcall %}
      <form id="tl-troika" action="" method="POST">
        {% if access == 'create' %}
            When you fill up this form you will become a
            creator for a new pending troika. The troika will
            become active once two other participants have
            confirmed their attendance and you have agreed
            on time and place of the troika.
        {% endif %}  
        <dl>
          <dt>{{ troikaform.hidden_tag() }}</dt>
          <dt>{{ troikaform.title.label }} {{ troikaform.title(class="tl-text-medium") }}</dt>
          <dt>{{ troikaform.description.label }} {{ troikaform.description(class="tl-text-large", rows=10) }}</dt>
          <dt>{{ troikaform.address.label }} {{ troikaform.address(class="tl-text-medium") }}</dt>
          <dt>{{ troikaform.address_addendum.label }} {{ troikaform.address_addendum(class="tl-text-medium") }}</dt>
          <dt>{{ troikaform.start_date.label }} {{ troikaform.start_date(class="tl-date") }}</dt>
          <dt>{{ troikaform.start_time_hours.label }} {{ troikaform.start_time_hours(class="tl-integer") }} {{ troikaform.start_time_minutes(class="tl-integer") }}</dt>
          <dt>{{ troikaform.duration.label }} {{ troikaform.duration(class="tl-integer") }}</dt>
          <dt>{{ troikaform.max_participants.label }} {{ troikaform.max_participants(class="tl-integer") }}</dt>
          {% if access == 'create' %}
          <dt class="tl-radio">{{ troikaform.creator_role.label }}
		        {% for subfield in troikaform.creator_role %}
				    <tr>
				        <td>{{ subfield() }}</td>
				        <td>{{ subfield.label }}</td>
				    </tr>
				{% endfor %}
          </dt>
          <dt>
            <input type="submit" name="action" value="Create Troika">
          </dt>
          {% else %}  
          <dt>
            <input type="submit" name="action" value="Save Troika">
            {% if access == 'delete' %}
            <input type="submit" name="action" value="Delete Troika">
            {% endif %}
          </dt>
          {% endif %}  
        </dl>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static',filename='bootstrap/ext/datepicker/bootstrap-datepicker.js') }}"></script>
<script type=text/javascript>
  $('#troika-start_date').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1
});
</script>
{% endblock %}
