{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">{{ gettext('Home') }}</a>
{% endblock %} 
{% block subheading %} | {{ gettext('Feedback') }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span12">  
      <h2>Feedback</h2>
      {% for feedback in given_feedback %}
      <ul>
        <li>{{ feedback.created }} -- 
            {% if (feedback.user) %} {{ feedback.user.full_name }}
            {% else %}{{ gettext('Anonymous') }}{% endif %}
          <ul>
            <li>{{ feedback.description }}</li>
          </ul>
        </li>
      </ul>
      {% else %}
        {% call macros.handle_errors(errors=feedbackerrors) %} {% endcall %}
        <form id="feedback" action="" method="POST">
          <dl>
            <dt>{{ feedbackform.hidden_tag() }}</dt>
            <dt>{{ feedbackform.description.label }} {{ feedbackform.description(class="tl-text-large", rows=10) }}</dt>
            <dt>
              <input type="submit" name="action" value="Save">
            </dt>
          </dl>
        </form>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}