{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">{{ _('Home') }}</a>
{% endblock %} 
{% block subheading %} | {{ _('Login / Register') }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span6">  
      <h2>{{ _('Login') }}</h2>
      {% call macros.handle_errors(errors=loginerrors) %} {% endcall %}
      <form id="tl-login" action="{{ url_for('login') }}" method="POST">
        <dl>
          <dt>{{ loginform.hidden_tag() }}</dt>
          <dt>{{ loginform.email.label }} {{ loginform.email(type="email") }}</dt>
          <dt>{{ loginform.password.label }} {{ loginform.password() }}</dt>
          <dt>
            <input type="submit" value="Login">
          </dt>
        </dl>
      </form>
    </div>
    <div class="span6">  
      <h2>{{ _('Register') }}</h2>
      {% call macros.handle_errors(errors=regerrors) %} {% endcall %}
      <form id="tl-register" action="{{ url_for('login') }}"
        method="POST">
        <dl>
          <dt>{{ regform.hidden_tag() }}</dt>
          <dt>{{ regform.first_name.label }} {{ regform.first_name() }}</dt>
          <dt>{{ regform.last_name.label }} {{ regform.last_name() }}</dt>
          <dt>{{ regform.alias.label }} {{ regform.alias() }} {% call
            macros.handle_description() %} {% endcall %}</dt>
          <dt>{{ regform.email.label }} {{ regform.email(type="email") }}</dt>
          <dt>{{ regform.password.label }} {{ regform.password() }}</dt>
          <dt>{{ regform.confirm.label }} {{ regform.confirm() }}</dt>
          <dt>
            <input type="submit" value="Register">
          </dt>
        </dl>
      </form>
    </div>
  </div>
</div>
{% endblock %}