{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="/">Home</a>
{% endblock %} 
{% block subheading %} | Login / Register{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid"> 
    <div class="span6">  
      <h2>Login</h2>
      {% if loginerrors %}
      {% for loginerror in loginerrors %}
      <div class="alert alert-error tl-message">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Error:</strong> {{ loginerror }}
      </div>
      {% endfor %}
      {% endif %}
      {% call macros.login_form(form=loginform) %} {% endcall %}
    </div>
    <div class="span6">  
      <h2>Register</h2>
      {% if regerrors %}
      {% for regerror in regerrors %}
      <div class="alert alert-error tl-message">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Error:</strong> {{ regerror }}
      </div>
      {% endfor %}
      {% endif %}
      {% call macros.register_form(form=regform) %} {% endcall %}
    </div>
  </div>
</div>
{% endblock %}