{% extends "layout.html" %} 
{% import 'macros.html' as macros %}
{% block back_button %}
<a href="{{ url_for('troikas') }}">{{ _('Home') }}</a>
{% endblock %} 
{% block subheading %} | {{ troika.title }}{% endblock %}

{% block body %}
<div class="tl-heading">
  <h2>{{ troika.title }}</h2>  
</div>
{% if troika.access %}
<div class="pagination-centered">
  <a href="{{ url_for('edit_troika', troika_id=troika.id) }}"><h4>{{ _('Edit Troika') }}</h4></a>
</div>
{% elif not 'email' in session and not troika.is_full and not troika.phase == 'complete' %}
<div class="pagination-centered">
  <a href="{{ url_for('login_troika', troika_id=troika.id) }}"><h5>{{ _('Login or register to join Troika!') }}</h5></a>
</div>
{% elif 'email' in session and troika.is_full and not troika.phase == 'complete' %}
<div class="pagination-centered">
  <h5>{{ _('This Troika is currently full') }}</h5></a>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 tl-group">
      <div class="container span12">  
        <h3>{{ _('Description') }}</h3> {{ troika.description }}
      </div>
    </div>
    <div class="span4 tl-group">
      <div class="container span12">
        <h3>{{ _('Status') }}</h3> 
        {% if troika.phase == 'active' %}
          {{ _('Active') }}
        {% elif troika.phase == 'pending' %}
          {{  _('Pending') }}
        {% elif troika.phase == 'pending_huddle' %}
          {{ _('Pending, huddle in progress') }}
        {% elif troika.phase == 'complete' %}
          {{ _('Complete') }}
        {% endif %}
        <h3>{{ _('Start time') }}</h3> {{ troika.start_time }}
        <h3>{{ _('End time') }}</h3> {{ troika.end_time }}
        <h3>{{ _('Address') }}</h3> {{ troika.address }}
        <h3>{{ _('Language') }}</h3> {{ troika.language }}
      </div>
    </div>
    <div class="span4 tl-group">
      <div class="span12">
        <h3>{{ _('Lead') }}</h3> 
        {% if (troika.lead == None) %}
          {% if ('email' in session and not troika.participating) %}            
            <a href="{{ url_for('join_troika', troika_id=troika.id, troika_role=0) }}">
            {{ _('Lead this Troika') }}
            </a>
          {% else %}
            {{ _('No one yet') }}
          {% endif %}
          <br/>
          {% call macros.invite_modal(inviteform=inviteform_lead, 
                                      link_text=_('Invite lead'), 
                                      heading_text=_('Give the email address of the person you want to invite to lead.')) %}
          {% endcall %}     
        {% else %}
          {{ troika.lead }}
          {% if (troika.phase not in ['active', 'complete'] and troika.participating == 'lead') %}
            <br/>
            <a href="{{ url_for('leave_troika', troika_id=troika.id, troika_role=0) }}">
            {{ _('Leave this Troika') }}
            </a>
          {% endif %}
        {% endif %}
        <h3>{{ _('First Learner') }}</h3>
        {% if (troika.first_learner == None) %}
          {% if ('email' in session and not troika.participating) %}                    
            <a href="{{ url_for('join_troika', troika_id=troika.id, troika_role=1) }}">
            {{ _('Be the first learner in this Troika') }}
            </a>
          {% else %}
            {{ _('No one yet') }}
          {% endif %}
          <br/>
          {% call macros.invite_modal(inviteform=inviteform_first, 
                                      link_text=_('Invite first learner'), 
                                      heading_text=_('Give the email address of the person you want to invite to be the first learner.')) %}
          {% endcall %}
        {% else %}
          {{ troika.first_learner }}
          {% if (troika.phase not in ['active', 'complete'] and troika.participating == 'first_learner') %}
            <br/>
            <a href="{{ url_for('leave_troika', troika_id=troika.id, troika_role=1) }}">
            {{ _('Leave this Troika') }}
            </a>
          {% endif %}
        {% endif %}
        <h3>{{ _('Second Learner') }}</h3> 
        {% if (troika.second_learner == None) %}
          {% if ('email' in session and not troika.participating) %}                    
            <a href="{{ url_for('join_troika', troika_id=troika.id, troika_role=2) }}">
            {{ _('Be the second learner in this Troika') }}
            </a>
          {% else %}
            {{ _('No one yet') }}
          {% endif %}
          <br/>
          {% call macros.invite_modal(inviteform=inviteform_second, 
                                      link_text=_('Invite second learner'), 
                                      heading_text=_('Give the email address of the person you want to invite to be the second learner.')) %}
          {% endcall %}
        {% else %}
          {{ troika.second_learner }}
          {% if (troika.phase not in ['active', 'complete'] and troika.participating == 'second_learner') %}
            <br/>
            <a href="{{ url_for('leave_troika', troika_id=troika.id, troika_role=2) }}">
            {{ _('Leave this Troika') }}
            </a>
          {% endif %}
        {% endif %}
        <h3>{{ _('Max Participants') }}</h3> {{ troika.max_participants }}
        <h3>{{ _('Participants') }}</h3>
          {% for participant in troika.participants %}
            {% if (loop.last) %}
              {{ participant.full_name }}
            {% else %}
              {{ participant.full_name + ', ' }}
            {% endif %}
            {% else %} {{ _('No one yet') }}
          {%endfor %}
          {% if (troika.phase == 'active' and 'email' in session and not troika.participating and not troika.is_full) %}
            <br/><a href="{{ url_for('join_troika', troika_id=troika.id, troika_role=3) }}">
            {{ _('Participate in this Troika') }}
            </a>
          {% elif (troika.phase !=  'complete' and troika.participating == 'participant') %}
            <br/><a href="{{ url_for('leave_troika', troika_id=troika.id, troika_role=3) }}">
            {{ _('Leave this Troika') }}
            </a>
          {% endif %}
          {% if (troika.phase ==  'active' and not troika.is_full) %}  
            <br/>{% call macros.invite_modal(inviteform=inviteform_participant, 
                                        link_text=_('Invite participant'), 
                                        heading_text=_('Give the email address of a person you want to invite to be participate in this Troika.')) %}
            {% endcall %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% if troika.activate %}
<div class="pagination-centered">
  <a href="{{ url_for('activate_troika', troika_id=troika.id) }}"><h4>{{ _('Activate Troika') }}</h4></a>
</div>
{% endif %}
       
{% endblock %}
