{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block back_button %}
<a class="navbar-link" href="about">{{ gettext('About') }}</a>
{% endblock %}
{% block subheading %} &ndash; {% call macros.slogan() %}{% endcall %} {% endblock %}

{% block body %}

{% call macros.heading() %} {% endcall %}
<div class="pagination-centered">
  <a href="{{ url_for('create_troika') }}"><h4>{{ gettext('Create a new troika event') }}</h4></a>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="accordion" id="tl-active-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a href="#tl-active-collapse" data-toggle="collapse" data-parent="#tl-active-accordion">
              <h3>{{ gettext('Active Troikas') }}</h3>
              </a>
              <h6>{{ gettext('Upcoming troikas you can join.') }}</h6> 
            </div>
          </div>
          <div id="tl-active-collapse" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="tl-troika-headers">
                {% for active_entry in active_entries %}
                  <li class="tl-troika-header">
                    <a href="{{ url_for('troika', troika_id=active_entry.id) }}">
                    {{ active_entry.title }}</a>
                    <br/><span class="tl-start-date">
                    {{ active_entry.start_time }}
                    </span>
                  </li>
                {% else %}
                  <li><em>{{ gettext('Unbelievable. No entries.') }}</em></li> 
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="accordion" id="tl-pending-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a data-toggle="collapse" data-parent="#tl-pending-accordion" href="#tl-pending-collapse">
              <h3>{{ gettext('Pending Troikas') }}</h3>
              </a>
              <h6>{{ gettext('Suggested troikas not yet activated. Check if you can help!') }}</h6> 
            </div>
          </div>
          <div id="tl-pending-collapse" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="tl-troika-headers">
                {% for pending_entry in pending_entries %}
                  <li class="tl-troika-header"><a
                    href="{{ url_for('troika', troika_id=pending_entry.id) }}">
                      {{ pending_entry.title }} </a>
                    {% if pending_entry.start_time != None %}
                    <br/><span class="tl-start-date">
                    {{ pending_entry.start_time }}
                    </span>
                    {% endif %}
                  </li> 
                {% else %}
                  <li><em>{{ gettext('Unbelievable. No entries.') }}</em></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="accordion" id="tl-completed-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a data-toggle="collapse" data-parent="#tl-completed-accordion" href="#tl-completed-collapse">
                <h3>{{ gettext('Completed Troikas') }}</h3>
              </a>
              <h6>{{ gettext('Succesfully held troikas.') }}</h6> 
            </div>
          </div>
          <div id="tl-completed-collapse" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="tl-troika-headers">
                {% for completed_entry in completed_entries %}
                  <li class="tl-troika-header"><a href="{{ url_for('troika', troika_id=completed_entry.id) }}">
                    {{ completed_entry.title }} </a>
                    <br/><span class="tl-start-date">
                    {{ completed_entry.start_time }}
                    </span>
                  </li>
                {% else %}
                <li><em>{{ gettext('Unbelievable. No entries.') }}</em></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}