<?xml version='1.0' encoding='utf-8'?>
<widget id="${cordova.bundleId}" version="${project.version.trimmed}" xmlns="http://www.w3.org/ns/widgets">
    <name>extmd</name>
    <description>
        Mobile application for Extended Mind.
    </description>
    <author email="timo.tiuraniemi@iki.fi" href="http://www.extendedmind.org">
        Extended Mind Team
    </author>

    <feature name="Keyboard">
      <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>

    <feature name="KeepScreenOn">
      <param name="android-package" value="com.MyPlug.plugins.KeepScreenOn"/>
    </feature>

    <!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which Cordova requires. -->
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="SplashScreen" value="splash" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="assets/screens/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="assets/screens/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="assets/screens/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="assets/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="assets/screens/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="assets/screens/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="assets/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="assets/screens/ios/Default-667h@2x~iphone.png" width="750" height="1334"/>
        <splash src="assets/screens/ios/Default-736h@3x~iphone.png" width="1242" height="2208"/>
        <splash src="assets/screens/ios/Default-Landscape-736h@3x~iphone.png" width="2208" height="1242"/>
    </platform>

    <access origin="*" />
    <content src="index.html" />
</widget>
