<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.extendedmind.android">

  <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="32" />

  <application
      android:name=".Application"
      android:label="Extended Mind App"
      android:theme="@style/Theme.Extendedmind">
    <activity
        android:name=".MainActivity"
        android:label="Extended Mind App"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Resolve a conflict issue while building with Bazel. -->
    <provider
         android:name="androidx.startup.InitializationProvider"
         android:authorities="${applicationId}.androidx-startup"
         tools:node="remove" />
  </application>

</manifest>
