<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.extendedmind.android"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="32" />

  <application
      android:label="Extended Mind App"
      android:theme="@style/Theme.Extendedmind">
    <activity
        android:name=".MainActivity"
        android:label="Extended Mind App"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
