<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.extendedmind.android">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <application
        android:name=".Application"
        android:label="Extended Mind App"
        android:theme="@style/Theme.ExtendedMindStatusBar">
        <activity
            android:name="org.extendedmind.android.ui.connect.ConnectActivity"
            android:exported="false" />
        <activity
            android:name="org.extendedmind.android.ui.MainActivity"
            android:exported="true"
            android:label="Extended Mind App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Resolve a conflict issue while building with Bazel. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>
