<form class="form-horizontal" role="form" name="taskEdit">

  <div class="form-group">
    <label class="sr-only" for="taskTitle">title</label>
    <div class="col-lg-10">
      <input type="text" class="form-control em-simple-input" id="taskTitle" ng-model="task.title" placeholder="title..." required>
    </div>
  </div>

  <div class="form-group">
    <label for="taskkDue" class="sr-only">select date...</label>
    <div class="col-lg-10">
      <span class="em-span" ng-click="focusDate()">select date...</span>
      <div date />
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskParent">parent</label>
    <div class="col-lg-10">
      <select class="form-control em-simple-input" id="taskParent" ng-model="task.relationships.parentTask" ng-options="project.uuid as project.title for project in tasks | tasksFilter:filterService.activeFilters.project" ng-hide="task.project">
        <option value="">select project...</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskContext">context</label>
    <div class="col-lg-10">
      <select class="form-control em-simple-input" id="taskContext" ng-model="task.relationships.tags[0]" ng-options="context.uuid as context.title for context in contexts" ng-hide="task.project">
        <option value="">select context...</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskLink">link</label>
    <div class="col-lg-10">
      <input type="text" class="form-control em-simple-input" id="taskLink" ng-model="task.link" placeholder="link..." ng-hide="task.project">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10">
      <button type="submit" class="btn btn-default" ng-disabled="!taskEdit.$valid" ng-click="editTask()">
        save
      </button>
    </div>
  </div>

</form>
