<form class="form-horizontal" role="form" name="taskEdit">

  <div class="form-group">
    <label class="sr-only" for="taskTitle">title</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="taskTitle" ng-model="task.title" autofocus="autofocus" placeholder="title..." required>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskkDue">date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="taskDue" ng-model="task.due">
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskParent">parent</label>
    <div class="col-lg-10">
      <select class="form-control" id="taskParent" ng-model="parentTask" ng-options="project.title for project in projects">
        <option value="">select list</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label class="sr-only" for="taskLink">link</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="taskLink" ng-model="task.link" placeholder="link...">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10">
      <button type="submit" class="btn btn-default" ng-disabled="!taskEdit.$valid" ng-click="editTask()">
        add
      </button>
    </div>
  </div>

</form>
