<div>
  <!-- FIXME: set ng-show based on if there is text in the omnibar! -->
  <div ng-show="(false)" ng-transclude></div>

  <ul class="list-unstyled" ng-show="tasksListFilter">

    <li ng-class="selected" ng-repeat="task in tasks | filter:tasksListFilter">

      <input type="checkbox" name="checkbox" id="checkbox{{$index}}" class="task-checkbox" ng-checked="task.completed" ng-click="taskChecked($index)">

      <span ng-click="toggleTaskContent()">{{task.title}}</span>

      <div task-content ng-show="showTaskContent"></div>

    </li>

  </ul>

</div>
