<div>
    <div ng-show="tasksListFilter" ng-transclude></div>

    <ul class="list-unstyled" ng-show="tasksListFilter">

        <li ng-class="selected" ng-repeat="task in tasks | filter:{title:tasksListFilter}">

            <input type="checkbox" name="checkbox" id="checkbox{{$index}}" class="em-input-checkbox" ng-checked="task.completed" ng-click="taskChecked(task)" />

            <label class="em-input-text em-checkbox" id="checkbox{{$index}}" for="checkbox{{$index}}"></label>
            <span>{{task.title}}</span>
            
        </li>

    </ul>
</div>
