<ul>

  <li ng-repeat="value in task | visibleTaskContent">
    <span><small>{{value}}</small></span>
  </li>

  <li ng-repeat="tag in task.relationships.tags | tagTitle">

    <span ng-click="setActiveItem(tag)"><small><a class="text-muted" href="my/tasks/context/{{tag.uuid}}">@{{tag.title}}</a></small></span>

  </li>

  <div class="item-actions">
    
    <button type="button" class="btn btn-default" ng-hide="task.relationships.parentTask" ng-click="taskToProject(task)">
      add subtask
    </button>
    
    <button type="button" class="btn btn-default" ng-click="taskEdit(task)">
      edit
    </button>
    
    <button type="button" class="btn btn-default" ng-hide="task.project" ng-click="deleteTask(task)">
      delete
    </button>

  </div>

</ul>
