@import "foundation.less";

/*

<h1 class="main-heading">Animations</h1>

The app animations are mostly fades between different colors and brightnesses.
*/

/*
* Set fading background to content when omnibar drawer is toggled and max width when menu drawer is toggled.
*
* Animation time should be shorter than the speed paramer in Snap.js drawer.
* Backgroung must be animated faster than Snap.js drawer because otherwise it seems to be a little laggy.
*/

#feature-container-wrapper {
  -webkit-transition: all .3s ease; // this is needed so custom animations in child elements will work
  background-color: white;

  // NOTE: transition correspond with Snap.js menu drawer animation transition
  // http://stackoverflow.com/a/15138493
  #feature-container {
    -webkit-transition: all .3s ease, max-width .2s ease;
    -moz-transition: all .3s ease, max-width .2s ease;
    -o-transition: all .3s ease, max-width .2s ease;
    -ms-transition: all .3s ease, max-width .2s ease;
    -transition: all .3s ease, max-width .2s ease;
  }
  #feature-container.omnibar-opening {
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    -transition-transition: background-color .3s linear;
    background-color: #dadada;
  }
  #feature-container.omnibar-closing {
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -transition-transition: background-color .2s linear;
    background-color: white;
  }
}

/*
`.fade-fast` fades to new color in 0.25 seconds.

```markup
<style>
  .fade-fast {
  }
  .fade-fast:hover {
   color: red;
  }
</style>
<div class="fade-fast">Hover over me.</div>
```
*/
.fade-fast {
  -o-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -khtml-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/*
`.loading-animation`

TODO: example needed!

```markup
<div class="loading-animation"></div>
```
*/
.loading-animation {
  position: relative;
  height: inherit;
  padding-top: @vertical-grid * 3;
  color: @default-element;
  text-align: center;
}

/*
Fade out long ellipsis

TODO: working example needed!

```markup
<span style="width=100px" accordion-title-link="item.title.length" accordion-title-link-bold="boldTitle" class="ng-isolate-scope ng-binding">contexts could be used to prevent access to data. contexts could be used to prevent access to data. contexts could be used to prevent access to data. contexts could be used to prevent access to data.contexts could be used to prevent access to data.contexts could be used to prevent access to data.contexts could be used to prevent access to data.</span>
```
*/
// From: http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/
.ellipsis {
  overflow: hidden;
  height: @vertical-grid;
  line-height: 22px;
}
.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: @vertical-grid;
}
.ellipsis > span {
  float: right;
  width: 100%;
  margin-left: -5px;
}
.ellipsis:after {
  content: "\00a0";

  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  float: right;
  position: relative;
  top: -24px;
  left: 100%;
  width: 7em;
  margin-left: -7em;
  padding-right: 5px;
  text-align: right;
  background: -webkit-gradient(linear, left top, right top,
    from(rgba(255, 255, 255, 0)), to(white), color-stop(75%, white));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
}


/*
Backdrop for editable field

TODO: working example needed!

```markup
<div class="editable-field-backdrop" style="height:100px">
  <div class="inner-page-content-container" style="width=50%;height=50%;">I'm mr. lightbox</div>
</div>
```
*/
.editable-field-backdrop {
  -webkit-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}


/*
Onboarding bubble fade

TODO: working example needed!

```markup
<p class="instruction-text-chapter onboarding-bubble">use <b>omnibar</b><br>for quick save and recall</p>
```
*/
// TODO: refactoring needed (onboarding vs. backdrop?)
.onboarding-bubble:after {
  -webkit-transition: border-bottom-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: border-bottom-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: border-bottom-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: border-bottom-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: border-bottom-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.editable-field-backdrop.active {
  background-color: #d0d0d0 !important;
  &.backdrop-disable * {
    pointer-events: none;
  }
  // In Android, scrolling is not possible form pointer-events:none, even though in iOS it is
  // TODO: The latter is for timeline.html where the section below inner-slide-content-container
  //       is the one with scrolling. This could be nicer.
  &.backdrop-disable .inner-page-content-container, &.backdrop-disable .inner-slide-content-container section {
    pointer-events: auto;
  }
  .onboarding-bubble:after {
    border-bottom-color: #f6f6f6 !important;
  }
}

.editable-field-backdrop.active, .editable-field-backdrop.animating {
  .ellipsis:after {
    background-image: none !important;
  }
  #feature-container-wrapper, #feature-container,
  .border-button, .add-button, button[disabled].search-tab-button,
  .static-page-header {
    background-color: inherit;
  }
}

.backdrop-disable .editable-field-container.active {
  * {
    pointer-events: auto !important;
  }
}

.editable-field.active, .editable-field-container.active {
  background-color: white;
}