@import "foundation.less";
@import "inputs.less";

/*

<h1 class="main-heading">Animations</h1>

*/

@speed-animation-menu: .2s;

@timing-animate: cubic-bezier(0.250, 0.460, 0.450, 0.940);
@timing-animate-steep: cubic-bezier(.01, 1.11, 0, .97);
@timing-animate-gradual: cubic-bezier(.97, .01, .93, .63);

@speed-animate-item-fade: .5s;
@speed-animate-item-shrink: .4s;
@delay-animate-item-shrink: .6s;
@timing-animate-item: @timing-animate;

@speed-animate-checkbox-checked: 3s;
@speed-animate-checkbox-checked-highlighted: 1.5s;
@speed-animate-checkbox-checked-downplayed: 1.5s;
@delay-animate-checkbox-checked-downplayed: 1.5s;

@speed-animate-toaster-fade: .5s;
@timing-animate-toaster: @timing-animate;

@speed-animate-btn-completed-fade: 1s;
@timing-animate-btn-completed: @timing-animate-gradual;

@speed-animate-fade-in: .3s;
@timing-animate-fade-in: @timing-animate;

@speed-animate-date-active: .2s;
@timing-animate-date-active: @timing-animate-gradual;

// 1. Animate maximum width change when menu opens and closes.
// 2. Animate maximum height change when soft keyboard opens and closes.
.animate-container-master {
  -webkit-transition: max-width @speed-animation-menu ease-out; // [1,2]
  -moz-transition: max-width @speed-animation-menu ease-out;    // [1,2]
  -o-transition: max-width @speed-animation-menu ease-out;      // [1,2]
  -ms-transition: max-width @speed-animation-menu ease-out;     // [1,2]
  transition: max-width @speed-animation-menu ease-out;         // [1,2]
}

// 1. Set initial max-height for item to make max-height animation work in WebKit browsers.
.animate-list-item-leave {
  max-height: @grid-vertical * 1.5; // [1]
}

.animate-list-item-leave.tall {
  max-height: @grid-vertical * 3; // [1]
}

// 1. Animate opacity first, delay max-height animation by 0.5s.
.animate-list-item-leave.ng-leave {
  -webkit-transition-property: opacity, max-height;                                   // [1]
  -webkit-transition-duration: @speed-animate-item-fade, @speed-animate-item-shrink;  // [1]
  -webkit-transition-timing-function: @timing-animate-item, @timing-animate-item;     // [1]
  -webkit-transition-delay: 0s, @delay-animate-item-shrink;                           // [1]

  -moz-transition-property: opacity, max-height;                                      // [1]
  -moz-transition-duration: @speed-animate-item-fade, @speed-animate-item-shrink;     // [1]
  -moz-transition-timing-function: @timing-animate-item, @timing-animate-item;        // [1]
  -moz-transition-delay: 0s, @delay-animate-item-shrink;                              // [1]

  -o-transition-property: opacity, max-height;                                        // [1]
  -o-transition-duration: @speed-animate-item-fade, @speed-animate-item-shrink;       // [1]
  -o-transition-timing-function: @timing-animate-item, @timing-animate-item;          // [1]
  -o-transition-delay: 0s, @delay-animate-item-shrink;                                // [1]

  -ms-transition-property: opacity, max-height;                                       // [1]
  -ms-transition-duration: @speed-animate-item-fade, @speed-animate-item-shrink;      // [1]
  -ms-transition-timing-function: @timing-animate-item, @timing-animate-item;         // [1]
  -ms-transition-delay: 0s, @delay-animate-item-shrink;                               // [1]

  transition-property: opacity, max-height;                                           // [1]
  transition-duration: @speed-animate-item-fade, @speed-animate-item-shrink;          // [1]
  transition-timing-function: @timing-animate-item, @timing-animate-item;             // [1]
  transition-delay: 0s, @delay-animate-item-shrink;                                   // [1]
}

// 1. Fade out and shrink .list-item
.animate-list-item-leave.ng-leave.ng-leave-active {
  opacity: 0;     // [1]
  max-height: 0;  // [1]
}

.animate-list-item-leave.ng-leave {
  pointer-events: none;
  opacity: 1;       // [1]
}

// 1. Fade prompt in with delay.
//    This is used when list empties, and 1 second delay ensures there is no more .animate-list-item-leave
//    animations running.
.animate-no-items-prompt {
  -webkit-transition: opacity @timing-animate 0.5s 1s;
  -moz-transition: opacity @timing-animate 0.5s 1s;
  -o-transition: opacity @timing-animate 0.5s 1s;
  -ms-transition: opacity @timing-animate 0.5s 1s;
  transition: opacity @timing-animate 0.5s 1s;
}

// 1. Fade in start.
.animate-no-items-prompt-add {
  opacity: 0; // [1]
}

// 1. Fade in end.
.animate-no-items-prompt-add-active {
  opacity: 1; // [1]
}

// Animate checkbox checking.
input[type="checkbox"]:checked + label:before {
  -webkit-transition: color 2s @timing-animate-steep; // [1,2]
  -moz-transition: color 2s @timing-animate-steep;    // [1,2]
  -o-transition: color 2s @timing-animate-steep;      // [1,2]
  -ms-transition: color 2s @timing-animate-steep;     // [1,2]
  transition: color 2s @timing-animate-steep;
}

// 1. Clear default checkox transition.
// 2. Downplay with grayish color.
// 3. Downplay with gray color.
.checkbox-checked:not(.checkbox-checked-active) {
  input[type="checkbox"]:checked + label:before {
    -webkit-transition: none; // [1]
    -moz-transition: none;    // [1]
    -o-transition: none;      // [1]
    -ms-transition: none;     // [1]
    transition: none;         // [1]
    color: @color-text-downplayed-light;  // [2]
  }
  .text-link {
    color: @color-text-downplayed;  // [3]
  }
}

// 1. First highlight checkbox, then downplay it.
// 2. Start with grayish color.
// 3. Downplay with gray color.
.checkbox-checked-active {
  input[type="checkbox"]:checked + label:before {
    color: @color-text-downplayed-light;  // [2]

    -webkit-animation-name: checkbox-checked-hightlighted, checkbox-checked-downplayed; // [1]
    -webkit-animation-duration: @speed-animate-checkbox-checked-highlighted, @speed-animate-checkbox-checked-downplayed;
    -webkit-animation-timing-function: @timing-animate-steep, @timing-animate-gradual;
    -webkit-animation-delay: 0s, @delay-animate-checkbox-checked-downplayed;

    animation-name: checkbox-checked-hightlighted, checkbox-checked-downplayed; // [1]
    animation-duration: @speed-animate-checkbox-checked-highlighted, @speed-animate-checkbox-checked-downplayed;
    animation-timing-function: @timing-animate-steep, @timing-animate-gradual;
    animation-delay: 0s, @delay-animate-checkbox-checked-downplayed;
  }
  .text-link {
    color: @color-text-downplayed;  // [3]

    -webkit-transition-property: color;
    -webkit-transition-duration: @speed-animate-checkbox-checked-downplayed;
    -webkit-transition-timing-function: @timing-animate-gradual;
    -webkit-transition-delay: @delay-animate-checkbox-checked-downplayed;

    -moz-transition-property: color;
    -moz-transition-duration: @speed-animate-checkbox-checked-downplayed;
    -moz-transition-timing-function: @timing-animate-gradual;
    -moz-transition-delay: @delay-animate-checkbox-checked-downplayed;

    -o-transition-property: color;
    -o-transition-duration: @speed-animate-checkbox-checked-downplayed;
    -o-transition-timing-function: @timing-animate-gradual;
    -o-transition-delay: @delay-animate-checkbox-checked-downplayed;

    -ms-transition-property: color;
    -ms-transition-duration: @speed-animate-checkbox-checked-downplayed;
    -ms-transition-timing-function: @timing-animate-gradual;
    -ms-transition-delay: @delay-animate-checkbox-checked-downplayed;

    transition-property: color;
    transition-duration: @speed-animate-checkbox-checked-downplayed;
    transition-timing-function: @timing-animate-gradual;
    transition-delay: @delay-animate-checkbox-checked-downplayed;
  }
}

@-webkit-keyframes checkbox-checked-hightlighted {
  from {color: @color-text-downplayed-light;}
  to {color: @color-text-highlighted;}
}
@keyframes checkbox-checked-hightlighted {
  from {color: @color-text-downplayed-light;}
  to {color: @color-text-highlighted;}
}

@-webkit-keyframes checkbox-checked-downplayed {
  from {color: @color-text-highlighted;}
  to {color: @color-text-downplayed-light;}
}
@keyframes checkbox-checked-downplayed {
  from {color: @color-text-highlighted;}
  to {color: @color-text-downplayed-light;}
}

// 1. Simple fade-in-out animation.
.animate-toaster.ng-enter, .animate-toaster.ng-leave {
  -webkit-transition: opacity @speed-animate-toaster-fade @timing-animate-toaster;  // [1]
  -moz-transition: opacity @speed-animate-toaster-fade @timing-animate-toaster;     // [1]
  -o-transition: opacity @speed-animate-toaster-fade @timing-animate-toaster;       // [1]
  -ms-transition: opacity @speed-animate-toaster-fade @timing-animate-toaster;      // [1]
  transition: opacity @speed-animate-toaster-fade @timing-animate-toaster;          // [1]
}

// 1. Starting point for fade in and ending point for fade out.
.animate-toaster.ng-enter,
.animate-toaster.ng-leave.ng-leave-active {
  opacity: 0; // [1]
}

// 1. Starting point for fade out and ending point for fade in.
.animate-toaster.ng-leave,
.animate-toaster.ng-enter.ng-enter-active {
  opacity: 1; // [1]
}

// 1. Fade-in animation for show completed tasks button.
.animate-btn-completed.ng-enter {
  -webkit-transition: opacity @speed-animate-btn-completed-fade @timing-animate-btn-completed;  // [1]
  -moz-transition: opacity @speed-animate-btn-completed-fade @timing-animate-btn-completed;     // [1]
  -o-transition: opacity @speed-animate-btn-completed-fade @timing-animate-btn-completed;       // [1]
  -ms-transition: opacity @speed-animate-btn-completed-fade @timing-animate-btn-completed;      // [1]
  transition: opacity @speed-animate-btn-completed-fade @timing-animate-btn-completed;          // [1]
}

// 1. Starting point for show completed tasks button fade in.
.animate-btn-completed.ng-enter {
  opacity: 0; // [1]
}

// 1. Ending point for show completed tasks button fade in.
.animate-btn-completed.ng-enter.ng-enter-active {
  opacity: 1; // [1]
}

// 1. Starting point for animation.
// 2. Place a 0s transition here to ensure that the styles are applied instantly
//    even if the element already has a transition style.
.animate-calendar-selected-date-add {
  opacity: 0; // [1]

  -webkit-transition: opacity 0s @timing-animate-date-active; // [2]
  -moz-transition: opacity 0s @timing-animate-date-active;    // [2]
  -o-transition: opacity 0s @timing-animate-date-active;      // [2]
  -ms-transition: opacity 0s @timing-animate-date-active;     // [2]
  transition: opacity 0s @timing-animate-date-active;         // [2]
}

// 1. Perform opacity animation.
.animate-calendar-selected-date-add.animate-calendar-selected-date-add-active {
  opacity: 1; // [1]

  -webkit-transition: opacity @speed-animate-date-active @timing-animate-date-active; // [1]
  -moz-transition: opacity @speed-animate-date-active @timing-animate-date-active;    // [1]
  -o-transition: opacity @speed-animate-date-active @timing-animate-date-active;      // [1]
  -ms-transition: opacity @speed-animate-date-active @timing-animate-date-active;     // [1]
  transition: opacity @speed-animate-date-active @timing-animate-date-active;         // [1]
}

// 1. Fade in (and out). Animating only ng-enter part of ng-if in fade in, and ng-hide.
.animate-fade-in.ng-enter, .animate-fade-in.ng-hide-remove,
.animate-fade-in-out.ng-hide-add, .animate-fade-in-out.ng-hide-remove,
.animate-fade-in-out.ng-enter, .animate-fade-in-out.ng-leave {
  pointer-events: none;
  -webkit-transition: opacity @speed-animate-fade-in @timing-animate-fade-in;  // [1]
  -moz-transition: opacity @speed-animate-fade-in @timing-animate-fade-in;     // [1]
  -o-transition: opacity @speed-animate-fade-in @timing-animate-fade-in;       // [1]
  -ms-transition: opacity @speed-animate-fade-in @timing-animate-fade-in;      // [1]
  transition: opacity @speed-animate-fade-in @timing-animate-fade-in;          // [1]
}

// 1. Fade in start.
.animate-fade-in.ng-hide-remove,
.animate-fade-in.ng-enter {
  opacity: 0; // [1]
}

// 1. Fade in end.
.animate-fade-in.ng-hide-remove.ng-hide-remove-active,
.animate-fade-in.ng-enter.ng-enter-active {
  opacity: 1; // [1]
}

// 1. Fade out start.
.animate-fade-in-out.ng-hide-add,
.animate-fade-in-out.ng-leave {
  opacity: 1; // [1]
}
// 1. Fade out end.
.animate-fade-in-out.ng-hide-add.ng-hide-add-active,
.animate-fade-in-out.ng-leave.ng-leave-active {
  opacity: 0;
}
// 1. Fade in start.
.animate-fade-in-out.ng-hide-remove,
.animate-fade-in-out.ng-enter {
  opacity: 0;
}
// 1. Fade in end.
.animate-fade-in-out.ng-hide-remove.ng-hide-remove-active,
.animate-fade-in-out.ng-enter.ng-enter-active {
  opacity: 1;
}

@speed-animate-editor-footer-toggle: .3s;

// 1. Animate editor to expanded position.
.animate-editor-footer-open-add:not(.no-animate) {
  -webkit-transition: -webkit-transform @speed-animate-editor-footer-toggle @timing-animate;
  -moz-transition: -moz-transform @speed-animate-editor-footer-toggle @timing-animate;
  -o-transition: -o-transform @speed-animate-editor-footer-toggle @timing-animate;
  -ms-transition: -ms-transform @speed-animate-editor-footer-toggle @timing-animate;
  transition: transform @speed-animate-editor-footer-toggle @timing-animate;
}

// 1. Override transform style applied directly into element by $animate.addClass options.
//    NOTE: Do not use during ng-hide since it will use delay set here.
.animate-editor-footer-close:not(.ng-hide-animate) {
  -webkit-transition: -webkit-transform @speed-animate-editor-footer-toggle @timing-animate;
  -moz-transition: -moz-transform @speed-animate-editor-footer-toggle @timing-animate;
  -o-transition: -o-transform @speed-animate-editor-footer-toggle @timing-animate;
  -ms-transition: -ms-transform @speed-animate-editor-footer-toggle @timing-animate;
  transition: transform @speed-animate-editor-footer-toggle @timing-animate;

  -webkit-transform: translate3d(0, 0, 0) !important; // [1]
  -moz-transform: translate3d(0, 0, 0) !important; // [1]
  -o-transform: translate3d(0, 0, 0) !important; // [1]
  -ms-transform: translate3d(0, 0, 0) !important; // [1]
  transform: translate3d(0, 0, 0) !important; // [1]
}

@speed-animation-editor: .35s;


// 1. Darken container background with animation when editor is opening.
//    Reset container backgroung with animation when editor is closing.
.editor-open.container-master {
  background-color: @color-background-editor-inactive;  // [1]
}

.editor-open.editor-animating.container-master {
  -webkit-transition: background-color @speed-animation-editor @timing-animate; // [1]
  -moz-transition: background-color @speed-animation-editor @timing-animate;    // [1]
  -o-transition: background-color @speed-animation-editor @timing-animate;      // [1]
  -ms-transition: background-color @speed-animation-editor @timing-animate;     // [1]
  transition: background-color @speed-animation-editor @timing-animate;         // [1]
  background-color: white;
}

.editor-animating.container-master {
  -webkit-transition: background-color @speed-animation-editor @timing-animate; // [1]
  -moz-transition: background-color @speed-animation-editor @timing-animate;    // [1]
  -o-transition: background-color @speed-animation-editor @timing-animate;      // [1]
  -ms-transition: background-color @speed-animation-editor @timing-animate;     // [1]
  transition: background-color @speed-animation-editor @timing-animate;         // [1]
  background-color: @color-background-editor-inactive;                          // [1]
}

// 1. Initial source: http://stackoverflow.com/a/13017201
.container-fluid--inner:not(.swiper-container),
.swiper-slide-active {
  .one {
    -webkit-animation: dot-first 2s infinite; // [1]
    animation: dot-first 2s infinite;         // [1]
  }
  .two {
    -webkit-animation: dot-second 2s infinite;  // [1]
    animation: dot-second 2s infinite;          // [1]
  }
  .three {
    -webkit-animation: dot-third 2s infinite; // [1]
    animation: dot-third 2s infinite;         // [1]
  }
}

@-webkit-keyframes dot-first {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot-first {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dot-second {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot-second {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dot-third {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot-third {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*
*************************************************************
# Modal
*/

@speed-animate-modal: 70ms;
@speed-animate-blur: 70ms;

.animate-modal.ng-enter,
.animate-modal.ng-leave {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: @speed-animate-modal, @speed-animate-modal;
  -webkit-transition-timing-function: @timing-animate, @timing-animate;

  -moz-transition-property: -webkit-transform, opacity;
  -moz-transition-duration: @speed-animate-modal, @speed-animate-modal;
  -moz-transition-timing-function: @timing-animate, @timing-animate;

  -ms-transition-property: -webkit-transform, opacity;
  -ms-transition-duration: @speed-animate-modal, @speed-animate-modal;
  -ms-transition-timing-function: @timing-animate, @timing-animate;

  -o-transition-property: -webkit-transform, opacity;
  -o-transition-duration: @speed-animate-modal, @speed-animate-modal;
  -o-transition-timing-function: @timing-animate, @timing-animate;

  transition-property: -webkit-transform, opacity;
  transition-duration: @speed-animate-modal, @speed-animate-modal;
  transition-timing-function: @timing-animate, @timing-animate;
}
// Fade out start.
// Fade in end.
.animate-modal.ng-leave,
.animate-modal.ng-enter.ng-enter-active {
  -webkit-transform: scale(1) translateY(-50%);
  -moz-transform: scale(1) translateY(-50%);
  -o-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
  opacity: 1;
}

// Fade out end.
// Fade in end.
.animate-modal.ng-leave.ng-leave-active,
.animate-modal.ng-enter {
  -webkit-transform: scale(.9) translateY(-50%);
  -moz-transform: scale(.9) translateY(-50%);
  -o-transform: scale(.9) translateY(-50%);
  -ms-transform: scale(.9) translateY(-50%);
  transform: scale(.9) translateY(-50%);
  opacity: 0;
}


// 1. Blur backdrop. See http://tympanus.net/codrops/2011/12/14/item-blur-effect-with-css3-and-jquery/
.blur {
  &,
  span, span:after,
  textarea {
    -webkit-transition-property: opacity, text-shadow, color;
    -webkit-transition-duration: @speed-animate-blur, @speed-animate-blur, @speed-animate-blur;
    -webkit-transition-timing-function: @timing-animate, @timing-animate, @timing-animate;

    -moz-transition-property: opacity, text-shadow, color;
    -moz-transition-duration: @speed-animate-blur, @speed-animate-blur, @speed-animate-blur;
    -moz-transition-timing-function: @timing-animate, @timing-animate, @timing-animate;

    -o-transition-property: opacity, text-shadow, color;
    -o-transition-duration: @speed-animate-blur, @speed-animate-blur, @speed-animate-blur;
    -o-transition-timing-function: @timing-animate, @timing-animate, @timing-animate;

    -ms-transition-property: opacity, text-shadow, color;
    -ms-transition-duration: @speed-animate-blur, @speed-animate-blur, @speed-animate-blur;
    -ms-transition-timing-function: @timing-animate, @timing-animate, @timing-animate;

    transition-property: opacity, text-shadow, color;
    transition-duration: @speed-animate-blur, @speed-animate-blur, @speed-animate-blur;
    transition-timing-function: @timing-animate, @timing-animate, @timing-animate;
  }
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0) !important;
  opacity: 0.5;
  span,
  span:after,
  textarea {
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0) !important;
  }
}

/*
*************************************************************
# Onboarding
*/

@-webkit-keyframes onboarding-highlighed-pulse {
  0%   { color: @color-text-highlighted; }
  50% { color: lighten(@color-text-highlighted, 25%); }
  100%   { color: @color-text-highlighted; }
}
@-moz-keyframes onboarding-highlighed-pulse {
  0%   { color: @color-text-highlighted; }
  50% { color: lighten(@color-text-highlighted, 25%); }
  100%   { color: @color-text-highlighted; }
}
@-o-keyframes onboarding-highlighed-pulse {
  0%   { color: @color-text-highlighted; }
  50% { color: lighten(@color-text-highlighted, 25%); }
  100%   { color: @color-text-highlighted; }
}
@keyframes onboarding-highlighed-pulse {
  0%   { color: @color-text-highlighted; }
  50% { color: lighten(@color-text-highlighted, 25%); }
  100%   { color: @color-text-highlighted; }
}

.onboarding .icon-plus:after {
  -webkit-animation: onboarding-highlighed-pulse ease-in-out 1.5s infinite;
  -moz-animation:    onboarding-highlighed-pulse ease-in-out 1.5s infinite;
  -o-animation:      onboarding-highlighed-pulse ease-in-out 1.5s infinite;
  animation:         onboarding-highlighed-pulse ease-in-out 1.5s infinite;
}

@-webkit-keyframes onboarding-btn-pulse {
  0%   { background-color: @color-background-btn-active; }
  50% { background-color: darken(@color-background-btn-active, 10%); }
  100%   { background-color: @color-background-btn-active;; }
}
@-moz-keyframes onboarding-btn-pulse {
  0%   { background-color: @color-background-btn-active; }
  50% { background-color: darken(@color-background-btn-active, 10%); }
  100%   { background-color: @color-background-btn-active;; }
}
@-o-keyframes onboarding-btn-pulse {
  0%   { background-color: @color-background-btn-active; }
  50% { background-color: darken(@color-background-btn-active, 10%); }
  100%   { background-color: @color-background-btn-active;; }
}
@keyframes onboarding-btn-pulse {
  0%   { background-color: @color-background-btn-active; }
  50% { background-color: darken(@color-background-btn-active, 10%); }
  100%   { background-color: @color-background-btn-active;; }
}

.onboarding .btn-action .text-btn {
  -webkit-animation: onboarding-btn-pulse ease-in-out 1.5s infinite;
  -moz-animation:    onboarding-btn-pulse ease-in-out 1.5s infinite;
  -o-animation:      onboarding-btn-pulse ease-in-out 1.5s infinite;
  animation:         onboarding-btn-pulse ease-in-out 1.5s infinite;
}

@-webkit-keyframes onboarding-text-pulse {
  0%   { color: @color-text; }
  50% { color: lighten(@color-text, 45%); }
  100%   { color: @color-text; }
}
@-moz-keyframes onboarding-text-pulse {
  0%   { color: @color-text; }
  50% { color: lighten(@color-text, 45%); }
  100%   { color: @color-text; }
}
@-o-keyframes onboarding-text-pulse {
  0%   { color: @color-text; }
  50% { color: lighten(@color-text, 45%); }
  100%   { color: @color-text; }
}
@keyframes onboarding-text-pulse {
  0%   { color: @color-text; }
  50% { color: lighten(@color-text, 45%); }
  100%   { color: @color-text; }
}

.onboarding h2 {
  -webkit-animation: onboarding-text-pulse ease-in-out 1.5s infinite;
  -moz-animation:    onboarding-text-pulse ease-in-out 1.5s infinite;
  -o-animation:      onboarding-text-pulse ease-in-out 1.5s infinite;
  animation:         onboarding-text-pulse ease-in-out 1.5s infinite;
}


@-webkit-keyframes onboarding-menu-pulse {
  0%   { color: @color-text-inverse }
  50% { color: darken(@color-text-inverse, 45%); }
  100%   { color: @color-text-inverse; }
}
@-moz-keyframes onboarding-menu-pulse {
  0%   { color: @color-text-inverse; }
  50% { color: darken(@color-text-inverse, 45%); }
  100%   { color: @color-text-inverse; }
}
@-o-keyframes onboarding-menu-pulse {
  0%   { color: @color-text-inverse; }
  50% { color: darken(@color-text-inverse, 45%); }
  100%   { color: @color-text-inverse; }
}
@keyframes onboarding-menu-pulse {
  0%   { color: @color-text-inverse; }
  50% { color: darken(@color-text-inverse, 45%); }
  100%   { color: @color-text-inverse; }
}

a.link-menu.onboarding:not(.highlighted) span {
  -webkit-animation: onboarding-menu-pulse ease-in-out 1.5s infinite;
  -moz-animation:    onboarding-menu-pulse ease-in-out 1.5s infinite;
  -o-animation:      onboarding-menu-pulse ease-in-out 1.5s infinite;
  animation:         onboarding-menu-pulse ease-in-out 1.5s infinite;
}

// Bounce acitve and next slide.
// From https://coveloping.com/tools/css-animation-generator
.onboarding .swiper-slide-active,
.onboarding .swiper-slide-active + .swiper-slide {
  -webkit-animation:  onboarding-slide-bounce 2s ease-in-out 1s 1 both;
  -moz-animation:     onboarding-slide-bounce 2s ease-in-out 1s 1 both;
  -o-animation:       onboarding-slide-bounce 2s ease-in-out 1s 1 both;
  animation:          onboarding-slide-bounce 2s ease-in-out 1s 1 both;
}

@-webkit-keyframes onboarding-slide-bounce {
  0% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-50px);}
  45% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-25px);}
  55% {-webkit-transform: translateY(0);}
  60% {-webkit-transform: translateY(-5px);}
  65% {-webkit-transform: translateY(0);}
  100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes onboarding-slide-bounce {
  0% {-moz-transform: translateY(0);}
  20% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-50px);}
  45% {-moz-transform: translateY(0);}
  50% {-moz-transform: translateY(-25px);}
  55% {-moz-transform: translateY(0);}
  60% {-moz-transform: translateY(-5px);}
  65% {-moz-transform: translateY(0);}
  100% {-moz-transform: translateY(0);}
}

@-o-keyframes onboarding-slide-bounce {
  0% {-o-transform: translateY(0);}
  20% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-50px);}
  45% {-o-transform: translateY(0);}
  50% {-o-transform: translateY(-25px);}
  55% {-o-transform: translateY(0);}
  60% {-o-transform: translateY(-5px);}
  65% {-o-transform: translateY(0);}
  100% {-o-transform: translateY(0);}
}

@keyframes onboarding-slide-bounce {
  0% {-transform: translateY(0);}
  20% {-transform: translateY(0);}
  40% {-transform: translateY(-50px);}
  45% {-transform: translateY(0);}
  50% {-transform: translateY(-25px);}
  55% {-transform: translateY(0);}
  60% {-transform: translateY(-5px);}
  65% {-transform: translateY(0);}
  100% {-transform: translateY(0);}
}
