// When item is active, show top&bottom borders
.accordion-item-active {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: @separator;
  padding-top: 5px;
  padding-bottom: 5px;
  .accordion-title-open {
    margin-top: -5px;
    padding-bottom: 5px;
    .left-input-wrapper {
      padding-left: 1px;
    }
    &.no-checkbox {
      margin-top: -6px;
    }
  }
}

input[type="checkbox"]:checked ~ a#accordionTitleLink {
  color: white;
  .fade-color(@fade-time);
}

div#accordionTitleHeightFix {
  height: @vertical-grid;
}

a#accordionTitleLink {
  color: white;
  line-height: @vertical-grid-half;
}

li.datepicker-date {
  line-height: @vertical-grid-half;
}

.teaser{
  line-height: @vertical-grid-half;
  font-size: @small-font-size;
}

.teaser, .teaser-empty{
  padding-bottom: @vertical-grid-half;
} 


.offline-indicator {
  display:inline;
  vertical-align: top;
  font-size: @small-font-size;
}

#errorMessage{
  h3 {
    text-align: center;
    padding-bottom: @vertical-grid;
  }
}

#modalFooter{
  button[disabled].normal-button{
    color:white;
    background-color: @default-button-pressed;
  }
}

// PAGE HEADER

nav#page-header {
  color: @highlighted-element;  
  min-height: @main-header-height;
  #menu-content {
    background-color: white;
    width: auto;
    padding-top: 10px;
    .top-bottom-borders;
    a {
      color: @default-element;
    }
    a.collective{
      // FIXME: This color is strange
      color: @default-element;
    }
    a.collective:active{
      color: @default-element-pressed;
    }
  }
  nav {
    max-width: @one-column-grid-width;
    // text-align: right;
    margin-right: auto;
    margin-left: auto;
    width: inherit;
  }
  button#menu-button{
    .button;
    padding: 10px 20px 10px 0; // increased clicking area
    margin-left: -3px; // aligns menu button to the edge of the column
  }
  button#menu-button:active{
    background-position: 0 0;
  }

  div#add-new-button {
    button{
      padding: 5px 0px 5px 5px; // increased clicking area
    }
  }

  #omnibar-search-results {
    height: 100%;
    background-color: white;
    z-index: 1;
    position:relative;
  }
}
