/*
Extended Mind specific UI-components.
*/

// ACCORDION

.accordion-item-active {
  padding-top: 5px;
  padding-bottom: 5px;
  .accordion-title-open {
    margin-top: -4px;
    padding-bottom: 5px;
    .left-input-wrapper {
      padding-left: 1px;
    }
    &.no-checkbox {
      margin-top: -6px;
    }
  }
}

.keywords-container {
  line-height: @vertical-grid / 1.2;
  #new-keyword {
    margin-right: -4px;
  }
}

button.keyword {
  color: #0f82fe;
  border: 1px solid;
  padding: 2px 4px;
  margin-right: 4px;
}

button.selected-keyword {
  background-color: #0f82fe;
  color: white;
  padding: 3px 6px;
  margin-right: 4px;
}

button.keyword:disabled {
  opacity: .5;
}

input[type="checkbox"]:checked ~ a#accordionTitleLink {
  color: @default-element;
  .fade-color(@fade-time);
}

div#accordionTitleHeightFix {
  height: @vertical-grid;
}

a#accordionTitleLink {
  color: @content;
  line-height: 19px;
  .break-words;
  &.needsSmallPadding {
    padding-top: 4px;
  }
  &.needsBigPadding {
    padding-top: 5px;
  }
}

div#closedAccordionTitleWrapper {
  max-height: @vertical-grid;
  overflow: hidden;
}

// SIMPLE CONTENT

.simple-content {
  padding-bottom: @vertical-grid;
}

.simple-content:last-child {
  padding-bottom: 0;
}

#email-verification-status {
  font-size: @smallest-font-size;
  display: block;
  line-height: @vertical-grid-half;
}

.dashboard-info {
  color: @default-element;
}

// TEASER

.teaser {
  line-height: @vertical-grid-half;
  font-size: @small-font-size;
  .break-words;
}

.teaser, .teaser-empty {
  padding-bottom: @vertical-grid-half;
}

// OFFLINE

.offline-indicator {
  display: inline;
  vertical-align: top;
  font-size: @small-font-size;
}

// ERRORS

#errorMessage {
  h3 {
    text-align: center;
    padding-bottom: @vertical-grid;
  }
}

// MODALS

#modalFooter {
  button[disabled].normal-button {
    color: white;
    background-color: @default-button-pressed;
  }
}

// ADD ITEM/NOTE/TASK..

.add-element {
  // Add @vertical grid to make room for 'add [item]...' input
  padding-bottom: @vertical-grid-half;
}

// PAGE HEADER

header.static-page-header {
  background-color: white;
  .active-item-container {
    button#menu-button {
      .button;
      padding: 19px 20px 13px @horizontal-grid - 4; // increased clicking area, align icon to grid with right padding
      span.icon-menu {
        color: @highlighted-element;
      }
    }
    button#menu-button:active {
      span.icon-menu {
        color: @highlighted-element-pressed;
      }
    }
    a#today-link {
      float: left;
      color: @highlighted-element;
      font-size: @small-font-size;
      margin-top: 10px;
      padding-left: @horizontal-grid + 4;
      height: @page-header-height;
    }
    a.today-link-active {
      .font-bold;
    }
  }
  .heading {
    color: @highlighted-element;
    font-weight: 700;
    font-size: @large-font-size;
  }
  a.heading, .omni-button span {
    &:hover {
      color: @highlighted-element-hover;
    }
    &:active {
      color: @highlighted-element-pressed;
    }
  }

  .long-heading, .medium-heading {
    display: table;
    line-height: @vertical-grid-half;
    .heading {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .medium-heading .heading {
    font-size: @default-font-size;
  }
  .long-heading .heading {
    font-size: @small-font-size;
  }
  .omni-button {
    .button;
    line-height: normal;
    padding: 17px @horizontal-grid 17px 11px; // increased clicking area
    span {
      font-size: 16px;
    }
  }
}

nav#edit-header {
  button {
    font-size: @small-font-size;
  }
}

// FOOTER

footer {
  a[class^='active-slide'], a[class*=' active-slide'] {
    span {
      color: @highlighted-element;
    }
    span:active {
      color: @highlighted-element-pressed;
    }
  }
}

.feature-footer {
  li.left-slide-link {
    a {
      padding-right: @horizontal-grid - 10px; // make room for long names
    }
  }
  li.right-slide-link {
    a {
      padding-left: @horizontal-grid - 10px; // make room for long names
    }
  }
}

// OMNIBAR

.omnibar-container {
  width: 100%;
  .one-column-grid;
  position: relative;
  padding-top: 10px;
  .omnibar-x-icon {
    span {
      font-size: 18px;
    }
  }
  .omnibar-input {
    font-size: @large-font-size;
  }
  .omnibar-feature {
    width: 100%;
    float: left;
    overflow-y: auto;
    // height set with javascript
    .omnibar-search {
      height: 100%;
      .omnibar-empty-search-placeholder {
        height: 100%;
      }
      .filtered-items {
        padding-top: @vertical-grid-half;
      }
    }
  }
  .omnibar-footer {
    height: @footer-height;
    .omnibar-footer-button-left {
      float: left;
      padding: 15px 15px 15px 0px;
    }
    .omnibar-footer-button-right {
      float: right;
      padding: 15px 0px 15px 15px;
    }
    .button {

    }
  }
}

.omnibar-hidden .omnibar-container {
  margin-top: -@page-header-height;
}

.omnibar-animation.ng-enter, .omnibar-animation.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

.omnibar-animation.ng-enter {
  -webkit-animation: .3s fade-in;
  -moz-animation: .3s fade-in;
  -o-animation: .3s fade-in;
  animation: .3s fade-in;
}

.omnibar-animation.ng-leave {
  -webkit-animation: .3s fade-out;
  -moz-animation: .3s fade-out;
  -o-animation: .3s fade-out;
  animation: .3s fade-out;
}

// MENU

#menu {
  background-color: @menu;
  position: absolute;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  #menu-content {
    li.account-link {
      padding-top: 8px;
      height: @page-header-height;
    }
    a, span {
      font-size: @small-font-size;
      .font-bold;
    }
    a.feature-link, a.lists-link {
      font-size: 1.17em;  // http://www.w3.org/TR/CSS2/sample.html
    }
    li.last-feature { // padding-bottom for li with last a.feature-link
      padding-bottom: @vertical-grid;
    }
    ul {
      margin-top: 4px;
    }
    a {
      color: #FEFFFF;
      padding-right: 30px;
      padding-left: 30px;
    }
    a.active, a.lists-link.active + a.hide-expand-link {
      background-color: white;
      color: black;
    }
    a {
      // http://getbootstrap.com/components/#dropdowns
      display: block;
    }
    .list {
      display: table;
      line-height: @vertical-grid-half;
      height: @vertical-grid;
      .list-link {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 40px;
      }
    }
    .edit-lists-link {
      color: @default-element;
    }
    .lists-heading-container {
      display: table;
      .feature-link {
        display: table-cell;
        width: 90%;
      }
      a.hide-expand-link {
        vertical-align: middle;
        display: table-cell;
        width: 10%;
      }
    }
    .menu-last {
      padding-bottom: @vertical-grid-half;
    }
  }
}

// Override again with background color of the next element
// of the mobile menu
#feature-container-wrapper {
  position: relative;
  background-color: white;
}

// DATEPICKER

li.datepicker-date {
  line-height: @vertical-grid-half;
}

#datepicker {
  height: @vertical-grid + 6;
  margin-top: -16px;
  overflow: hidden;
  div#scroller {
    // http://stackoverflow.com/a/18784257
    // css divide width 100% to 3 column
    width: 300%;
    height: inherit;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    nav[role=navigation].slide {
      height: inherit;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      ul {
        // http://stackoverflow.com/a/14103766
        // How to stretch html / css horizontal navigation items evenly and fully across a specified container
        width: 100%;
        height: inherit;
        li {
          height: inherit;
          vertical-align: middle;
        }
        li#datepicker-arrow-previous {
          text-align: left;
        }
        li#datepicker-arrow-next {
          text-align: right;
        }
        li.datepicker-date {
          min-width: 11.11%;
          text-align: center;
          a {
            font-size: @small-font-size;
            width: inherit;
            color: @highlighted-element;
            span {
              display: block;
              min-width: 29px;
            }
            span.day-date {
              display: block;
              margin: 0 auto;
              height: 28px;
              width: 28px;
              text-align: center;
              padding-top: 4px;
            }
          }
          a.date-active, a.date-active-today {
            font-weight: 700;
            span.day-date {
              color: white;
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              background-color: @highlighted-element;
            }
          }
          a.date-past, a.date-active-past {
            color: @default-element;
          }
          a.date-active-past {
            span.day-date {
              color: white;
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              background-color: @default-element;
            }
          }
          a.date-today {
            span.day-date {
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              border: 1px solid @highlighted-element;
            }
          }
        }
      }
    }
  }
}

// FORMS

.inline-form-fields {
  padding-bottom: 10px;
}


// ONBOARDING

#wrapper {
  overflow: hidden;
  width: 100%;

  #onboarding-scroller {
    width: 200%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    .slide {
      width: 100%;
      height: 100%;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;

      .onboarding-slide {
        max-width: 100%;
        min-height: 300px;
        max-height: 100%;
      }
    }
  }
}

// LOADING ANIMATION

.loading-animation {
  position: relative;
  height: inherit;
  padding-top: @vertical-grid * 3;
  color: @default-element;
  text-align: center;
}

// FADE OUT TOO LONG TEXT ELLIPSIS
// From: http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/

.ellipsis {
  overflow: hidden;
  height: @vertical-grid;
  line-height: 22px;
}

.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: @vertical-grid;
}

.ellipsis > span {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.ellipsis:after {
  content: "\00a0";

  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  float: right;
  position: relative;
  top: -24px;
  left: 100%;
  width: 7em;
  margin-left: -7em;
  padding-right: 5px;
  text-align: right;
  background: -webkit-gradient(linear, left top, right top,
    from(rgba(255, 255, 255, 0)), to(white), color-stop(75%, white));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
}

// EDITABLE FIELD

.editable-field-backdrop {
  -webkit-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.editable-field-backdrop.active {
  background-color: #f6f6f6 !important;
  &.backdrop-disable * {
    pointer-events: none;
  }
}

.editable-field-backdrop.active, .editable-field-backdrop.animating {
  #omnibar-label-wrapper, .ellipsis:after {
    background-image: none !important;
  }
  #active-action-wrapper, #plus-button-wrapper, #feature-container-wrapper, #feature-container, .border-button, .add-button, .static-page-header {
    background-color: inherit;
  }
}

.backdrop-disable .editable-field-container.active {
  * {
    pointer-events: auto !important;
  }
}

.editable-field.active, .editable-field-container.active {
  background-color: white;
}

// OMNIBAR TOAST NOTIFICATION

.toaster-notification {
  max-width: @one-column-grid-width;
  margin: auto;
  position: fixed;
  bottom: @vertical-grid-half;
  height: @vertical-grid;
  left: @horizontal-grid;
  right: @horizontal-grid;
  background-color: @normal-button-disabled;
  padding-left: 15px;
  span, a {
    padding: 0;
  }
  a.toaster-x-mark {
    padding-right: 15px;
  }
}

.toaster-notification.ng-enter, .toaster-notification.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.toaster-notification.ng-enter,
.toaster-notification.ng-leave.ng-leave-active {
  opacity: 0;
}

.toaster-notification.ng-leave,
.toaster-notification.ng-enter.ng-enter-active {
  opacity: 1;
}
