@import "variables.less";

// Set basic grid variables
@horizontal-grid: 30px;
@vertical-grid: 88px;




// Everything 

section.one-column-grid, section.two-columns-grid {
  margin-left: 30px;
}

aside.column, div.column {
  margin-right: 30px;
}
