
// COMMON PADDING

.apply-padding{
  padding-left: @horizontal-grid;
  padding-right: @horizontal-grid;
}

.indent {
  padding-left: @horizontal-grid;
}

ul.indent {
  // TODO: Remove this when taskActions are printed better
  padding-left: @horizontal-grid + 10px;
}

div[role=main] {
  line-height: @vertical-grid;
  max-height: @maximum-height;
  .center-horizontally;
  position: relative;

  .one-column-grid, .two-column-grid, .column{
    min-height: inherit;
    min-width: inherit;
  }
  .column {
    position: relative;
    width: 100%;
  }
}

.one-column-grid {
  .apply-padding;
  max-width: @one-column-grid-width;
  .center-horizontally;
}

.two-column-grid {
  max-width: @two-column-grid-width;
  .center-horizontally;
  padding-left: @horizontal-grid;
  aside.column, div.column {
    width: auto;
    padding-right: @horizontal-grid;
  }
  aside.column {
    max-width: @two-column-grid-aside-width;
  }
  div.column {
    max-width: @two-column-grid-main-width;
  }
}

// HEADER

header {
  z-index: 1;
  top: 0px; 
  left: 0px;
  overflow: hidden;
  width: 100%;
  * {
    vertical-align: middle;
  }
  &.header-hidden{
    z-index:0 !important;
  }
}

.page-header {
  min-height: @page-header-height;
  .center-horizontally;
  position: relative;
  #menu-button-wrapper {
    background-color: white;
    float:left;
    text-align: right;
    // Width determined with javascript
  }
  #omnibar-label-wrapper {
    float: left;
    text-align: center;
    label{
      display:block;
    }
    // Width determined with javascript
  }
  #plus-button-wrapper {
    background-color: white;
    float:right;
    text-align: left;
    // Width determined with javascript
  }
}

.heading-header{
  position: relative;
  text-align: center;
  min-height: @heading-header-height;
  h3 {
    padding-top: 10px; 
  }
}

// CONTENT

.page-heading {
  min-height: @page-header-height;
}

.page-content-container {
  height: inherit;
  padding-bottom: @footer-height + @page-header-height;
  .accordion-wrapper {
    height: inherit;
  }
  .inner-page-content-container {
    height: inherit;
    position: relative;
    overflow-y: auto;
    display: block;
  }
  .inner-slide-content-container{
    height: inherit;
    section {
      height: inherit;
      overflow-y: auto;
    }
  }
}

.simple-content-container{
  height: inherit;
  padding-bottom: @heading-header-height + 10px;
  overflow-y: auto;
}

.content-container {
  width: inherit;
}

// FOOTER

footer {
  position: relative;
  height: @footer-height;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  .apply-padding;
  .center-horizontally;
  max-width: @two-column-grid-width;
  background-color: white;
  font-size: @smallest-font-size;
  nav {
    padding-top: 5px;
    ul {
      li {
        min-width: 50px;
        text-align: center;
        a {
          width: 100%;
          display: inline-block !important;
        }
      }
    }
  }
}

// SWIPER

.swiper-container, .swiper-wrapper, .swiper-slide {
  height: inherit !important;
}

.swiper-container.main-slides {
  margin-top: -@page-header-height;
  margin-bottom: -@footer-height;
}

// NO SWIPER

.no-slides-container .header-page {
  margin-top: -@page-header-height;
}

// RESPONSIVE

// We want to horizontally and vertically center everything
// once the screen size is bigger than a tablet
@media (min-width: @maximum-width) and (min-height: @maximum-landscape-height) {
  body {
    div[role=main] > div.no-slides-container {
      .center-container;
      section.page{
        .absolute-center;
        min-height: @maximum-landscape-height;
        max-height: @maximum-landscape-height;
      }
    }
    div[role=main] > div.slides-container {
      position: inherit;
      top: 50%;
      min-height: @maximum-landscape-height;
      max-height: @maximum-landscape-height;
      margin-top: -@maximum-landscape-height / 2;
    }
  }
}

// Pages with fixed content need a smaller height
@media (min-height: @fixed-page-height) {
  section.fixed-height {
    min-height: @fixed-page-height !important;
    max-height: @fixed-page-height !important;
  }
}

// For smaller screens, aside is hidden, and we revert to single column width

// FIXME: FORCING ONE COLUMN TO EVERYONE
//@media (max-width: @maximum-width) {
  .two-column-grid, .two-column-grid div.column, footer, .two-column-grid header {
    max-width: @one-column-grid-width;
  }
  aside {
    display: none;
  }
//}
