
div[role=main] {
  line-height: @vertical-grid;
  max-width: @maximum-width;
  max-height: @maximum-height;
  margin-left: auto;
  margin-right: auto;
}

// We want to horzontally and vertically center everything
// once the screen size is bigger than a tablet
@media (min-width: @maximum-width) {
  body {
    .center-container;
    div[role=main] {
      .absolute-center;
    }
  }
}

.two-column-grid {
  padding-left: @horizontal-grid;
  aside.column, div.column {
    padding-right: @horizontal-grid;
  }
  aside.column {
    max-width: @two-column-aside-width;
  }
  div.column {
    max-width: @two-column-main-width;
  }
}

.one-column-grid {
  .column {
    padding-left: @horizontal-grid;
    padding-right: @horizontal-grid;
    max-width: @single-column-width;
    margin-left: auto;
    margin-right: auto;
  }
}

