@import "foundation.less";

/*

<h1 class="main-heading">Icons</h1>

extended mind uses <a href="http://icomoon.io">Icomoon</a> to pack icons to font files. When updating the icons, make sure the character codes (e.g. "\e602") stays the same.

TODO: Icons are not working yet with Phytoplankton
*/

@size-icon-logo: 19px;
@size-icon-menu: 17px;
@size-icon-plus: 25px;
@size-icon-toggle-completed: 11px;
@size-icon-arrow-small: 11px;
@size-icon-arrow-large: 16px;
@size-icon-convert: 11px;
@size-icon-convert-large: 15px;
@size-icon-star-large: 25px;
@size-icon-star: 16px;
@size-icon-star-small: 8px;
@size-icon-trash: 18px;
@size-icon-x: 10px;
@size-icon-sort: 22px;
@size-icon-sort-small: 10px;
@size-icon-syncing: 10px;
@size-icon-offline: 10px;
@size-icon-calendar: 17px;
@size-icon-tag: 19px;

// Icon character codes
@icon-show-completed: "\e60e";
@icon-tag: "\e602";
@icon-x: "\e603";
@icon-trash: "\e604";
@icon-menu: "\e605";
@icon-plus: "\e613";
@icon-calendar: "\e607";
@icon-star: "\e608";
@icon-arrow-left: "\e609";
@icon-arrow-right: "\e60c";
@icon-arrow-left-narrow: "\e612";
@icon-arrow-right-narrow: "\e606";
@icon-convert: "\e60d";
@icon-logo: "\e60a";
@icon-logo-text: "\e60b";
@icon-circle-checked: "\e60f";
@icon-circle: "\e610";
@icon-sort: "\e611";
@icon-sort-stop: "\e614";
@icon-volume-mute: "\e600";
@icon-volume-up: "\e601";
@icon-play: "\e615";
@icon-offline: "\e616";
@icon-downloading: "\e617";
@icon-syncing: "\e618";
@icon-facebook: "\e619";
@icon-twitter: "\e61a";
@icon-email: "\e61b";

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?m5bl0u');
  src:url('../fonts/icomoon.eot?#iefixm5bl0u') format('embedded-opentype'),
    url('../fonts/icomoon.woff?m5bl0u') format('woff'),
    url('../fonts/icomoon.ttf?m5bl0u') format('truetype'),
    url('../fonts/icomoon.svg?m5bl0u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// 1. Better font rendering.
// 2. Center icons vertically.
//    NOTE: Do not change this, override it locally.
.set-icon-font() {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;  // [1]
  -moz-osx-font-smoothing: grayscale;   // [1]
  vertical-align: middle; // [2]
}

/*
Icon classes
*/

// 1. Set dimensions for .icon-logo.
// 2. Override default vertical-align and vertically align with text.
//    NOTE: This has to be AFTER .set-icon-font().
.icon-logo {
  font-size: @size-icon-logo;   // [1]
  line-height: @size-icon-logo; // [1]
  height: @size-icon-logo;      // [1]
  display: block;               // [1]
  &:after {
    .set-icon-font();
    vertical-align: baseline; // [2]
    color: @color-text;
    content: @icon-logo;
  }
}

.icon-logo-text:before{
  .set-icon-font();
  content: @icon-logo-text;
}

.icon-play:after{
  .set-icon-font();
  content: @icon-play;
}


// 1. Set dimensions for .icon-menu.
// 2. Override default vertical-align and ertically align with text.
//    NOTE: This has to be AFTER .set-icon-font().
.icon-menu {
  font-size: @size-icon-menu;   // [1]
  line-height: @size-icon-menu; // [1]
  height: @size-icon-menu;      // [1]
  display: block;               // [1]
  &:after {
    .set-icon-font();
    vertical-align: baseline; // [2]
    color: @color-text;
    content: @icon-menu;
  }
}

// 1. Change color for active icons colored with @color-text.
.icon-menu,
.icon-logo,
.icon-trash {
  &:active:after {
    color: @color-text-pressed; // [1]
  }
}

.icon-toggle-completed {
  font-size: @size-icon-toggle-completed;
  line-height: @size-icon-toggle-completed;
  height: @size-icon-toggle-completed;
  &:after {
    .set-icon-font;
    vertical-align: baseline;
    color: @color-text-downplayed;
    content: @icon-show-completed;
  }
}
.active > .icon-toggle-completed:after {
  color: @color-text;
}

.icon-plus {
  font-size: @size-icon-plus;
  line-height: @size-icon-plus;
  &:after {
    .set-icon-font;
    color: @color-text-highlighted;
    content: @icon-plus;
  }
}

// 1. Set dimensions.
// 2. Override default vertical-align and ertically align with text.
//    NOTE: This has to be AFTER .set-icon-font().
.icon-sort,
.icon-sort-stop {
  font-size: @size-icon-sort; // [1]
  &:after {
    .set-icon-font();
    vertical-align: baseline; // [2]
  }
}

.icon-sort:after {
  content: @icon-sort;
  color: @color-text-highlighted;
}

.icon-sort-stop {
  &:after {
    content: @icon-sort-stop;
    color: white;
  }
  &:active:after {
    color: @color-text-inverse-pressed;
  }
}

// 1. Change color for active icons colored with @color-text.
.icon-plus,
.icon-sort {
  &:active:after {
    color: @color-text-pressed; // [1]
  }
}

.icon-sort.small {
  font-size: @size-icon-sort-small;
  height: @size-icon-sort-small;
  line-height: @size-icon-sort-small;
  display: inline-block;
  &:after {
    font-size: @size-icon-sort-small;
    color: @color-text;
  }
}

.icon-repeating {
  font-size: @size-icon-sort-small;
  height: @size-icon-sort-small;
  line-height: @size-icon-sort-small;
  display: inline-block;
  &:after {
    .set-icon-font();
    vertical-align: baseline;
    font-size: @size-icon-sort-small;
    content: @icon-sort;
  }
}

.icon-syncing() {
  font-size: @size-icon-syncing;
  height: @size-icon-syncing;
  line-height: @size-icon-syncing;
  display: inline-block;
  &:after {
    .set-icon-font();
    vertical-align: baseline;
    font-size: @size-icon-syncing;
    content: @icon-syncing;
    color: @color-text-downplayed;
  }
}

.icon-offline() {
  font-size: @size-icon-offline;
  height: @size-icon-offline;
  line-height: @size-icon-offline;
  display: inline-block;
  &:after {
    .set-icon-font();
    vertical-align: baseline;
    font-size: @size-icon-offline;
    content: @icon-offline;
    color: @color-text-downplayed;
  }
}

// 1. Set dimensions for .icon-trash.
// 2. Override default vertical-align and ertically align with text.
//    NOTE: This has to be AFTER .set-icon-font().
.icon-trash {
  font-size: @size-icon-trash;    // [1]
  line-height: @size-icon-trash;  // [1]
  height: @size-icon-trash;       // [1]
  display: inline-block;          // [1]
  &:after {
    .set-icon-font;
    vertical-align: baseline; // [2]
    color: @color-text;
    content: @icon-trash;
  }
}

.icon-calendar {
  display: block;
  &:after {
    .set-icon-font;
    vertical-align: baseline;
    color: @color-icon-deactivated;
    content: @icon-calendar;
    font-size: @size-icon-calendar;
  }
}

.icon-tag {
  display: block;
  &:after {
    .set-icon-font;
    vertical-align: -5%;
    content: @icon-tag;
    font-size: @size-icon-tag;
  }
}

// 1. Set dimensions for .icon-star.
// 2. Override default vertical-align and ertically align with text.
//    NOTE: This has to be AFTER .set-icon-font().
.icon-star {
  font-size: @size-icon-star;   // [1]
  line-height: @size-icon-star; // [1]
  height: @size-icon-star;      // [1]
  display: inline-block;        // [1]
  &:after {
    .set-icon-font;
    vertical-align: baseline; // [2]
    color: @color-text;
    content: @icon-star;
    font-size: @size-icon-star;
  }
}
.icon-star.inverse:after{
  color: @color-text-inverse;
}

// 1. Set dimensions for .icon-star.large.
.icon-star.large {
  line-height: @size-icon-star-large; // [1]
  height: @size-icon-star-large;      // [1]
  &:after {
    font-size: @size-icon-star-large;
  }
}

.icon-star.small {
  line-height: @grid-vertical-half;
}

.icon-star.small:after{
  font-size: @size-icon-star-small;
}
.icon-star.inactive:after {
  color: @color-text-downplayed;
}

.icon-x {
  &:after {
    .set-icon-font;
    content: @icon-x;
    font-size: @size-icon-x;
    vertical-align: middle;
    color: @color-icon-deactivated;
  }
}

.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-down,
.icon-arrow-up {
  &:after {
    .set-icon-font;
    color: @color-text-downplayed;
    font-size: @size-icon-arrow-small;
    vertical-align: middle;
  }
}

.icon-arrow-left:after {
  content: @icon-arrow-left;
}

.icon-arrow-right:after,
.icon-arrow-down:after,
.icon-arrow-up:after {
  content: @icon-arrow-right;
}

// 1. Clear padding-left, which would otherwise rotate up/down.
// 2. Inline elements can't be transformed, and pseudo elements are inline by default, so must apply
//    display: block or display: inline-block to transform it.
.icon-arrow-down:after,
.icon-arrow-up:after {
  padding-left: 0;        // [1]
  display: inline-block;  // [2]
}

.icon-arrow-down:after {
  // padding-bottom: @width-arrow-text-gap-rotated;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-arrow-up:after {
  // padding-top: @width-arrow-text-gap-rotated;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
