@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e60e";
}

.icon-x:before {
	content: "\e60d";
}

.icon-tasks:before {
	content: "\e600";
}
.icon-selection-empty {
	content: "\e601";
}
.icon-selection-checked {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}
.icon-notes:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-logo-with-text:before {
	content: "\e606";
}
.icon-logo-only:before{
	content: "\e607";
}
.icon-inbox:before {
	content: "\e608";
}
.icon-i:before {
	content: "\e609";
}
.icon-home:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}

.icon-arrow-left:before {
	content: "\e60c";
}

// em specific tweaks
[class^="icon-"], [class*=" icon-"] {
  font-size: @icon-size;
  color: @icon;
}

.icon-arrow-right {
  font-size: @slide-indicator-width;
}

.icon-logo-with-text {
  color: @logo;
  font-size: @banner-logo-size;
}

// beta text
.web .icon-logo-with-text:after, .android .icon-logo-with-text:after {
  content: "beta";
  font-size: 10px;
  position: absolute;
  margin-left: -20px;
}

.icon-logo-only {
  color: @logo;
}

.icon-arrow-left {
  font-size: @slide-indicator-width;
}
