@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-size: @icon-size;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// default icon color
	color: @inactive-button;
}

[class^="icon-"]:active {
	color: @pressed-button;
}

.icon-menu:before {
	content: "\e600";
}
.icon-selection-empty {
	content: "\e601";
}
.icon-selection-checked {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}
.icon-i:before {
	content: "\e604";
}
.icon-home:before {
	content: "\e605";
}
.icon-arrow-left:before {
	content: "\e60c";
	font-size: @slide-indicator-width;
}
.icon-arrow-right:before {
	content: "\e606";
	font-size: @slide-indicator-width;
}
.icon-tasks:before {
	content: "\e607";
}
.icon-notes:before {
	content: "\e608";
}
.icon-inbox:before {
	content: "\e609";
}
.icon-logo_only:before {
	content: "\e60a";
	color: @logo;
}
.icon-logo_with_text:before {
	content: "\e60b";
	font-size: @banner-logo-size;
	color: @logo;
}
