@import "foundation.less";
@import "normalize.less";
@import "icons.less";

@plus-button-width: 27px;
@icon-button-width: @plus-button-width;

// FORMS

.form-group {
  p.validation-error {
    display: inline;
    font-size: @font-smallest-size;
    color: @warning;
    line-height: @vertical-grid-half;
    vertical-align: top;
    a.text-link {
      vertical-align: top;
    }
  }
}

.form-group {
  width: 100%;
}

a.click-to-slide {
  color: @default-element;
}

span.icon-i, span.icon-logo-only {
  color: @highlighted-element;
}
span.icon-i:active, span.icon-logo-only:active {
  color: @highlighted-element-pressed;
}

/*

# Inputs

Add `.simple-input` to any of the following HTML tags to create minimalist inputs:

* `<input>`
* `<textarea>`

```markup
<!-- Default input -->
<input type="text" class="simple-input" value="simple input"/>
<textarea class="simple-input">simple textarea</textarea>
```
*/

.simple-input {
  outline: none;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  background-image: none;
}

.click-to-slide {
  display: table;
  width: 100%;
  vertical-align: middle;
  span.link-title {
    width: 100%;
    display: table-cell;
    line-height: normal;
    color: @content;
  }
}

.date-input-placeholder {
  display: block;
}

// Input on the left and  button on the right OR
// Checkbox on the left, input in the center, and button on the right

.table-wrapper {
  display: table;
  .center-horizontally;
  width: 100%;
}

.left-input-wrapper, .right-button-wrapper, .center-input-wrapper, .left-checkbox-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.left-input-wrapper, .center-input-wrapper {
  width: 100%;
}

.right-button-wrapper, .left-checkbox-wrapper {
  line-height: 100%;
  button {
    // Quick fix to center the plus button
    // NOTE! Tested with application font!
    padding-top: 5px;
  }
}
.left-checkbox-wrapper {
  width: @icon-button-width + 8px;
}

.right-button-wrapper {
  width: @icon-button-width + 8px;
  button {
    padding-left: 20px;
  }
}

// BUTTONS

.button {
  background: none;
  cursor: pointer;
  border: none;
  border: 0px;
  display: inline-block;
}

.button-container {
  text-align: center;
}

.wide-button {
  .simple-input;
  .center-horizontally;
  height: @vertical-grid;
  width: 100%;
  display: block;
}

.button-row {
  width: 100%;
  height: @vertical-grid;
  vertical-align: middle;
  .button-container {
    button {
      .simple-input;
      width: 100%;
      height: @vertical-grid;
    }
  }
}

.vertical-buttons {
  button {
    margin-top: @vertical-grid / 4;
    margin-bottom: @vertical-grid / 4;
  }
}

button.highlighted-button {
  background-color: white;
  & {
    color: @highlighted-button;
  }
  &:active {
    color: @highlighted-button-pressed;
  }
  &[disabled] {
    color: @highlighted-button-disabled;
  }
}

button.default-button {
  color: white;
  & {
    background-color: @default-button;
  }
  &:active {
    background-color: @default-button-pressed;
  }
  &[disabled] {
    background-color: @default-button-disabled;
  }
}

button.normal-button {
  color: white;
  & {
    background-color: @normal-button;
  }
  &:active {
    background-color: @normal-button-pressed;
  }
  &[disabled] {
    background-color: @normal-button-disabled;
  }
}

button.border-button {
  border-style: solid !important;
  border-width: 2px !important;
  background-color: white;
  font-size: @default-font-size;
  & {
    color: @normal-button;
    border-color: @normal-button;
  }
  &:active {
    color: @normal-button-pressed;
    border-color: @normal-button-pressed;
  }
  &[disabled] {
    color: @normal-button-disabled;
    border-color: @normal-button-disabled;
  }
}


button.cancel-button {
  color: white;
  & {
    background-color: @cancel-button;
  }
  &:active {
    background-color: @cancel-button-pressed;
  }
}


button.delete-button {
  color: white;
  & {
    background-color: @delete-button;
  }
  &:active {
    background-color: @delete-button-pressed;
  }
}

button.transparent-button {
  color: @normal-button;
  &:hover {
    color: @normal-button-hover;
  }
  &:active {
    color: @normal-button-pressed;
  }
  &[disabled] {
    color: @normal-button-disabled;
  }
}

button.tab-button {
  color: white;
  background-color: @tab-button;
  &:hover {
    background-color: @tab-button-hover;
  }
  &:active {
    background-color: @tab-button-pressed;
  }
  &[disabled] {
    color: black;
    background-color: white;
  }
}

button.add-button {
  .simple-input;
  background-color: white;
  color: @default-element;
}

// CHECKBOXES

// Make labels clickable
label {
  cursor: pointer;
}

 // Never show default checkbox
 input[type=checkbox] {
  display: none;
}

input[type='checkbox'] + label:before {
  font-family: 'icomoon';
  font-size: @icon-size;
  padding-right: 10px;
  vertical-align: middle;
  color: @default-button;
}

// Android hack: 10px padding caused redraw problems
// on the checkbox while swiping, and no other CSS
// solution fixed the problem. Something like this:
// http://stackoverflow.com/a/16174338/2659424
// might be the only proper solution to the repaint
// problems with Android's WebKit.
.android input[type='checkbox'] + label:before {
  padding-right: 15px;
}

input[type="checkbox"] + label:before {
  .icon-selection-empty;
}

input[type="checkbox"] + label.overdue:before {
  color: @overdue-task;
}

input[type="checkbox"]:checked + label:before {
  .icon-selection-checked;
  color: @highlighted-element;
}

input[type=date] {
  &.simple-input {
    color: @default-element;
  }
  background: none;
  border: none;
  outline: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

// SELECTIONS

select {
  &.simple-input {
    color: @default-element;
    background: none;
    padding: 0;
  }
  option {
    color: black;
  }
  option:first-child {
    color: @default-element;
  }
}

// INPUTS
input, select, textarea {
  width: 100%;
  background-color: inherit;
}

textarea {
  min-height: @vertical-grid / 2;
  height: @vertical-grid / 2;
  vertical-align: middle;
  .break-words;
}

::-webkit-resizer {
  display: none;
}

button {
  padding: 0;
  margin: 0;
}

// PLACEHOLDER TWEAK

::-webkit-input-placeholder { /* WebKit browsers */
  color: @default-element;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @default-element;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @default-element;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: @default-element;
}
