/*
<h1>Links</h1>
*/

@import "foundation.less";
@import "colors.less";
@import "typography.less";
@import "layout.less";

a {
  text-decoration: none;
  color: @default-element;
  outline: 0;
}
a:active {
  color: @default-element-pressed;
}

.highlighted-link {
  color: @highlighted-element;
  &:hover {
    color: @highlighted-element-hover;
  }
  &:active {
    color: @highlighted-element-pressed;
  }
}

.warning-link {
  color: @warning;
}

.show-more {
  .font-smallest;
  display: inherit;
  .center-horizontally;
  text-align: center;
}

.arrow-link {
  line-height: @vertical-grid;
}

// Add small margin to prevent arrow from touching scrollbar on desktop
.click-to-slide {
  span.icon-arrow-right {
    margin-right: 5px;
  }
}

.add-new-list-item-cancel {
  color: #e22c09;
  padding-right: 15px;
}

a.click-to-slide {
  color: @default-element;
}

.click-to-slide {
  display: table;
  width: 100%;
  vertical-align: middle;
  span.link-title {
    width: 100%;
    display: table-cell;
    line-height: normal;
    color: @content;
  }
}