@import "foundation.less";
@import "typography.less";
@import "layout.less";
@import "icons.less";

/*
<h1 class="main-heading">Links</h1>

Following navigation links are used. These shouldn't be used for actions!
*/

/*
```markup
<a href="#">Basic link</a> <br />
<a href="#" class="highlighted-link">Highlighted link</a> <br />
<a href="#" class="warning-link">Warning link</a> <br />
<a href="#" class="show-more">Show more</a> <br />
<a href="#" class="arrow-link"><span class="icon-arrow-right">TODO: arrow link doesn't show up before icons are fixed in Styleguide</span></a> <br />
<a href="#" class="font-smallest add-new-list-item-cancel">add-new-list-item-cancel</a>

```
*/
a {
  text-decoration: none;
  color: @default-element;
  outline: 0;
}

a:active {
  color: @default-element-pressed;
}

.highlighted-link {
  color: @highlighted-element;
  &:hover {
    color: @highlighted-element-hover;
  }
  &:active {
    color: @highlighted-element-pressed;
  }
}

.warning-link {
  color: @warning;
}
.show-more {
  .font-smallest;
  display: inherit;
  .center-horizontally;
  text-align: center;
}

.arrow-link {
  line-height: @vertical-grid;
}

// Add small margin to prevent arrow from touching scrollbar on desktop
// TODO: cleanup?
.click-to-slide {
  span.icon-arrow-right {
    margin-right: 5px;
  }
}
a.click-to-slide {
  color: @default-element;
}

.add-new-list-item-cancel {
  color: #e22c09;
}

.click-to-slide {
  display: table;
  width: 100%;
  vertical-align: middle;
  span.link-title {
    width: 100%;
    display: table-cell;
    line-height: normal;
    color: @content;
  }
}

//////// NEW START ////////////////////////

/*
Navigation links
*/
.link-navigation-back:not(.not-swipeable):before {
  .set-icon-font;
  content: @icon-arrow-left;
  font-size: 8px;
  padding-right: 5px;
}

.link-navigation-forward:after {
  .set-icon-font;
  content: @icon-arrow-right;
  font-size: 8px;
  padding-left: 5px;
}

//////// NEW END ////////////////////////
