/*
Fundamentals that affect the whole app.
*/

* {
  // Use the same font throughout
  font-family: @font;

  // Use border box everywhere
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  // Remove pressed element's gray background
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  // Disable showing popup during touch and hold a target in Safari
  -webkit-touch-callout: none;

  // Default to no background repeat
  background-repeat: no-repeat;
}

.font-bold {
  font-family: @font-bold;
  font-weight: 700;
}

.small-font {
  font-size: @small-font-size;
}

.smallest-font {
  font-size: @smallest-font-size;
}


html {
  // There is never any full page scrolling
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  body, div#root-container, div#root, div#feature-container-wrapper, .no-slides-container, .slides-container, section.one-column-grid, section.two-column-grid, .column {
    height: inherit;
    overflow: hidden;
  }
  div#root {
    // Default to white background
    background-color: white;
  }
  font-size: @default-font-size;
}

// LINKS

a {
  text-decoration: none;
  color: @default-element;
}
a:active {
  color: @default-element-pressed;
}


// HEADINGS

h1, h2, h3, h4, h5, h6 {
  .font-bold;
  margin: 0;
  color: @content-heading;
  line-height: normal;
}

h3, .bold-title {
  min-height: @content-heading-height;
  a&, input, a {
    .font-bold;
    color: @content-heading;
  }
  a&, input {
    font-size: @large-font-size;
  }
  a&:active, input:active, a:active {
    color: @content-heading-pressed;
  }
}


// LISTS

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// INPUTS

input, select, textarea {
  width: 100%;
  background-color: inherit;
}

textarea {
  min-height: @vertical-grid / 2;
  .break-words;
}

button {
  padding: 0;
  margin: 0;
}

// PLACEHOLDER TWEAK

::-webkit-input-placeholder { /* WebKit browsers */
  color: @default-element;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @default-element;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @default-element;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: @default-element;
}
