/*
# Warnings
*/

.danger-heading {
  color: @danger-text;
}

/*
# Onboarding
*/

.onboarding-bubble {
  position: relative;
  border: 1px solid @instruction;
  border-radius: @rounded-corner-radius;
  padding: 20px 10px;
  text-align: center;
  line-height: normal;
  span {
    color: @instruction;
  }
}

.onboarding-bubble:after, .onboarding-bubble:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.onboarding-bubble:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: white;
  border-width: 15px;
  margin-left: -15px;
}
.onboarding-bubble:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: @instruction;
  border-width: 16px;
  margin-left: -16px;
}

/*
# Modals
*/

#policy-modal {
  .modal-dialog {
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    .modal-content {
      .modal-body {
        overflow-y: auto;
      }
      .modal-footer {
        padding: 15px 0 0 0;
        button {
          margin: 0;
        }
      }
    }
  }
}

.modal-dialog {
  max-width: @max-modal-width;
}

