@import "foundation.less";
@import "layout.less";

/*

<h1 class="main-heading">Notifications</h1>

Modals and toaster notifications.
*/

@rounded-corner-radius: 15px;
@max-modal-width: 400px;

/*
**************************************************************************
# Modals

TODO: Modals will be gone soon?
*/

#policy-modal {
  .modal-dialog {
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    .modal-content {
      .modal-body {
        overflow-y: auto;
      }
      .modal-footer {
        padding: 15px 0 0 0;
        button {
          margin: 0;
        }
      }
    }
  }
}

.modal-dialog {
  max-width: @max-modal-width;
}

#modalFooter {
  button[disabled].normal-button {
    color: white;
    background-color: @color-default-pressed;
  }
}
