
// LOGIN / SIGNUP

@login-content-height: @vertical-grid*5.1;

section#login, section#signup {
  .column {
    overflow-y: auto;
    .banner {
      padding-bottom: @vertical-grid / 10;
      span {
        width: 200px;
        display: block;
        text-align: center;
        .center-horizontally;
      }
      // Make content a "sticky footer"
      min-height: 100%;
      margin-bottom: -@login-content-height; 
      padding-top: @vertical-grid * 1.5;
    }
    .banner:after {
      content: "";
      display: block;
      height: @login-content-height;
    }
    .content {
      height: @login-content-height;
      .button-container{
        padding-top: @vertical-grid / 2;
        padding-bottom: @vertical-grid / 2;
      }
    }
  }
}

// HOME

section#home {
  header#main-header {
    min-height: @main-header-height;
    #menu-content {
      background-color: white;
      width: auto;
      padding-top: 10px;
      .top-bottom-borders;
      a {
        color: @default-element;
      }
      a.collective{
        // FIXME: This color is strange
        color: @default-element;
      }
      a.collective:active{
        color: @default-element-pressed;
      }
    }
    nav {
      max-width: @one-column-grid-width;
      text-align: right;
      margin-right: auto;
      margin-left: auto;
      width: inherit;
    }
    button#menu-button{
      .button;
      padding: 16px 0 16px 20px; // increased clicking area
      margin-right: -3px; // aligns menu button to the edge of the column
    }
    button#menu-button:active{
      background-position: 0 0;
    }
  }

  #main-content-container {
    height:100%;
    .banner {
      padding-top: @vertical-grid * 1.5;
      padding-bottom: @vertical-grid / 2;
      span {
        width: 2em;
        .center-horizontally;
        display: block;
        font-size: 2em;
      }
    }
    .content {
      height: inherit;
      padding-top: @vertical-grid / 2;
      padding-bottom: @footer-height + @vertical-grid / 4;
      #omnibar{
        .top-bottom-borders;
        display: table;
        width: 100%;
        div.right-button-wrapper { 
          line-height: 100%;
        }
      }
      div#filtered-items-container {
        height: inherit;
        overflow-y: auto;
      }
    }
  }
}


// TASKS DATES

section#tasks-dates {
  #date-picker {
    width: 100%;
    overflow-x: auto;
  }
  .inner-slide-content-container{
    padding-bottom: @footer-height;
  }
  #datebar {
    color: @highlighted-element;
  }
}

// TODO: Move these to the right place!

button.default-button{
  color: white;
  & {
    background-color: @default-button;
  }
}

// When item is active, show top&bottom borders
.accordion-item-active {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: @separator;
  padding-top: 5px;
  padding-bottom: 5px;
  .accordion-title-open {
    margin-top: -5px;
    padding-bottom: 5px;
    .left-input-wrapper {
      padding-left: 1px;
    }
    &.no-checkbox {
      margin-top: -6px;
    }
  }
}

input[type="checkbox"]:checked ~ a#accordionTitleLink {
  color:@default-element;
  .fade-color(@fade-time);
}

div#accordionTitleHeightFix {
  height: @vertical-grid;
}

a#accordionTitleLink {
  color: @content;
  line-height: 19px;
}

#datepicker {
  height: @datepicker-height;
  overflow: hidden;
  ul {
    overflow: hidden;
    li {
      text-align: center;
      min-width: 30px;
      a {
        display: inline-block;
        width: 100%;
      }
    }
  }
  a {
    color: @highlighted-element;
  }
  span.activeDay {
    color: white;
    background-color: @highlighted-element;
  }
}
