@login-content-height: @vertical-grid*4;

section#login {
  .banner {
    padding-top: @vertical-grid;
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-top: 10px;
    }
    // Make content a "sticky footer"
    min-height: 100%;
    margin-bottom: -@login-content-height; 
  }
  .banner:after {
    content: "";
    display: block;
    height: @login-content-height;
  }
  .content {
    height: @login-content-height;
  }
}

