/*
# Typography
*/

/*
Following fonts are used:
* HelveticaNeue-Light
* Helvetica Neue Light
* HelveticaNeueLTStd-Lt
* Helvetica Neue
* Arial
* Helvetica
* sans-serif

(Bold letters use HelveticaNeueLT-Roman instead of HelveticaNeueLTStd-Lt.)
*/

@font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeueLTStd-Lt', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
@font-bold: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeueLT-Roman', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';

@large-font-size: 21px;
@default-font-size: 18px;
@font-small-size: 15px;
@font-smallest-size: 12px;
@slide-indicator-width: 0.5em;

h1, h2, h3, h4, h5, h6 {
  .font-bold;
  margin: 0;
  color: @content-heading;
  line-height: normal;
}

h3, .bold-title {
  min-height: @content-heading-height;
  a&, input, a {
    .font-bold;
    color: @content-heading;
  }
  a&, input {
    font-size: @large-font-size;
  }
  a&:active, input:active, a:active {
    color: @content-heading-pressed;
  }
}

/*
The following can be used to control font:

* `.font-bold`
* `.font-small`
* `.font-smallest`


```markup
<p class="font-bold">font-bold</p>
<p class="font-small">font-small</p>
<p class="font-smallest">font-smallest</p>

```
*/
.font-bold {
  font-family: @font-bold;
  font-weight: 700;
}
.font-small {
  font-size: @font-small-size;
}
.font-smallest {
  font-size: @font-smallest-size;
}

.instruction-text {
  color: @instruction;
  display: block;
  text-align: center;
  line-height: 19px;
  .icon-logo-only {
    font-size: @font-small-size;
  }
  .instruction-text-chapter {
    padding-bottom: @vertical-grid;
  }
  .instruction-text-chapter-details {
    font-size: @font-small-size;
    padding-bottom: @vertical-grid;
  }
}

.subheading {
  padding-top: @vertical-grid-half;
}

// Lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}