@import "foundation.less";
@import "icons.less";

/*
<h1 class="main-heading">Typography</h1>

Fonts in use:
* HelveticaNeue-Light
* Helvetica Neue Light
* HelveticaNeueLTStd-Lt
* Helvetica Neue
* Arial
* Helvetica
* sans-serif

(Bold letters use HelveticaNeueLT-Roman instead of HelveticaNeueLTStd-Lt.)
*/

@font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue',
              'Helvetica Neue',  'Segoe UI Light', 'Segoe UI', 'sans-serif-light', 'sans-serif';
@font-family-bold: 'HelveticaNeue', 'Helvetica Neue',  'Segoe UI Bold', 'Segoe UI', 'sans-serif';

@size-font-jumbotron: 59px;
@size-font-large: 48px;
@size-font-not-so-large: 40px;
@size-font-medium-large: 35px;
@size-font-btn: 25px;
@size-font-ingress: 21px;
@size-font-content: 18px;
@size-font-medium: 15px;
@size-font-topheading: 15px;
@size-font-small: 13px;

* {
  font-family: @font-family;
  font-weight: 300;
}

html {
  font-size: @size-font-content;
}

/*
Font mixins.
*/
.set-font-bold() {
  font-family: @font-family-bold;
  font-weight: 700;
}

.set-font-jumbotron() {
  font-size: @size-font-jumbotron;
  .set-font-bold;
}

.set-font-large() {
  font-size: @size-font-large;
  .set-font-bold;
}

/*
******************************************************************
# Headings.
*/

// 1. Most browsers will set default margin-top and -bottom to heading elements.
//    We are using headings up to h4.
h1, h2, h3, h4 {
  margin-top: 0;    // [1]
  margin-bottom: 0; // [1]
  &, span, a > span {
    .set-font-bold;
  }
}

h1 {
  font-size: @size-font-topheading;
}

h2 {
  font-size: @size-font-large;
}

.textgroup-toaster {
  font-size: @size-font-medium;
}

.textgroup-ingress {
  font-size: @size-font-ingress;
  &, span {
    .set-font-bold;
  }
}

/*
******************************************************************
# Texts.
*/

[class^="text-"], [class*=" text-"] {
  .break-words();
  &.emphasis {
    .set-font-bold();
  }
}

.text-highlighted {
  color: @color-text-highlighted;
}

.text-jumbotron {
  .set-font-jumbotron();
}

.text-jumbotron.highlighted {
  color: @color-text-active;
}

.text-heading.highlighted {
  color: @color-text-active;
}

.text-heading.long {
  font-size: @size-font-not-so-large;
}

.text-btn {
  .set-font-bold();
}

/*
Use `.text-details` to separate details from body text.
*/

.text-details {
  font-size: @size-font-small;
  color: @color-text-downplayed;
}

.text-error {
  font-size: @size-font-small;
  color: @color-text-error;
}

.text-teaser, .text-link {
  display: inline-block;
  line-height: @grid-vertical-half;
}

// 1. Clear line-height for clamped text.
//    NOTE: Tested on iOS Safari. Set .ios override class if needed to set something else as default.
.text-clamped {
  line-height: @grid-vertical-half; // [1]
}

.text-edit {
  font-size: @size-font-small;
  .dont-break-words();
}

.text-teaser {
  font-size: @size-font-medium;
  color: @color-text-downplayed;
}

// TODO: Use .text-heading-primary and .emphasis which defines .set-font-bold().
.text-heading-primary {
  line-height: @grid-vertical-half;
  font-size: @size-font-topheading;
  .set-font-bold();
}

.text-heading-primary.large {
  line-height: @grid-vertical;
  font-size: @size-font-medium-large;
  .set-font-bold();
}

.text-normal {
  line-height: @grid-vertical-half;
  font-size: @size-font-medium;
}

.text-downplayed {
  color: @color-text-downplayed;
}

/*
Used with JSON.stringify function and HTML <pre> tag.
*/
.text-preformatted {
  margin-top: 0;
  margin-bottom: 0;
  font-size: @size-font-small;
  line-height: normal;
  overflow-x: auto;
  .dont-break-words();
}

/*
Navigation texts
*/

.text-navigation-back, .text-navigation-forward, .text-navigation {
  color: @color-text-downplayed;
  font-size: @size-font-small;
  .set-font-bold();
  display:inherit;
}

.text-navigation {
  .dont-break-words();
}

@width-arrow-text-gap: 5px;
.text-navigation-back:not(.not-swipeable):before {
  .set-icon-font;
  content: @icon-arrow-left;
  color: @color-text-downplayed;
  font-size: @size-icon-arrow-small;
  padding-right: @width-arrow-text-gap;
  vertical-align: middle;
}

.text-navigation-forward:after {
  .set-icon-font;
  content: @icon-arrow-right;
  color: @color-text-downplayed;
  font-size: @size-icon-arrow-small;
  padding-left: @width-arrow-text-gap;
  vertical-align: middle;
}

.text-navigation-menu {
  .set-font-bold;
  color: @color-text-inverse;
  font-size: @size-font-large;
}

.text-navigation-menu-small {
  .set-font-bold;
  color: @color-text-inverse;
  font-size: @size-font-topheading;
  line-height: @grid-vertical-half;
}

.large.text-navigation-back:before {
  font-size: @size-icon-arrow-large;
  content: @icon-arrow-left-narrow;
}

.large.text-navigation-forward:after {
  font-size: @size-icon-arrow-large;
  content: @icon-arrow-right-narrow;
  vertical-align: middle;
  vertical-align: -2%;
}

/*
Convert texts.
*/

.text-convert{
  line-height: @grid-vertical;
  min-height: @size-icon-arrow-move;
  height: @grid-vertical;
  display: inline-block;  // for height
  &:before {
    .set-icon-font();
    content: @icon-arrow-move;
    font-size: @size-icon-arrow-move;
    padding-right: @width-arrow-text-gap;
    vertical-align: middle;
  }
}

/*
Search results (omnibar, deleted)
*/

@line-height-text-search: @grid-vertical-half;

// 1. Align vertically with .text-search-type, which has different font-size, using same line-height in both
//    classes.
.text-search-result {
  line-height: @line-height-text-search; // [1]
  font-size: @size-font-medium;
}

// 1. Align vertically with .text-search-result, which has different font-size, using same line-height in both
//    classes.
.text-search-type {
  line-height: @line-height-text-search; // [1]
  color: @color-text-downplayed;
  font-size: @size-font-small;
  .set-font-bold();
  // Undo break words
  .dont-break-words();
}

/*
Keywords
*/

.text-keyword {
  font-size: @size-font-small;
}
