// Baseline
@horizontal-grid: 30px;
@vertical-grid: 44px;
@vertical-grid-half: 19px;

// icons
@icon-size: 28px;
@banner-logo-size: 70px;

// Typography
@font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@default-font-size: 18px; 
@slide-indicator-width: 0.5em;

// Columns
@one-column-grid-width: 480px;
@two-column-grid-width: 720px;
@two-column-grid-main-width: 66.66%;
@two-column-grid-aside-width: 33.33%;

// iPad specifies the maximum width and height of the content area
@maximum-width: 1025px;
@maximum-height: 1025px;
@maximum-landscape-height: 769px;
@fixed-page-height: 500px;

// Headers
@main-header-height: 60px;
@page-header-height: 60px;
@heading-header-height: 60px;

// Footer
@footer-height: 60px;

// Date picker
@datepicker-height: 60px;

// Colors
@content: black;
@logo: #3b3b3b;
@separator: #dadada;
@instruction: #70c041;

@default-element: #919191;
@default-element-pressed: darken(@default-element, 20%);
@highlighted-element: #0f82fe;
@highlighted-element-pressed: darken(@highlighted-element, 20%);

@default-button: #b0b0b6;
@default-button-pressed: #00baff;
@default-button-disabled: lighten(@default-button, 20%);

@highlighted-button: #0f82fe;
@cancel-button: #7e7e7e;
@cancel-button-pressed: lighten(@cancel-button, 20%);
@delete-button: #e22c09;
@delete-button-pressed: lighten(@delete-button, 20%);
@overdue-task: @delete-button;

// Components
@plus-button-width: 27px;
@fade-time: 0.2s;
@icon-button-width: @plus-button-width;

@danger-background: @delete-button;
@danger-text: white;
