@em-max-width: 480px;
@em-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
// padding: 0 15px; // http://getbootstrap.com/css/#grid
@em-page-padding: 15px;
@em-blue: #428bca;
@em-blue-disabled: #c6dcef;
@em-completed: #AFAFAF;
@em-gray: #8E8E93;
@em-darkgray: #B6BBBA;
@em-red: #E22C09;
@em-green: #4ECE3A;