@import "foundation.less";
@import "layout.less";
@import "animations.less";
@import "inputs.less";

/*
<h1 class="main-heading">Widgets</h1>

Extended Mind specific UI-components, e.g. welcome/landing page, timeline, sidemenu and omnibar.
*/


/*
*************************************************************
# Section dependent
TODO: Examples needed
*/
section#welcome {
  max-width: 350px;
  .column {
    overflow-y: auto;
    .banner {
      padding-bottom: @vertical-grid;
      span {
        width: 200px;
        display: block;
        text-align: center;
        .center-horizontally;
      }
      padding-top: @vertical-grid * 1.5;
    }
    .content {
      text-align: center;
      line-height: @vertical-grid-half;
      #welcome-instructions {
        padding-bottom: @vertical-grid;
      }
      #welcome-store-buttons {
        padding-bottom: @vertical-grid;
      }
      #welcome-continue-link {
        font-size: @font-small-size;
      }
    }
  }
}

section#signup {
  .column {
    .banner {
      margin-bottom: -@vertical-grid * 7;
    }
    .banner:after {
      height: @vertical-grid * 7;
    }
    .content {
      height: @vertical-grid * 7;
      span#agreeText {
        font-size: @font-small-size;
        color: @content;
        line-height: 19px;
        a {
          color: @highlighted-element;
        }
        a:active {
          color: @highlighted-element-pressed;
        }
      }
    }
  }
}


/*
*************************************************************
# Tasks timeline
TODO: Changes to focus?
*/
section#tasks-timeline {
  .date-heading {
    position: relative;
  }
  #pull-to-previous, #pull-to-next {
    text-align: center;
    line-height: 200px;
    height: 200px;
    width: 100%;
  }
  #pull-to-previous {
    position: absolute;
    top: -200px;
  }
  .loader {
    color: @default-element;
  }
  .loader-active {
    color: @highlighted-element;
  }
}


/*
# Accordion
TODO: Gets wiped?
*/

.accordion-item-active {
  padding-top: 5px;
  padding-bottom: 5px;
  .accordion-title-open {
    margin-top: -4px;
    padding-bottom: 5px;
    .left-input-wrapper {
      padding-left: 1px;
    }
    &.no-checkbox {
      margin-top: -6px;
    }
  }
}

.keywords-container {
  line-height: @vertical-grid / 1.2;
  #new-keyword {
    margin-right: -4px;
  }
}

button.keyword {
  color: #0f82fe;
  border: 1px solid;
  padding: 2px 4px;
  margin-right: 4px;
}

button.keyword:disabled {
  opacity: .5;
}

button.selected-keyword {
  background-color: #0f82fe;
  color: white;
  padding: 3px 6px;
  margin-right: 4px;
}

input[type="checkbox"]:checked ~ a#accordionTitleLink {
  color: @default-element;
  .fade-fast;
}

div#accordionTitleHeightFix {
  height: @vertical-grid;
}

a#accordionTitleLink {
  color: @content;
  line-height: 19px;
  .break-words;
  &.needsSmallPadding {
    padding-top: 4px;
  }
  &.needsBigPadding {
    padding-top: 5px;
  }
}

div#closedAccordionTitleWrapper {
  max-height: @vertical-grid;
  overflow: hidden;
}


/*
*************************************************************
# Excerpt
(Previously known as "teaser")
TODO: Example needed
*/

.excerpt {
  line-height: @vertical-grid-half;
  font-size: @font-small-size;
  .break-words;
}

.excerpt, .excerpt-empty {
  padding-bottom: @vertical-grid-half;
}


/*
*************************************************************
# Header
TODO: Example needed
*/

header.static-page-header {
  .active-item-container {
    button#menu-button {
      .button;
      padding: 19px 20px 13px @horizontal-grid - 4; // increased clicking area, align icon to grid with right padding
      span.icon-menu {
        color: @highlighted-element;
      }
    }
    button#menu-button:active {
      span.icon-menu {
        color: @highlighted-element-pressed;
      }
    }
    a#today-link {
      float: left;
      color: @highlighted-element;
      font-size: @font-small-size;
      margin-top: 10px;
      padding-left: @horizontal-grid + 4;
      height: @page-header-height;
    }
    a.today-link-active {
      .font-bold;
    }
  }
  .heading {
    color: @highlighted-element;
    font-weight: 700;
    font-size: @large-font-size;
  }
  a.heading, .omni-button span {
    &:hover {
      color: @highlighted-element-hover;
    }
    &:active {
      color: @highlighted-element-pressed;
    }
  }

  .long-heading, .medium-heading {
    display: table;
    line-height: @vertical-grid-half;
    .heading {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .medium-heading .heading {
    font-size: @default-font-size;
  }
  .long-heading .heading {
    font-size: @font-small-size;
  }
  .omni-button {
    .button;
    line-height: normal;
    padding: 17px @horizontal-grid 17px 11px; // increased clicking area
    span {
      font-size: 16px;
    }
  }
}


/*
*************************************************************
# Footer
TODO: Example needed
*/

footer {
  a[class^='active-slide'], a[class*=' active-slide'] {
    span {
      color: @highlighted-element;
    }
    span:active {
      color: @highlighted-element-pressed;
    }
  }
}

.feature-footer {
  li.left-slide-link {
    a {
      padding-right: @horizontal-grid - 10px; // make room for long names
    }
  }
  li.right-slide-link {
    a {
      padding-left: @horizontal-grid - 10px; // make room for long names
    }
  }
}

footer {
  position: relative;
  height: @footer-height;
  width: inherit;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  .center-horizontally;
  font-size: @font-smallest-size;
  nav {
    padding-top: 5px;
    ul {
      li {
        text-align: center;
        a {
          padding-right: @horizontal-grid;
          padding-left: @horizontal-grid;
          display: inline-block !important;
        }
      }
    }
  }
}


/*
*************************************************************
# Omnibar
TODO: Example needed
*/

.titlebar-input {
  font-size: @large-font-size;
  max-height: @vertical-grid;
  &.titlebar-input-medium {
    font-size: @default-font-size;
  }
  &.titlebar-input-long {
    font-size: @font-small-size;
  }
  &.titlebar-input-very-long {
    font-size: @font-smallest-size;
  }
}
.omnibar-feature {
  width: 100%;
  float: left;
  overflow-y: auto;
  // height set with javascript
  .omnibar-search, .omnibar-empty-search-placeholder, .omnibar-task, .omnibar-note {
    height: 100%;
  }
  .omnibar-search .filtered-items {
    padding-top: @vertical-grid-half;
  }
  .omnibar-scroll-container {
    overflow-y: auto;
  }

  .omnibar-edit-item-scroller-wrapper {
    height: 100%;
    width: 100%;
    .omnibar-edit-item-scroller {
      position: relative;
      width: 200%;
      height: 100%;
      overflow: hidden;
    }
    .omnibar-scroller-slide {
      width: 50%;
      height: 100%;
      float: left;
      list-style-type: none;
      overflow-y: auto;
    }
  }
}

.omnibar-footer {
  height: @footer-height;
  .button-container, .button-row {
    border-right: 0;
    border-left: 0;
  }
  .button-container.left-of-two button.transparent-button, .button-container.left-of-three button.transparent-button,
  .button-container.right-of-two button.transparent-button, .button-container.right-of-three button.transparent-button {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .button-container.left-of-two button.transparent-button, .button-container.left-of-three button.transparent-button {
    float: left;
    margin-left: -30px;
  }
  .button-container.right-of-two button.transparent-button, .button-container.right-of-three button.transparent-button {
    float: right;
    margin-right: -30px;
  }

  .edit-item-scroller-indicators {
    .button-container.left-of-two .edit-item-scroller-indicator-wrapper {
      padding-right: 10px;
      padding-left: 15px;
      float: right;
    }
    .button-container.right-of-two .edit-item-scroller-indicator-wrapper {
      padding-right: 15px;
      padding-left: 10px;
      float: left;
    }
    .edit-item-scroller-indicator-wrapper {
      width: auto;
      .edit-item-scroller-indicator-left, .edit-item-scroller-indicator-right {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #dadada;
        color: black;
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      }
      .edit-item-scroller-indicator-left {
        float: right;
      }
      .edit-item-scroller-indicator-right {
        float: left;
      }
      .edit-item-scroller-indicator-active {
        background-color: #919191;
      }
    }
    .edit-item-scroller-indicator-wrapper:active {
      .edit-item-scroller-indicator-left, .edit-item-scroller-indicator-right {
        background-color: #919191;
      }
    }
  }
}


/*
*************************************************************
# Menu
TODO: Example needed
*/

.no-webkit-scrolling {
  -webkit-overflow-scrolling: auto;
}

.webkit-scrolling {
  -webkit-overflow-scrolling: touch;
}

#menu {
  background-color: @menu;
  position: absolute;
  width: 260px;
  height: 100%;
  overflow: auto;
  #menu-content {
    li.account-link {
      padding-top: 8px;
      height: @page-header-height;
    }
    a, span {
      font-size: @font-small-size;
      .font-bold;
    }
    a.feature-link, a.lists-link {
      font-size: 1.17em;  // http://www.w3.org/TR/CSS2/sample.html
    }
    li.last-feature { // padding-bottom for li with last a.feature-link
      padding-bottom: @vertical-grid;
    }
    ul {
      margin-top: 4px;
    }
    a {
      color: #FEFFFF;
      padding-right: 30px;
      padding-left: 30px;
    }
    a.active, a.lists-link.active + a.hide-expand-link, a:active, a:active + a.hide-expand-link {
      background-color: white;
      color: black;
    }
    a {
      // http://getbootstrap.com/components/#dropdowns
      display: block;
    }
    .list {
      display: table;
      line-height: @vertical-grid-half;
      height: @vertical-grid;
      width: 100%;
      .list-link {
        display: table-cell;
        vertical-align: middle;
        padding-left: 40px;
      }
    }
    .lists-heading-container {
      display: table;
      .feature-link {
        display: table-cell;
        width: 90%;
      }
      a.hide-expand-link {
        vertical-align: middle;
        display: table-cell;
        width: 10%;
      }
    }
    .menu-last {
      padding-bottom: @vertical-grid-half;
    }
  }
}

// Override again with background color of the next element
// of the mobile menu
#feature-container-wrapper {
  position: relative;
  background-color: white;
}


/*
*************************************************************
# Datepicker
TODO: Gets replaced with pikaday?
*/

li.datepicker-date {
  line-height: @vertical-grid-half;
}

#datepicker {
  height: @vertical-grid + 6;
  margin-top: -16px;
  overflow: hidden;
  div#scroller {
    // http://stackoverflow.com/a/18784257
    // css divide width 100% to 3 column
    width: 300%;
    height: inherit;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    nav[role=navigation].slide {
      height: inherit;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      ul {
        // http://stackoverflow.com/a/14103766
        // How to stretch html / css horizontal navigation items evenly and fully across a specified container
        width: 100%;
        height: inherit;
        li {
          height: inherit;
          vertical-align: middle;
        }
        li#datepicker-arrow-previous {
          text-align: left;
        }
        li#datepicker-arrow-next {
          text-align: right;
        }
        li.datepicker-date {
          min-width: 11.11%;
          text-align: center;
          a {
            font-size: @font-small-size;
            width: inherit;
            color: @highlighted-element;
            span {
              display: block;
              min-width: 29px;
            }
            span.day-date {
              display: block;
              margin: 0 auto;
              height: 28px;
              width: 28px;
              text-align: center;
              padding-top: 4px;
            }
          }
          a.date-active, a.date-active-today {
            font-weight: 700;
            span.day-date {
              color: white;
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              background-color: @highlighted-element;
            }
          }
          a.date-past, a.date-active-past {
            color: @default-element;
          }
          a.date-active-past {
            span.day-date {
              color: white;
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              background-color: @default-element;
            }
          }
          a.date-today {
            span.day-date {
              border-radius: 50%; //http://css-tricks.com/almanac/properties/b/border-radius/
              border: 1px solid @highlighted-element;
            }
          }
        }
      }
    }
  }
}


/*
*************************************************************
# Pick a day
TODO: Example needed
*/
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
}

.pikaday-embedded .pika-single {
  z-index: auto;
  border: none;
}

// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/

.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pikaday-embedded .pika-lendar {
  width: 100%;
  padding: 8px;
  margin: 0;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: @font-small-size;
  line-height: 30px;
  background-color: #fff;
}

.pikaday-embedded .pika-label {
  z-index: auto;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pikaday-embedded .pika-title select {
  z-index: auto;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev, .is-rtl .pika-next, .pika-prev:before {
  float: left;
  *left: 0;
}

.pika-next, .is-rtl .pika-prev, .pika-next:before {
  float: right;
  *right: 0;
}

.pika-prev:before, .pika-next:before {
  margin-top: 15px;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: @font-small-size;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pika-prev:before {
    margin-left: -15px; // align with pika-next:before
    content: "\e60c";
  }

  .pika-next:before {
    content: "\e60b";
  }

  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: .2;
  }

  .pika-select {
    display: inline-block;
    *display: inline;
  }

  .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }

  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0;
  }

  .pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
  }

// override style from normalize.less
.pika-table abbr[title] {
  border-bottom: none;
}

.pika-button {
  cursor: pointer;
  display: block;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background-color: @pikaday-button;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: @highlighted-element;
  font-weight: bold;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background-color: @pikaday-selected-button;
}

.web .is-selected .pika-button:hover {
  background-color: @pikaday-selected-button-hover;
}

.is-selected .pika-button:active {
  background-color: @pikaday-selected-button-hover;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.web .pika-button:hover {
  color: #fff !important;
  background-color: @pikaday-button-hover;
}

/*
*************************************************************
# Swiper
TODO: Do we need an example?
*/

// swiper 2.4.3
// Mobile touch slider and framework with hardware accelerated transitions
// http://www.idangero.us/sliders/swiper/

.swiper-container {
  margin:0 auto;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;

  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;

  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);

  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;

  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
}

// IE10 Windows Phone 8 Fixes
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

//Your custom styles, here you need to specify container's and slide's
//sizes, pagination, etc.

.swiper-container {
  /* Specify Swiper's Size: */

  /*width:200px;
  height: 100px;*/
}
.swiper-slide {
  /* Specify Slides's Size: */

  /*width: 100%;
  height: 100%;*/
}
.swiper-slide-active {
  /* Specific active slide styling: */

}
.swiper-slide-visible {
  /* Specific visible slide styling: */

}
/*
*************************************************************
# Pagination Styles
// TODO: Example needed
*/
.swiper-pagination-switch {
  /* Stylize pagination button: */

}
.swiper-active-switch {
  /* Specific active button style: */

}
.swiper-visible-switch {
  /* Specific visible button style: */

}



// #############################
// from Bootstrap variables.less

@zindex-modal-background: 1040;
@zindex-modal: 1050;
//** Padding applied to the modal body
@modal-inner-padding: 15px;
//** Padding applied to the modal title
@modal-title-padding: 15px;
//** Modal title line-height
@modal-title-line-height: @vertical-grid-half;
//** Background color of modal content area
@modal-content-bg: #fff;
//** Modal content border color
@modal-content-border-color: rgba(0,0,0,.2);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color: #999;
//** Modal backdrop background color
@modal-backdrop-bg: #000;
//** Modal backdrop opacity
@modal-backdrop-opacity: .5;
//** Modal header border color
@modal-header-border-color: #e5e5e5;
//** Modal footer border color
@modal-footer-border-color: @modal-header-border-color;
@modal-lg: 900px;
@modal-md: 600px;
@modal-sm: 300px;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;


// #################
// from Bootstrap mixins.less
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9 only
      transform: translate(@x, @y);
    }
    .transition-transform(@transition) {
      -webkit-transition: -webkit-transform @transition;
      -moz-transition: -moz-transform @transition;
      -o-transition: -o-transform @transition;
      transition: transform @transition;
    }


/*
*************************************************************
# Drop shadows
TODO: Do we need an example?
*/

//
// Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
//   supported browsers that have box shadow capabilities now support the
//   standard `box-shadow` property.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
  box-shadow: @shadow;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}


/*
*************************************************************
# Modals
TODO: Gets wiped?
*/

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    .translate(0, -25%);
    .transition-transform(~"0.3s ease-out");
  }
  &.in .modal-dialog { .translate(0, 0)}
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: @modal-content-bg;
  border: 1px solid @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid @modal-content-border-color;
  .box-shadow(0 3px 9px rgba(0, 0, 0, .5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: none;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal-background;
  background-color: @modal-backdrop-bg;
  // Fade for backdrop
  &.fade { .opacity(0); }
  &.in { .opacity(@modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: @modal-title-padding;
  border-bottom: 1px solid @modal-header-border-color;
  min-height: (@modal-title-padding + @modal-title-line-height);
}
// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: @modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: @modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: @modal-inner-padding;
  text-align: right; // right align buttons
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Scale up the modal
@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: @modal-md;
    margin: 30px auto;
  }
  .modal-content {
    .box-shadow(0 5px 15px rgba(0, 0, 0, .5));
  }

  // Modal sizes
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
  .modal-lg { width: @modal-lg; }
}
