<div>

  <button type="button" class="btn btn-default pull-right" ng-click="addNew()">
    +
  </button>

  <h1 class="text-primary"><a href="/my/tasks">tasks</a></h1>

  <h2>{{project.title}}</h2>

  <ul class="entry-list">
    <li ng-repeat="task in subtasks" ng-animate="'fade'">

      <input type="checkbox" name="checkbox" id="checkbox{{$index}}" ng-model="task.done" ng-change="taskChecked($index)">
      <label for="checkbox{{$index}}" class="done-{{task.done}}" eat-click ng-click="expandTask()">{{task.title}}</label>

      <div task-content ng-show="showMe" ng-animate="'fade'"></div>
    </li>
  </ul>

</div>
