<div id="em-feature-header-tasks" class="row em-feature-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav nav-justified">
        <li id="em-iconlink">
          <a href="#/{{prefix}}"><span class="em-icon">t</span></a>
        </li>
        <li id="em-featurelink">
          <a class="em-feature" href="#/{{prefix}}/tasks">project</a>
        </li>
        <li id="em-addnewbutton">
          <button type="button" class="btn em-plus" ng-click="addNew()">+</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="row em-scrollable-bottom">

  <h2 ng-click="toggleProjectContent()">{{project.title}}</h2>
  <div project-content ng-show="showProjectContent"></div>

  <ul class="list-unstyled">
    <li ng-class="selected" ng-repeat="task in tasks | tasksFilter:filterService.activeFilters.tasksByProjectUUID">

      <div task></div>

    </li>
    <div sub-task subtask="subtask"></div>
  </ul>

  <div error-alert-bar alertmessage="errorHandler.errorMessage"></div>

</div>
