# Phonegap specific git ignore

# all of these get copied from source folder automatically during "phonegap build"
app/www/static

# ios
app/platforms/ios/build
app/platforms/ios/www

# android
app/platforms/android/assets/static/
*.keystore
