<div ng-if="isMobile" ng-include="'static/app/auth/menu.html'" id="mobile-menu" class="snap-drawer snap-drawer-left" scrollable></div>
<div id="account-container" class="no-slides-container" ng-init="feature='account'" ng-controller="AccountController" snap-drawer>
  <header class="static-page-header" ng-include="'static/app/main/staticPageHeader.html'"></header>
  <section ng-hide="isDesktop && isMenuOpen" id="account" class="one-column-grid page" snap-drawer-drag>
    <div class="column">
      <div class="content-container simple-content-container">
        <span>{{email}}</span>
        <a class="text-muted click-to-slide" href ng-click="gotoChangePassword()">
          <span class="link-title">change password</span>
          <span class="icon-arrow-right"></span>
        </a>
        <button type="submit" id="account-button" class="wide-button normal-button" ng-click="gotoMainPage()">
          <span class="button-text">done</span>
        </button>
      </div>
    </div>
  </section>
  <div id="desktop-menu" ng-if="isDesktop && isMenuOpen" ng-include="'static/app/auth/menu.html'"></div>
</div>
