<div class="single-page-container">
  <section class="one-column-grid single-page page" ng-controller="AccountController" snap-drawer-drag="account">
    <div class="column">
      <div ng-hide="omnibarVisible" class="page-content-container single-page-content-container">
        <ul>
          <li class="simple-content">
            <h3>user</h3>
            <a href ng-class="getMyClass()" ng-click="setMyActive()">{{email}}</a>
            <span ng-if="isUserVerified" id="email-verification-status">verified</span>
            <span ng-if="!isUserVerified" id="email-verification-status">not verified</span>
            <ul class="button-row">
              <li class="button-container left-of-two">
                <button type="button" class="default-button font-small" ng-click="gotoChangePassword()">change password</button>
              </li>
              <li class="button-container right-of-two">
                <button type="button" class="default-button font-small" ng-click="logout()">logout</button>
              </li>
            </ul>
            <div ng-if="isAdmin()">
              <a href class="highlighted-link" ng-click="gotoAdmin()">admin</a>
            </div>
          </li>
          <li ng-if="useCollectives()" class="simple-content">
            <h3>collectives</h3>
            <ul>
              <li ng-repeat="(key, value) in collectives">
                <div ng-if="value[2] === false">
                  <a href ng-class="getCollectiveClass(key)" ng-click="setCollectiveActive(key)">{{value[0]}}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
