<div id="settings-container">
  <section id="settings" class="one-column-grid page" ng-controller="SettingsController" snap-drawer-drag="account">
    <div class="column">
      <div ng-hide="omnibarVisible" class="content-container simple-content-container">
        <ul>
          <li class="simple-content">
            <h3>version</h3>
            <span ng-bind="extendedMindVersion"></span>
          </li>
          <li class="simple-content">
            <a class="highlighted-link" href ng-click="openTermsOfServiceModal()">terms of service</a><br/>
            <a class="highlighted-link" href ng-click="openPrivacyPolicyModal()">privacy policy</a>
          </li>
          <li id="about-help" class="simple-content">
            <small>in case you need any help, email
              <a class="highlighted-link" href="mailto:support@ext.md"> support@ext.md</a>
            </small>
          </li>
          <li>
            <input class="input-checkbox" type="checkbox" name="checkbox" id="showOnboarding" ng-model="settings.showOnboarding" ng-change="showOnboardingChecked(settings.showOnboarding)"/>
            <label class="default-element small-font" for="showOnboarding">show onboarding on next login</label>
          </li>
          <li>
            <input class="input-checkbox" type="checkbox" name="checkbox" id="hideFooter" ng-model="settings.hideFooter" ng-change="hideFooter(settings.hideFooter)"/>
            <label class="default-element small-font" for="hideFooter">hide footer on mobile</label>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
