<div id="em-feature-header-tasks" class="row em-feature-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav nav-justified">
        <li id="em-featurelink">
          <a class="em-feature" href="" ng-click="nextSlide()">inbox</a>
        </li>
        <li id="em-addnewbutton">
          <button type="button" class="btn em-plus" ng-click="addNew()">+</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="row em-scrollable-bottom">

  <ul class="list-unstyled">
    <li ng-class="selected" ng-repeat="item in items">

      <div item></div>

    </li>
  </ul>

</div>
