<div class="{{pageAnimation}}">

  <ul class="pager">

    <li class="previous">
      <a href="" ng-click="swipeRight()">&larr;</a>
    </li>

    <li class="next">
      <a href="" ng-click="swipeLeft()">&rarr;</a>
    </li>

  </ul>

  <div class="page-header">
    <h1>Extended Mind <small>Notes</small></h1>
  </div>

  <div ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">

    <div>
      <h4>inbox</h4>
      <div notesfilter="{{notesListFilter}}" notes-list></div>

      <h4>projects</h4>

      <h4>areas</h4>
    </div>
  </div>
</div>
