<div class="row">

  <h3>unsorted</h3>
  <div tasks-list="tasks" tasks-filter="filterService.activeFilters.unsorted" subtask="subtask"></div>

  <div>
    <h3>projects</h3>
    <ul class="list-unstyled">
      <li ng-class="selected" ng-repeat="task in tasks | tasksFilter:filterService.activeFilters.project">
        <span><a class="text-muted" href="#/{{prefix}}/tasks/projects/{{task.uuid}}">{{task.title}}</a></span>
      </li>
    </ul>
  </div>

  <h3>areas</h3>

  <div contexts-list>
    <h3>contexts</h3>
  </div>

</div>
