<div class="em-slide">

  <button type="button" class="btn btn-default pull-right" ng-click="addNew()">
    +
  </button>

  <h1 class="text-primary">tasks</h1>

  <h2>unsorted</h2>

  <ul class="list-unstyled">
  <li ng-class="selected" ng-repeat="task in tasks | tasksFilter:filterService.activeFilters.unsorted">

      <div task></div>

    </li>
  </ul>

  <h2>projects</h2>

  <ul class="list-unstyled">
    <li ng-class="selected" ng-repeat="task in tasks | tasksFilter:filterService.activeFilters.project">

      <div project></div>

    </li>
  </ul>

  <h2>areas</h2>

  <div contexts-list>
    <h2>contexts</h2>
  </div>

</div>
