<div class="{{pageAnimation}}">

  <ul class="pager">

    <li class="previous">
      <a href="" ng-click="swipeRight()">&larr;</a>
    </li>

    <li class="next">
      <a href="" ng-click="swipeLeft()">&rarr;</a>
    </li>

  </ul>

  <div class="page-header">
    <h1>Extended Mind <small>Tasks</small></h1>
  </div>

  <div ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div>
      <h4>inbox</h4>
      <div tasks-list tasksfilter="{{tasksListFilter}}"></div>
    </div>

    <div>
      <h4>projects</h4>
      <div projects-list></div>
    </div>

    <h4>areas</h4>

    <div>
      <h4>contexts</h4>
      <div contexts-list></div>
    </div>

  </div>
</div>
