<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <encoder>
      <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{1} - %X{user}/%X{foreign}:%X{item}: %msg%n</pattern>
    </encoder>
    <target>System.out</target>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>warn</level>
    </filter>

    <encoder>
      <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{1} - %X{user}/%X{foreign}:%X{item}: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <!-- stdout and stderr are fed into system journal -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR" />
  </root>

</configuration>
