<section id="tasks-contexts" class="two-column-grid page">
  <div class="column">
    <div ng-hide="omnibarVisible && isActiveSlide('contexts')" class="content-container page-content-container">
      <div class="inner-page-content-container" scroll-to swiper-prevent>
        <section ng-init="newContext={title:undefined, tagType:'context'}">
          <h3>contexts</h3>
          <ul>
            <li ng-show="contexts.length" ng-repeat="context in contexts">
              <a href class="click-to-slide" swiper-click="showContextDetails(context)">
                <span class="link-title">@{{context.title}}</span><span class="icon-arrow-right"></span>
              </a>
            </li>
            <li>
              <form class="add-element" role="form" name="addContextForm" ng-submit="callAndRefresh(addContext, newContext)" autocapitalize="none" autocorrect="off" add-item>
                <div class="form-group" editable-field-container="disable">
                  <label class="sr-only" for="contextTitle">title</label>
                  <input type="text" id="contextTitle" class="simple-input" ng-model="newContext.title" ng-blur="blurredAddItemElement()" ng-focus="focusedAddItemElement()" placeholder="add context..." editable-field/>
                </div>
              </form>
            </li>
            <li ng-if="contexts.length === 0">
              <div class="instruction-text">
                <p class="instruction-text-chapter">contexts are<br/><b>task types</b><br/><br/>
                  <span class="instruction-text-chapter-details">(e.g. home, computer,<br/>phone, errands etc.)</span>
                </p>
              </div>
            </li>
          </ul>
          <h3>
            <a href class="page-header click-to-slide" swiper-click="showNoContextDetails()">
              <span class="link-title">no context</span><span class="icon-arrow-right"></span>
            </a>
          </h3>
        </section>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
