<section id="tasks-dates" class="two-column-grid page single-lineheight" ng-controller="DatesController">
  <div class="column" ng-controller="TasksController">
    <div class="page-heading swiper-no-swiping" ng-init="heading='dates'" ng-include="'static/app/main/omnibar.html'"></div>
    <div ng-hide="omnibarVisible" class="content-container page-content-container">
      <div ng-if="isDatepickerVisible" class="swiper-no-swiping" datepicker></div>
      <div class="swiper-container vertical-slides" swiper-container="tasks/home" swiper-type="page" expected-slides="dates.length">
        <div class="swiper-wrapper" ng-class="getNoSwipingClass()">
          <!-- repeat weekday in weekdays -->
          <div class="swiper-slide" ng-repeat="date in dates" swiper-slide="tasks/home/{{date.weekday}}" slide-index="$index" ng-init="subtask = {date: date.yyyymmdd}">
            <!-- init DatesController.getSubtask -->
            <div class="inner-slide-content-container">
              <section id="date" class="date">
                <h3 class="date-heading" ng-if="!isDatepickerVisible" ng-click="setDatepickerVisible()">{{date.displayDate}}</h3>
                <div>
                  <div class="inner-page-content-container" accordion>
                    <!-- filter weekday, activeWeek -->
                    <div ng-repeat="task in tasks | tasksByDate:date.yyyymmdd">
                      <div accordion-title="task" edit-item="editTask(task)" edit-item-title="editTaskTitle(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
                      <div class="accordion-body" ng-if="isOpen(task)">
                        <div class="accordion-inner" ng-include="'static/app/tasks/taskActions.html'"></div>
                      </div>
                    </div>
                    <div ng-include="'static/app/tasks/addTask.html'"></div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
