<nav role="navigation" id="datepicker">
  <ul class="horizontally-justified">

    <li class="justified-element datepicker-date">
      <a href ng-click="previousWeek()">
        <span class="icon-arrow-left"></span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[0].yyyymmdd)">
        <span>{{dates[0].weekday}}</span>
        <span>{{dates[0].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[1].yyyymmdd)">
        <span>{{dates[1].weekday}}</span>
        <span>{{dates[1].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[2].yyyymmdd)">
        <span>{{dates[2].weekday}}</span>
        <span>{{dates[2].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[3].yyyymmdd)">
        <span>{{dates[3].weekday}}</span>
        <span>{{dates[3].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[4].yyyymmdd)">
        <span>{{dates[4].weekday}}</span>
        <span>{{dates[4].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[5].yyyymmdd)">
        <span>{{dates[5].weekday}}</span>
        <span>{{dates[5].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="dateClicked(dates[6].yyyymmdd)">
        <span>{{dates[6].weekday}}</span>
        <span>{{dates[6].date}}</span>
      </a>
    </li>

    <li class="justified-element datepicker-date">
      <a href ng-click="nextWeek()">
        <span class="icon-arrow-right"></span>
      </a>
    </li>
    
    <li id="stretch"></li>
  </ul>
</nav>
