<section id="tasks-lists" class="two-column-grid page" ng-controller="TasksController">
  <div class="column">
    <header id="tasks-lists-header" class="page-header" ng-init="heading='lists'" ng-include="'static/app/base/pageHeader.html'"></header>
    <div id="tasks-lists-page-content-container" class="content-container page-content-container">
      <div class="swiper-container vertical-slides" swiper-container="tasks/lists" swiper-type="page">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="list in lists" swiper-slide="tasks/lists/{{list.uuid}}" expected-slides="lists.length" ng-init="subtask = {relationships: {parent: list.uuid}}">
            <div class="inner-slide-content-container">
              <section class="list">
                <h3>{{list.title}}</h3>
                <div>
                  <div class="inner-page-content-container" accordion>
                    <div ng-repeat="task in tasks | tasksFilter:{name:'byListUUID', filterBy: list.uuid}">
                      <div accordion-title="task" edit-item="editTask(task)" edit-item-title="editTaskTitle(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
                      <div class="accordion-body" ng-if="isOpen(task)">
                        <div class="accordion-inner" ng-include="'static/app/tasks/taskActions.html'"></div>
                      </div>
                    </div>
                    <div ng-include="'static/app/tasks/subTask.html'"></div>
                  </div>                  
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
