<section id="tasks-lists" class="two-column-grid page" data-tpl="lists">
  <div class="column">
    <header id="tasks-lists-header" class="feature-header" feature-header="lists"></header>
    <div id="tasks-lists-feature-content-container" class="content-container feature-content-container">
      <div class="inner-feature-content-container">
        <section ng-show="filteredProjects && filteredProjects.length">
          <h3>projects</h3>
          <ul class="indent">
            <li ng-class="selected" ng-repeat="project in filteredProjects = (tasks | tasksFilter:filterService.activeFilters.project)">
              <a class="text-muted click-to-slide" href ng-click="goToProject($index)">
                <span class="link-title">{{project.title}}</span>
                <span class="icon-arrow-right" />
              </a>
            </li>
          </ul>
        </section>

        <section ng-show="tags && tags.length">
          <h3>contexts</h3>
          <div class="indent" contexts-list></div>
        </section>
      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>

</section>
