<section id="tasks-overview" class="two-column-grid page" ng-controller="TasksController">
  <div class="column">
    <div class="page-heading swiper-no-swiping" ng-init="heading='overview'" ng-include="'static/app/base/omnibar.html'"></div>
    <div class="content-container page-content-container">
      <div class="inner-page-content-container">
        <div ng-include="'static/app/base/listsOverview.html'" include-replace></div>
        <section ng-init="newContext={title:undefined, tagType:'context'}" ng-controller="ContextsController">
          <h3><a href ng-click="gotoContexts()" class="page-header">contexts</a></h3>
          <ul class="indent list-arrow-right">
            <li ng-show="contexts.length" ng-repeat="context in contexts">
              <a class="click-to-slide" href ng-click="gotoDetails(context.uuid)">
                <span class="link-title">@{{context.title}}</span><span class="icon-arrow-right"></span>
              </a>
            </li>
            <li>
              <form class="swiper-no-swiping" role="form" name="addContextForm" ng-submit="addContext(newContext)">
                <div class="form-group">
                  <label class="sr-only" for="contextTitle">title</label>
                  <input type="text" class="simple-input" id="contextTitle" ng-model="newContext.title" placeholder="add context..."></input>
                </div>
              </form>
            </li> 
          </ul>
        </section>

        <section>
          <h3><a href ng-click="gotoDetails('uncategorized')" class="page-header">uncategorized</a></h3>
        </section>

      </div>
    </div>
  </div>
  <aside class="column">
    TODO
  </aside>

</section>
