<div class="inner-slide-content-container">
  <section class="project">
    <h3 ng-click="toggleProjectContent()">{{project.title}}</h3>
    <div ng-if="showProjectContent">
      <ul class="button-row">
        <li class="button-container left-of-two border-right" ng-hide="mainlinksFilter">
          <button class="enabled-button" type="button" ng-hide="task.relationships.parentTask" ng-click="editProject()">
            more
          </button>
        </li>
        <li class="button-container right-of-two">
          <button class="enabled-button" type="button" ng-click="completeProject()">
            complete
          </button>
        </li>
      </ul>
    </div>
    <div tasks-list="tasks" tasks-filter="filter" subtask="subtask"></div>
  </section>
</div>
