<section class="container-content" scroll-to swiper-prevent>
  <div infinite-scroll="addMoreRecentTasks()" infinite-scroll-parent accordion>
    <h3>recent</h3>
    <div ng-include="'static/app/tasks/addTask.html'"></div>
    <div ng-repeat="task in tasks | orderBy:'modified':true | limitTo: getRecentTasksLimit()" ng-init="newTask = {}">
      <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
      <div ng-if="isOpen(task)" editable-field-container="auto">
        <div item-core-fields="task" item-core-fields-details="itemDetails"></div>
        <div ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
      </div>
    </div>
    <div ng-if="notes.length === 0">
      <div class="instruction-text">
        <p class="instruction-text-chapter">notes are things you<br/>want to <b>remember</b><br/><br/></p>
      </div>
    </div>
  </div>
</section>
<footer class="container-content--after">footer</footer>
