<div ng-controller="TasksController">
  <div ng-include="'static/app/tasks/taskCoreFields.html'"></div>
  <div class="item-actions">
    <ul class="button-row">
      <li ng-if="!task.relationships.parent" class="button-container" ng-class="getSubtaskButtonClass(task)">
        <button type="button" class="default-button" ng-click="taskToList(task)">
          make list
        </button>
      </li>
      <li class="button-container" ng-class="getDeleteButtonClass(task)">
        <button type="button" class="delete-button" ng-click="deleteTask(task)">
          delete
        </button>
      </li>
    </ul>
  </div>
</div>
