<ul class="list-unstyled">

  <li ng-repeat="value in task | visibleTaskContent">
    <span><small>{{value}}</small></span>
  </li>

  <div class="em-item-actions container">
    <ul class="nav nav-justified">
      <li class="em-gray-button" ng-hide="task.relationships.parentTask">
        <button class="simple-input" type="button" ng-click="taskToProject(task)">
          add subtask
        </button>
      </li>
      <li class="em-red-button">
        <button class="simple-input" type="button" ng-hide="task.project" ng-click="deleteTask(task)">
          delete
        </button>
      </li>
    </ul>
  </div>
</ul>
