<div id="taskCoreFields">

  <div class="form-group">
    <div ng-if="showDateInput">
      <label for="taskDue" class="sr-only">select date...</label>
      <input class="swiper-no-swiping" type="date" id="taskDue" ng-model="task.date" date-input>
    </div>
    <div ng-if="!showDateInput" class="item-actions">
      <span class="simple-input default-element date-input-placeholder" ng-click="focusDate()">select date...</span>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="taskList">list</label>
    <select class="simple-input swiper-no-swiping" id="taskList" ng-model="task.relationships.list" ng-options="list.uuid as list.title for list in lists">
      <option value="">select list...</option>
    </select>
  </div>
  <div class="form-group" ng-show="contexts.length">
    <label class="sr-only" for="taskContext">context</label>
    <select class="simple-input swiper-no-swiping" id="taskContext" ng-model="task.relationships.context" ng-options="context.uuid as context.title for context in contexts">
      <option value="">select context...</option>
    </select>
  </div>
</div>
