<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container drawer-handle="left">
  <section class="container-content" list="tasks" list-order="top">
    <div class="group-mixed">
      <div class="group-mixed--middle">
        <h2>recent</h2>
      </div>
      <div class="group-mixed--right" task-list-completed></div>
    </div>
    <div list-item-add="{transientProperties: {completed: false}}" list-item-add-save="saveTask(newItem)"
    ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
    <div class="animate-list-item-leave"
    ng-repeat="task in recentTasks = (getList() | paramFilter:isListItemVisible) | orderBy:'modified':true
    | limitTo: currentListLimitTo"
    list-item="recentTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
