<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container drawer-handle="left">
  <section class="container-content" list="tasks | itemsFilter:{name:'byTagUUID', filterBy: context ? context.uuid : undefined}" list-order="top">
    <h2 class="group-heading justified row" ng-bind="context ? '@' + context.title : 'no context'"></h2>
    <div list-item-add="getNewTaskWithContext(context)" list-item-add-save="saveTask(newItem)"
    ng-include="'static/app/tasks/taskListItemAdd.html'"></div>
    <div class="animate-list-item-leave"
    ng-repeat="task in recentTasks = (getList() | paramFilter:isListItemVisible) | orderBy:getTaskModified:true
    | limitTo: currentListLimitTo"
    list-item="recentTasks.length" ng-include="'static/app/tasks/taskListItem.html'"></div>
    <div ng-if="(currentListLimitTo < listLength) && nearListBottom" loading-animation></div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
