<form role="form" class="group-mixed with-checkbox with-textarea swiper-no-swiping"
  ng-submit="callAndExit(saveTask, newItem)" data-snap-ignore="true" editable-field-container
  editable-field-container-clicked-elsewhere="clickedElsewhere({clickedElsewhereDisabled: onboardingInProgress})"
  autocapitalize="none" autocorrect="off">
  <div class="group-mixed--left">
    <input type="checkbox" ng-model="newItem.trans.optimisticComplete" ng-model-options="{getterSetter: true}"
      swiper-click="toggleLeftCheckbox(toggleCompleteTask)" icon-checkbox="getListItemAddId()"
      ng-disabled="!newItem.trans.title || onboardingInProgress">
  </div>
  <div class="group-mixed--middle">
    <textarea ng-model="newItem.trans.title" msd-elastic ng-keydown="textareaKeyDown($event)"
      editable-field editable-field-register-callbacks="registerAddItemCallbacks(focus, blur)"
      placeholder="add task&#8230;" maxlength="128">
    </textarea>
  </div>
  <div class="group-mixed--right">
    <a href class="link-navigation onboarding-hide" editable-field-deactivate
      swiper-click="openTaskEditor(newItem)">
      <span class="text-navigation-forward without-text"></span>
    </a>
  </div>
</form>

<!-- ONBOARDING -->
<div ng-if="onboardingInProgress && !isOnboarded('tasks')" class="group-instruction-input">
  <div ng-show="!newItem.trans.title || newItem.trans.title.length === 0" class="text-details row">
    e.g. call mom, email boss, buy milk
  </div>
  <div ng-show="newItem.trans.title.length" class="text-details row">when done, hit return</div>
</div>
