<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container drawer-handle="left">
  <section class="container-content" list="getTasksArray('all')" list-recent>

    <div ng-show="!onboardingInProgress || isOnboardingListItemAddActive()">
      <div class="group-mixed heading">
        <div class="group-mixed--middle">
          <h2 class="group-heading justified">all tasks</h2>
        </div>
        <div class="group-mixed--right" task-list-completed></div>
      </div>
      <div list-item-add="getNewTask()"
        list-item-add-save="saveTask(newItem)" ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
      <div class="animate-list-item-leave"
        ng-repeat="task in listInfos.array = (getFullArray() | paramFilter:isListItemVisible)
        | limitTo: currentListLimitTo track by task.trans.uuid"
        list-item ng-include="urlBase + 'app/tasks/taskListItem.html'">
      </div>
      <div list-prompt="tasks" list-prompt-infos="listInfos"
        list-prompt-hide="[listItemAddActive, onboardingInProgress]"></div>
    </div>

    <!-- ONBOARDING -->
    <div ng-if="onboardingInProgress && !isOnboarded('tasks') && !isOnboardingListItemAddActive()"
      class="group-instruction">
      <h2 class="group-heading instruction row">what do you want to
        <span class="highlighted">get done</span>?
      </h2>
      <div class="textgroup-ingress row">add a <span class="text-highlighted">task</span> by clicking the
      plus sign below</div>
    </div>

    <div ng-if="onboardingInProgress && isOnboarded('tasks') && !isOnboardingListItemAddActive()"
      class="group-instruction">
      <h2 class="group-heading instruction row">
        <span>first </span><span class="highlighted">task </span><span>created!</span>
      </h2>
      <div class="textgroup-ingress row">go to
        <a href class="highlighted" ng-click="changeFeature('notes', undefined, true)">
          <span>notes</span>
        </a> by clicking the menu icon in the top-left corner
      </div>
    </div>

  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
