<div class="container-fluid" ng-class="task.trans.deleted && 'container-disabled'"
  ng-controller="TaskEditorController">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top height-large--bottom" swiper-prevent>

        <a href ng-hide="isPickerOpen()"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endTaskEdit()">
          <span class="text-navigation-back" ng-class="!isFirstSlide('taskEditor') && 'not-swipeable'"
            ng-bind="isTaskEdited() && !task.trans.deleted ? 'save' : 'back'">
          </span>
        </a>

        <a href ng-if="isPickerOpen()" ng-click="propertyEditDone()" class="group-symmetrical--left highlighted"
          editable-field-container="auto">
          <span class="text-edit" ng-bind="isPropertyEdited() ? 'save' : 'done'"></span>
        </a>

        <div ng-show="isTaskPropertyInEdit() || !isFirstSlide('taskEditor')"
          ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" ng-class="!task.trans.title && 'text-downplayed'"
              ng-bind="task.trans.title && task.trans.title.length ? task.trans.title : 'new task'" clamp=2>
            </span>
          </div>
        </div>

        <div ng-if="showEditorType" class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">task</span>
        </div>

        <a href ng-if="!task.trans.deleted" ng-hide="isTaskPropertyInEdit()" class="group-symmetrical--right"
          swiper-click="deleteTaskInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="task.trans.deleted" ng-hide="isTaskPropertyInEdit()"
          class="group-symmetrical--right link-navigation highlighted active" swiper-click="undeleteTask(task)">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="isTaskPropertyInEdit()" class="group-symmetrical--right">
          <span ng-if="isPickerOpen()" class="text-field--label-bold" ng-bind="getPropertyNameInEdit()">
          </span>
          <div ng-if="taskDescriptionFocused" class="text-field--label-multi-row">
            <span ng-bind="'de' + (columns === 1 ? '-\n' : '') + 'scription'" class="text-field--label-bold"></span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="taskEditor" swiper-type="main"
    expected-slides="2" swiper-container-toggle-drawer-sliding-events="hasSwipeToClose('task')"
    swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="taskEditor/basic" slide-index="0" ng-init="basicSlideInfo = {}">

        <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

          <!-- TASK TITLE -->
          <form role="form" ng-hide="calendarOpen || taskDescriptionFocused || listPickerOpen || reminderPickerOpen"
            class="group-mixed with-checkbox" autocapitalize="none" autocorrect="off">
            <div class="group-mixed--left">
              <input type="checkbox" swiper-click="clickCompleteTaskInEdit()" ng-model="task.trans.optimisticComplete"
                ng-model-options="{getterSetter: true}" icon-checkbox="editorTitlebarCheckbox" />
            </div>
            <div class="group-mixed--middle">
              <textarea ng-model="task.trans.title" input-model-validator ng-trim="false"
                ng-keydown="taskTitlebarTextKeyDown($event)"
                editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                editable-field-focus="setTitleBarFocus()" msd-elastic placeholder="enter task title&#8230;"
                maxlength="128">
              </textarea>
            </div>
          </form>

          <!-- DATE -->
          <div ng-hide="calendarOpen || taskDescriptionFocused || listPickerOpen || reminderPickerOpen"
            class="group-mixed with-checkbox">
            <a href class="group-mixed--middle link-search-result" ng-class="!task.trans.due && 'downplayed'"
              swiper-click="openCalendar()">
              <span class="text-field--title"
                ng-bind="task.trans.due ? (task.trans.due | date:'EEE MMM d y' | lowercase) : 'select date\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.due" class="group-mixed--right">
              <span class="text-field--label">date</span>
            </div>
          </div>

          <!-- CALENDAR -->
          <div ng-if="calendarOpen" class="swiper-no-swiping animate-fade-in row-top-parent" editable-field-container="auto"
            editable-field-container-clicked-elsewhere="closeCalendar()" data-snap-ignore="true">

            <div ng-if="task.trans.due" class="group-mixed with-checkbox">
              <a href class="group-mixed--middle link-search-result">
                <span class="text-field--title" ng-bind="task.trans.due | date:'EEE MMM d y' | lowercase"></span>
              </a>
              <div class="group-mixed--right">
                <button type="button" class="btn-clear"
                  ng-click="closeCalendarAndCall(clearTransientDate, task)">
                </button>
              </div>
            </div>

            <div class="row" calendar="getCalendarStartingDate(task)"
              calendar-return-date="closeCalendarAndCall(setTaskDate, task, date)"
              calendar-set-default-date="true" calendar-bound="false">
              <a href class="pikaday-today highlighted" ng-click="gotoCurrentMonth()">
                <span>today</span>
              </a>
            </div>
          </div>

          <!-- REMINDER -->
          <div ng-if="task.trans.due"
            ng-hide="calendarOpen || taskDescriptionFocused || listPickerOpen || reminderPickerOpen"
            class="group-mixed with-checkbox">
            <a href class="group-mixed--middle link-search-result" ng-class="!task.trans.reminder && 'downplayed'"
              swiper-click="openReminderPicker(task)">
              <span class="text-field--title"
                ng-bind="task.trans.reminder ? task.trans.reminder : 'add reminder\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.reminder" class="group-mixed--right">
              <span class="text-field--label">reminder</span>
            </div>
          </div>

          <!-- REMINDER PICKER -->
          <div ng-if="reminderPickerOpen" class="swiper-no-swiping animate-fade-in row-top-parent"
            editable-field-container="auto" editable-field-container-clicked-elsewhere="closeReminderPicker()"
            data-snap-ignore="true" style="">
            <!-- <input type="number" leading-zero="{{reminder.hours}}" pattern="\d*" ng-trim="false" /> -->
            <!-- <span style="">:</span> -->
            <input type="number" leading-zero ng-model="reminder.minutes" pattern="\d*" />
            <!-- <input type="number" pattern="\d+(\.\d{2})?" min="0" max="23" /> -->
            <!-- <input type="text" pattern="[0-9]*" maxlength="2" ng-model="reminder.hours" style="" /> -->
            <!-- <input type="text" pattern="[0-9]*" maxlength="2" ng-model="reminder.minutes" style="" /> -->
          </div>

          <!-- LIST -->
          <div ng-hide="calendarOpen || taskDescriptionFocused || listPickerOpen || reminderPickerOpen ||
                        features.lists.getStatus('active') === 'disabled'"
            class="group-mixed with-checkbox">
            <a href class="group-mixed--middle link-search-result" ng-class="!task.trans.list && 'downplayed'"
              swiper-click="openListPicker()">
              <span class="text-field--title"
                ng-bind="task.trans.list ? task.trans.list.trans.title : 'select list\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.list" class="group-mixed--right">
              <span class="text-field--label">list</span>
            </div>
          </div>

          <!-- LIST PICKER -->
          <div ng-if="listPickerOpen" class="swiper-no-swiping animate-fade-in" editable-field-container="auto"
            editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="lists" list-picker-new-item="getNewList()"
              list-picker-archived-lists="archivedLists"
              list-picker-save="closeListPickerAndSetListToItem(task, list)"
              list-picker-clear="closeListPickerAndClearListFromItem(task, list)"
              list-picker-get-selected="task.trans.list"
              list-picker-register-save-new-list-callback="registerPropertyEditDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterPropertyEditDoneCallback()"
              list-picker-register-is-edited-callback="registerIsPropertyEdited(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterIsPropertyEdited()">
            </div>
          </div>

          <!-- DESCRIPTION -->
          <textarea ng-if="drawerAisleInitialized"
            ng-hide="calendarOpen || listPickerOpen || reminderPickerOpen" id="ignoreSnap"
            ng-model="task.trans.description" input-model-validator ng-trim="false"
            ng-focus="setTaskDescriptionFocus(true)" ng-blur="setTaskDescriptionFocus(false)" msd-elastic
            placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
          </textarea>

        </div>

        <footer class="container-content--after editor-footer" editor-footer="basicSlideInfo"
          editor-footer-ios-click editor-footer-start-expanded>
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <div class="group-symmetrical--middle">
              <a href class="icon-downplayed" ng-click="toggleExpand()">
                <span class="icon-calendar"></span>
              </a>
            </div>
            <a href swiper-click="swipeToAdvanced('taskEditor')" ng-hide="isFooterNavigationHidden()"
              class="group-symmetrical--right link-navigation animate-fade-in-out">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
          <div ng-if="footerExpanded" later="setDateAndSave(date)"></div>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="taskEditor/advanced" slide-index="1"
        ng-init="advancedSlideInfo = {}">
        <div class="container-content" ng-style="{'padding-bottom': advancedSlideInfo.footerHeight}">

          <!-- CONTEXT -->
          <div ng-hide="contextPickerOpen || repeatingPickerOpen || urlFocused ||
                       (features.tasks.getStatus('contexts') === 'disabled')"
            class="group-mixed with-checkbox row-top-parent">
            <a href class="group-mixed--middle link-search-result"
              ng-class="!task.trans.context && 'downplayed'" swiper-click="openContextPicker()">
              <span class="text-field--title"
                ng-bind="task.trans.context ? '@' + task.trans.context.trans.title : 'select context\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.context" class="group-mixed--right">
              <span class="text-field--label">context</span>
            </div>
          </div>

          <!-- CONTEXT PICKER -->
          <div ng-if="contextPickerOpen" class="swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeContextPicker()" data-snap-ignore="true">
            <div list-picker="contexts" list-picker-new-item="getNewContext()"
              list-picker-save="closeContextPickerAndSetContextToTask(task, list)"
              list-picker-clear="closeContextPickerAndClearContextFromTask(task, list)"
              list-picker-get-selected="task.trans.context" list-picker-type="context"
              list-picker-prefix="@"
              list-picker-register-save-new-list-callback="registerPropertyEditDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterPropertyEditDoneCallback()"
              list-picker-register-is-edited-callback="registerIsPropertyEdited(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterIsPropertyEdited()">
            </div>
          </div>

          <!-- REPEATING -->
          <div ng-if="task.trans.due" ng-hide="contextPickerOpen || repeatingPickerOpen || urlFocused"
            class="group-mixed with-checkbox">
            <a href class="group-mixed--middle link-search-result"
              ng-class="!task.trans.repeating && 'downplayed'" swiper-click="openRepeatingPicker()">
              <span class="text-field--title"
                ng-bind="task.trans.repeating ? task.trans.repeating : 'select repeat\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.repeating" class="group-mixed--right">
              <span class="text-field--label">repeat</span>
            </div>
          </div>

          <!-- REPEATING PICKER -->
          <div ng-if="repeatingPickerOpen" class="swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeRepeatingPicker()" data-snap-ignore="true">
            <div list-picker="repeatTypes"
              list-picker-save="closeRepeatingPickerAndSetRepeatTypeToTask(task, list)"
              list-picker-clear="closeRepeatingPickerAndClearRepeatTypeFromtask(task, list)"
              list-picker-get-selected="task.trans.repeating ? {trans: {title: task.trans.repeating}} : undefined"
              list-picker-type="repeating"></div>
          </div>

          <div ng-hide="contextPickerOpen || repeatingPickerOpen"
            class="row-vertically-centered with-textarea">
            <textarea ng-model="task.trans.link" input-model-validator ng-trim="false"
              ng-focus="setUrlFocus(true)" ng-blur="setUrlFocus(false)" msd-elastic maxlength="2000"
              placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>

        </div>
        <footer ng-hide="isTaskFooterHidden(editorFooterHiddenCallback)"
          class="container-content--after editor-footer" editor-footer="advancedSlideInfo">

          <!-- CONVERT -->
          <div class="group-symmetrical"
            ng-class="(features.notes.getStatus() === 'disabled' &&
            features.lists.getStatus('active') === 'disabled') && 'invisible'">
            <a href class="group-symmetrical--left link"
            ng-class="(features.notes.getStatus() === 'disabled') && 'invisible'"
            swiper-click="convertToNote(task)">
              <span class="text-convert small">note</span>
            </a>
            <a href class="group-symmetrical--middle group-centered link"
            ng-class="(features.lists.getStatus('active') === 'disabled') && 'invisible'"
            swiper-click="convertToList(task)">
              <span class="text-convert small">list</span>
            </a>
            <div class="group-symmetrical--right">
              <span class="text-field--label">convert</span>
            </div>
          </div>

          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <a href ng-hide="isFooterNavigationHidden()" swiper-click="swipeToBasic('taskEditor')"
              class="group-symmetrical--left link-navigation">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
