<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container>
  <section class="container-content" list="tasks | itemsFilter:{name:'byContext', filterBy: context}">
    <div class="group-mixed heading vertically-centered">
      <div class="group-mixed--middle">
        <h2 class="group-heading justified">
          <a href ng-if="context" class="link" swiper-click="openEditor('tag', context)">
            <span class="text-heading" ng-bind="'@' + context.trans.title"
              ng-class="context.trans.title.length > 6 && 'long'" clamp=2></span>
          </a>
          <div ng-if="!context">
            <span class="text-heading long" clamp=2>no context</span>
          </div>
        </h2>
      </div>
      <div class="group-mixed--right" task-list-completed></div>
    </div>
    <div list-item-add="getNewTaskWithContext(context)" list-item-add-save="saveTask(newItem)"
      ng-include="urlBase + 'app/tasks/taskListItemAdd.html'"></div>
    <div class="animate-list-item-leave"
      ng-repeat="task in listInfos.array = (getFullArray() | paramFilter:isListItemVisible)
      | orderBy:'trans.created':true | limitTo: currentListLimitTo track by task.trans.uuid"
      list-item="getContextId()" ng-include="urlBase + 'app/tasks/taskListItem.html'"></div>
    <div list-prompt="tasks" list-prompt-infos="listInfos" list-prompt-hide="[listItemAddActive]"></div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
