<div class="container-fluid" ng-class="task.trans.deleted && 'container-disabled'"
  ng-controller="TaskEditorController">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large--top height-large--bottom" swiper-prevent>

        <a href ng-show="showEditorAction('saveBack')"
          class="group-symmetrical--left link-navigation active highlighted sorting-hide"
          swiper-click="endTaskEdit()">
          <span class="text-navigation-back" ng-class="getEditorNavigationBackClasses()"
            ng-bind="isTaskEdited() && !task.trans.deleted ? 'save' : 'back'">
          </span>
        </a>

        <a href ng-show="showEditorAction('saveDone')"
          class="group-symmetrical--left highlighted override-disabled" ng-click="subEditorDone()">
          <span class="text-edit" ng-bind="isPropertyEdited() ? 'save' : 'done'"></span>
        </a>

        <div ng-show="showEditorComponent('titlebarTitle')" ng-style="{maxWidth: calculateTitleWidth()}"
          class="group-symmetrical--middle width-large text-heading-primary--outer primary">
          <div class="text-heading-primary--inner">
            <span class="text-heading-primary" ng-class="!task.trans.title && 'text-downplayed'"
              ng-bind="task.trans.title && task.trans.title.length ? task.trans.title : 'new task'" clamp=2>
            </span>
          </div>
        </div>

        <div ng-if="showEditorComponent('editorType')"
          class="group-symmetrical--middle group-centered substitute">
          <span class="text-heading-primary text-downplayed">task</span>
        </div>

        <a href ng-if="showEditorAction('delete', task)" class="group-symmetrical--right"
          swiper-click="deleteTaskInEdit()">
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="showEditorAction('restore', task)"
          class="group-symmetrical--right link-navigation highlighted active" swiper-click="undeleteTask(task)">
          <span class="text-navigation">restore</span>
        </a>

        <div ng-if="showEditorComponent('label')" class="group-symmetrical--right">
          <div class="text-field--label-wrapper">
            <span class="text-field--label-bold" ng-bind="getTaskPropertyNameInEdit()"></span>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="taskEditor" swiper-type="main"
    expected-slides="2" swiper-container-toggle-drawer-sliding-events="hasSwipeToClose('task')"
    swiper-container-slide-changed="editorSwiperSlideChanged()"
    swiper-click="containerClick($event.target.disabled, 'task')">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="taskEditor/basic" slide-index="0"
        ng-init="slideInfo = {footerId: 'basicFooter'}">

        <div class="container-content" drawer-override-aisle="right" ng-init="drawerAisleInitialized = true">

          <!-- TASK TITLE -->
          <form role="form" ng-show="showEditorProperty('title')" class="group-mixed"
            autocapitalize="none" autocorrect="off">
            <div class="group-mixed--left">
              <input type="checkbox" swiper-click="clickCompleteTaskInEdit()"
                ng-model="task.trans.optimisticComplete" ng-model-options="{getterSetter: true}"
                icon-checkbox="editorTitlebarCheckbox" ng-disabled="readOnly"/>
            </div>
            <div class="group-mixed--middle">
              <textarea ng-model="task.trans.title" input-model-validator ng-trim="false"
                ng-keydown="taskTitlebarTextKeyDown($event)"
                editable-field editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
                editable-field-focus="setTitleBarFocus()" msd-elastic
                ng-disabled="readOnly"
                placeholder="enter task title&#8230;" maxlength="128">
              </textarea>
            </div>
          </form>

          <!-- DATE -->
          <div ng-show="showTaskProperty('date')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" ng-class="!task.trans.due && 'downplayed'"
              swiper-click="openCalendar()">
              <span class="text-field--title"
                ng-bind="task.trans.due ? (task.trans.due | date:'EEE MMM d y' | lowercase) : 'select date\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.due" class="group-mixed--right">
              <span class="text-field--label">date</span>
            </div>
          </div>

          <!-- CALENDAR -->
          <div ng-if="showTaskSubEditor('calendar')"
            class="container-sub-editor swiper-no-swiping animate-fade-in row-top-parent"
            editable-field-container="auto" editable-field-container-clicked-elsewhere="closeCalendar()"
            data-snap-ignore="true">

            <div ng-if="task.trans.due" class="group-mixed vertically-centered">
              <a href class="group-mixed--middle link-search-result">
                <span class="text-field--title" ng-bind="task.trans.due | date:'EEE MMM d y' | lowercase"></span>
              </a>
              <div class="group-mixed--right">
                <button type="button" class="btn-clear"
                  ng-click="closeCalendarAndCall(clearTransientDate, task)">
                </button>
              </div>
            </div>

            <div class="row" calendar="getCalendarStartingDate(task)"
              calendar-return-date="closeCalendarAndCall(setTaskDate, task, date)"
              calendar-set-default-date="true" calendar-bound="false">
              <a href class="pikaday-today highlighted" ng-click="gotoCurrentMonth()">
                <span>today</span>
              </a>
            </div>
          </div>

          <!-- REMINDERS -->
          <div ng-if="showTaskProperty('reminders')">

            <div ng-if="isRemindersSupported() &&
              (!task.trans.reminders || !findActiveReminderForThisDevice(task.trans.reminders))"
              class="group-mixed">
              <a href swiper-click="openReminderPicker(task)"
                class="group-mixed--middle link-search-result downplayed">
                <span class="text-field--title">add reminder&hellip;</span>
              </a>
            </div>

            <div ng-repeat="reminder in task.trans.reminders | paramFilter:activeThisDeviceFirstThenByTime track by reminder.uuid"
              ng-switch on="isReminderInThisDevice(reminder)" class="group-mixed">

              <a href ng-switch-when="true" class="group-mixed--middle link-search-result"
                swiper-click="openReminderPicker(task, reminder)">
                <span class="text-field--title"
                  ng-bind="getReminderTime(reminder, task) + ' ' + getDeviceName(reminder)">
                </span>
              </a>

              <span ng-switch-default class="group-mixed--middle text-downplayed text-field--title"
                ng-bind="getReminderTime(reminder, task) + ' ' + getDeviceName(reminder)">
              </span>

              <div class="group-mixed--right">
                <span class="text-field--label">reminder</span>
              </div>

            </div>
          </div>

          <!-- REMINDER PICKER -->
          <div ng-if="showTaskSubEditor('reminders')"
            class="container-sub-editor swiper-no-swiping animate-fade-in group-mixed vertically-centered"
            data-snap-ignore="true">

            <div class="reminder-container group-mixed--middle">

              <!-- HOURS -->
              <div class="reminder--time-wrapper">
                <a href class="reminder--up" swiper-click="loopTime(reminder.hours, 'up')">
                  <span class="icon-arrow-up"></span>
                </a>
                <input type="number" pattern="\d*" class="reminder--time"
                  ng-class="isPastDate(reminder.date, 'hour') && 'past-date'" ng-model="reminder.hours.value"
                  ng-keydown="reminderHourKeyDown($event)" reminder-picker="{{reminder.hours.limit}}" />
                <a href class="reminder--down" ng-click="loopTime(reminder.hours, 'down')">
                  <span class="icon-arrow-down"></span>
                </a>
              </div>

              <span class="reminder--separator">:</span>

              <!-- MINUTES -->
              <div class="reminder--time-wrapper">
                <a href class="reminder--up" swiper-click="loopTime(reminder.minutes, 'up')">
                  <span class="icon-arrow-up"></span>
                </a>
                <input type="number" pattern="\d*" class="reminder--time"
                  ng-class="isPastDate(reminder.date, 'minute') && 'past-date'" ng-model="reminder.minutes.value"
                  ng-keydown="reminderHourKeyDown($event)" reminder-picker="{{reminder.minutes.limit}}" />
                <a href class="reminder--down" ng-click="loopTime(reminder.minutes, 'down')">
                  <span class="icon-arrow-down"></span>
                </a>
              </div>

              <!-- WEEKDAY & DATE -->
              <div class="reminder--date-wrapper">
                <a href class="reminder--up" swiper-click="moveDate(reminder.date, 'day', 'up')">
                  <span class="icon-arrow-up"></span>
                </a>
                  <span class="reminder--date" ng-class="isPastDate(reminder.date, 'day') && 'past-date'"
                    ng-bind="reminder.date | date:'EEE d' | lowercase">
                  </span>
                <a href class="reminder--down" ng-click="moveDate(reminder.date, 'day', 'down')">
                  <span class="icon-arrow-down"></span>
                </a>
              </div>

              <!-- MONTH -->
              <div class="reminder--date-wrapper">
                <a href class="reminder--up" swiper-click="moveDate(reminder.date, 'month', 'up')">
                  <span class="icon-arrow-up"></span>
                </a>
                  <span class="reminder--date" ng-class="isPastDate(reminder.date, 'month') && 'past-date'"
                    ng-bind="reminder.date | date:'MMM' | lowercase">
                  </span>
                <a href class="reminder--down" ng-click="moveDate(reminder.date, 'month', 'down')">
                  <span class="icon-arrow-down"></span>
                </a>
              </div>

              <!-- YEAR -->
              <div class="reminder--date-wrapper">
                <a href class="reminder--up" swiper-click="moveDate(reminder.date, 'year', 'up')">
                  <span class="icon-arrow-up"></span>
                </a>
                  <span class="reminder--date" ng-class="isPastDate(reminder.date, 'year') && 'past-date'"
                    ng-bind="reminder.date | date:'yy'">
                  </span>
                <a href class="reminder--down" ng-click="moveDate(reminder.date, 'year', 'down')">
                  <span class="icon-arrow-down"></span>
                </a>
              </div>

            </div>

            <div class="group-mixed--right">
              <button type="button" class="btn-clear" ng-click="clearReminderAndClose()"></button>
            </div>

            <span ng-if="reminder.error.active" class="row animate-fade-in-out text-error"
              ng-bind="reminder.error.message">
            </span>

          </div>

          <!-- LIST -->
          <div ng-show="showTaskProperty('list')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result" ng-class="!task.trans.list && 'downplayed'"
              swiper-click="openListPicker()">
              <span class="text-field--title" clamp=1
                ng-bind="(task.trans.list && !task.trans.list.trans.deleted) ? task.trans.list.trans.title : 'select list\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.list" class="group-mixed--right">
              <span class="text-field--label">list</span>
            </div>
          </div>

          <!-- LIST PICKER -->
          <div ng-if="showEditorSubEditor('list')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            editable-field-container="auto"
            editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="{upperHeading: 'active lists', upperArray: getListsArray('active'),
                               lowerHeading: 'archived lists', lowerArray: getListsArray('archived')}"
              list-picker-type="active list"
              list-picker-new-item="getNewList()"
              list-picker-save="closeListPickerAndSetListToItem(task, list)"
              list-picker-close="closeListPicker()"
              list-picker-clear="closeListPickerAndClearListFromItem(task, list)"
              list-picker-get-selected="task.trans.list"
              list-picker-register-save-new-list-callback="registerSubEditorDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterSubEditorDoneCallback()"
              list-picker-register-is-edited-callback="registerHasSubEditorEditedCallback(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterHasSubEditorEditedCallback()">
            </div>
          </div>

          <!-- DESCRIPTION -->
          <textarea ng-if="drawerAisleInitialized && showEditorProperty('description')" id="ignoreSnap"
            ng-model="task.trans.description" input-model-validator ng-trim="false" msd-elastic
            ng-focus="setTextPropertyFocus('description', true)"
            ng-blur="setTextPropertyFocus('description', false)"
            ng-disabled="readOnly"
            placeholder="enter description&#8230;" maxlength="1024" autocapitalize="none" autocorrect="off">
          </textarea>

        </div>

        <footer class="container-content--after editor-footer" editor-footer="slideInfo"
          editor-footer-ios-click editor-footer-start-expanded="{{fullEditor}}">
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <div ng-if="showTaskEditorComponent('basicFooter', 'later')" class="group-symmetrical--middle">
              <a href class="icon-downplayed" ng-click="toggleExpand()">
                <span class="icon-calendar"></span>
              </a>
            </div>
            <a href ng-if="showTaskEditorComponent('basicFooter', 'navigation')"
              class="group-symmetrical--right link-navigation animate-fade-in-out active"
              swiper-click="swipeToAdvanced('taskEditor')">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
          <div ng-if="footerExpanded" later="setDateAndSave(date)"></div>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="taskEditor/advanced" slide-index="1"
        ng-init="slideInfo = {footerId: 'advancedFooter'}">
        <div class="container-content" ng-style="{'padding-bottom': slideInfo.footerHeight}">

          <!-- CONTEXT -->
          <div ng-show="showTaskProperty('context')" class="group-mixed row-top-parent">
            <a href class="group-mixed--middle link-search-result"
              ng-class="!task.trans.context && 'downplayed'" swiper-click="openContextPicker()">
              <span class="text-field--title"
                ng-bind="(task.trans.context && !task.trans.context.trans.deleted) ? '@' + task.trans.context.trans.title : 'select context\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.context" class="group-mixed--right">
              <span class="text-field--label">context</span>
            </div>
          </div>

          <!-- CONTEXT PICKER -->
          <div ng-if="showTaskSubEditor('context')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeContextPicker()" data-snap-ignore="true">
            <div list-picker="getTagsArray('contexts', {owner: task.trans.owner})"
              list-picker-new-item="getNewContext()"
              list-picker-save="closeContextPickerAndSetContextToTask(task, list)"
              list-picker-close="closeListPicker()"
              list-picker-clear="closeContextPickerAndClearContextFromTask(task, list)"
              list-picker-get-selected="task.trans.context" list-picker-type="context"
              list-picker-prefix="@"
              list-picker-register-save-new-list-callback="registerSubEditorDoneCallback(saveNewList)"
              list-picker-unregister-save-new-list-callback="unregisterSubEditorDoneCallback()"
              list-picker-register-is-edited-callback="registerHasSubEditorEditedCallback(isEdited)"
              list-picker-unregister-is-edited-callback="unregisterHasSubEditorEditedCallback()">
            </div>
          </div>

          <!-- REPEATING -->
          <div ng-if="showTaskProperty('repeating')" class="group-mixed">
            <a href class="group-mixed--middle link-search-result"
              ng-class="!task.trans.repeating && 'downplayed'" swiper-click="openRepeatingPicker()">
              <span class="text-field--title"
                ng-bind="task.trans.repeating ? task.trans.repeating : 'select repeat\u2026'">
              </span>
            </a>
            <div ng-if="task.trans.repeating" class="group-mixed--right">
              <span class="text-field--label">repeat</span>
            </div>
          </div>

          <!-- REPEATING PICKER -->
          <div ng-if="showTaskSubEditor('repeating')"
            class="container-sub-editor swiper-no-swiping animate-fade-in"
            editable-field-container="auto" editable-field-container-scrollable="true"
            editable-field-container-clicked-elsewhere="closeRepeatingPicker()" data-snap-ignore="true">
            <div list-picker="repeatTypes"
              list-picker-save="closeRepeatingPickerAndSetRepeatTypeToTask(task, list)"
              list-picker-clear="closeRepeatingPickerAndClearRepeatTypeFromTask(task, list)"
              list-picker-get-selected="task.trans.repeating ? {trans: {title: task.trans.repeating}} : undefined"
              list-picker-type="repeating">
            </div>
          </div>

          <div ng-if="showEditorProperty('url')" class="row-vertically-centered with-textarea">
            <textarea class="text-metadata" ng-model="task.trans.link" input-model-validator ng-trim="false"
              msd-elastic
              ng-focus="setTextPropertyFocus('url', true)" ng-blur="setTextPropertyFocus('url', false)"
              ng-disabled="readOnly"
              maxlength="2000" placeholder="enter url&#8230;" autocapitalize="none" autocorrect="off">
            </textarea>
          </div>

          <div ng-if="showEditorProperty('created', task)" class="group-mixed text-field">
            <div class="group-mixed--middle">
              <span class="text-field--title">
                {{::task.trans.created | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">created</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('modified', task)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{task.trans.modified | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">modified</span>
            </div>
          </div>
          <div ng-if="showEditorProperty('deleted', task)" class="group-mixed text-field">
            <div class="group-mixed--middle link-search-result">
              <span class="text-field--title">
                {{::task.trans.deleted | date:'EEE d MMMM y hh:mm' | lowercase}}
              </span>
            </div>
            <div class="group-mixed--right">
              <span class="text-field--label">deleted</span>
            </div>
          </div>

        </div>
        <footer class="container-content--after editor-footer" editor-footer="slideInfo">

          <!-- CONVERT -->
          <div class="group-symmetrical" ng-if="showTaskEditorComponent('advancedFooter', 'convert')">
            <a href class="group-symmetrical--left link"
              ng-class="!showEditorAction('convertToNote') && 'invisible'" swiper-click="convertToNote(task)">
              <span class="text-convert small">note</span>
            </a>
            <a href class="group-symmetrical--middle group-centered link"
              ng-class="!showEditorAction('convertToList') && 'invisible'" swiper-click="convertToList(task)">
              <span class="text-convert small">list</span>
            </a>
            <div class="group-symmetrical--right">
              <span class="text-field--label">convert</span>
            </div>
          </div>

          <nav ng-if="showTaskEditorComponent('advancedFooter', 'navigation')" role="navigation"
            class="swiper-no-swiping group-symmetrical">
            <a href class="group-symmetrical--left link-navigation active" swiper-click="swipeToBasic('taskEditor')">
              <span class="text-navigation-back">basic</span>
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</div>
