<div class="container-content--outer" ng-if="isFeatureActive('tasks')" list-container>
  <section class="container-content" list="contexts">
    <h2 class="group-heading justified row">contexts</h2>
    <div list-item-add="getNewContext()" list-item-add-save="saveContext(newItem)">
      <form role="form" class="group-mixed swiper-no-swiping"
        data-snap-ignore="true" editable-field-container
        editable-field-container-clicked-elsewhere="clickedElsewhere()"
        autocapitalize="none" autocorrect="off">
        <div class="group-mixed--middle">
          <textarea ng-model="newItem.trans.title" msd-elastic ng-keydown="textareaKeyDown($event)"
            editable-field editable-field-register-callbacks="registerAddItemCallbacks(focus, blur)"
            placeholder="add context&#8230;" maxlength="128">
          </textarea>
        </div>
        <div class="group-mixed--right">
          <a href editable-field-deactivate swiper-click="openEditor('tag', newItem)">
            <span class="text-navigation-forward without-text"></span>
          </a>
        </div>
      </form>
    </div>
    <div class="animate-list-item-leave"
      ng-repeat="context in listInfos.array = (getFullArray()) | orderBy:'trans.created':true
      | limitTo: currentListLimitTo track by context.trans.uuid" list-item>
      <div class="group-mixed">
        <a href class="group-mixed--middle link-list-item" swiper-click="swipeToContext(context)">
          <span class="text-link" clamp=2 ng-bind="'@' + context.trans.title"></span>
        </a>
        <div class="group-mixed--right">
          <a href swiper-click="swipeToContext(context)">
            <span class="text-navigation-forward large"></span>
          </a>
        </div>
      </div>
    </div>
    <div list-prompt list-prompt-infos="listInfos" list-prompt-hide="[listItemAddActive]"></div>
    <div class="group-mixed">
      <a href class="group-mixed--middle link" swiper-click="swipeToContext()">
        <span class="text-link">no context</span>
      </a>
      <div class="group-mixed--right">
        <a href swiper-click="swipeToContext()">
          <span class="text-navigation-forward large"></span>
        </a>
      </div>
    </div>
  </section>
  <footer class="container-content--after" list-footer="getFeatureMap('tasks')"></footer>
</div>
