<div class="swiper-no-swiping" data-snap-ignore="true">

  <div lists-select-options>
    <div ng-if="!addNewListVisible" class="form-group select-list-visible-animation">
      <label for="taskList" class="sr-only">list</label>
      <select id="taskList" class="simple-input swiper-no-swiping" ng-model="task.relationships.list" ng-options="list.uuid as list.title for list in listsSelectOptions" options-disabled="list.delimiter for list in listsSelectOptions" editable-field>
        <option value="">select list...</option>
      </select>
    </div>

    <div ng-if="addNewListVisible" class="form-group select-list-visible-animation">
      <div class="left-input-wrapper">
        <input type="text" class="left-input-wrapper simple-input" ng-model="newList.title" placeholder="add list..."/>
      </div>
      <div class="right-button-wrapper item-actions">
        <a href class="font-smallest add-new-list-item-cancel" ng-click="setAddNewListHidden()">cancel</a>
      </div>
    </div>
  </div>

  <div ng-show="contexts.length" class="form-group">
    <label for="taskContext" class="sr-only">context</label>
    <select id="taskContext" class="simple-input swiper-no-swiping" ng-model="task.relationships.context" ng-options="context.uuid as context.title for context in contexts" editable-field>
      <option value="">select context...</option>
    </select>
  </div>
</div>
