<div class="container-fluid" ng-controller="TaskEditorController" ng-class="task.deleted && 'container-disabled'">
  <header class="container-titlebar">
    <div class="container-titlebar--inner">
      <div class="group-symmetrical height-large">
        <a href class="group-symmetrical--left link-navigation highlighted active" ng-click="endTaskEdit()" >
          <span class="text-navigation-back" ng-class="!isFirstSlide() && 'not-swipeable'" ng-bind="titlebarHasText() && !task.deleted ? 'save' : 'back'"></span>
        </a>
        <a href ng-if="!task.deleted" class="group-symmetrical--right" ng-click="deleteTaskInEdit()" >
          <span class="icon-trash"></span>
        </a>
        <a href ng-if="task.deleted" class="group-symmetrical--right link-navigation highlighted active" ng-click="undeleteTask(task)"><span class="text-navigation">restore</span></a>
      </div>

      <form role="form" class="group-mixed with-checkbox" autocapitalize="none" autocorrect="off">
        <div class="group-mixed--left">
          <input type="checkbox" ng-click="clickCompleteTaskInEdit()" ng-checked="task.trans.completed" ng-model="task.trans.completed" icon-checkbox="editorTitlebarCheckbox" />
        </div>
        <div class="group-mixed--middle">
          <textarea ng-hide="isTaskTitleClamped()" ng-model="titlebar.text"
            ng-keydown="taskTitlebarTextKeyDown($event)" editable-field
            editable-field-register-callbacks="registerTitleBarInputCallbacks(focus, blur)"
            ng-focus="setTitleBarFocus(true)" ng-blur="setTitleBarFocus(false)"
            msd-elastic dynamic-placeholder="enter task title&#8230;" maxlength="128">
          </textarea>
          <div ng-if="isTaskTitleClamped()">
            <span ng-class="{'text-downplayed': !titlebar.text}" class="text-clamped" ng-bind="titlebar.text ? titlebar.text : 'enter task title&#8230;'" clamp=2></span>
          </div>
        </div>
      </form>
    </div>
  </header>

  <div class="swiper-container container-fluid--inner" swiper-container="taskEditor" swiper-type="main" expected-slides="2" swiper-container-toggle-drawer-sliding-events="true" swiper-container-slide-changed="editorSwiperSlideChanged()">
    <div class="swiper-wrapper">
      <div class="swiper-slide" swiper-slide="taskEditor/basic" slide-index="0" ng-init="basicSlideInfo = {}">

        <div ng-style="{'padding-bottom': basicSlideInfo.footerHeight}" class="container-content" drawer-override-aisle="right" swiper-prevent>

          <!-- LIST PICKER -->
          <div ng-if="listPickerOpen" class="swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-scrollable="true" editable-field-container-clicked-elsewhere="closeListPicker()" data-snap-ignore="true">
            <div list-picker="lists" list-picker-new-item="{}" list-picker-archived-lists="archivedLists" list-picker-save="closeListPickerAndSetListToItem(task, list)" list-picker-clear="closeListPickerAndClearListFromItem(task, list)" list-picker-get-selected="getListFromUUID(task.trans.list)"></div>
          </div>

          <div ng-if="!listPickerOpen">
            <div ng-hide="descriptionFocused" class="group-mixed vertically-centered animate-fade-in">
              <a href ng-class="task.trans.date ? 'link' : 'downplayed'" class="group-mixed--middle" ng-click="openCalendar()">
                <span class="text-link" ng-bind="task.trans.date ? (task.trans.date | date:'EEE MMM d y' | lowercase) : 'select date\u2026'"></span>
              </a>
              <div ng-if="task.trans.date" class="group-mixed--right">
                <button type="button" class="btn-clear" ng-click="clearTransientDate(task)"></button>
              </div>
            </div>

            <!-- CALENDAR -->
            <div ng-if="calendarOpen" class="row swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-clicked-elsewhere="closeCalendar()" data-snap-ignore="true">
              <div calendar="getCalendarStartingDate(task)" calendar-return-date="closeCalendarAndCall(setTaskDate, task, date)" calendar-set-default-date="true" calendar-bound="false">
                <a href class="pikaday-today highlighted" ng-click="gotoCurrentMonth()">
                  <span>today</span>
                </a>
              </div>
            </div>

            <div ng-hide="descriptionFocused || calendarOpen" class="row-vertically-centered">
              <a href ng-class="task.trans.list ? 'link' : 'downplayed'" ng-click="openListPicker()">
                <span class="text-link" ng-bind="task.trans.list ? getListTitleFromUUID(task.trans.list) : 'select list\u2026'"></span>
              </a>
            </div>

            <div ng-hide="calendarOpen" class="row-vertically-centered with-textarea">
              <textarea ng-model="task.trans.description" ng-focus="setDescriptionFocus(true)"
                ng-blur="setDescriptionFocus(false)" msd-elastic placeholder="enter description&#8230;"
                maxlength="1024" autocapitalize="none" autocorrect="off">
              </textarea>
            </div>

          </div>

        </div>

        <footer ng-hide="isTaskFooterHidden()" class="container-content--after editor-footer animate-fade-in-out" editor-footer="basicSlideInfo" editor-footer-start-expanded>
          <nav role="navigation" class="swiper-no-swiping group-symmetrical">
            <div class="group-symmetrical--middle">
              <a href class="icon-downplayed" ng-click="toggleExpand()">
                <span class="icon-calendar"></span>
              </a>
            </div>
            <a href ng-click="swipeToAdvanced()" ng-hide="isFooterNavigationHidden()" class="group-symmetrical--right link-navigation animate-fade-in-out">
              <span class="text-navigation-forward">advanced</span>
            </a>
          </nav>
          <div ng-if="footerExpanded" later="setDateAndSave(date)"></div>
        </footer>
      </div>

      <div class="swiper-slide" swiper-slide="taskEditor/advanced" slide-index="1" ng-init="advancedSlideInfo = {}">
        <div class="container-content" ng-style="{'padding-bottom': advancedSlideInfo.footerHeight}" swiper-prevent>

          <!-- CONTEXT PICKER -->
          <div ng-if="contextPickerOpen" class="swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-scrollable="true" editable-field-container-clicked-elsewhere="closeContextPicker()" data-snap-ignore="true">
            <div list-picker="contexts" list-picker-new-item="{tagType: 'context'}" list-picker-save="closeContextPickerAndSetContextToTask(task, list)" list-picker-clear="closeContextPickerAndClearContextFromTask(task, list)" list-picker-get-selected="getContextFromUUID(task.trans.context)" list-picker-type="context" list-picker-prefix="@"></div>
          </div>

          <!-- REPEATING PICKER -->
          <div ng-if="repeatingPickerOpen" class="swiper-no-swiping animate-fade-in" editable-field-container="auto" editable-field-container-scrollable="true" editable-field-container-clicked-elsewhere="closeRepeatingPicker()" data-snap-ignore="true">
            <div list-picker="repeatTypes" list-picker-save="closeRepeatingPickerAndSetRepeatTypeToTask(task, list)" list-picker-clear="closeRepeatingPickerAndClearRepeatTypeFromtask(task, list)" list-picker-get-selected="task.repeating ? {title: task.repeating} : undefined" list-picker-type="repeating"></div>
          </div>

          <div ng-if="!contextPickerOpen && !repeatingPickerOpen">

            <div ng-hide="urlFocused" class="row-vertically-centered">
              <a href ng-class="task.trans.context ? 'link' : 'downplayed'" ng-click="openContextPicker()">
                <span class="text-link" ng-bind="task.trans.context ? '@' + getContextTitleFromUUID(task.trans.context) : 'select context\u2026'"></span>
              </a>
            </div>

            <div ng-hide="urlFocused || !task.trans.date" class="row-vertically-centered">
              <a href ng-class="task.repeating ? 'link' : 'downplayed'" ng-click="openRepeatingPicker()">
                <span class="text-link" ng-bind="task.repeating ? task.repeating : 'select repeating\u2026'"></span>
              </a>
            </div>

            <div class="row-vertically-centered with-textarea">
              <textarea ng-model="task.link" ng-focus="setUrlFocus(true)" ng-blur="setUrlFocus(false)"
                msd-elastic maxlength="128" placeholder="enter url&#8230;"
                autocapitalize="none" autocorrect="off">
              </textarea>
          </div>

        </div>
      </div>
      <footer ng-hide="isTaskFooterHidden()" class="container-content--after editor-footer" editor-footer="advancedSlideInfo">

        <div class="table">
          <div class="table-row">
            <a href class="table-cell link" ng-click="convertToNote(task)">
              <span class="text-convert">note</span>
            </a>
            <a href class="table-cell link" ng-click="convertToList(task)">
              <span class="text-convert">list</span>
            </a>
          </div>
        </div>

        <nav role="navigation" class="swiper-no-swiping group-symmetrical">
          <a href ng-hide="isFooterNavigationHidden()" ng-click="swipeToBasic()" class="group-symmetrical--left link-navigation">
            <span class="text-navigation-back">basic</span>
          </a>
        </nav>
      </footer>
    </div>
  </div>
</div>
</div>
