<div class="swiper-no-swiping" data-snap-ignore="true" ng-init="openSnooze = {isOpen: false}">
  <ul ng-if="openSnooze.isOpen === false" class="button-row item-actions">
    <li class="button-container left-of-two">
      <button type="button" class="normal-button" ng-click="openSnooze.isOpen = true">
        set date
      </button>
    </li>
    <li class="button-container right-of-two">
      <button type="button" class="delete-button" ng-click="closeAndCall(task, deleteTask)">
        delete
      </button>
    </li>
  </ul>
  <div ng-if="openSnooze.isOpen === true" class="item-actions" snooze="task" snooze-selected="taskQuickEditDone" snooze-open="openSnooze" snooze-close="closeAndCall" snooze-pikaday-has-done-button="true" snooze-scroll-to-element="scrollToOpenTitle"></div>
</div>
