<section id="tasks-timeline" class="two-column-grid page single-lineheight" ng-controller="DatesController">
  <div class="column">
    <div ng-if="!isLoading" ng-hide="omnibarVisible && isActiveSlide('home')" class="content-container page-content-container omnibar-animation">
      <div ng-if="isDatepickerVisible" class="swiper-no-swiping" data-snap-ignore="true" datepicker></div>
      <div class="swiper-container vertical-slides" swiper-container="tasks/home" swiper-type="page" expected-slides="weekdays.length">
        <div class="swiper-wrapper">
          <div id="pull-to-previous" class="loader">
            <span>previous week...</span>
          </div>
          <div class="swiper-slide" ng-repeat="date in weekdays track by date.weekdayIndex" swiper-slide="tasks/home/{{date.weekday}}" slide-index="$index">
            <div class="inner-slide-content-container">
              <section id="date" class="date" scroll-to>
                <h3 ng-hide="isDatepickerVisible" class="date-heading" ng-click="setDatepickerVisible()">{{date.displayDate}}</h3>
                <div>
                  <div class="inner-page-content-container" accordion>
                    <div ng-repeat="task in tasks | tasksByDate:date.yyyymmdd">
                      <div accordion-title="task" edit-item="editTask(task)" edit-item-fields="editTaskFields(task)" has-complete="true" toggle-complete="taskChecked(task)"></div>
                      <div ng-if="isOpen(task)" class="accordion-body" editable-field-container="auto">
                        <div item-core-fields="task" item-core-fields-details="itemDetails"></div>
                        <div class="accordion-inner" ng-init="initializeTask(task)" ng-include="'static/app/tasks/taskActions.html'"></div>
                      </div>
                    </div>
                    <div ng-include="'static/app/tasks/addTask.html'"></div>
                    <div ng-if="tasks.length === 0">
                      <div class="instruction-text">
                        <p class="instruction-text-chapter">tasks are things<br/>you want <b>to do</b><br/><br/></p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div id="pull-to-next" class="loader">
            <span>next week...</span>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="isLoading" class="loading-animation" loading-animation></div>
  </div>
  <aside class="column">
    TODO
  </aside>
</section>
